/* line 3, ../sass/base/_markup-mixins.scss */
.action-block .holder:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../sass/base/_markup-mixins.scss */
.action-block .lavender-line.block-vacancies, .action-block .lavender-line.block-image {
  background-image: url(../images/action-bg3.jpg);
  background-repeat: no-repeat;
  background-color: #734889;
  background-size: cover;
}
/* line 31, ../sass/base/_markup-mixins.scss */
.action-block .lavender-box.block-vacancies, .action-block .lavender-box.block-image {
  background-image: url(../images/action-bg1.jpg);
  background-repeat: no-repeat;
  background-color: #734889;
  background-size: cover;
}
/* line 37, ../sass/base/_markup-mixins.scss */
.action-block .orange-line.block-vacancies, .action-block .orange-line.block-image {
  background-image: url(../images/action-bg2.jpg);
  background-repeat: no-repeat;
  background-color: #f15500;
  background-size: cover;
}
/* line 43, ../sass/base/_markup-mixins.scss */
.action-block .green-box.block-vacancies, .action-block .green-box.block-image {
  background: url(../images/action-bg4.jpg) no-repeat #00a837;
  background-image: url(../images/action-bg3.jpg);
  background-repeat: no-repeat;
  background-color: #734889;
  background-size: cover;
}
/* line 50, ../sass/base/_markup-mixins.scss */
.action-block .blue-box.block-vacancies, .action-block .blue-box.block-image {
  background-image: url(../images/action-bg5.jpg);
  background-repeat: no-repeat;
  background-color: #006dc1;
  background-size: cover;
}

/* line 58, ../sass/base/_markup-mixins.scss */
.action-block .block-vacancies img, .action-block .block-image img {
  float: right;
  max-width: 36%;
  margin-bottom: 10px;
  margin-right: 19px;
  margin-top: -11px;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 3, ../sass/action-block.scss */
.tout-text {
  color: #ffffff;
  width: 60%;
}

/* line 9, ../sass/action-block.scss */
.ambitious-block-system {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0 auto;
  max-width: 1080px;
  padding: 1em;
  background: inherit;
}
/* line 16, ../sass/action-block.scss */
.ambitious-block-system .view-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 20, ../sass/action-block.scss */
.ambitious-block-system .field-content {
  float: left;
  margin: 0.15em;
  min-height: 3.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../sass/action-block.scss */
.ambitious-block-system .ambitious-block-element {
  height: 320px;
  padding: 2em;
  padding-bottom: 1.69492%;
  margin-bottom: 1.69492%;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 36, ../sass/action-block.scss */
.ambitious-block-system .ambitious-block-element:last-child {
  float: right;
  margin-right: 0;
}
@media (max-width: 767px) {
  /* line 27, ../sass/action-block.scss */
  .ambitious-block-system .ambitious-block-element {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 27, ../sass/action-block.scss */
  .ambitious-block-system .ambitious-block-element {
    height: auto;
    width: 100%;
  }
  /* line 45, ../sass/action-block.scss */
  .ambitious-block-system .ambitious-block-element .views-field-field-featured-image {
    display: none;
  }
}

/* action block styles */
/* line 56, ../sass/action-block.scss */
.action-block {
  background: #ffffff;
  width: 100%;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* action symptoms block styles */
  /* action inspire block styles */
  /* action report block styles */
  /* action blog block styles */
  /* Connect with others block styles */
  /* Vacancies block styles */
  /* share this block styles */
}
@media (max-width: 767px) {
  /* line 56, ../sass/action-block.scss */
  .action-block {
    background: none;
  }
  /* line 63, ../sass/action-block.scss */
  .action-block .text, .action-block .title {
    width: 50%;
  }
  /* line 65, ../sass/action-block.scss */
  .action-block .text br, .action-block .title br {
    display: none;
  }
}
/* line 70, ../sass/action-block.scss */
.action-block .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 102px 15px 126px;
}
@media (max-width: 767px) {
  /* line 70, ../sass/action-block.scss */
  .action-block .holder {
    padding: 20px 20px 37px;
  }
}
/* line 77, ../sass/action-block.scss */
.action-block .holder > div {
  float: right;
}
/* line 79, ../sass/action-block.scss */
.action-block .holder > div:first-child {
  float: left;
}
@media (max-width: 767px) {
  /* line 79, ../sass/action-block.scss */
  .action-block .holder > div:first-child {
    margin-bottom: 20px;
  }
}
/* line 88, ../sass/action-block.scss */
.action-block .block-symptoms {
  width: 48.5%;
  padding: 50px 10px 37px 39px;
  background-image: url('../images/bg.jpg?1424101657');
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 88, ../sass/action-block.scss */
  .action-block .block-symptoms {
    width: 100%;
    float: none;
    padding: 26px 10px 17px 20px;
    margin: 0 0 34px;
    background-position: right center;
  }
  /* line 99, ../sass/action-block.scss */
  .action-block .block-symptoms .text {
    width: 100%;
  }
  /* line 101, ../sass/action-block.scss */
  .action-block .block-symptoms .text span.add {
    margin-left: 0;
  }
}
/* line 106, ../sass/action-block.scss */
.action-block .block-symptoms .text {
  display: block;
  font-size: 45px;
  line-height: 48px;
  margin: 0 0 55px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
/* line 113, ../sass/action-block.scss */
#main2 .action-block .block-symptoms .text {
  margin: 0 0 6px;
}
@media (max-width: 990px) {
  /* line 106, ../sass/action-block.scss */
  .action-block .block-symptoms .text {
    font-size: 25px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  /* line 106, ../sass/action-block.scss */
  .action-block .block-symptoms .text {
    margin: 0 0 5px;
  }
}
/* line 123, ../sass/action-block.scss */
.action-block .block-symptoms .text span {
  color: #081318;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 11px;
  background: #ffffff;
  padding: 6px 19px 5px;
}
@media (max-width: 767px) {
  /* line 123, ../sass/action-block.scss */
  .action-block .block-symptoms .text span {
    padding: 3px 10px 6px;
    margin: 0 0 5px;
  }
}
/* line 134, ../sass/action-block.scss */
.action-block .block-symptoms .text span.add {
  margin: 0 0 0px 62px;
}
@media (max-width: 767px) {
  /* line 134, ../sass/action-block.scss */
  .action-block .block-symptoms .text span.add {
    margin: 0 0 0px 19px;
  }
}
/* line 144, ../sass/action-block.scss */
.action-block .block-inspire {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 39px 39px;
  background-image: url('../images/bg01.jpg?1424101657');
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 144, ../sass/action-block.scss */
  .action-block .block-inspire {
    width: 100%;
    float: none;
    padding: 24px 10px 20px 21px;
    background-position: right center;
  }
}
/* line 156, ../sass/action-block.scss */
.action-block .block-inspire .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 45px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 156, ../sass/action-block.scss */
  .action-block .block-inspire .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 156, ../sass/action-block.scss */
  .action-block .block-inspire .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 175, ../sass/action-block.scss */
.action-block .block-report {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 39px 39px;
  background-image: url('../images/bg02.jpg?1424101657');
  background-size: cover;
}
@media (max-width: 990px) {
  /* line 175, ../sass/action-block.scss */
  .action-block .block-report {
    background-position: top right;
  }
  /* line 183, ../sass/action-block.scss */
  .action-block .block-report .btn {
    font-size: 16px;
    padding: 10px 14px;
  }
}
@media (max-width: 767px) {
  /* line 175, ../sass/action-block.scss */
  .action-block .block-report {
    width: 100%;
    float: none;
    padding: 24px 10px 20px 21px;
    background-position: right top;
  }
  /* line 193, ../sass/action-block.scss */
  .action-block .block-report .btn {
    font-size: 14px;
  }
}
/* line 197, ../sass/action-block.scss */
.action-block .block-report .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 45px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 197, ../sass/action-block.scss */
  .action-block .block-report .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 197, ../sass/action-block.scss */
  .action-block .block-report .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 216, ../sass/action-block.scss */
.action-block .block-blog {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 39px 39px;
  background-image: url('../images/bg03.jpg?1424101657');
  background-size: cover;
  background-position: top right;
}
@media (max-width: 990px) {
  /* line 216, ../sass/action-block.scss */
  .action-block .block-blog {
    background-position: top right;
    padding: 17px 10px 30px 29px;
  }
  /* line 226, ../sass/action-block.scss */
  .action-block .block-blog .btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 216, ../sass/action-block.scss */
  .action-block .block-blog {
    width: 100%;
    background-position: right center;
    float: none;
    padding: 24px 10px 20px 21px;
  }
}
/* line 237, ../sass/action-block.scss */
.action-block .block-blog .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 45px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 237, ../sass/action-block.scss */
  .action-block .block-blog .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 237, ../sass/action-block.scss */
  .action-block .block-blog .title {
    font-size: 24px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 256, ../sass/action-block.scss */
.action-block .block-connect {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 39px 39px;
  background-image: url('../images/bg.jpg?1424101657');
  background-size: cover;
}
@media (max-width: 990px) {
  /* line 256, ../sass/action-block.scss */
  .action-block .block-connect {
    background-position: top right;
  }
  /* line 264, ../sass/action-block.scss */
  .action-block .block-connect .btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 256, ../sass/action-block.scss */
  .action-block .block-connect {
    width: 100%;
    float: none;
    padding: 24px 10px 20px 21px;
    background-position: right top;
    margin: 0 0 34px;
  }
  /* line 274, ../sass/action-block.scss */
  .action-block .block-connect .btn {
    font-size: 14px;
  }
}
/* line 278, ../sass/action-block.scss */
.action-block .block-connect .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 45px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 278, ../sass/action-block.scss */
  .action-block .block-connect .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 278, ../sass/action-block.scss */
  .action-block .block-connect .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 297, ../sass/action-block.scss */
.action-block .block-vacancies {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 34px 39px;
}
@media (max-width: 990px) {
  /* line 297, ../sass/action-block.scss */
  .action-block .block-vacancies {
    background-position: top right;
    padding: 48px 10px 34px 32px;
  }
}
@media (max-width: 767px) {
  /* line 297, ../sass/action-block.scss */
  .action-block .block-vacancies {
    width: 100%;
    float: none;
    padding: 24px 10px 20px 21px;
    background-position: right top;
    margin: 0 0 34px;
  }
  /* line 316, ../sass/action-block.scss */
  .action-block .block-vacancies .btn {
    font-size: 14px;
  }
}
/* line 320, ../sass/action-block.scss */
.action-block .block-vacancies .title {
  display: block;
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 23px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 320, ../sass/action-block.scss */
  .action-block .block-vacancies .title {
    font-size: 28px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 320, ../sass/action-block.scss */
  .action-block .block-vacancies .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 338, ../sass/action-block.scss */
.action-block .block-image {
  color: #ffffff;
  width: 48.5%;
  padding: 48px 10px 39px 39px;
}
@media (max-width: 990px) {
  /* line 338, ../sass/action-block.scss */
  .action-block .block-image {
    background-position: top right;
  }
  /* line 346, ../sass/action-block.scss */
  .action-block .block-image .btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 338, ../sass/action-block.scss */
  .action-block .block-image {
    width: 100%;
    float: none;
    padding: 24px 10px 20px 21px;
    background-position: right top;
    margin: 0 0 34px;
  }
  /* line 356, ../sass/action-block.scss */
  .action-block .block-image .btn {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 362, ../sass/action-block.scss */
.action-block .block-image .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 45px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 362, ../sass/action-block.scss */
  .action-block .block-image .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 362, ../sass/action-block.scss */
  .action-block .block-image .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 382, ../sass/action-block.scss */
.action-block .block-share {
  color: #ffffff;
  width: 48.5%;
  text-align: right;
  background-image: url('../images/action-bg4.jpg?1424101657');
  padding: 22px 3% 30px 5%;
  background-position: center left;
  background-size: cover;
}
/* line 390, ../sass/action-block.scss */
.action-block .block-share.share-lavender {
  background-image: url('../images/action-bg1.jpg?1424101657');
}
/* line 393, ../sass/action-block.scss */
.action-block .block-share .btn {
  padding: 10px 18px;
}
/* line 396, ../sass/action-block.scss */
.action-block .block-share img {
  display: block;
  max-width: 66%;
  margin-bottom: -70px;
}
@media (max-width: 990px) {
  /* line 382, ../sass/action-block.scss */
  .action-block .block-share {
    background-position: center center;
    padding: 48px 11px 40px 39px;
  }
  /* line 404, ../sass/action-block.scss */
  .action-block .block-share .btn {
    font-size: 16px;
  }
  /* line 407, ../sass/action-block.scss */
  .action-block .block-share img {
    max-width: 190px;
  }
}
@media (max-width: 767px) {
  /* line 382, ../sass/action-block.scss */
  .action-block .block-share {
    width: 100%;
    float: none;
    padding: 24px 10px 40px 21pxx;
    background-position: center left;
  }
  /* line 416, ../sass/action-block.scss */
  .action-block .block-share img {
    max-width: 50%;
    width: 50%;
    margin-bottom: 0px;
  }
  /* line 421, ../sass/action-block.scss */
  .action-block .block-share .btn {
    font-size: 14px;
    padding: 6px 20px;
  }
  /* line 424, ../sass/action-block.scss */
  .action-block .block-share .btn em {
    padding-left: 10px;
  }
}
/* line 430, ../sass/action-block.scss */
.action-block .lavender-box .btn:hover {
  background-color: #734889;
}
/* line 433, ../sass/action-block.scss */
.action-block .blue-box .btn:hover {
  background-color: #006dc1;
}
/* line 436, ../sass/action-block.scss */
.action-block .green-box .btn:hover {
  background-color: #00a837;
}
/* line 439, ../sass/action-block.scss */
.action-block .magenta-box .btn:hover {
  background-color: #c3104b;
}
/* line 442, ../sass/action-block.scss */
.action-block .orange-box .btn:hover {
  background-color: #f15500;
}
/* line 445, ../sass/action-block.scss */
.action-block .pink-box .btn:hover {
  background-color: #e30087;
}
/* line 448, ../sass/action-block.scss */
.action-block .block-image, .action-block .block-symptoms, .action-block .block-vacancies, .action-block .block-share {
  float: right;
}
/* line 450, ../sass/action-block.scss */
.action-block .block-image:first-child, .action-block .block-symptoms:first-child, .action-block .block-vacancies:first-child, .action-block .block-share:first-child {
  float: left;
}
@media (max-width: 767px) {
  /* line 448, ../sass/action-block.scss */
  .action-block .block-image, .action-block .block-symptoms, .action-block .block-vacancies, .action-block .block-share {
    width: 100%;
  }
}
/* line 456, ../sass/action-block.scss */
.action-block .block-image .title, .action-block .block-symptoms .title, .action-block .block-vacancies .title, .action-block .block-share .title {
  min-height: 179px;
  margin-bottom: 0;
}
/* line 461, ../sass/action-block.scss */
.action-block .block-symptoms {
  padding: 30px 10px 37px 39px;
}
/* line 463, ../sass/action-block.scss */
.action-block .block-symptoms .text {
  min-height: 160px;
  margin-bottom: 0;
}
/* line 466, ../sass/action-block.scss */
.action-block .block-symptoms .text span {
  display: inline;
  line-height: 73px;
  margin-left: -50px;
  margin-right: 50px;
  white-space: pre-wrap;
}
@media (max-width: 990px) {
  /* line 466, ../sass/action-block.scss */
  .action-block .block-symptoms .text span {
    line-height: 45px;
  }
}
/* line 480, ../sass/action-block.scss */
.action-block .btn.btn-transparent {
  padding: 10px 28px;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  border-width: 2px;
}
@media (max-width: 767px) {
  /* line 480, ../sass/action-block.scss */
  .action-block .btn.btn-transparent {
    width: auto;
  }
}
/* line 489, ../sass/action-block.scss */
.action-block .btn.btn-transparent:hover {
  border-width: 2px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 7px;
}
/* line 497, ../sass/action-block.scss */
.action-block .st_sharethis_button .stButton {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 3px solid #ffffff;
  padding: 10px 73px 10px 25px;
}
/* line 503, ../sass/action-block.scss */
.action-block .st_sharethis_button .stButton:before {
  content: "\e60b";
  margin-right: -49px;
}
/* line 508, ../sass/action-block.scss */
.action-block .st_sharethis_button .stButton:hover:before {
  margin: 0 3px;
  margin-right: -49px;
}
/* line 515, ../sass/action-block.scss */
.action-block .st_sharethis_button .stButton:hover {
  margin-top: 0;
}
/* line 518, ../sass/action-block.scss */
.action-block .action_image {
  max-width: 180px;
}
/* line 521, ../sass/action-block.scss */
.action-block .action_image2 {
  max-width: 180px;
  margin-top: 10px;
}
/* line 526, ../sass/action-block.scss */
.action-block .promo_block .text1 {
  font-size: 40px;
  white-space: pre-line;
  min-height: 181px;
  line-height: normal;
}
@media (max-width: 990px) {
  /* line 526, ../sass/action-block.scss */
  .action-block .promo_block .text1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  /* line 526, ../sass/action-block.scss */
  .action-block .promo_block .text1 {
    font-size: 25px;
    white-space: inherit;
    min-height: inherit;
  }
}
/* line 540, ../sass/action-block.scss */
.action-block .promo_block .text2 {
  font-size: 30px;
  min-height: 181px;
  line-height: normal;
}
@media (max-width: 767px) {
  /* line 540, ../sass/action-block.scss */
  .action-block .promo_block .text2 {
    font-size: 23px;
  }
}
/* line 550, ../sass/action-block.scss */
.action-block .core_action_block .text1 {
  font-size: 44px;
  white-space: pre-line;
  min-height: 179px;
  line-height: 49px;
  color: #fff;
  margin-top: 14px;
}
@media (max-width: 990px) {
  /* line 550, ../sass/action-block.scss */
  .action-block .core_action_block .text1 {
    font-size: 34px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  /* line 550, ../sass/action-block.scss */
  .action-block .core_action_block .text1 {
    font-size: 29px;
    line-height: normal;
  }
}
/* line 566, ../sass/action-block.scss */
.action-block .core_action_block .text2 {
  margin-left: 50px;
  min-height: 175px;
  margin-top: 18px;
}
@media (max-width: 767px) {
  /* line 566, ../sass/action-block.scss */
  .action-block .core_action_block .text2 {
    min-height: inherit;
  }
}
/* line 577, ../sass/action-block.scss */
.action-block .share_graphic_block .share_image {
  max-width: 180px;
  float: left;
}
@media (max-width: 990px) {
  /* line 577, ../sass/action-block.scss */
  .action-block .share_graphic_block .share_image {
    max-width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 577, ../sass/action-block.scss */
  .action-block .share_graphic_block .share_image {
    max-width: 110px;
  }
}
/* line 588, ../sass/action-block.scss */
.action-block .share_graphic_block.statement .text1 {
  font-size: 24px;
  min-height: 195px;
  line-height: normal;
  max-width: 230px;
  width: 49%;
  float: right;
  margin-right: 41px;
}
@media (max-width: 990px) {
  /* line 588, ../sass/action-block.scss */
  .action-block .share_graphic_block.statement .text1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  /* line 588, ../sass/action-block.scss */
  .action-block .share_graphic_block.statement .text1 {
    min-height: inherit;
    font-size: 18px;
    max-width: inherit;
    margin-bottom: 10px;
  }
}
/* line 606, ../sass/action-block.scss */
.action-block .share_graphic_block.statement .share1 {
  float: right;
  margin-right: 80px;
}
/* line 612, ../sass/action-block.scss */
.action-block .share_graphic_block.quotes .quote_image {
  margin-top: -20px;
  max-width: 230px;
  margin-bottom: -40px;
  margin-right: -10px;
}
@media (max-width: 990px) {
  /* line 612, ../sass/action-block.scss */
  .action-block .share_graphic_block.quotes .quote_image {
    display: none;
  }
}
/* line 621, ../sass/action-block.scss */
.action-block .share_graphic_block.quotes .text2 {
  min-height: 131px;
}
@media (max-width: 990px) {
  /* line 621, ../sass/action-block.scss */
  .action-block .share_graphic_block.quotes .text2 {
    min-height: 121px;
    max-height: 141px;
  }
}
@media (max-width: 990px) {
  /* line 621, ../sass/action-block.scss */
  .action-block .share_graphic_block.quotes .text2 {
    min-height: inherit;
  }
}
/* line 631, ../sass/action-block.scss */
.action-block .share_graphic_block.quotes .text3 {
  display: block;
  min-height: 60px;
}
/* line 635, ../sass/action-block.scss */
.action-block .share_graphic_block.quotes .share2 {
  float: left;
}
/* line 640, ../sass/action-block.scss */
.action-block .share_graphic_block.image .text1 {
  min-height: 350px;
}
/* line 642, ../sass/action-block.scss */
.action-block .share_graphic_block.image .text1 img {
  max-width: 250px;
}
@media (max-width: 767px) {
  /* line 642, ../sass/action-block.scss */
  .action-block .share_graphic_block.image .text1 img {
    max-width: 170px;
  }
}

/* line 682, ../sass/action-block.scss */
.messages {
  display: none !important;
}
