/* line 3, ../sass/base/_markup-mixins.scss */
.my-voice-intro:after, .my-voice-main .sort-block:after, .signup-columns:after, .my-voice-columns:after, community-columns:after, .slider-container:after, .articles-columns:after, .social-columns:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* ---------------------------------------------------------
   1. font styles
   2. General styles
   3. Index styles
   4. My voice styles
   ---------------------------------------------------------*/
/* line 30, ../sass/content.scss */
.quote {
  border-left: 1em #c63502 solid;
  padding: 1em;
  margin: 0;
  color: gray;
}
/* line 36, ../sass/content.scss */
.quote p {
  margin: 0;
}
/* line 37, ../sass/content.scss */
.quote.pink {
  border-left-color: #e30087;
}
/* line 40, ../sass/content.scss */
.quote.yellow {
  border-left-color: yellow;
}
/* line 43, ../sass/content.scss */
.quote.red {
  border-left-color: red;
}
/* line 46, ../sass/content.scss */
.quote.blue {
  border-left-color: #2289ff;
}
@media (max-width: 990px) {
  /* line 30, ../sass/content.scss */
  .quote {
    margin-right: -49.56541%;
    width: 75%;
    float: right;
    margin-left: 2em;
    font-size: 1.1em;
    clear: right;
  }
  /* line 56, ../sass/content.scss */
  .quote.small {
    width: 48.71795%;
  }
}

/* line 64, ../sass/content.scss */
#nav > ul > li a {
  font-weight: lighter;
}

/* line 90, ../sass/content.scss */
.more-btn a .icon-Downarrow {
  color: #d2d5d6;
}

/* line 100, ../sass/content.scss */
.top-bar .links li img {
  padding-right: 24px;
}

/* line 109, ../sass/content.scss */
.btn-tooltip {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-image: -moz-radial-gradient(90px 90px 90deg, circle cover, #bbb 0%, #d9d9d9 100%, #fff 95%);
  background-image: -webkit-radial-gradient(90px 90px, circle cover, #bbb, #fff);
  background-image: radial-gradient(circle cover at 45px 45px 45deg, #bbbbbb 0%, #d9d9d9 100%, #ffffff 95%);
  float: left;
  border: 1px solid #ccc;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 23px;
  padding-left: 10px;
  line-height: 32px;
  margin-left: 10px;
}
/* line 123, ../sass/content.scss */
.btn-tooltip:hover {
  background-image: -moz-radial-gradient(90px 90px 90deg, circle cover, #fff 0%, #d9d9d9 100%, #eee 95%);
  background-image: -webkit-radial-gradient(90px 90px, circle cover, #fff, #eee);
  background-image: radial-gradient(circle cover at 90px 90px 90deg, #ffffff 0%, #d9d9d9 100%, #eeeeee 95%);
  border-color: #F6BF4F;
}
@media (max-width: 767px) {
  /* line 109, ../sass/content.scss */
  .btn-tooltip {
    float: right;
  }
}

/* line 135, ../sass/content.scss */
a.tooltips {
  position: relative;
  display: inline;
}
@media (max-width: 767px) {
  /* line 135, ../sass/content.scss */
  a.tooltips {
    display: none;
  }
}
/* line 141, ../sass/content.scss */
a.tooltips.mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 141, ../sass/content.scss */
  a.tooltips.mobile {
    display: block;
    top: -3px;
    float: right;
  }
}
/* line 149, ../sass/content.scss */
a.tooltips span.tooltip-content {
  position: absolute;
  width: 245px;
  color: #000;
  background: #FFF8E7;
  border: 1px solid #F6BF4F;
  height: 130px;
  line-height: 13px;
  text-align: left;
  display: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 20px;
  bottom: 60px;
  left: -102px;
}
/* line 164, ../sass/content.scss */
a.tooltips span.tooltip-content h3 {
  font-size: 14px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  /* line 164, ../sass/content.scss */
  a.tooltips span.tooltip-content h3 {
    margin-top: -10px;
  }
}
/* line 171, ../sass/content.scss */
a.tooltips span.tooltip-content:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-top: 20px solid #F6BF4F;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
/* line 183, ../sass/content.scss */
a.tooltips span.tooltip-content:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 19px solid #FFF8E7;
  border-right: 19px solid transparent;
  border-left: 18px solid transparent;
}
/* line 197, ../sass/content.scss */
a:hover.tooltips span.tooltip-content {
  display: inherit;
}

/* line 202, ../sass/content.scss */
.larger {
  font-size: 24px;
  font-size: 1.5em;
}

/* line 210, ../sass/content.scss */
.col-2 {
  float: left;
  width: 48.5%;
  margin: 0 0 0 2.9%;
}
@media (max-width: 767px) {
  /* line 210, ../sass/content.scss */
  .col-2 {
    width: 100%;
    margin: 0;
  }
}
/* line 218, ../sass/content.scss */
.col-2:first-child {
  margin: 0;
}

/* line 224, ../sass/content.scss */
.col-3 {
  float: left;
  width: 31.4%;
  margin: 0 0 0 2.9%;
}
@media (max-width: 767px) {
  /* line 224, ../sass/content.scss */
  .col-3 {
    width: 100%;
    margin: 0;
  }
}
/* line 232, ../sass/content.scss */
.col-3:first-child {
  margin: 0;
}

/* line 242, ../sass/content.scss */
.my-voice-visual .img-holder .caption-frame .caption {
  padding: 5px 0 0;
}
/* line 245, ../sass/content.scss */
.my-voice-visual .img-holder .caption-frame .caption .title span.pink {
  color: #e30087;
  padding: 0;
}

/* line 258, ../sass/content.scss */
.my-voice-block {
  position: relative;
  z-index: 3;
  margin-top: -234px;
}
@media (max-width: 767px) {
  /* line 258, ../sass/content.scss */
  .my-voice-block {
    margin-top: 0;
  }
}

/* line 267, ../sass/content.scss */
.my-voice-intro {
  display: inline-block;
}
/* line 268, ../sass/content.scss */
.my-voice-intro.no-overlay {
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 267, ../sass/content.scss */
  .my-voice-intro {
    margin-top: 20px;
  }
}
/* line 277, ../sass/content.scss */
.my-voice-intro h3 {
  margin: 0 0 0.5em;
  float: left;
  clear: both;
}
/* line 283, ../sass/content.scss */
.my-voice-intro .holder p {
  width: 64%;
  margin-bottom: 50px;
  float: left;
}
@media (max-width: 767px) {
  /* line 283, ../sass/content.scss */
  .my-voice-intro .holder p {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  /* line 296, ../sass/content.scss */
  .advanced-sort-block {
    display: inline-block;
    margin-top: 10px;
  }
  /* line 300, ../sass/content.scss */
  .advanced-sort-block input, .advanced-sort-block select, .advanced-sort-block .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 305, ../sass/content.scss */
.advanced-sort-block .selected-filters {
  float: left;
  clear: both;
  list-style-type: none;
  padding: 0;
  display: none;
}
/* line 312, ../sass/content.scss */
.advanced-sort-block .selected-filters .this-filter {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background: #eef2f3;
}
@media (max-width: 767px) {
  /* line 312, ../sass/content.scss */
  .advanced-sort-block .selected-filters .this-filter {
    width: 100%;
  }
}
/* line 322, ../sass/content.scss */
.advanced-sort-block .selected-filters .this-filter .icon-Close {
  margin-left: 10px;
  font-size: 14px;
  font-size: 0.875em;
}
@media (max-width: 767px) {
  /* line 322, ../sass/content.scss */
  .advanced-sort-block .selected-filters .this-filter .icon-Close {
    float: right;
    padding-top: 3px;
  }
}

/* line 336, ../sass/content.scss */
.my-voice-intro-menu {
  list-style-type: none;
  margin: 10px 0 0 0;
  font-size: 10px;
  font-size: 0.625em;
  text-decoration: underline;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 336, ../sass/content.scss */
  .my-voice-intro-menu {
    display: none;
  }
}
/* line 345, ../sass/content.scss */
.my-voice-intro-menu h4 {
  margin: 0 0 8px;
}

/* line 348, ../sass/content.scss */
.my-voice-mobile-menu {
  display: none;
  list-style-type: none;
  font-size: 12px;
  font-size: 0.75em;
  float: left;
  text-align: center;
  -webkit-padding-start: 0;
}
@media (max-width: 767px) {
  /* line 348, ../sass/content.scss */
  .my-voice-mobile-menu {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
  }
}
/* line 361, ../sass/content.scss */
.my-voice-mobile-menu li {
  float: left;
  padding-left: 20px;
}
/* line 364, ../sass/content.scss */
.my-voice-mobile-menu li:first-child {
  padding-left: 0;
}
/* line 367, ../sass/content.scss */
.my-voice-mobile-menu li a {
  text-decoration: underline;
}

/* line 375, ../sass/content.scss */
.my-voice-main .action-block {
  float: left;
  margin-bottom: 30px;
  background: transparent;
}
/* line 379, ../sass/content.scss */
.my-voice-main .action-block .block-symptoms, .my-voice-main .action-block .block-share, .my-voice-main .action-block .block-spectrum {
  background-image: url('../images/bg06.jpg?1424101657');
  color: #ffffff;
  width: 48.5%;
  padding: 50px 10px 37px 39px;
  background-size: cover;
  float: left;
}
@media (max-width: 767px) {
  /* line 379, ../sass/content.scss */
  .my-voice-main .action-block .block-symptoms, .my-voice-main .action-block .block-share, .my-voice-main .action-block .block-spectrum {
    width: 100%;
    float: none;
    padding: 26px 10px 17px 20px;
    margin: 0 0 34px;
    background-position: right center;
  }
}
/* line 393, ../sass/content.scss */
.my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 13px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 393, ../sass/content.scss */
  .my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 393, ../sass/content.scss */
  .my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
    margin: 0 0 19px;
    font-size: 24px;
    line-height: 30px;
  }
}
/* line 409, ../sass/content.scss */
.my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
  font-size: 18px;
  font-size: 1.125em;
  margin: 0 0 32px;
}
@media (max-width: 990px) {
  /* line 409, ../sass/content.scss */
  .my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
    font-size: 14px;
    font-size: 0.875em;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 409, ../sass/content.scss */
  .my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
    font-size: 12px;
    font-size: 0.75em;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 424, ../sass/content.scss */
.my-voice-main .action-block .block-symptoms .block-spectrum, .my-voice-main .action-block .block-share .block-spectrum, .my-voice-main .action-block .block-spectrum .block-spectrum {
  float: left;
}
/* line 430, ../sass/content.scss */
.my-voice-main .block-share {
  background-image: url('../images/bg08.jpg?1424101657');
}
/* line 434, ../sass/content.scss */
.my-voice-main .block-spectrum {
  background-image: url('../images/bg07.jpg?1424101657');
}
/* line 437, ../sass/content.scss */
.my-voice-main .block-report {
  background-image: url('../images/bg05.jpg?1424101657');
  float: right;
}
/* line 441, ../sass/content.scss */
.my-voice-main .sort-block {
  margin: 0;
  padding: 14px 20px 16px;
  margin-bottom: 20px;
  display: block;
}

/* line 451, ../sass/content.scss */
.my-voice-post {
  padding: 20px 18px;
  float: left;
  position: relative;
  margin: 0 0 30px;
  background: #ffffff;
  border: 1px solid #d2d5d6;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  /* line 451, ../sass/content.scss */
  .my-voice-post {
    padding: 14px 15px;
    font-size: 18px;
    line-height: 27px;
  }
}
/* line 465, ../sass/content.scss */
.my-voice-post img {
  float: left;
}
@media (max-width: 480px) {
  /* line 465, ../sass/content.scss */
  .my-voice-post img {
    width: 100%;
  }
}
/* line 473, ../sass/content.scss */
.my-voice-post .content {
  float: left;
  width: 56%;
  padding-left: 50px;
}
@media (max-width: 990px) {
  /* line 473, ../sass/content.scss */
  .my-voice-post .content {
    width: 45%;
  }
}
@media (max-width: 767px) {
  /* line 473, ../sass/content.scss */
  .my-voice-post .content {
    width: 100%;
    padding: 0;
  }
}
/* line 484, ../sass/content.scss */
.my-voice-post .content p {
  font-size: 16px;
  font-size: 1em;
}
/* line 487, ../sass/content.scss */
.my-voice-post .content h3 {
  font-weight: bold;
  font-size: 22px;
  font-size: 1.375em;
  line-height: 32px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 487, ../sass/content.scss */
  .my-voice-post .content h3 {
    font-size: 20px;
    font-size: 1.25em;
    margin: 10px 0;
    line-height: 28px;
  }
}
/* line 498, ../sass/content.scss */
.my-voice-post .content .num-holder {
  display: inline-block;
  vertical-align: top;
}
/* line 503, ../sass/content.scss */
.my-voice-post .content .num-holder.gray-num a .num {
  color: #d2d5d6;
  border: 3px solid #d2d5d6;
}
/* line 506, ../sass/content.scss */
.my-voice-post .content .num-holder.gray-num a .num:after {
  background-position: -80px 0;
}
/* line 510, ../sass/content.scss */
.my-voice-post .content .num-holder.gray-num a .text {
  color: #d2d5d6;
}
/* line 515, ../sass/content.scss */
.my-voice-post .content .num-holder a {
  text-decoration: none;
}
/* line 517, ../sass/content.scss */
.my-voice-post .content .num-holder a .num {
  min-width: 46px;
  height: 35px;
  border: 3px solid #e30087;
  border-radius: 9px;
  font-size: 18px;
  line-height: 25px;
  padding: 3px;
  position: relative;
  color: #e30087;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  margin: 0 15px 0 0;
}
@media (max-width: 990px) {
  /* line 517, ../sass/content.scss */
  .my-voice-post .content .num-holder a .num {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 517, ../sass/content.scss */
  .my-voice-post .content .num-holder a .num {
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
    min-width: 39px;
    height: 28px;
  }
}
/* line 542, ../sass/content.scss */
.my-voice-post .content .num-holder a .num:after {
  position: absolute;
  right: 8px;
  bottom: -13px;
  content: "";
  background: url('../images/sprite.png?1425447411') no-repeat -128px 0;
  width: 12px;
  height: 13px;
}
@media (max-width: 767px) {
  /* line 542, ../sass/content.scss */
  .my-voice-post .content .num-holder a .num:after {
    right: 6px;
  }
}
/* line 555, ../sass/content.scss */
.my-voice-post .content .num-holder a .text {
  display: none;
  margin: 2px 0 0 -5px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #e30087;
}
@media (max-width: 990px) {
  /* line 555, ../sass/content.scss */
  .my-voice-post .content .num-holder a .text {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  /* line 555, ../sass/content.scss */
  .my-voice-post .content .num-holder a .text {
    font-size: 15px;
    margin: -2px 0 0;
  }
}
/* line 575, ../sass/content.scss */
.my-voice-post .content:hover a.hover .text {
  display: inline-block;
}
/* line 582, ../sass/content.scss */
.my-voice-post .content .comment-count {
  background: no-repeat url('../images/comment-sprite.png?1424101657');
  padding: 7px 0px 17px 0;
  width: 46px;
  text-align: center;
  color: #e30087;
}
@media (max-width: 767px) {
  /* line 582, ../sass/content.scss */
  .my-voice-post .content .comment-count {
    float: left;
  }
}
/* line 589, ../sass/content.scss */
.my-voice-post .content .comment-count .count {
  font-size: 20px;
  font-size: 1.25em;
}
/* line 592, ../sass/content.scss */
.my-voice-post .content .comment-count.zero {
  background: no-repeat url('../images/comment-sprite.png?1424101657') 0 -52px;
}
/* line 594, ../sass/content.scss */
.my-voice-post .content .comment-count.zero .count {
  color: #d2d5d6;
}
/* line 599, ../sass/content.scss */
.my-voice-post .content .talkers {
  display: none;
  font-size: 15px;
  font-size: 0.9375em;
  float: left;
  padding-left: 10px;
  color: #e30087;
}
@media (max-width: 767px) {
  /* line 599, ../sass/content.scss */
  .my-voice-post .content .talkers {
    display: block;
  }
}
/* line 609, ../sass/content.scss */
.my-voice-post .date {
  list-style-type: none;
  float: right;
  margin: 0;
  background: #ffffff;
}
@media (max-width: 767px) {
  /* line 609, ../sass/content.scss */
  .my-voice-post .date {
    padding: 5px 5px 5px 9px;
    position: absolute;
    right: 14px;
    top: 14px;
  }
}
/* line 620, ../sass/content.scss */
.my-voice-post .date .day {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5em;
  line-height: 24px;
}
@media (max-width: 767px) {
  /* line 620, ../sass/content.scss */
  .my-voice-post .date .day {
    font-size: 22px;
    font-size: 1.375em;
    line-height: 24px;
  }
}
/* line 629, ../sass/content.scss */
.my-voice-post .date .month {
  font-weight: bold;
  font-size: 16px;
  font-size: 1em;
  line-height: 25px;
}
@media (max-width: 767px) {
  /* line 629, ../sass/content.scss */
  .my-voice-post .date .month {
    font-size: 18px;
    font-size: 1.125em;
    line-height: 24px;
  }
}
/* line 638, ../sass/content.scss */
.my-voice-post .date .year {
  font-size: 12px;
  font-size: 0.75em;
  line-height: 12px;
}
@media (max-width: 767px) {
  /* line 638, ../sass/content.scss */
  .my-voice-post .date .year {
    display: none;
  }
}

/* line 649, ../sass/content.scss */
.acknowledge-block {
  background: #ffffff;
  float: left;
  width: 100%;
  text-align: center;
  padding: 80px 0;
}
/* line 655, ../sass/content.scss */
.acknowledge-block a {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  color: #000;
}

/* line 669, ../sass/content.scss */
.visual.no-overlay {
  height: 365px;
  overflow: hidden;
  margin-bottom: 500px;
}
@media (max-width: 767px) {
  /* line 669, ../sass/content.scss */
  .visual.no-overlay {
    height: auto;
    margin: 0;
  }
}
/* line 679, ../sass/content.scss */
.visual .img-holder .caption-frame {
  padding: 0;
}
/* line 682, ../sass/content.scss */
.visual .img-holder .caption-frame .caption .title {
  margin-top: 85px;
  padding: 10px;
}
@media (max-width: 767px) {
  /* line 685, ../sass/content.scss */
  .visual .img-holder .caption-frame .caption .title .title-third {
    margin-top: 10%;
  }
}
/* line 693, ../sass/content.scss */
.visual .img-holder .caption-frame .caption .title-row-2 {
  padding: 0 0 0 238px;
}

/* line 701, ../sass/content.scss */
.visual .img-holder .caption-frame .caption .title-row-2 {
  padding: 0 0 0 238px;
}

/* line 709, ../sass/content.scss */
.articles-block, .my-voice-block {
  width: 100%;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 709, ../sass/content.scss */
  .articles-block, .my-voice-block {
    background: #fff;
  }
}
/* line 717, ../sass/content.scss */
.articles-block .holder, .my-voice-block .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 15px;
}
/* line 720, ../sass/content.scss */
.articles-block .holder .close, .articles-block .holder .block-close, .my-voice-block .holder .close, .my-voice-block .holder .block-close {
  width: 37px;
  background: #ffffff;
  padding: 10px;
  left: 100%;
  position: relative;
  margin-left: -37px;
}
@media (max-width: 767px) {
  /* line 720, ../sass/content.scss */
  .articles-block .holder .close, .articles-block .holder .block-close, .my-voice-block .holder .close, .my-voice-block .holder .block-close {
    margin-top: -30px;
    z-index: 7;
    float: none;
    width: 0;
    margin: 0 0 0 -21px;
    top: -15px;
  }
}
/* line 738, ../sass/content.scss */
.articles-block .img-holder img, .my-voice-block .img-holder img {
  width: 100%;
}

/* line 744, ../sass/content.scss */
.articles-block {
  background: #ffffff;
}
/* line 747, ../sass/content.scss */
.articles-block .article h4 {
  padding: 25px 0;
  margin: 0;
  font-size: 22px;
  font-size: 1.375em;
}
/* line 752, ../sass/content.scss */
.articles-block .article p {
  font-size: 16px;
  font-size: 1em;
  line-height: 25px;
}

/* line 760, ../sass/content.scss */
.action-block {
  float: left;
  padding-bottom: 30px;
  background-color: #ffffff;
}
/* line 764, ../sass/content.scss */
.action-block .holder {
  padding: 95px 15px 85px;
}
/* line 767, ../sass/content.scss */
.action-block .block-share, .action-block .block-spectrum {
  color: #ffffff;
  width: 48.5%;
  padding: 50px 10px 37px 39px;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 767, ../sass/content.scss */
  .action-block .block-share, .action-block .block-spectrum {
    width: 100%;
    float: none;
    padding: 26px 10px 17px 20px;
    margin: 0 0 34px;
    background-position: right center;
  }
}
/* line 779, ../sass/content.scss */
.action-block .block-share .title, .action-block .block-spectrum .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 13px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 779, ../sass/content.scss */
  .action-block .block-share .title, .action-block .block-spectrum .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 779, ../sass/content.scss */
  .action-block .block-share .title, .action-block .block-spectrum .title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 795, ../sass/content.scss */
.action-block .block-share .title.smaller, .action-block .block-spectrum .title.smaller {
  font-size: 18px;
  font-size: 1.125em;
  margin: 0 0 32px;
}
@media (max-width: 990px) {
  /* line 795, ../sass/content.scss */
  .action-block .block-share .title.smaller, .action-block .block-spectrum .title.smaller {
    font-size: 14px;
    font-size: 0.875em;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 795, ../sass/content.scss */
  .action-block .block-share .title.smaller, .action-block .block-spectrum .title.smaller {
    font-size: 12px;
    font-size: 0.75em;
    line-height: 25px;
    margin: 0 0 16px;
  }
}

/* line 814, ../sass/content.scss */
.action-block {
  background-color: #ffffff;
}
/* line 816, ../sass/content.scss */
.action-block .block-share {
  background-image: url('../images/bg08.jpg?1424101657');
  float: left;
}
/* line 819, ../sass/content.scss */
.action-block .block-share .btn {
  float: right;
  margin: 182px 10px 0 0;
  display: block;
}
@media (max-width: 990px) {
  /* line 819, ../sass/content.scss */
  .action-block .block-share .btn {
    margin: 146px 10px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 816, ../sass/content.scss */
  .action-block .block-share {
    height: 324px;
  }
  /* line 829, ../sass/content.scss */
  .action-block .block-share .btn {
    margin: 223px 10px 0 0;
  }
}
/* line 833, ../sass/content.scss */
.action-block .block-spectrum {
  background-image: url('../images/bg07.jpg?1424101657');
  float: right;
}
/* line 836, ../sass/content.scss */
.action-block .block-spectrum .title {
  margin-bottom: 44px;
}

/* line 846, ../sass/content.scss */
.social-block, .signup-block, .slider-block, .my-voice-block, .social-action-block {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 846, ../sass/content.scss */
  .social-block, .signup-block, .slider-block, .my-voice-block, .social-action-block {
    background: #fff;
  }
}
/* line 854, ../sass/content.scss */
.social-block .holder, .signup-block .holder, .slider-block .holder, .my-voice-block .holder, .social-action-block .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 15px;
}
/* line 857, ../sass/content.scss */
.social-block .holder .close, .social-block .holder .block-close, .signup-block .holder .close, .signup-block .holder .block-close, .slider-block .holder .close, .slider-block .holder .block-close, .my-voice-block .holder .close, .my-voice-block .holder .block-close, .social-action-block .holder .close, .social-action-block .holder .block-close {
  width: 37px;
  background: #ffffff;
  padding: 10px;
  left: 100%;
  position: relative;
  margin-left: -37px;
}
@media (max-width: 767px) {
  /* line 857, ../sass/content.scss */
  .social-block .holder .close, .social-block .holder .block-close, .signup-block .holder .close, .signup-block .holder .block-close, .slider-block .holder .close, .slider-block .holder .block-close, .my-voice-block .holder .close, .my-voice-block .holder .block-close, .social-action-block .holder .close, .social-action-block .holder .block-close {
    margin: 0 0 0 -21px;
    top: -15px;
  }
}
/* line 869, ../sass/content.scss */
.social-block .holder .block-close, .signup-block .holder .block-close, .slider-block .holder .block-close, .my-voice-block .holder .block-close, .social-action-block .holder .block-close {
  padding: 0;
  width: 57px;
  height: 54px;
  text-align: center;
  vertical-align: middle;
  line-height: 57px;
  margin-left: -57px;
  font-size: 1.5em;
}
/* line 880, ../sass/content.scss */
.social-block .btn, .signup-block .btn, .slider-block .btn, .my-voice-block .btn, .social-action-block .btn {
  font-size: 20px;
  font-size: 1.25em;
  padding: 11px 26px;
}
@media (max-width: 767px) {
  /* line 880, ../sass/content.scss */
  .social-block .btn, .signup-block .btn, .slider-block .btn, .my-voice-block .btn, .social-action-block .btn {
    padding: 6px 19px;
    font-size: 18px;
  }
}
/* line 888, ../sass/content.scss */
.social-block .twitter, .signup-block .twitter, .slider-block .twitter, .my-voice-block .twitter, .social-action-block .twitter {
  height: 300px;
  display: block;
}
@media (max-width: 767px) {
  /* line 888, ../sass/content.scss */
  .social-block .twitter, .signup-block .twitter, .slider-block .twitter, .my-voice-block .twitter, .social-action-block .twitter {
    height: auto;
  }
}
/* line 895, ../sass/content.scss */
.social-block h1, .signup-block h1, .slider-block h1, .my-voice-block h1, .social-action-block h1 {
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  margin: 0;
  padding: 27px 33px 5px 29px;
}
@media (max-width: 767px) {
  /* line 895, ../sass/content.scss */
  .social-block h1, .signup-block h1, .slider-block h1, .my-voice-block h1, .social-action-block h1 {
    font-size: 27px;
    line-height: 32px;
    padding: 0 0 31px;
  }
  /* line 908, ../sass/content.scss */
  .social-block h1 br, .signup-block h1 br, .slider-block h1 br, .my-voice-block h1 br, .social-action-block h1 br {
    display: none;
  }
}
/* line 911, ../sass/content.scss */
.social-block h3, .signup-block h3, .slider-block h3, .my-voice-block h3, .social-action-block h3 {
  line-height: 1.363em;
  font-size: 1.67em;
  margin: -4px 0 8px;
}
@media (max-width: 767px) {
  /* line 911, ../sass/content.scss */
  .social-block h3, .signup-block h3, .slider-block h3, .my-voice-block h3, .social-action-block h3 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 15px;
  }
}
/* line 921, ../sass/content.scss */
.social-block .block, .signup-block .block, .slider-block .block, .my-voice-block .block, .social-action-block .block {
  text-align: left;
  background: #ffffff;
  padding: 52px 32px 49px;
}
@media (max-width: 767px) {
  /* line 925, ../sass/content.scss */
  .social-block .block .btn, .signup-block .block .btn, .slider-block .block .btn, .my-voice-block .block .btn, .social-action-block .block .btn {
    width: 100%;
  }
  /* line 928, ../sass/content.scss */
  .social-block .block .btn .icon-Rightarrow, .signup-block .block .btn .icon-Rightarrow, .slider-block .block .btn .icon-Rightarrow, .my-voice-block .block .btn .icon-Rightarrow, .social-action-block .block .btn .icon-Rightarrow {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 921, ../sass/content.scss */
  .social-block .block, .signup-block .block, .slider-block .block, .my-voice-block .block, .social-action-block .block {
    padding: 0 0 49px;
  }
}
/* line 937, ../sass/content.scss */
.social-block .bg-stretch, .signup-block .bg-stretch, .slider-block .bg-stretch, .my-voice-block .bg-stretch, .social-action-block .bg-stretch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  /* line 937, ../sass/content.scss */
  .social-block .bg-stretch, .signup-block .bg-stretch, .slider-block .bg-stretch, .my-voice-block .bg-stretch, .social-action-block .bg-stretch {
    display: none;
  }
}
/* line 946, ../sass/content.scss */
.social-block .bg-stretch img, .signup-block .bg-stretch img, .slider-block .bg-stretch img, .my-voice-block .bg-stretch img, .social-action-block .bg-stretch img {
  display: block;
}

/* line 952, ../sass/content.scss */
.my-voice-block {
  float: left;
}
/* line 954, ../sass/content.scss */
.my-voice-block input[type=submit].btn-pink {
  border: 0;
  border-bottom: 5px solid #b3066b;
}
@media (max-width: 767px) {
  /* line 952, ../sass/content.scss */
  .my-voice-block {
    background: transparent;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 960, ../sass/content.scss */
  .my-voice-block .block {
    margin: -15px;
    padding: 10px 15px 20px;
  }
}

/* line 967, ../sass/content.scss */
.my-voice-block .holder {
  padding: 0 15px 0 0;
}
@media (max-width: 767px) {
  /* line 967, ../sass/content.scss */
  .my-voice-block .holder {
    padding: 15px 15px;
  }
}
/* line 974, ../sass/content.scss */
.my-voice-block .jcf-select.jcf-unselectable {
  float: left;
  clear: both;
  width: 80%;
  border-radius: 5px;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  box-shadow: inset 1px 1px 2px #707070;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  /* line 989, ../sass/content.scss */
  .index-page .advanced-sort-block {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 994, ../sass/content.scss */
  .index-page .visual .img-holder .caption-frame .caption .title {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  /* line 1002, ../sass/content.scss */
  .signup-block .holder {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  /* line 1008, ../sass/content.scss */
  .signup-block a.tooltips {
    display: none;
  }
}
/* line 1012, ../sass/content.scss */
.signup-block a.tooltips.mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 1012, ../sass/content.scss */
  .signup-block a.tooltips.mobile {
    display: block;
    top: -3px;
    float: right;
  }
}

/* line 1029, ../sass/content.scss */
.social-block .holder {
  position: relative;
  z-index: 4;
  margin-top: 15px;
  padding: 60px 15px 80px;
}
@media (max-width: 767px) {
  /* line 1029, ../sass/content.scss */
  .social-block .holder {
    padding: 60px 15px 240px;
  }
}
/* line 1037, ../sass/content.scss */
.social-block .holder .youtube-btn {
  font-size: 18px;
  font-size: 1.125em;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 1037, ../sass/content.scss */
  .social-block .holder .youtube-btn {
    width: 100%;
  }
}
/* line 1047, ../sass/content.scss */
.social-block h3 {
  font-size: 20px;
  font-size: 1.25em;
  font-weight: bold;
}
/* line 1051, ../sass/content.scss */
.social-block .block {
  padding: 40px 32px 45px;
}
/* line 1052, ../sass/content.scss */
.social-block .member-count {
  text-align: center;
}
/* line 1055, ../sass/content.scss */
.social-block .member-count .numbers {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 66px;
  font-size: 4.125em;
  line-height: 66px;
}
/* line 1060, ../sass/content.scss */
.social-block .member-count a {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  text-decoration: underline;
}

/* line 1068, ../sass/content.scss */
.slider-block {
  margin-top: -470px;
}
@media (max-width: 767px) {
  /* line 1068, ../sass/content.scss */
  .slider-block {
    margin-top: 0;
    background: transparent;
  }
}
/* line 1074, ../sass/content.scss */
.slider-block .block {
  padding: 40px 0 0;
}
@media (max-width: 767px) {
  /* line 1074, ../sass/content.scss */
  .slider-block .block {
    margin: -15px;
    padding: 10px 15px 70px;
  }
}
/* line 1080, ../sass/content.scss */
.slider-block .block .slider-container {
  margin: 0 90px;
}
/* line 1082, ../sass/content.scss */
.slider-block .block .slider-container .l-s-arrow, .slider-block .block .slider-container .r-s-arrow {
  width: 0;
  height: 0;
  position: relative;
  z-index: 5;
  top: 80px;
  left: -50px;
}
@media (max-width: 767px) {
  /* line 1082, ../sass/content.scss */
  .slider-block .block .slider-container .l-s-arrow, .slider-block .block .slider-container .r-s-arrow {
    display: none;
  }
}
/* line 1092, ../sass/content.scss */
.slider-block .block .slider-container .l-s-arrow a, .slider-block .block .slider-container .r-s-arrow a {
  color: #f15500;
  font-size: 40px;
  font-size: 2.5em;
}
/* line 1098, ../sass/content.scss */
.slider-block .block .slider-container .r-s-arrow {
  left: 30px;
}
/* line 1101, ../sass/content.scss */
.slider-block .block .slider-container .r-s-arrow .skip a {
  font-size: 14px;
  font-size: 0.875em;
}
/* line 1108, ../sass/content.scss */
.slider-block .holder {
  padding-top: 20px;
  margin-bottom: 130px;
}
@media (max-width: 767px) {
  /* line 1108, ../sass/content.scss */
  .slider-block .holder {
    margin-bottom: 20px;
  }
}

/* line 1120, ../sass/content.scss */
.signup-columns, .my-voice-columns, community-columns {
  /* article column styles */
}
/* line 1123, ../sass/content.scss */
.signup-columns .col, .my-voice-columns .col, community-columns .col {
  float: left;
  width: 48.5%;
  margin: 0 0 0 2.9%;
}
@media (max-width: 767px) {
  /* line 1123, ../sass/content.scss */
  .signup-columns .col, .my-voice-columns .col, community-columns .col {
    width: 100%;
    margin: 0;
  }
}
/* line 1131, ../sass/content.scss */
.signup-columns .col:first-child, .my-voice-columns .col:first-child, community-columns .col:first-child {
  margin: 0;
  padding: 0 40px;
}
@media (max-width: 767px) {
  /* line 1131, ../sass/content.scss */
  .signup-columns .col:first-child, .my-voice-columns .col:first-child, community-columns .col:first-child {
    display: none;
  }
}
/* line 1139, ../sass/content.scss */
.signup-columns h2, .my-voice-columns h2, community-columns h2 {
  line-height: 1.363em;
  font-size: 1.7em;
  margin: -4px 0 8px;
}
@media (max-width: 767px) {
  /* line 1139, ../sass/content.scss */
  .signup-columns h2, .my-voice-columns h2, community-columns h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
  }
}
/* line 1149, ../sass/content.scss */
.signup-columns .signup-form, .my-voice-columns .signup-form, community-columns .signup-form {
  padding: 14px 0;
}
/* line 1151, ../sass/content.scss */
.signup-columns .signup-form input[type="email"], .signup-columns .signup-form input[type="text"], .signup-columns .signup-form .select, .my-voice-columns .signup-form input[type="email"], .my-voice-columns .signup-form input[type="text"], .my-voice-columns .signup-form .select, community-columns .signup-form input[type="email"], community-columns .signup-form input[type="text"], community-columns .signup-form .select {
  float: left;
  clear: both;
  width: 80%;
  border-radius: 5px;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  box-shadow: inset 1px 1px 2px #707070;
  margin-bottom: 20px;
  padding: 12px 23px;
  font-size: 18px;
}
@media (max-width: 767px) {
  /* line 1151, ../sass/content.scss */
  .signup-columns .signup-form input[type="email"], .signup-columns .signup-form input[type="text"], .signup-columns .signup-form .select, .my-voice-columns .signup-form input[type="email"], .my-voice-columns .signup-form input[type="text"], .my-voice-columns .signup-form .select, community-columns .signup-form input[type="email"], community-columns .signup-form input[type="text"], community-columns .signup-form .select {
    width: 100%;
  }
}
/* line 1184, ../sass/content.scss */
.signup-columns .signup-form .btn, .my-voice-columns .signup-form .btn, community-columns .signup-form .btn {
  float: left;
}
/* line 1186, ../sass/content.scss */
.signup-columns .signup-form .btn.btn-left, .my-voice-columns .signup-form .btn.btn-left, community-columns .signup-form .btn.btn-left {
  margin-right: 27px;
}
/* line 1187, ../sass/content.scss */
.signup-columns .signup-form .btn span, .my-voice-columns .signup-form .btn span, community-columns .signup-form .btn span {
  padding-left: 15px;
}

/* line 1198, ../sass/content.scss */
.my-voice-block .block {
  padding: 45px 0 49px;
}

/* line 1201, ../sass/content.scss */
.my-voice-columns .col {
  margin: 0;
}
/* line 1203, ../sass/content.scss */
.my-voice-columns .col:first-child {
  padding: 0 90px;
}
/* line 1206, ../sass/content.scss */
.my-voice-columns .col p {
  font-size: 1.11em;
}
/* line 1209, ../sass/content.scss */
.my-voice-columns .col .larger {
  font-size: 1.475em;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}

/* line 1219, ../sass/content.scss */
.slider-container {
  height: 280px;
  /* article column styles */
}
/* line 1223, ../sass/content.scss */
.slider-container > div {
  float: left;
}
/* line 1225, ../sass/content.scss */
.slider-container .share-columns img, .slider-container .support-columns img {
  width: 100%;
}
/* line 1228, ../sass/content.scss */
.slider-container .share-columns .btn, .slider-container .support-columns .btn {
  width: 100%;
  margin-top: 15px;
}
/* line 1235, ../sass/content.scss */
.slider-container .share-columns .col:first-child {
  margin-right: 9.5%;
}
/* line 1239, ../sass/content.scss */
.slider-container .share-columns .col-left {
  width: 32%;
}
/* line 1242, ../sass/content.scss */
.slider-container .share-columns .col-mid {
  width: 27.3%;
  margin: 0;
}
/* line 1246, ../sass/content.scss */
.slider-container .share-columns .col-right {
  width: 27.3%;
  margin-left: 3.2%;
}
/* line 1254, ../sass/content.scss */
.slider-container .support-columns .col-3:nth-child(2) .btn {
  width: 45%;
  margin-right: 10px;
  margin-bottom: 0;
}
/* line 1260, ../sass/content.scss */
.slider-container .support-columns .col-3 a {
  text-decoration: underline;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
}
/* line 1263, ../sass/content.scss */
.slider-container .support-columns .col-3 a.btn {
  text-decoration: none;
  font-family: inherit;
}
/* line 1270, ../sass/content.scss */
.slider-container .col {
  float: left;
  margin: 0 0 0 2.9%;
}
@media (max-width: 767px) {
  /* line 1270, ../sass/content.scss */
  .slider-container .col {
    width: 100%;
    margin: 0;
  }
}
/* line 1277, ../sass/content.scss */
.slider-container .col:first-child {
  margin: 0;
}
@media (max-width: 767px) {
  /* line 1277, ../sass/content.scss */
  .slider-container .col:first-child {
    display: none;
  }
}
/* line 1284, ../sass/content.scss */
.slider-container .col-2 {
  padding: 0 40px;
}
/* line 1288, ../sass/content.scss */
.slider-container a.btn {
  margin-bottom: 10px;
}
/* line 1292, ../sass/content.scss */
.slider-container .signup-columns .col {
  width: 49.5%;
  margin-left: 9%;
  padding: 0;
}
/* line 1296, ../sass/content.scss */
.slider-container .signup-columns .col:first-child {
  width: 41.5%;
  margin: 0;
}
/* line 1300, ../sass/content.scss */
.slider-container .signup-columns .col input[type="email"], .slider-container .signup-columns .col input[type="text"] {
  width: 89%;
}

@media (max-width: 767px) {
  /* line 1310, ../sass/content.scss */
  .posts-columns {
    padding-top: 20px;
  }
}
/* line 1314, ../sass/content.scss */
.posts-columns .more {
  margin: 0 auto;
  max-width: 1080px;
  clear: both;
  text-align: center;
}
/* line 1323, ../sass/content.scss */
.posts-columns .post .footer .num-holder a .text {
  font-size: 12px;
  font-size: 0.75em;
}

/* line 1333, ../sass/content.scss */
.read-more {
  display: block;
  text-align: center;
  padding: 25px 0 105px;
}
/* line 1337, ../sass/content.scss */
.read-more .btn {
  padding: 10px 19px;
}
/* line 1339, ../sass/content.scss */
.read-more .btn .icon-Rightarrow {
  padding-left: 15px;
}

/* line 1347, ../sass/content.scss */
.community-columns .col {
  width: 58.7%;
  margin: 0;
}
/* line 1350, ../sass/content.scss */
.community-columns .col:first-child {
  width: 36.7%;
  margin-right: 4.6%;
}

/* line 1358, ../sass/content.scss */
.articles-columns, .social-columns {
  /* article column styles */
}
/* line 1361, ../sass/content.scss */
.articles-columns .col, .social-columns .col {
  float: left;
  width: 31.4%;
  margin: 0 0 0 2.9%;
}
@media (max-width: 767px) {
  /* line 1361, ../sass/content.scss */
  .articles-columns .col, .social-columns .col {
    width: 100%;
    margin: 0;
  }
}
/* line 1369, ../sass/content.scss */
.articles-columns .col:first-child, .social-columns .col:first-child {
  margin: 0;
}

/* line 1376, ../sass/content.scss */
.social-columns img {
  width: 100%;
}

/* line 1383, ../sass/content.scss */
.articles-columns p a {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
}
