/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 4, ../sass/general.scss */
.region-services .btn {
  font-family: "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
}

/***************************************************
if you make this as float: left then you can type
on click on the input field otherwise you can type
on it, the description div comes on top of the input
field .
****************************************************/
/* line 15, ../sass/general.scss */
.description {
  float: left;
}

/* line 21, ../sass/general.scss */
.front.page-loaded .slider-block {
  visibility: visible;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 26, ../sass/general.scss */
  .front .form-item p:nth-child(2) {
    font-size: 15px;
    float: left;
    line-height: 28px;
    margin-bottom: 0;
  }
}
/* line 36, ../sass/general.scss */
.front .slider-block {
  visibility: hidden;
  z-index: 998;
  position: relative;
}
/* line 41, ../sass/general.scss */
.front .slider-block .block {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 47, ../sass/general.scss */
.front .slider-block .r-s-arrow a {
  text-decoration: none;
}
/* line 53, ../sass/general.scss */
.front .slider-block .l-s-arrow a {
  text-decoration: none;
}
/* line 59, ../sass/general.scss */
.front .slider-block a.btn-left {
  margin-right: 10px;
}
/* line 63, ../sass/general.scss */
.front .slider-block a.btn {
  padding: 11px 25px;
}
/* line 67, ../sass/general.scss */
.front .slider-block a.btn-right {
  position: relative;
  right: 9px;
}
@media (max-width: 767px) {
  /* line 67, ../sass/general.scss */
  .front .slider-block a.btn-right {
    right: 0;
  }
}
@media (max-width: 767px) {
  /* line 79, ../sass/general.scss */
  .front .slider-block {
    margin-top: -160px;
  }
  /* line 83, ../sass/general.scss */
  .front .slider-container .signup-columns .col {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* line 89, ../sass/general.scss */
  .front .slider-container .signup-columns .col input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 94, ../sass/general.scss */
  .front .slider-block .block {
    padding: 10px 15px 85px;
    margin-bottom: 38px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  /* line 101, ../sass/general.scss */
  .front .slider-block .block .slider-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 101, ../sass/general.scss */
  .front .slider-block .block .slider-container {
    width: auto;
    margin: 0 45px;
  }
}

/* line 114, ../sass/general.scss */
.front #main.no-form {
  margin-top: 50px;
}
@media (max-width: 767px) {
  /* line 114, ../sass/general.scss */
  .front #main.no-form {
    margin-top: 0;
  }
}
/* line 122, ../sass/general.scss */
.front .visual {
  max-height: none;
}
@media (max-width: 767px) {
  /* line 126, ../sass/general.scss */
  .front .visual .holder {
    position: relative;
    top: -100px;
  }
  /* line 131, ../sass/general.scss */
  .front .visual .holder .pic-by {
    padding: 0 0 10px 0;
  }
}
/* line 137, ../sass/general.scss */
.front .visual .img-holder {
  max-height: 825px;
}
@media (max-width: 767px) {
  /* line 141, ../sass/general.scss */
  .front .visual .img-holder .caption-frame .caption {
    padding: 60px 0 0;
  }
}
@media (min-width: 767px) {
  /* line 141, ../sass/general.scss */
  .front .visual .img-holder .caption-frame .caption {
    padding: 80px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 152, ../sass/general.scss */
  .front .visual .img-holder .caption-frame .caption .title {
    right: 0;
  }
}
@media (max-width: 767px) {
  /* line 159, ../sass/general.scss */
  .front .social-block {
    background: transparent;
  }
}
@media (max-width: 767px) {
  /* line 165, ../sass/general.scss */
  .front .social-block .holder {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  /* line 172, ../sass/general.scss */
  .front .social-block .block {
    padding: 0px 0 45px;
    background: transparent;
  }
  /* line 177, ../sass/general.scss */
  .front .social-block .block .member-count {
    margin: -10px 0 40px;
  }
}
@media (max-width: 767px) {
  /* line 183, ../sass/general.scss */
  .front .social-block h1 {
    background: transparent;
    padding: 0 0 6px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  /* line 191, ../sass/general.scss */
  .front .social-block h3 {
    margin-bottom: 15px;
  }
}
/* line 200, ../sass/general.scss */
.front .articles-block h4 a {
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 206, ../sass/general.scss */
  .front .articles-block .views-row-2 .img-holder, .front .articles-block .views-row-3 .img-holder {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 213, ../sass/general.scss */
  .front .articles-block .views-row-last {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  /* line 222, ../sass/general.scss */
  #content_bottom {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 229, ../sass/general.scss */
.header_banner {
  z-index: 0;
}

/* line 235, ../sass/general.scss */
.search-text .icon-search {
  position: absolute;
  right: 10px;
  font-size: 24px;
  top: 10px;
}

/* line 244, ../sass/general.scss */
#modal-content .tooltip-content {
  bottom: inherit;
  left: -252px;
  top: 0;
  height: auto;
}
/* line 252, ../sass/general.scss */
#modal-content a.tooltips span.tooltip-content:before {
  border-left: 20px solid #F6BF4F;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  transform: rotate(-136deg);
  -moz-transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  -o-transform: rotate(-136deg);
  -webkit-transform: rotate(-136deg);
  left: 94%;
  top: 6px;
  margin-left: -13px;
}
/* line 264, ../sass/general.scss */
#modal-content a.tooltips span.tooltip-content:after {
  border-left: 19px solid #FFF8E7;
  border-right: 19px solid transparent;
  border-top: 18px solid transparent;
  transform: rotate(-136deg);
  -moz-transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  -o-transform: rotate(-136deg);
  -webkit-transform: rotate(-136deg);
  left: 94%;
  top: 7px;
  margin-left: -12px;
}

/* line 279, ../sass/general.scss */
#user-register-form div.ctools-modal-content .modal-content {
  min-width: 100%;
}
/* line 283, ../sass/general.scss */
#user-register-form .popups-container input[type="password"] {
  width: 88%;
}
/* line 287, ../sass/general.scss */
#user-register-form .form-type-password-confirm {
  margin-top: 40px;
}
/* line 290, ../sass/general.scss */
#user-register-form .form-type-password-confirm .password-strength {
  width: 92%;
  float: left;
  margin-top: -55px;
}
/* line 297, ../sass/general.scss */
#user-register-form .password-strength {
  width: 92%;
  float: left;
  margin-top: -36px;
}
/* line 303, ../sass/general.scss */
#user-register-form .form-type-password.form-item-pass-pass2 {
  width: 67%;
}
/* line 306, ../sass/general.scss */
#user-register-form .form-type-password.form-item-pass-pass2 input[type=password] {
  width: 100%;
}
/* line 311, ../sass/general.scss */
#user-register-form input[type=password] {
  width: 91%;
}
/* line 315, ../sass/general.scss */
#user-register-form .form-type-password-confirm form-item-pass {
  margin-top: 20px;
}
/* line 319, ../sass/general.scss */
#user-register-form .form-item {
  padding-left: 0;
  padding-right: 0;
}
/* line 324, ../sass/general.scss */
#user-register-form #edit-pass-pass1 {
  width: 92%;
}

/* line 329, ../sass/general.scss */
#user-pass label {
  display: none;
  visibility: hidden;
}

/* line 335, ../sass/general.scss */
#slider-container form .description {
  margin-top: 5px;
}
/* line 339, ../sass/general.scss */
#slider-container form h4 {
  margin-bottom: 21px;
}

/* line 345, ../sass/general.scss */
#webform-ajax-wrapper-74666 p.larger {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 34px;
}

/* line 354, ../sass/general.scss */
#webform-client-form-74676 h3, #webform-client-form-74676 h2 {
  font-size: 35px;
  padding-right: 26px;
  line-height: 45px;
  margin-top: 11px;
  margin-bottom: 20px;
}
/* line 364, ../sass/general.scss */
#webform-client-form-74676 .home_forum_share .home_forum_share_left p {
  margin-right: 0;
  line-height: 27px;
}
/* line 370, ../sass/general.scss */
#webform-client-form-74676 .home_forum_share .home_forum_share_right {
  margin-top: 24px;
}
@media (max-width: 767px) {
  /* line 370, ../sass/general.scss */
  #webform-client-form-74676 .home_forum_share .home_forum_share_right {
    margin-top: 54px;
  }
}

/* line 380, ../sass/general.scss */
#slider-container #webform-client-form-74681 h3 {
  font-size: 37px;
  margin-top: 9px;
  line-height: 44px;
  margin-bottom: 9px;
}

/* line 388, ../sass/general.scss */
#webform-client-form-74681form h2 {
  font-size: 37px;
  margin-top: 9px;
  line-height: 44px;
  margin-bottom: 9px;
}
/* line 396, ../sass/general.scss */
#webform-client-form-74681 .webform-component--lend-your-support h5 {
  font-size: 18px;
  margin-top: -9px;
}
/* line 402, ../sass/general.scss */
#webform-client-form-74681 .webform-component--give-what-you-can {
  float: none;
  width: auto;
}
/* line 407, ../sass/general.scss */
#webform-client-form-74681 .give_what_you_can {
  margin-left: 18px;
  width: 32%;
  float: left;
  margin-top: 13px;
}
@media (max-width: 767px) {
  /* line 407, ../sass/general.scss */
  #webform-client-form-74681 .give_what_you_can {
    margin-left: auto;
    width: auto;
    float: none;
  }
}
/* line 420, ../sass/general.scss */
#webform-client-form-74681 .give_what_you_can h5 {
  margin-left: 10px;
}
@media (max-width: 767px) {
  /* line 420, ../sass/general.scss */
  #webform-client-form-74681 .give_what_you_can h5 {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  /* line 428, ../sass/general.scss */
  #webform-client-form-74681 .give_what_you_can #edit-submitted-give-what-you-can {
    margin: 0 -30px 0 -11px;
    margin-bottom: 15px;
  }
}
/* line 435, ../sass/general.scss */
#webform-client-form-74681 .give_what_you_can #edit-submitted-give-what-you-can label {
  font-size: 20px;
}
/* line 441, ../sass/general.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help {
  width: 28%;
  margin-top: 13px;
}
@media (max-width: 767px) {
  /* line 441, ../sass/general.scss */
  #webform-client-form-74681 .webform-component--other-ways-to-help {
    width: auto;
  }
}
/* line 450, ../sass/general.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help h3 {
  font-size: 22px;
  margin-top: 3px;
}
/* line 455, ../sass/general.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help a.btn {
  padding: 9.5px 22px;
  width: 100%;
  margin-bottom: 14px;
  margin-top: 11px;
}
/* line 462, ../sass/general.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help label {
  font-size: 24px;
}
/* line 468, ../sass/general.scss */
#webform-client-form-74681 .webform-component--lend-your-support p {
  line-height: 27px;
}

/* line 475, ../sass/general.scss */
#webform-client-form-74666 label {
  position: absolute;
  left: 21px;
  top: 11px;
  color: #000000;
}
/* line 482, ../sass/general.scss */
#webform-client-form-74666 .form-item {
  display: inline-block;
}

/* line 489, ../sass/general.scss */
#form input[type="text"]:focus {
  border-color: #fbb900;
}

/* line 494, ../sass/general.scss */
body .view-display-id-stream_forum_page .icon-Featured, body .view-display-id-stream_forum_page .icon-Hottopic {
  display: none;
}
/* line 499, ../sass/general.scss */
body .view-display-id-stream_forum_page .rowlessthen3 .icon-Featured {
  margin-right: 5px;
  display: inherit;
}
/* line 505, ../sass/general.scss */
body .view-display-id-stream_forum_page .icon-Hottopic {
  margin-right: 45px;
}
/* line 510, ../sass/general.scss */
body .view-display-id-stream_forum_page .show_hot .icon-Hottopic {
  display: inherit;
  margin-right: 45px;
}

/* line 518, ../sass/general.scss */
.posts-columns .post .footer .num-holder a .text {
  display: none;
}

/* line 522, ../sass/general.scss */
.posts-columns .post .footer .num-holder .hover a .text {
  display: block;
}

/* line 526, ../sass/general.scss */
.section-share-your-story .block-webform {
  padding-bottom: 50px;
}
/* line 529, ../sass/general.scss */
.section-share-your-story .block-webform label {
  left: 12px;
  top: 10px;
}
/* line 534, ../sass/general.scss */
.section-share-your-story .block-webform .form-item {
  min-height: 70px;
}

/* line 540, ../sass/general.scss */
html.js fieldset.collapsed {
  height: auto;
}

/* line 545, ../sass/general.scss */
.page-messages .description {
  width: initial;
}

/* line 551, ../sass/general.scss */
.section-current-vacancies .posts-columns {
  margin-top: 290px;
}
/* line 554, ../sass/general.scss */
.section-current-vacancies .posts-columns .field_salary {
  margin-bottom: 20px;
}

/* line 561, ../sass/general.scss */
.view-display-id-stream_forum_page fieldset {
  margin-right: 0;
}

/* line 570, ../sass/general.scss */
article.node-223806 .field-name-body, article.node-223591 .field-name-body {
  padding: 40px 80px;
}

/* line 576, ../sass/general.scss */
#modalContent #modal-title {
  font-size: 30px;
  text-align: center;
  padding: 14px;
  display: block;
}
/* line 583, ../sass/general.scss */
#modalContent .popups-close.close {
  position: absolute;
  right: 11px;
  top: 12px;
}
/* line 589, ../sass/general.scss */
#modalContent h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 1px;
  text-align: left;
}
/* line 596, ../sass/general.scss */
#modalContent .hybridauth-widget li {
  margin: 0;
}
/* line 600, ../sass/general.scss */
#modalContent .item-list {
  margin-left: 20px;
}

/* line 608, ../sass/general.scss */
.post-comments-0 {
  display: none;
}

/* line 615, ../sass/general.scss */
#block-views-stream-my-voice-blog .view-filters .mobile-view {
  display: none;
}

/* line 619, ../sass/general.scss */
.forumpage_title {
  font-size: 16px;
  margin-bottom: 30px;
}

/* line 624, ../sass/general.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer {
  padding-left: 30px;
}
/* line 627, ../sass/general.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer .flag_node {
  margin-right: 20px;
  float: left;
  width: 170px;
  margin-top: 6px;
}
/* line 634, ../sass/general.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer .flag-message {
  visibility: hidden;
}

/* line 639, ../sass/general.scss */
.topic_section {
  float: left;
  width: 100%;
  margin-top: 15px;
}

/* line 646, ../sass/general.scss */
#modalContent, #modalBackdrop {
  z-index: 9999 !important;
}

/* line 650, ../sass/general.scss */
.forum_list {
  float: left;
  margin-right: 5px;
}
/* line 654, ../sass/general.scss */
.forum_list a, .forum_list span.flag-bookmarks, .forum_list .flag-bookmarks {
  font-size: 15px;
  font-weight: normal;
}

/* line 661, ../sass/general.scss */
.flag-wrapper {
  font-size: 15px;
  font-weight: normal;
}

/* line 666, ../sass/general.scss */
.not-logged-in #user-login--2 .form-item label,
.not-logged-in #user-login .form-item label,
#user-register-form .form-item label {
  display: none !important;
}

/* line 673, ../sass/general.scss */
.section-node-add #block-easy-breadcrumb-easy-breadcrumb, .section-node-add .vertical-tabs {
  display: none;
}
/* line 677, ../sass/general.scss */
.section-node-add .node-forum_discussion-form {
  background: white;
  padding: 1.5em;
  margin-bottom: 3em;
  border: 1px solid #d2d5d6;
  clear: both;
}
/* line 684, ../sass/general.scss */
.section-node-add .node-forum_discussion-form fieldset {
  float: none;
}
/* line 688, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .description {
  width: auto;
  float: none;
  clear: both;
}
/* line 694, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .form-item-title label {
  margin-top: 0;
}
/* line 698, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .filter-guidelines {
  padding: 0;
}
/* line 702, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .filter-wrapper {
  display: none;
}
/* line 706, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .form-type-checkbox {
  float: left;
}
/* line 709, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .form-type-checkbox .error {
  outline: 1px solid #f44336;
  width: auto;
}
/* line 715, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .filter-help {
  padding: 0;
  float: none;
  text-align: center;
}
/* line 721, ../sass/general.scss */
.section-node-add .node-forum_discussion-form input {
  max-width: 100%;
}
/* line 725, ../sass/general.scss */
.section-node-add .node-forum_discussion-form .form-action {
  margin-top: 0.5em;
}

/*fourm page text*/
/* line 737, ../sass/general.scss */
.page-node-221561 .posts-columns.columns-full .row .forum-text .forum-right, .node-type-forum-discussion .posts-columns.columns-full .row .forum-text .forum-right {
  clear: inherit;
}

@media (max-width: 767px) {
  /* line 748, ../sass/general.scss */
  .page-search-gss .tabs li {
    margin-bottom: 10px;
    display: block;
    clear: both;
  }
}
@media (max-width: 767px) {
  /* line 758, ../sass/general.scss */
  .page-search-gss .search-form input[type=submit] {
    width: 92%;
    max-width: inherit;
    margin: 0 4%;
  }
}
/* line 766, ../sass/general.scss */
.page-search-gss .item-list .pager li {
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 778, ../sass/general.scss */
  .google-search-results.posts-columns.columns-full .views-row .forum-text .forum-left .image-holder {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
/* line 789, ../sass/general.scss */
.google-search-results .gss-search-url {
  word-wrap: break-word;
}

/* node-type-page  */
@media (max-width: 767px) {
  /* line 796, ../sass/general.scss */
  .node-type-page #main {
    max-width: 90%;
    margin-top: 16px;
  }
}

/* line 804, ../sass/general.scss */
#comment-body-add-more-wrapper .filter-wrapper {
  display: none;
}

/* line 808, ../sass/general.scss */
.show_mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 808, ../sass/general.scss */
  .show_mobile {
    display: inherit;
  }
}

@media (max-width: 767px) {
  /* line 821, ../sass/general.scss */
  .logged-in #block-system-user-menu ul li a {
    font-size: 0;
  }
  /* line 824, ../sass/general.scss */
  .logged-in #block-system-user-menu ul li a img {
    margin-left: -44px;
    margin-top: -10px;
  }
}
@media (max-width: 767px) {
  /* line 837, ../sass/general.scss */
  .logged-in #block-system-user-menu ul li.last a {
    font-size: initial;
  }
}
@media (max-width: 480px) {
  /* line 848, ../sass/general.scss */
  .logged-in #block-system-user-menu ul li.last a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  /* line 858, ../sass/general.scss */
  .right-info a.school-opener,
  .top-bar a {
    font-size: 12px;
  }
}

/* line 866, ../sass/general.scss */
.img-holder {
  position: relative;
}
/* line 869, ../sass/general.scss */
.img-holder img {
  width: 100%;
  height: auto;
}

/* line 876, ../sass/general.scss */
.visual .img-holder img {
  width: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 881, ../sass/general.scss */
  .posts-columns h2,
  .posts-columns h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

/* line 891, ../sass/general.scss */
.sort-block .forum-page .form-item-search-community {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 889, ../sass/general.scss */
  .sort-block {
    padding: 36px;
  }
  /* line 899, ../sass/general.scss */
  .sort-block .filterbutton {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  /* line 907, ../sass/general.scss */
  .forum-right h3 {
    clear: both;
  }
}

@media (max-width: 380px) {
  /* line 915, ../sass/general.scss */
  article.node-223806 .field-name-body {
    padding: 31px;
  }
}

@media (max-width: 767px) {
  /* line 921, ../sass/general.scss */
  .page-user #sidebar ul {
    float: none;
  }
}

/* fixed this one all mobiel view scrolling */
/* line 928, ../sass/general.scss */
.nav-holder {
  position: fixed;
}

/* line 932, ../sass/general.scss */
.nav-active {
  overflow-x: hidden;
}
/* line 936, ../sass/general.scss */
.nav-active .nav-holder {
  position: absolute;
  padding-top: 0px;
  margin-top: 34px;
}
@media (max-width: 767px) {
  /* line 936, ../sass/general.scss */
  .nav-active .nav-holder {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  /* line 952, ../sass/general.scss */
  div.ctools-modal-content .modal-content {
    padding: 19px 19px 13px 25px;
  }

  /* line 956, ../sass/general.scss */
  .popups-container input[type="email"], .popups-container input[type="text"], .popups-container .select, .popups-container input[type="password"] {
    width: 100%;
  }

  /* line 960, ../sass/general.scss */
  .popups-container input[type="email"], .popups-container input[type="text"], .popups-container .select, .popups-container input[type="password"] {
    padding: 10px 16px;
    font-size: 16px;
  }

  /* line 965, ../sass/general.scss */
  .hybridauth-widget-wrapper {
    clear: both;
    width: 80%;
    padding-left: 10px;
  }

  /* line 971, ../sass/general.scss */
  .popups-container input[type="submit"] {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
  }

  /* line 977, ../sass/general.scss */
  div.ctools-modal-content #user-register-form, div.ctools-modal-content #user-login {
    width: 100%;
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  /* line 987, ../sass/general.scss */
  .node-type-forum-discussion .posts-columns {
    padding-top: 0;
  }
  /* line 991, ../sass/general.scss */
  .node-type-forum-discussion .footer .btn {
    margin-top: 1em;
  }
  /* line 995, ../sass/general.scss */
  .node-type-forum-discussion .forumpage_title {
    padding: 0 8px;
  }
  /* line 999, ../sass/general.scss */
  .node-type-forum-discussion .view-comments {
    padding: 0 8px;
  }
  /* line 1003, ../sass/general.scss */
  .node-type-forum-discussion .comment-list ul.comment-listing li .comment-left img {
    max-width: 58px;
  }
  /* line 1007, ../sass/general.scss */
  .node-type-forum-discussion .comment-list ul.comment-listing li .comment-right {
    margin: 0 0 27px 98px;
  }
  /* line 1011, ../sass/general.scss */
  .node-type-forum-discussion .comment-list ul.comment-listing li .comment-left {
    width: 85px;
  }
}

/* line 1021, ../sass/general.scss */
.privatemsg-author-avatar img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
}

/* line 1029, ../sass/general.scss */
.privatemsg-message-body img {
  max-width: 100%;
}

/* line 1034, ../sass/general.scss */
.privatemsg-message-actions li {
  display: inline;
  padding-right: 1em;
}

/* line 1040, ../sass/general.scss */
.user-picture img {
  width: 100%;
  max-width: 130px;
}

/* line 1047, ../sass/general.scss */
#privatemsg-new input.form-text {
  max-width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  box-shadow: inset 1px 1px 2px #707070;
  margin-bottom: 1em;
  padding: 12px 23px;
  color: #383c40;
}
@media (max-width: 767px) {
  /* line 1047, ../sass/general.scss */
  #privatemsg-new input.form-text {
    width: 100%;
  }
}
/* line 1067, ../sass/general.scss */
#privatemsg-new .form-text.required.form-autocomplete {
  background-image: none;
}
/* line 1071, ../sass/general.scss */
#privatemsg-new #edit-body-format {
  display: none;
}
/* line 1076, ../sass/general.scss */
#privatemsg-new .form-item-recipient label {
  display: block;
}
/* line 1080, ../sass/general.scss */
#privatemsg-new .form-item-recipient .form-element {
  float: left;
}

/* line 1087, ../sass/general.scss */
.cke_skin_kama.cke_1.cke_editor_edit-body-value,
#cke_edit-body-value {
  max-width: 100%;
}

/* line 1092, ../sass/general.scss */
.cke_button {
  float: left !important;
}

/* line 1099, ../sass/general.scss */
.section-community-champions-forum section#content-area {
  padding: 6px;
}

/* line 1104, ../sass/general.scss */
.section-community-champions-forum header .user-picture img,
.section-forums header .user-picture img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1111, ../sass/general.scss */
#slider-container .webform-client-form-74676 {
  width: 100%;
}
/* line 1116, ../sass/general.scss */
#slider-container .webform-client-form-74676 .home_forum_share_left div iframe {
  width: 98px;
  float: left;
  height: 20px;
}
/* line 1121, ../sass/general.scss */
#slider-container .webform-client-form-74676 .home_forum_share_left div iframe:first-child {
  width: 51px;
  height: 21px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  /* line 1116, ../sass/general.scss */
  #slider-container .webform-client-form-74676 .home_forum_share_left div iframe {
    float: none;
  }
}
/* line 1135, ../sass/general.scss */
#slider-container .webform-client-form-74676 .home_forum_share_right img {
  width: 80%;
  margin-left: 10%;
}
@media (max-width: 767px) {
  /* line 1135, ../sass/general.scss */
  #slider-container .webform-client-form-74676 .home_forum_share_right img {
    width: 100%;
    margin-left: 0;
  }
}

/* line 1150, ../sass/general.scss */
.section-topics .posts-columns.columns-full .row .footer {
  padding-left: 22px;
}

/* line 1158, ../sass/general.scss */
.my-voice-home #content_top .my-voice-columns a.tooltips span.tooltip-content, .node-type-basic-page-with-hero #content_top .my-voice-columns a.tooltips span.tooltip-content {
  left: -103px;
  bottom: 60px;
}

/* line 1165, ../sass/general.scss */
.node-type-article #comments {
  width: 100%;
}
/* line 1170, ../sass/general.scss */
.node-type-article .comment-listing .flag-wrapper {
  font-size: 13px;
}
/* line 1174, ../sass/general.scss */
.node-type-article .comment-listing time {
  max-width: 130px;
  float: left;
}
/* line 1179, ../sass/general.scss */
.node-type-article .comment-listing time time {
  margin-bottom: 0;
}
/* line 1183, ../sass/general.scss */
.node-type-article .comment-listing time a {
  display: block;
}
/* line 1189, ../sass/general.scss */
.node-type-article .comment-listing .comment-left img {
  width: 60px;
}
/* line 1194, ../sass/general.scss */
.node-type-article .comment-listing .comment-right {
  padding: 20px;
}
/* line 1197, ../sass/general.scss */
.node-type-article .comment-listing .comment-right .links {
  clear: both;
}
/* line 1202, ../sass/general.scss */
.node-type-article .comment-listing > li {
  margin-top: 15px;
  float: left;
  position: relative;
  width: 100%;
}

/* line 1212, ../sass/general.scss */
.node-type-my-voice-blog .article-info .flag-bookmarks:first-child {
  padding-left: 0;
}
/* line 1216, ../sass/general.scss */
.node-type-my-voice-blog #main2 .article-left .article-left-holder .article-info cite a {
  margin-top: 0.5em;
}
/* line 1219, ../sass/general.scss */
.node-type-my-voice-blog #main2 .article-left .article-left-holder .article-info cite a:after {
  background-image: none;
}

/* line 1225, ../sass/general.scss */
.blog-author {
  font-weight: bold;
}

/* line 1231, ../sass/general.scss */
.calendar-calendar td.has-events a {
  color: #c63502;
}
/* line 1235, ../sass/general.scss */
.calendar-calendar .month-view .full td .inner div.day {
  width: 100%;
}

/* line 1241, ../sass/general.scss */
.profile a {
  clear: both;
}

/* line 1246, ../sass/general.scss */
a.masquerade-switch {
  display: block;
}

/* line 1251, ../sass/general.scss */
#edit-webform-ajax-yes-i-am-74666, #webform-client-form-74666 a.btn#not_right_now, #webform-client-form-74621 .webform-submit, #webform-client-form-74601 .webform-submit {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 102px -254px;
  padding-left: 24px;
  padding-right: 58px;
}
@media (max-width: 990px) {
  /* line 1251, ../sass/general.scss */
  #edit-webform-ajax-yes-i-am-74666, #webform-client-form-74666 a.btn#not_right_now, #webform-client-form-74621 .webform-submit, #webform-client-form-74601 .webform-submit {
    padding-left: 14px;
    padding-right: 38px;
    background-position-x: 87px;
  }
}
@media (max-width: 767px) {
  /* line 1251, ../sass/general.scss */
  #edit-webform-ajax-yes-i-am-74666, #webform-client-form-74666 a.btn#not_right_now, #webform-client-form-74621 .webform-submit, #webform-client-form-74601 .webform-submit {
    background-image: none;
    padding: 8px 16px;
  }
}

/* line 1271, ../sass/general.scss */
#webform-client-form-74666 a.btn#not_right_now {
  background-position: 143px -254px;
}
@media (max-width: 990px) {
  /* line 1271, ../sass/general.scss */
  #webform-client-form-74666 a.btn#not_right_now {
    background-position-x: 129px;
  }
}

/* line 1279, ../sass/general.scss */
#webform-client-form-74621 .webform-submit,
#webform-client-form-74601 .webform-submit {
  background-position: 120px -256px;
}
@media (max-width: 990px) {
  /* line 1279, ../sass/general.scss */
  #webform-client-form-74621 .webform-submit,
  #webform-client-form-74601 .webform-submit {
    background-position-x: 97px;
  }
}
@media (max-width: 767px) {
  /* line 1279, ../sass/general.scss */
  #webform-client-form-74621 .webform-submit,
  #webform-client-form-74601 .webform-submit {
    width: 100%;
  }
}

/* line 1293, ../sass/general.scss */
.page-node-edit #content-header .title {
  display: block;
}

/* line 1299, ../sass/general.scss */
.page-node-74571 #content-area {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  /* line 1303, ../sass/general.scss */
  .page-node-74571 #content_bottom {
    padding-left: 0px;
  }
}

/* line 1311, ../sass/general.scss */
.img-holder .video-icon:before {
  cursor: pointer;
}
/* line 1316, ../sass/general.scss */
.img-holder .video-icon:hover:before {
  opacity: 0.8;
}

@media print {
  /* line 1323, ../sass/general.scss */
  img, #header, .top-bar, #admin-toolbar, .media-youtube-video, .comment-block, #comments, .messages, #skip-link, .top-header {
    display: none !important;
  }

  /* line 1327, ../sass/general.scss */
  .top-header, .nav-holder, #content_bottom, #social, .action-block, #footer, .top-bar, .right-info, .tabs, .topic-share, .btn {
    display: none;
  }

  /* line 1331, ../sass/general.scss */
  .img-holder, .visual, .visual img {
    display: block !important;
  }

  /* line 1335, ../sass/general.scss */
  #main2 .article {
    width: 100%;
  }

  /* line 1339, ../sass/general.scss */
  #header .header-top {
    background: none;
    box-shadow: inherit;
    top: 0;
    position: static !important;
  }

  /* line 1346, ../sass/general.scss */
  .node-type-article #wrapper, .node-type-my-voice-blog #wrapper, .node-type-school-values #wrapper, .tabs {
    background: none;
    margin-top: 0;
  }

  /* line 1351, ../sass/general.scss */
  * {
    padding: 0;
    margin: 0;
    color: #000;
  }

  /* line 1357, ../sass/general.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
  }
}
/* line 1365, ../sass/general.scss */
.view-display-id-voices_from_the_spectrum_page .my-voice-post .img-holder {
  float: left;
}

/* line 1373, ../sass/general.scss */
.view-display-id-stream_topic_page .views-row .views-field-field-video-author {
  display: none;
}
/* line 1378, ../sass/general.scss */
.view-display-id-stream_topic_page .views-row .img-holder .field-content {
  float: right;
}

/* line 1385, ../sass/general.scss */
iframe {
  position: relative;
}

/* line 1390, ../sass/general.scss */
.node-type-event, .node-type-course, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns {
  background: white;
}
/* line 1393, ../sass/general.scss */
.node-type-event #wrapper, .node-type-course #wrapper, .node-type-volunteer #wrapper, .node-type-newsletter #wrapper, .node-type-campaigns #wrapper {
  height: auto;
  background: white;
}
/* line 1400, ../sass/general.scss */
.node-type-event #wrapper .header_banner .img-holder .caption-text-titles span, .node-type-course #wrapper .header_banner .img-holder .caption-text-titles span, .node-type-volunteer #wrapper .header_banner .img-holder .caption-text-titles span, .node-type-newsletter #wrapper .header_banner .img-holder .caption-text-titles span, .node-type-campaigns #wrapper .header_banner .img-holder .caption-text-titles span {
  display: inline-block;
}
/* line 1403, ../sass/general.scss */
.node-type-event #wrapper .header_banner .img-holder .caption-text-titles span h1.title, .node-type-course #wrapper .header_banner .img-holder .caption-text-titles span h1.title, .node-type-volunteer #wrapper .header_banner .img-holder .caption-text-titles span h1.title, .node-type-newsletter #wrapper .header_banner .img-holder .caption-text-titles span h1.title, .node-type-campaigns #wrapper .header_banner .img-holder .caption-text-titles span h1.title {
  margin-bottom: 0;
}
/* line 1412, ../sass/general.scss */
.node-type-event #main, .node-type-course #main, .node-type-volunteer #main, .node-type-newsletter #main, .node-type-campaigns #main {
  padding-top: 0;
}
/* line 1415, ../sass/general.scss */
.node-type-event #main #content-area, .node-type-course #main #content-area, .node-type-volunteer #main #content-area, .node-type-newsletter #main #content-area, .node-type-campaigns #main #content-area {
  padding: 0 20px 20px 20px;
}

/* line 1422, ../sass/general.scss */
.share-your-story-webform {
  padding-bottom: 40px;
}
/* line 1425, ../sass/general.scss */
.share-your-story-webform .form-textarea-wrapper {
  width: 80%;
}

/* line 1432, ../sass/general.scss */
.share-your-story-card .author {
  float: right;
  padding-right: 50px;
}
/* line 1437, ../sass/general.scss */
.share-your-story-card .content {
  width: 80%;
}
