/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 8, ../sass/issue-fixing.scss */
.action-block .holder .region .block-main > div {
  float: right;
}
/* line 10, ../sass/issue-fixing.scss */
.action-block .holder .region .block-main > div:first-child {
  float: left;
  margin-right: 30px;
}

/* line 22, ../sass/issue-fixing.scss */
.region-services .btn {
  font-family: "HelveticaNeueW01-55Roma", Helvetica, Tahoma, Verdana, Arial, sans-serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 30, ../sass/issue-fixing.scss */
  .front .form-item p:nth-child(2) {
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 1320px) {
  /* line 42, ../sass/issue-fixing.scss */
  .front #block-block-26.caption-text .caption-text-titles .caption-text-title {
    line-height: 66px;
  }
}
@media (max-width: 1118px) {
  /* line 42, ../sass/issue-fixing.scss */
  .front #block-block-26.caption-text .caption-text-titles .caption-text-title {
    line-height: 22px;
  }
}
/* line 52, ../sass/issue-fixing.scss */
.front .slider-block {
  z-index: 998;
  position: relative;
}
/* line 57, ../sass/issue-fixing.scss */
.front .slider-block .block {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 103, ../sass/issue-fixing.scss */
.front .slider-block .r-s-arrow a {
  text-decoration: none;
}
/* line 108, ../sass/issue-fixing.scss */
.front .slider-block .l-s-arrow a {
  text-decoration: none;
}
/* line 113, ../sass/issue-fixing.scss */
.front .slider-block a.btn-left {
  margin-right: 10px;
}
/* line 116, ../sass/issue-fixing.scss */
.front .slider-block a.btn {
  padding: 11px 25px;
}
/* line 119, ../sass/issue-fixing.scss */
.front .slider-block a.btn-right {
  position: relative;
  right: 9px;
}
@media (max-width: 767px) {
  /* line 119, ../sass/issue-fixing.scss */
  .front .slider-block a.btn-right {
    right: 0;
  }
}
@media (max-width: 767px) {
  /* line 132, ../sass/issue-fixing.scss */
  .front .slider-block {
    margin-top: -160px;
  }
  /* line 136, ../sass/issue-fixing.scss */
  .front .slider-container .signup-columns .col {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* line 142, ../sass/issue-fixing.scss */
  .front .slider-container .signup-columns .col input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 147, ../sass/issue-fixing.scss */
  .front .slider-block .block {
    padding: 10px 15px 85px;
    margin-bottom: 38px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  /* line 153, ../sass/issue-fixing.scss */
  .front .slider-block .block .slider-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 153, ../sass/issue-fixing.scss */
  .front .slider-block .block .slider-container {
    width: auto;
  }
}
@media (max-width: 767px) {
  /* line 161, ../sass/issue-fixing.scss */
  .front .slider-block .holder .block-close {
    margin-left: -42px;
  }
}
/* line 168, ../sass/issue-fixing.scss */
.front #main.no-form {
  margin-top: 50px;
}
@media (max-width: 767px) {
  /* line 168, ../sass/issue-fixing.scss */
  .front #main.no-form {
    margin-top: 0;
  }
}
/* line 177, ../sass/issue-fixing.scss */
.front .visual {
  max-height: none;
}
@media (max-width: 767px) {
  /* line 181, ../sass/issue-fixing.scss */
  .front .visual .holder {
    position: relative;
    top: -10px;
  }
}
/* line 187, ../sass/issue-fixing.scss */
.front .visual .img-holder {
  max-height: 825px;
}
@media (max-width: 767px) {
  /* line 190, ../sass/issue-fixing.scss */
  .front .visual .img-holder .caption-frame .caption {
    padding: 60px 0 0;
  }
}
@media (min-width: 767px) {
  /* line 190, ../sass/issue-fixing.scss */
  .front .visual .img-holder .caption-frame .caption {
    padding: 80px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 206, ../sass/issue-fixing.scss */
  .front .visual .img-holder .caption-frame .caption .title {
    right: 0;
  }
}
@media (max-width: 767px) {
  /* line 213, ../sass/issue-fixing.scss */
  .front .social-block {
    background: transparent;
  }
}
@media (max-width: 767px) {
  /* line 219, ../sass/issue-fixing.scss */
  .front .social-block .holder {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  /* line 226, ../sass/issue-fixing.scss */
  .front .social-block .block {
    padding: 0px 0 45px;
    background: transparent;
  }
  /* line 231, ../sass/issue-fixing.scss */
  .front .social-block .block .member-count {
    margin: -10px 0 40px;
  }
}
@media (max-width: 767px) {
  /* line 253, ../sass/issue-fixing.scss */
  .front .social-block h1 {
    background: transparent;
    padding: 0 0 6px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  /* line 261, ../sass/issue-fixing.scss */
  .front .social-block h3 {
    margin-bottom: 15px;
  }
}
@media (min-width: 767px) {
  /* line 268, ../sass/issue-fixing.scss */
  .front .action-block {
    margin-top: 66px;
  }
}
@media (max-width: 767px) {
  /* line 273, ../sass/issue-fixing.scss */
  .front .action-block .holder {
    padding: 50px 15px 0;
  }
}
/* line 285, ../sass/issue-fixing.scss */
.front .articles-block h4 a {
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 291, ../sass/issue-fixing.scss */
  .front .articles-block .views-row-2 .img-holder,
  .front .articles-block .views-row-3 .img-holder {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 298, ../sass/issue-fixing.scss */
  .front .articles-block .views-row-last {
    margin-bottom: 10px;
  }
}

/* line 318, ../sass/issue-fixing.scss */
#footer .social-holder {
  margin: -13px 0 30px;
}
@media (max-width: 767px) {
  /* line 318, ../sass/issue-fixing.scss */
  #footer .social-holder {
    margin: -210px 0 0 0;
  }
}
@media (max-width: 767px) {
  /* line 324, ../sass/issue-fixing.scss */
  #footer .block.last.even {
    margin-top: 177px;
  }
}
@media (max-width: 767px) {
  /* line 329, ../sass/issue-fixing.scss */
  #footer .region.region-footer-right {
    margin-top: 45px;
  }
}

/* line 339, ../sass/issue-fixing.scss */
.node-type-forum-discussion .comment-list ul.comment-listing li .comment-right {
  width: auto;
  float: none;
}
/* line 342, ../sass/issue-fixing.scss */
.node-type-forum-discussion .comment-list ul.comment-listing li .comment-right .topic-share {
  float: none;
  display: block;
  padding-bottom: 60px;
}
/* line 346, ../sass/issue-fixing.scss */
.node-type-forum-discussion .comment-list ul.comment-listing li .comment-right .topic-share .stButton {
  float: left;
}

/* line 353, ../sass/issue-fixing.scss */
.comment-block .topic-share {
  float: none;
  display: block;
  padding-bottom: 60px;
}
/* line 357, ../sass/issue-fixing.scss */
.comment-block .topic-share .stButton {
  float: left;
}

/* line 367, ../sass/issue-fixing.scss */
.page-node-74596 .header-top .logo img {
  max-height: 50px;
  width: auto;
}

/* line 376, ../sass/issue-fixing.scss */
.block-easy-breadcrumb {
  z-index: 998;
  outline: none;
  position: relative;
}

/* line 381, ../sass/issue-fixing.scss */
.icon-Google:before {
  content: "\e606";
}

@media (max-width: 767px) {
  /* line 387, ../sass/issue-fixing.scss */
  #content_bottom {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 396, ../sass/issue-fixing.scss */
.understanding-autism .views-submit-button #edit-submit-stream {
  display: none;
}

/* line 403, ../sass/issue-fixing.scss */
.node-type-my-voice-topic .understanding-autism .btn {
  padding: 6px 19px;
}
/* line 407, ../sass/issue-fixing.scss */
.node-type-my-voice-topic .understanding-autism .views-submit-button #edit-submit-stream {
  display: inherit;
}

@media (max-width: 990px) {
  /* line 415, ../sass/issue-fixing.scss */
  .front .slider-container {
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 420, ../sass/issue-fixing.scss */
  .front .slider-block {
    margin-top: 0;
    top: -30px;
    margin-top: -130px;
  }
}
@media (max-width: 990px) {
  /* line 427, ../sass/issue-fixing.scss */
  .front .slider-block .block .slider-container {
    margin: 0 30px;
  }
}
@media (max-width: 990px) {
  /* line 432, ../sass/issue-fixing.scss */
  .front .slider-block .block {
    padding-bottom: 40px;
  }
}

/* line 439, ../sass/issue-fixing.scss */
.page-node-74566 .header_banner .banner_sub_text {
  margin: 0 0 0 203px;
}

/* line 443, ../sass/issue-fixing.scss */
.header_banner {
  z-index: 0;
}

/* line 454, ../sass/issue-fixing.scss */
.page-node-74606 .header_image #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb, .section-current-vacancies .header_image #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb, .section-current-vacancies #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb {
  display: none;
}

@media (min-width: 1080px) {
  /* line 464, ../sass/issue-fixing.scss */
  .page-node-74566 .st_sharethis_button .stButton {
    padding: 6px 28px;
  }
}
@media (min-width: 1080px) {
  /* line 471, ../sass/issue-fixing.scss */
  .page-node-74566 .sort-block .btn {
    padding-left: 38px;
    padding-right: 38px;
  }
}

/* line 482, ../sass/issue-fixing.scss */
.posts-columns.list-view .post .info.add h3 {
  margin: -10px 0 42px;
}

/* line 486, ../sass/issue-fixing.scss */
.voice-holder {
  display: none;
}
/* line 488, ../sass/issue-fixing.scss */
.voice-holder.voice-my_voice_topic {
  display: inherit;
}

/* line 498, ../sass/issue-fixing.scss */
.section-voices-spectrum .region-image-holder .block-easy-breadcrumb {
  display: none;
}

/* line 506, ../sass/issue-fixing.scss */
.search-text .icon-search {
  position: absolute;
  right: 10px;
  font-size: 24px;
  top: 10px;
}

/* line 514, ../sass/issue-fixing.scss */
.description {
  float: left;
  width: 50px;
  position: relative;
}
/* line 518, ../sass/issue-fixing.scss */
.description a {
  float: left;
  width: 50px;
  position: relative;
}

/* line 526, ../sass/issue-fixing.scss */
.profile-main #user-profile-form .description {
  width: auto;
  max-width: 530px;
  float: left;
}
/* line 531, ../sass/issue-fixing.scss */
.profile-main #user-profile-form fieldset {
  padding-left: 0;
  padding-right: 0;
}
/* line 535, ../sass/issue-fixing.scss */
.profile-main #user-profile-form label {
  position: static;
}
/* line 538, ../sass/issue-fixing.scss */
.profile-main #user-profile-form .field-type-text-long {
  max-width: 520px;
}
/* line 541, ../sass/issue-fixing.scss */
.profile-main #user-profile-form .password-strength {
  float: none;
  margin-bottom: 20px;
  width: 100%;
  max-width: 530px;
}
/* line 547, ../sass/issue-fixing.scss */
.profile-main #user-profile-form input[type=password] {
  width: 100%;
  max-width: 530px;
}
/* line 551, ../sass/issue-fixing.scss */
.profile-main #user-profile-form .form-type-password.form-item-pass-pass2 {
  width: 100%;
  max-width: 590px;
}
/* line 556, ../sass/issue-fixing.scss */
.profile-main #user-profile-form .field-name-field-type-of-user fieldset {
  float: left;
  width: 100%;
}

/* line 566, ../sass/issue-fixing.scss */
.profile-main #user-register-form label {
  top: 17px;
}

/* line 571, ../sass/issue-fixing.scss */
#modal-content .tooltip-content {
  bottom: inherit;
  left: -252px;
  top: 0;
  height: auto;
}
/* line 578, ../sass/issue-fixing.scss */
#modal-content a.tooltips span.tooltip-content:before {
  border-left: 20px solid #F6BF4F;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  /* IE 9 */
  -webkit-transform: rotate(-136deg);
  /* Chrome, Safari, Opera */
  left: 94%;
  top: 6px;
  margin-left: -13px;
}
/* line 589, ../sass/issue-fixing.scss */
#modal-content a.tooltips span.tooltip-content:after {
  border-left: 19px solid #FFF8E7;
  border-right: 19px solid transparent;
  border-top: 18px solid transparent;
  transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  /* IE 9 */
  -webkit-transform: rotate(-136deg);
  /* Chrome, Safari, Opera */
  left: 94%;
  top: 7px;
  margin-left: -12px;
}

/* line 604, ../sass/issue-fixing.scss */
#user-register-form div.ctools-modal-content .modal-content {
  min-width: 100%;
}
/* line 607, ../sass/issue-fixing.scss */
#user-register-form .popups-container input[type="password"] {
  width: 88%;
}
/* line 612, ../sass/issue-fixing.scss */
#user-register-form .form-type-password-confirm {
  margin-top: 40px;
}
/* line 614, ../sass/issue-fixing.scss */
#user-register-form .form-type-password-confirm .password-strength {
  width: 92%;
  float: left;
  margin-top: -55px;
}
/* line 621, ../sass/issue-fixing.scss */
#user-register-form .password-strength {
  width: 92%;
  float: left;
  margin-top: -36px;
}
/* line 626, ../sass/issue-fixing.scss */
#user-register-form .form-type-password.form-item-pass-pass2 {
  width: 67%;
}
/* line 628, ../sass/issue-fixing.scss */
#user-register-form .form-type-password.form-item-pass-pass2 input[type=password] {
  width: 100%;
}
/* line 632, ../sass/issue-fixing.scss */
#user-register-form input[type=password] {
  width: 91%;
}
/* line 635, ../sass/issue-fixing.scss */
#user-register-form .form-type-password-confirm form-item-pass {
  margin-top: 20px;
}
/* line 638, ../sass/issue-fixing.scss */
#user-register-form .form-item {
  padding-left: 0;
  padding-right: 0;
}
/* line 642, ../sass/issue-fixing.scss */
#user-register-form #edit-pass-pass1 {
  width: 92%;
}

/* line 646, ../sass/issue-fixing.scss */
#user-pass label {
  display: none;
  visibility: hidden;
}

/* line 652, ../sass/issue-fixing.scss */
#slider-container form .description {
  width: 15px;
  margin-left: 7px;
  margin-top: 5px;
}
/* line 657, ../sass/issue-fixing.scss */
#slider-container form h2 {
  margin-bottom: 21px;
}

/* line 663, ../sass/issue-fixing.scss */
#webform-ajax-wrapper-74666 p.larger {
  margin-top: 16px;
  line-height: 34px;
  margin-bottom: 24px;
}

/* line 671, ../sass/issue-fixing.scss */
#webform-client-form-74676 h3, #webform-client-form-74676 h2 {
  font-size: 35px;
  padding-right: 26px;
  line-height: 45px;
  margin-top: 11px;
  margin-bottom: 20px;
}
/* line 680, ../sass/issue-fixing.scss */
#webform-client-form-74676 .home_forum_share .home_forum_share_left p {
  margin-right: 0;
}
/* line 684, ../sass/issue-fixing.scss */
#webform-client-form-74676 .home_forum_share .home_forum_share_right {
  margin-top: 24px;
}
@media (max-width: 767px) {
  /* line 684, ../sass/issue-fixing.scss */
  #webform-client-form-74676 .home_forum_share .home_forum_share_right {
    margin-top: 54px;
  }
}

/* line 692, ../sass/issue-fixing.scss */
#slider-container #webform-client-form-74681 h2 {
  font-size: 37px;
  margin-top: 9px;
  line-height: 44px;
  margin-bottom: 9px;
}

/* line 699, ../sass/issue-fixing.scss */
#webform-client-form-74681form h2 {
  font-size: 37px;
  margin-top: 9px;
  line-height: 44px;
  margin-bottom: 9px;
}
/* line 706, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--lend-your-support h5 {
  font-size: 18px;
  margin-top: -9px;
}
/* line 711, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--give-what-you-can {
  margin-left: 18px;
  width: 32%;
}
@media (max-width: 767px) {
  /* line 711, ../sass/issue-fixing.scss */
  #webform-client-form-74681 .webform-component--give-what-you-can {
    margin-left: auto;
    width: auto;
  }
}
/* line 718, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--give-what-you-can > label {
  font-size: 22px;
  line-height: 30px;
  margin-left: 10px;
  padding-top: 22px;
  display: block;
  padding-bottom: 6px;
}
@media (max-width: 767px) {
  /* line 718, ../sass/issue-fixing.scss */
  #webform-client-form-74681 .webform-component--give-what-you-can > label {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  /* line 729, ../sass/issue-fixing.scss */
  #webform-client-form-74681 .webform-component--give-what-you-can #edit-submitted-give-what-you-can {
    margin: 0 -30px 0 -11px;
    margin-bottom: 15px;
  }
}
/* line 734, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--give-what-you-can #edit-submitted-give-what-you-can label {
  font-size: 20px;
}
/* line 740, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help {
  width: 28%;
  margin-top: 22px;
}
@media (max-width: 767px) {
  /* line 740, ../sass/issue-fixing.scss */
  #webform-client-form-74681 .webform-component--other-ways-to-help {
    width: auto;
  }
}
/* line 746, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help h3 {
  font-size: 22px;
  margin-top: 3px;
}
/* line 750, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help a.btn {
  padding: 13px 22px;
}
/* line 753, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--other-ways-to-help label {
  font-size: 24px;
}
/* line 759, ../sass/issue-fixing.scss */
#webform-client-form-74681 .webform-component--lend-your-support p {
  line-height: 27px;
}

/* line 765, ../sass/issue-fixing.scss */
div.ctools-modal-content #user-register-form, div.ctools-modal-content #user-login {
  width: 114%;
  float: left;
}

/* line 770, ../sass/issue-fixing.scss */
div.ctools-modal-content .modal-content {
  overflow-x: hidden;
}

/* line 778, ../sass/issue-fixing.scss */
.not-logged-in #user-login input[type="password"], .not-logged-in #user-login input[type="text"] {
  background: none !important;
}

/* line 785, ../sass/issue-fixing.scss */
#webform-client-form-74666 label {
  position: absolute;
  left: 21px;
  top: 11px;
}
/* line 790, ../sass/issue-fixing.scss */
#webform-client-form-74666 .form-item {
  height: 65px;
}

/* line 795, ../sass/issue-fixing.scss */
#form input[type="text"]:focus {
  border-color: #fbb900;
}

/* line 800, ../sass/issue-fixing.scss */
body .view-display-id-stream_forum_page .icon-Featured, body .view-display-id-stream_forum_page .icon-Hottopic {
  display: none;
}
/* line 804, ../sass/issue-fixing.scss */
body .view-display-id-stream_forum_page .rowlessthen3 .icon-Featured {
  margin-right: 5px;
  display: inherit;
}
/* line 809, ../sass/issue-fixing.scss */
body .view-display-id-stream_forum_page .icon-Hottopic {
  margin-right: 70px;
}
/* line 813, ../sass/issue-fixing.scss */
body .view-display-id-stream_forum_page .show_hot .icon-Hottopic {
  display: inherit;
  margin-right: 70px;
}

/* line 822, ../sass/issue-fixing.scss */
.posts-columns .post .footer .num-holder a .text {
  display: none;
}

/* line 826, ../sass/issue-fixing.scss */
.posts-columns .post .footer .num-holder .hover a .text {
  display: block;
}

/* line 832, ../sass/issue-fixing.scss */
.section-share-your-story .block-webform {
  padding-bottom: 50px;
}
/* line 834, ../sass/issue-fixing.scss */
.section-share-your-story .block-webform label {
  left: 12px;
  top: 10px;
}
/* line 838, ../sass/issue-fixing.scss */
.section-share-your-story .block-webform .form-item {
  min-height: 70px;
}

/* line 844, ../sass/issue-fixing.scss */
html.js fieldset.collapsed {
  height: auto;
}

/* line 849, ../sass/issue-fixing.scss */
.page-messages .description {
  width: initial;
}

/* line 857, ../sass/issue-fixing.scss */
.section-current-vacancies .posts-columns {
  margin-top: 290px;
}
/* line 859, ../sass/issue-fixing.scss */
.section-current-vacancies .posts-columns .field_salary {
  margin-bottom: 20px;
}

/* line 866, ../sass/issue-fixing.scss */
.view-display-id-stream_forum_page fieldset {
  margin-right: 0;
}

/* line 871, ../sass/issue-fixing.scss */
article.node-223806 .field-name-body, article.node-223591 .field-name-body {
  padding: 40px 80px;
}

/* line 879, ../sass/issue-fixing.scss */
#modalContent #modal-title {
  font-size: 30px;
  text-align: center;
  padding: 14px;
  display: block;
}
/* line 885, ../sass/issue-fixing.scss */
#modalContent .popups-close.close {
  position: absolute;
  right: 11px;
  top: 12px;
}
/* line 890, ../sass/issue-fixing.scss */
#modalContent h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 1px;
  text-align: left;
}
/* line 896, ../sass/issue-fixing.scss */
#modalContent .hybridauth-widget li {
  margin: 0;
}
/* line 899, ../sass/issue-fixing.scss */
#modalContent .item-list {
  margin-left: 20px;
}

/* line 903, ../sass/issue-fixing.scss */
div.ctools-modal-content .modal-content {
  padding: 19px 19px 19px 49px;
}

/* line 907, ../sass/issue-fixing.scss */
.post-comments-0 {
  display: none;
}

/* line 913, ../sass/issue-fixing.scss */
#block-views-stream-my-voice-blog .view-filters .mobile-view {
  display: none;
}

/* line 916, ../sass/issue-fixing.scss */
.forumpage_title {
  font-size: 16px;
  margin-bottom: 30px;
}

/* line 921, ../sass/issue-fixing.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer {
  padding-left: 30px;
}
/* line 923, ../sass/issue-fixing.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer .flag_node {
  margin-right: 20px;
  float: left;
  width: 170px;
  margin-top: 6px;
}
/* line 929, ../sass/issue-fixing.scss */
.node-type-forum-discussion .posts-columns.columns-full .row .footer .flag-message {
  visibility: hidden;
}

/* line 933, ../sass/issue-fixing.scss */
.topic_section {
  float: left;
  width: 100%;
  margin-top: 15px;
}

/* line 940, ../sass/issue-fixing.scss */
#modalContent {
  z-index: 9999 !important;
}

/* line 944, ../sass/issue-fixing.scss */
.forum_list {
  float: left;
  margin-right: 5px;
}
/* line 947, ../sass/issue-fixing.scss */
.forum_list a, .forum_list span.flag-bookmarks, .forum_list .flag-bookmarks {
  font-size: 15px;
  font-weight: normal;
}

/* line 953, ../sass/issue-fixing.scss */
.flag_node .flag-bookmarks {
  font-size: 15px;
  font-weight: normal;
}

/* line 958, ../sass/issue-fixing.scss */
#modalBackdrop {
  z-index: 9999 !important;
}

/* line 962, ../sass/issue-fixing.scss */
.not-logged-in #user-login--2 .form-item label,
.not-logged-in #user-login .form-item label,
#user-register-form .form-item label {
  display: none !important;
}

/* line 970, ../sass/issue-fixing.scss */
.page-taxonomy.section-topics .forumpage_title {
  display: none;
}

/* line 974, ../sass/issue-fixing.scss */
fieldset.group-hidden {
  display: none;
}

/* line 978, ../sass/issue-fixing.scss */
.section-node-add #block-easy-breadcrumb-easy-breadcrumb, .section-node-add .vertical-tabs {
  display: none;
}
/* line 981, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form {
  background: white;
  padding: 1.5em;
  margin-bottom: 3em;
  border: 1px solid #d2d5d6;
  clear: both;
}
/* line 987, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form fieldset {
  float: none;
}
/* line 990, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .description {
  width: auto;
  float: none;
  clear: both;
}
/* line 995, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form label {
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  display: block;
}
/* line 1000, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form label.filter-help, .section-node-add .node-forum_discussion-form label.option {
  font-size: 1em;
  margin: 0;
  display: inline;
}
/* line 1003, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .form-item-title label {
  margin-top: 0;
}
/* line 1004, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .filter-guidelines {
  padding: 0;
}
/* line 1008, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .filter-wrapper {
  display: none;
}
/* line 1011, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .form-type-checkbox {
  float: left;
}
/* line 1014, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .filter-help {
  padding: 0;
  float: none;
  text-align: center;
}
/* line 1015, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form input {
  max-width: 100%;
}
/* line 1016, ../sass/issue-fixing.scss */
.section-node-add .node-forum_discussion-form .form-action {
  margin-top: 0.5em;
}

/*fourm page text*/
/* line 1026, ../sass/issue-fixing.scss */
.page-node-221561 .posts-columns.columns-full .row .forum-text .forum-right, .node-type-forum-discussion .posts-columns.columns-full .row .forum-text .forum-right {
  clear: inherit;
}

@media (max-width: 767px) {
  /* line 1038, ../sass/issue-fixing.scss */
  .page-search-gss .tabs li {
    margin-bottom: 10px;
    display: block;
    clear: both;
  }
}
@media (max-width: 767px) {
  /* line 1047, ../sass/issue-fixing.scss */
  .page-search-gss .search-form input[type=submit] {
    width: 92%;
    max-width: inherit;
    margin: 0 4%;
  }
}
/* line 1054, ../sass/issue-fixing.scss */
.page-search-gss .item-list .pager li {
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 1064, ../sass/issue-fixing.scss */
  .google-search-results.posts-columns.columns-full .views-row .forum-text .forum-left .image-holder {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
/* line 1073, ../sass/issue-fixing.scss */
.google-search-results .gss-search-url {
  word-wrap: break-word;
}

/* node-type-page  */
/* line 1082, ../sass/issue-fixing.scss */
.node-type-page .easy-breadcrumb {
  display: block;
}
@media (max-width: 767px) {
  /* line 1085, ../sass/issue-fixing.scss */
  .node-type-page #main {
    max-width: 91%;
    margin-top: 16px;
  }
}
