/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 21, ../../../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.11/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/styles.scss */
body {
  margin: 0;
  color: #383c40;
  background: #ffffff;
  font: 1.6em/1.562em "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* line 20, ../sass/styles.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 35, ../sass/styles.scss */
img {
  border-style: none;
}

/* line 39, ../sass/styles.scss */
a {
  outline: none;
  color: #c63502;
}
/* line 48, ../sass/styles.scss */
a:hover {
  color: #2a2e31;
}

/* line 53, ../sass/styles.scss */
input,
textarea,
select {
  font: 100% "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
  color: #d2d5d6;
  vertical-align: middle;
}

/* line 61, ../sass/styles.scss */
form,
fieldset {
  margin: 0;
  border-style: none;
}

/* line 69, ../sass/styles.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 75, ../sass/styles.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 84, ../sass/styles.scss */
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

/* line 89, ../sass/styles.scss */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  border: 1px solid #d2d5d6;
}
/* line 100, ../sass/styles.scss */
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  /*Border colour before*/
}

/* line 108, ../sass/styles.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 114, ../sass/styles.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 120, ../sass/styles.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 127, ../sass/styles.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 132, ../sass/styles.scss */
input[type=text]
, input[type=search]
, input[type=password]
, input[type=tel]
, input[type=email]
, input[type=file]
, textarea {
  -webkit-appearance: none;
}

/* line 142, ../sass/styles.scss */
input[type=submit]
, input[type=text]
, input[type=search]
, input[type=tel]
, input[type=password]
, input[type=email]
, input[type=file]
, textarea {
  outline: none;
}

/* line 153, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  margin: 0 0 1.2em;
  font-weight: bold;
}

/* line 162, ../sass/styles.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/styles.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/styles.scss */
sub {
  bottom: -0.25em;
}

/* line 178, ../sass/styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 185, ../sass/styles.scss */
.logo img {
  max-width: 100%;
}

/* line 191, ../sass/styles.scss */
.messages {
  position: inherit;
}
/* line 194, ../sass/styles.scss */
.messages .placeholder {
  text-decoration: underline;
}

/* line 199, ../sass/styles.scss */
.status {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  background: #2CAA55;
  color: #ffffff;
  margin-bottom: 10px;
}
/* line 207, ../sass/styles.scss */
.status p {
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
}

/* line 214, ../sass/styles.scss */
.warning {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  background: #fdfdc4;
  color: #222222;
  margin-bottom: 10px;
}

/* line 223, ../sass/styles.scss */
.error {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  background: #fef8fa;
  color: #ec0833;
  margin-bottom: 10px;
}

/* line 232, ../sass/styles.scss */
.easy-breadcrumb {
  text-align: right;
  color: #ffffff;
  letter-spacing: 0px;
}
/* line 239, ../sass/styles.scss */
.easy-breadcrumb a {
  color: #ffffff;
}
/* line 243, ../sass/styles.scss */
.easy-breadcrumb a:hover {
  text-decoration: none;
}
/* line 247, ../sass/styles.scss */
.easy-breadcrumb a:visited {
  color: #2a2e31;
}
@media (max-width: 767px) {
  /* line 232, ../sass/styles.scss */
  .easy-breadcrumb {
    display: none;
  }
}

/* line 257, ../sass/styles.scss */
.main-layout {
  background-color: #ffffff;
  padding: 1em;
  padding-bottom: 4em;
}

/* line 263, ../sass/styles.scss */
.field-name-field-salary
, .field-name-field-time-commitment
, .field-name-field-vacancy-location {
  font-weight: bold;
}

/* line 269, ../sass/styles.scss */
.field-name-field-standfirst
, .field-name-field-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 276, ../sass/styles.scss */
.field-type-text {
  font-family: "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
}

@media (min-width: 1080px) {
  /* line 282, ../sass/styles.scss */
  .node-type-page #content-area {
    /******************************************* 
    If you enable below two lines
    that have commented it will change the 
    content-area widhth two 80% by adding margin
    left and right.
    *******************************************/
    padding-bottom: 5em;
  }
}
@media (min-width: 1080px) {
  /* line 297, ../sass/styles.scss */
  .node-type-page.page-node-223451 #content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5em;
  }
}

/* line 308, ../sass/styles.scss */
.simple-list-item {
  border-bottom: 1px #d2d5d6 solid;
  margin-bottom: 2.5em;
}
/* line 312, ../sass/styles.scss */
.simple-list-item .image {
  display: none;
}
@media (min-width: 1080px) {
  /* line 318, ../sass/styles.scss */
  .simple-list-item.full-width h5, .simple-list-item.full-width p {
    width: 100%;
  }
  /* line 323, ../sass/styles.scss */
  .simple-list-item h5, .simple-list-item p {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
  }
  /* line 327, ../sass/styles.scss */
  .simple-list-item .image {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    display: block;
  }
  /* line 333, ../sass/styles.scss */
  .simple-list-item .clear {
    clear: both;
    height: 0;
  }
}

/* line 341, ../sass/styles.scss */
.messages--error {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  z-index: 9999;
  left: 0;
  font-size: 0.7em;
  padding: 1em;
  background: #f44336;
  color: #ffffff;
}
/* line 356, ../sass/styles.scss */
.messages--error a {
  color: #ffffff;
}
/* line 360, ../sass/styles.scss */
.messages--error h2, .messages--error ul, .messages--error p {
  max-width: 1080px;
  margin: 0 auto;
}

/* line 367, ../sass/styles.scss */
.maintenance-page #main #content-area {
  background: #ffffff;
  padding: 30px;
}

/* line 372, ../sass/styles.scss */
.flag-bookmarks {
  font-weight: bold;
  font-style: normal;
}

/* line 378, ../sass/styles.scss */
.flag_node .flag-bookmarks {
  font-weight: normal;
  font-style: normal;
}

/* line 385, ../sass/styles.scss */
.article-info .flag-bookmarks {
  float: left;
  padding: 0 2em;
}
/* line 390, ../sass/styles.scss */
.article-info .field-name-field-featured-author {
  float: left;
}

/* line 397, ../sass/styles.scss */
.node-type-basic-page-with-hero .easy-breadcrumb {
  padding-right: 8px;
}

/* line 403, ../sass/styles.scss */
.node-type-topic .easy-breadcrumb {
  padding-top: 45px;
}

/* line 409, ../sass/styles.scss */
.node-type-basic-page-with-hero-large .easy-breadcrumb {
  padding-right: 10px;
}

/* line 415, ../sass/styles.scss */
.node-type-my-voice-blog a {
  color: #e30087;
}
/* line 420, ../sass/styles.scss */
.node-type-my-voice-blog .easy-breadcrumb a {
  color: #ffffff;
}
/* line 423, ../sass/styles.scss */
.node-type-my-voice-blog .easy-breadcrumb a:hover {
  text-decoration: none;
}
/* line 427, ../sass/styles.scss */
.node-type-my-voice-blog .easy-breadcrumb a:visited {
  color: #2a2e31;
}

/* line 436, ../sass/styles.scss */
.node-type-my-voice-blog .nav-holder a, .page-node-224746 .nav-holder a {
  color: #000000;
}
/* line 439, ../sass/styles.scss */
.node-type-my-voice-blog .nav-holder a:hover, .page-node-224746 .nav-holder a:hover {
  color: #e30087;
}
/* line 445, ../sass/styles.scss */
.node-type-my-voice-blog .nav-holder p a, .page-node-224746 .nav-holder p a {
  color: #ffffff;
}
/* line 448, ../sass/styles.scss */
.node-type-my-voice-blog .nav-holder p a:hover, .page-node-224746 .nav-holder p a:hover {
  color: #ffffff;
}

/* line 458, ../sass/styles.scss */
.wysiwyg-right {
  display: inline;
  float: right;
}

/* line 465, ../sass/styles.scss */
.ckeditor_custom_class {
  min-width: 0px;
  background: #ffffff;
}

/* line 471, ../sass/styles.scss */
.view-hidden {
  display: none;
}

/* line 475, ../sass/styles.scss */
.view-visible {
  display: block;
}

/* line 479, ../sass/styles.scss */
.field-name-field-author {
  width: 300px;
  float: left;
}

/* line 487, ../sass/styles.scss */
.node-type-article .visual .img-holder img {
  width: 100%;
}

/* line 494, ../sass/styles.scss */
#edit-field-event-date-value-1-wrapper {
  margin-left: 28px;
}

/* line 498, ../sass/styles.scss */
#edit-search-field {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #383c40;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
  max-width: 200px;
}

/* line 514, ../sass/styles.scss */
.search-text.job-category {
  background-image: none !important;
}

/* line 519, ../sass/styles.scss */
#edit-search-job-vacancies {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #383c40;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
  max-width: 200px;
}

/* line 536, ../sass/styles.scss */
#search-form #edit-basic label {
  display: block !important;
}
/* line 541, ../sass/styles.scss */
#search-form #edit-basic .form-item:first-child {
  max-width: 300px;
  margin: 0px;
}
@media (max-width: 767px) {
  /* line 541, ../sass/styles.scss */
  #search-form #edit-basic .form-item:first-child {
    max-width: 100%;
  }
}
/* line 550, ../sass/styles.scss */
#search-form #edit-basic .form-item:first-child input {
  width: 100%;
}
/* line 559, ../sass/styles.scss */
#search-form .search-form.gss .container-inline label {
  display: block;
}
/* line 565, ../sass/styles.scss */
#search-form #edit-keys {
  border-radius: 5px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
}
/* line 575, ../sass/styles.scss */
#search-form #edit-submit {
  margin-top: 32px;
  margin-bottom: 30px;
  clear: right;
}
@media (max-width: 767px) {
  /* line 575, ../sass/styles.scss */
  #search-form #edit-submit {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
/* line 588, ../sass/styles.scss */
#search-form .course-result a img {
  max-width: 100%;
}

/* line 597, ../sass/styles.scss */
.page-search #content-area h2 {
  display: none;
}

/* line 604, ../sass/styles.scss */
.posts-columns .post {
  float: left;
}

/* line 611, ../sass/styles.scss */
.page-node-224851 #views-exposed-form-stream-block-1 .sort-block {
  /*padding-left: 139px;*/
}

/* line 618, ../sass/styles.scss */
.alert-messages {
  background: #c3104b;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
  display: inline-block;
  width: 100%;
  margin-bottom: -47px;
}
@media (max-width: 767px) {
  /* line 618, ../sass/styles.scss */
  .alert-messages {
    margin-top: 35px;
    font-size: 13px;
  }
}
/* line 636, ../sass/styles.scss */
.alert-messages .alert-holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 15px 0;
  position: relative;
}
/* line 643, ../sass/styles.scss */
.alert-messages p {
  color: #ffffff;
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
}
/* line 654, ../sass/styles.scss */
.alert-messages a {
  color: #ffffff;
}
/* line 658, ../sass/styles.scss */
.alert-messages .close {
  width: 6.77966%;
  float: right;
  margin-right: 0;
  position: absolute;
  right: 0;
}

/* line 666, ../sass/styles.scss */
.group-hidden {
  display: none;
}

/* line 670, ../sass/styles.scss */
.front .caption-text-titles .caption-text-title.caption-text-title-2 {
  margin-left: 0px !important;
}

/* line 674, ../sass/styles.scss */
.front #block-block-26 {
  display: none;
}

/* line 679, ../sass/styles.scss */
.front .caption-text .caption-text-titles {
  display: block;
  background-color: #ffffff;
  width: 900px;
  height: 206px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 767px) {
  /* line 679, ../sass/styles.scss */
  .front .caption-text .caption-text-titles {
    padding: 10px;
    width: 317px;
    height: 289px;
  }
}
/* line 694, ../sass/styles.scss */
.front .caption-text .caption-text-titles .caption-text-title span {
  padding: 0 0 0 56px !important;
}
@media (max-width: 767px) {
  /* line 694, ../sass/styles.scss */
  .front .caption-text .caption-text-titles .caption-text-title span {
    padding: 0 !important;
  }
}
/* line 702, ../sass/styles.scss */
.front .caption-text .caption-text-titles .caption-text-title-1 span {
  padding-top: 20px !important;
}
@media (max-width: 767px) {
  /* line 702, ../sass/styles.scss */
  .front .caption-text .caption-text-titles .caption-text-title-1 span {
    padding-top: 0px !important;
  }
}
/* line 711, ../sass/styles.scss */
.front .call-action-buttons {
  top: -124px;
  position: absolute;
  right: 17%;
}
@media (max-width: 767px) {
  /* line 711, ../sass/styles.scss */
  .front .call-action-buttons {
    top: 0px;
    right: 11%;
    margin-top: -50px;
  }
}
/* line 723, ../sass/styles.scss */
.front .visual .img-holder .region-image-holder {
  height: 65%;
}
@media (max-width: 767px) {
  /* line 723, ../sass/styles.scss */
  .front .visual .img-holder .region-image-holder {
    height: 100%;
  }
}
/* line 731, ../sass/styles.scss */
.front .visual .img-holder .caption-frame {
  top: 9% !important;
}
@media (max-width: 767px) {
  /* line 731, ../sass/styles.scss */
  .front .visual .img-holder .caption-frame {
    top: 17% !important;
  }
}
@media (max-width: 767px) {
  /* line 739, ../sass/styles.scss */
  .front .visual .holder {
    top: 0px !important;
  }
}
