/* line 3, ../sass/base/_markup-mixins.scss */
.visual .img-holder .caption-frame .caption .title.title-second span:after, .visual .slider-main .slider-box .slider-action:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../sass/base/_markup-mixins.scss */
.visual .img-holder .caption-frame .page-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
@media (max-width: 767px) {
  /* line 51, ../sass/visual.scss */
  .index-page .advanced-sort-block {
    display: none;
  }
}

/* visual block styles */
/* line 89, ../sass/visual.scss */
.visual {
  width: 100%;
  position: relative;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 117, ../sass/visual.scss */
.visual .img-holder {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 126, ../sass/visual.scss */
.visual .img-holder .region-image-holder {
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/* line 139, ../sass/visual.scss */
.myvoice .visual .img-holder {
  max-height: 30em;
}
/* line 143, ../sass/visual.scss */
.visual .img-holder img {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 143, ../sass/visual.scss */
  .visual .img-holder img {
    width: 130%;
  }
}
/* line 174, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption {
  padding: 44px 0 0;
}
/* line 177, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption h1 {
  margin: 0;
}
@media (max-width: 1180px) {
  /* line 174, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption {
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 174, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption {
    height: 100%;
    white-space: nowrap;
  }
  /* line 190, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption:after {
    content: '';
    display: inline-block;
    height: 100%;
    /* the same as min-height */
    width: 1px;
    overflow: hidden;
    margin: 0 0 0 -5px;
    vertical-align: middle;
  }
}
/* line 204, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title {
  display: inline-block;
  vertical-align: top;
  font-size: 66px;
  line-height: 75px;
  margin: 0 0 10px;
  font-weight: normal;
  width: 100%;
  color: #081318;
}
/* line 216, ../sass/visual.scss */
.page-school .visual .img-holder .caption-frame .caption .title {
  padding: 0 0 0 40px;
}
@media (max-width: 767px) {
  /* line 204, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title {
    padding: 0;
  }
}
/* line 225, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title span {
  background: #ffffff;
  padding: 18px 25px;
  display: inline-block;
}
/* line 231, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title.title-second {
  margin: 40px 0 10px;
}
@media (max-width: 990px) {
  /* line 231, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title.title-second {
    margin: 25px 0 0 10px;
  }
}
@media (max-width: 767px) {
  /* line 231, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title.title-second {
    margin: 10px 0 0 0px;
  }
  /* line 242, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title.title-second br {
    display: block;
  }
  /* line 246, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title.title-second span {
    padding: 2px 10px;
  }
}
/* line 257, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title .title-third {
  margin: 10px 0 0 188px;
}
@media (max-width: 990px) {
  /* line 257, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-third {
    margin: 10px 0 0 140px;
  }
}
@media (max-width: 767px) {
  /* line 257, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-third {
    margin-left: 0;
  }
  /* line 268, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-third span {
    padding: 2px 10px;
  }
}
/* line 274, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title .title-fourth {
  margin: 10px 0 0 188px;
}
@media (max-width: 990px) {
  /* line 274, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-fourth {
    margin: 10px 0 0 130px;
  }
}
@media (max-width: 767px) {
  /* line 274, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-fourth {
    margin-left: 0px;
  }
}
/* line 287, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .title .title-five {
  margin: 10px 0 0 180px;
}
@media (max-width: 990px) {
  /* line 287, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-five {
    margin: 10px 0 0 140px;
  }
}
@media (max-width: 767px) {
  /* line 287, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title .title-five {
    margin: 10px 0 0 10px;
  }
}
@media (max-width: 990px) {
  /* line 204, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title {
    font-size: 45px;
    line-height: 45px;
  }
  /* line 304, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title span {
    padding: 10px 15px;
  }
}
@media (max-width: 767px) {
  /* line 204, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title {
    font-size: 33px;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
  }
  /* line 317, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .title span {
    padding: 10px;
  }
}
/* line 323, ../sass/visual.scss */
.visual .img-holder .caption-frame .caption .text {
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  font-size: 28px;
  line-height: 35px;
  margin: 0 0 0 159px;
  padding: 19px 24px;
}
@media (max-width: 990px) {
  /* line 323, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .text {
    font-size: 23px;
    line-height: 27px;
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  /* line 323, ../sass/visual.scss */
  .visual .img-holder .caption-frame .caption .text {
    display: none;
  }
}
/* line 345, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links {
  letter-spacing: -4px;
  text-align: right;
  padding: 30px 12px 0 0;
}
@media (max-width: 767px) {
  /* line 345, ../sass/visual.scss */
  .visual .img-holder .caption-frame .page-links {
    display: none;
  }
}
/* line 358, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 0 3px 0 13px;
}
/* line 369, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links li:first-child:after {
  display: none;
}
/* line 374, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links li:after {
  position: absolute;
  left: 0;
  top: 3px;
  content: "";
  width: 10px;
  height: 16px;
  background: url(../images/sprite.png) no-repeat 0 -62px;
}
/* line 384, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links li a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 388, ../sass/visual.scss */
.visual .img-holder .caption-frame .page-links li a:hover {
  text-decoration: none;
}
/* line 397, ../sass/visual.scss */
.visual .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 11px 15px;
}
@media (max-width: 767px) {
  /* line 397, ../sass/visual.scss */
  .visual .holder {
    padding: 7px 21px;
    max-width: 92.5%;
  }
}
/* line 408, ../sass/visual.scss */
.visual .holder .pic-by {
  display: block;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  color: #636c73;
  z-index: 9999;
}
@media (max-width: 767px) {
  /* line 408, ../sass/visual.scss */
  .visual .holder .pic-by {
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
}
/* line 423, ../sass/visual.scss */
.visual .holder .pic-by a {
  color: #081318;
  font-weight: bold;
  text-decoration: underline;
}
/* line 428, ../sass/visual.scss */
.visual .holder .pic-by a:hover {
  text-decoration: none;
}
/* line 435, ../sass/visual.scss */
.visual .btn-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -43.5px 0 0;
  z-index: 99;
  background: #f15500;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding: 0 18px 0 12px;
  right: 0;
  overflow: hidden;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 767px) {
  /* line 435, ../sass/visual.scss */
  .visual .btn-next {
    background: none;
    padding: 10px 0 0 0;
    margin: -37px 21px 0 0;
  }
}
/* line 460, ../sass/visual.scss */
.visual .btn-next:hover {
  right: 0;
}
/* line 463, ../sass/visual.scss */
.visual .btn-next:hover .text-area {
  margin-right: 10px;
  opacity: 1;
}
/* line 469, ../sass/visual.scss */
.visual .btn-next .text-area {
  display: none;
  float: left;
  padding: 15px 0 0;
  min-width: 111px;
  display: block;
  margin-right: -100px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}
/* line 481, ../sass/visual.scss */
.visual .btn-next .text-area .title {
  display: block;
  font-size: 16px;
  line-height: 18px;
}
/* line 487, ../sass/visual.scss */
.visual .btn-next .text-area .topic {
  font-size: 22px;
  line-height: 22px;
  display: block;
}
/* line 494, ../sass/visual.scss */
.visual .btn-next .icon-Rightarrow {
  float: left;
  font-size: 27px;
  line-height: 40px;
  padding: 15px 0 14px;
  width: 19px;
}
@media (max-width: 767px) {
  /* line 494, ../sass/visual.scss */
  .visual .btn-next .icon-Rightarrow {
    padding: 0;
    font-size: 32px;
  }
}
/* line 508, ../sass/visual.scss */
.visual .btn-next:hover .text-area {
  display: block;
  padding: 15px 0 14px 15px;
}
@media (max-width: 767px) {
  /* line 508, ../sass/visual.scss */
  .visual .btn-next:hover .text-area {
    display: none;
  }
}
/* line 519, ../sass/visual.scss */
.visual .btn-perv {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -43.5px 0 0;
  z-index: 99;
  background: #f15500;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  padding: 0 3px 0 16px;
  left: 0;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 519, ../sass/visual.scss */
  .visual .btn-perv {
    background: none;
    padding: 0;
    margin: -36px 0 0  21px;
  }
}
/* line 545, ../sass/visual.scss */
.visual .btn-perv:hover {
  left: 0;
}
/* line 548, ../sass/visual.scss */
.visual .btn-perv:hover .text-area {
  margin-left: 0px;
  opacity: 1;
}
/* line 554, ../sass/visual.scss */
.visual .btn-perv .text-area {
  float: left;
  padding: 15px 0 0 15px;
  min-width: 111px;
  display: block;
  margin-left: -100px;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
/* line 565, ../sass/visual.scss */
.visual .btn-perv .text-area .title {
  display: block;
  font-size: 16px;
  line-height: 18px;
}
/* line 571, ../sass/visual.scss */
.visual .btn-perv .text-area .topic {
  font-size: 22px;
  line-height: 22px;
  display: block;
}
/* line 578, ../sass/visual.scss */
.visual .btn-perv .icon-Leftarrow {
  float: left;
  font-size: 27px;
  line-height: 40px;
  padding: 15px 0 14px;
  width: 25px;
}
@media (max-width: 767px) {
  /* line 578, ../sass/visual.scss */
  .visual .btn-perv .icon-Leftarrow {
    padding: 0;
    padding-top: 10px;
    font-size: 32px;
  }
}
/* line 593, ../sass/visual.scss */
.visual .btn-perv:hover .text-area {
  display: block;
  padding: 15px 10px 14px 15px;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  /* line 593, ../sass/visual.scss */
  .visual .btn-perv:hover .text-area {
    display: none;
  }
}
/* line 606, ../sass/visual.scss */
.visual .slider-main {
  position: absolute;
  bottom: 80px;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 999px) {
  /* line 606, ../sass/visual.scss */
  .visual .slider-main {
    position: static;
    background: #ffffff;
    border: 1px solid #d2d5d6;
    padding: 14px 18px 16px;
    max-width: 91%;
    margin-top: 20px;
  }
}
/* line 625, ../sass/visual.scss */
.visual .slider-main .slider-box {
  max-width: 872px;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0 auto;
  position: relative;
  margin-top: 32px;
}
@media (max-width: 1300px) {
  /* line 625, ../sass/visual.scss */
  .visual .slider-main .slider-box {
    width: 95%;
    max-width: 1080px;
  }
}
@media (max-width: 767px) {
  /* line 625, ../sass/visual.scss */
  .visual .slider-main .slider-box {
    margin: 0px;
    width: auto;
  }
}
/* line 653, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-action a {
  top: 102px;
  position: absolute;
  font-size: 39px;
  color: #00a837;
  left: 34px;
}
@media (max-width: 1300px) {
  /* line 653, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a {
    left: 24px;
    top: 78px;
  }
}
/* line 666, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-action a.right-arrow {
  left: auto;
  right: 34px;
}
@media (max-width: 1300px) {
  /* line 666, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a.right-arrow {
    right: 24px;
  }
}
/* line 675, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-action a:hover, .visual .slider-main .slider-box .slider-action a:focus, .visual .slider-main .slider-box .slider-action a:active {
  color: #f15500;
}
@media (max-width: 1180px) {
  /* line 653, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a {
    left: 14px;
    top: 52px;
  }
  /* line 683, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a.right-arrow {
    left: auto;
    right: 14px;
  }
}
@media (max-width: 990px) {
  /* line 653, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a {
    top: 62px;
  }
}
@media (max-width: 767px) {
  /* line 653, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a {
    top: 40%;
    font-size: 22px;
    left: 0px;
  }
  /* line 700, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-action a.right-arrow {
    right: 0px;
  }
}
/* line 707, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-box-text {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffffff;
  padding: 43px 94px;
}
@media (max-width: 1300px) {
  /* line 707, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text {
    padding: 23px 84px;
  }
}
/* line 718, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-box-text img {
  max-width: 239px;
  float: left;
  margin-right: 30px;
}
@media (max-width: 1180px) {
  /* line 718, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text img {
    display: none;
  }
}
/* line 728, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-box-text h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  line-height: 36px;
}
@media (max-width: 990px) {
  /* line 728, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text h4 {
    font-size: 19px;
    font-weight: bold;
  }
}
/* line 741, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-box-text p {
  font-size: 18px;
}
@media (max-width: 990px) {
  /* line 741, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text p {
    font-size: 16px;
  }
}
/* line 749, ../sass/visual.scss */
.visual .slider-main .slider-box .slider-box-text a.read-more-link {
  font-size: 18px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
@media (max-width: 1180px) {
  /* line 707, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text {
    padding: 17px 54px;
  }
}
@media (max-width: 990px) {
  /* line 707, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text {
    padding: 23px 54px;
    margin-top: 10px;
  }
  /* line 764, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text img {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 707, ../sass/visual.scss */
  .visual .slider-main .slider-box .slider-box-text {
    padding: 0px 30px;
  }
}

/* line 849, ../sass/visual.scss */
.slider-block {
  z-index: 1100;
  position: relative;
}
/* line 855, ../sass/visual.scss */
.slider-block .r-s-arrow a {
  text-decoration: none;
}
/* line 861, ../sass/visual.scss */
.slider-block .l-s-arrow a {
  text-decoration: none;
}
/* line 867, ../sass/visual.scss */
.slider-block a.btn-left {
  margin-right: 10px;
}
/* line 871, ../sass/visual.scss */
.slider-block a.btn {
  padding: 11px 16px;
}
/* line 875, ../sass/visual.scss */
.slider-block a.btn-right {
  position: relative;
  right: 85px;
}
@media (max-width: 767px) {
  /* line 875, ../sass/visual.scss */
  .slider-block a.btn-right {
    right: 0;
  }
}

/* line 897, ../sass/visual.scss */
.signature-bold-text {
  display: block;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
  color: #636c73;
}

/* line 905, ../sass/visual.scss */
.page-node-74606 .visual.no-overlay, .page-node-74621 .visual.no-overlay, .section-current-vacancies .visual.no-overlay {
  margin-bottom: 10px;
}
