//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "init" declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//


// =============================================================================
// Variables
// =============================================================================

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) Set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid and gutter width in resonsive-sidebars.scss
//   (use px for both or use % for both) and set the box-sizing variable to content-box.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
//$legacy-support-for-ie6: false;
//$legacy-support-for-ie7: false;
//$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.
$base-min-width: 320px;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;
$desktop-menu-font: 2em;
$mobile-menu-font: 0.7em;
$mobile-submenu-font: 1.7em;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.


// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$helvetica-cn: 'HelveticaNeueW01-55Roma', Helvetica, Tahoma, Verdana, Arial, sans-serif;
// $helvetica-it: 'HelveticaNeueW01-57CnOb', Tahoma, Verdana, Arial, sans-serif;
$helvetica-bd: 'HelveticaNeueW01-75Bold', Helvetica, Tahoma, Verdana, Arial, sans-serif;
// TODO: Remove $bebas, once we have refactored.
// $bebas: "bebas-neue", Impact, "Arial Black", Arial, sans-serif;
$courier: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$iconfont: "icomoon";

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica-cn; // The font family set on the html element.
$font-body: $helvetica-cn;
$header-font-family: $helvetica-bd;
$font-bold: $helvetica-bd;
// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
// $font-italic: $helvetica-it;
// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
$font-monospace:   $courier;

// Font sizes
$base-font-size: 1.6em;
$base-line-height: 1.562em;

//
// Add references to defined colours.
//
@import "colours";

// 
// Add references to the defined breakpoints.
//
@import "breakpoints";


// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
// The height of the navigation container.
$nav-height: 3em;

// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";
// Helps set up a vertical rhythm.
// @import "compass/typography/vertical_rhythm";
// Add the Zen Grids responsive layout mixins.
@import "susy";
// Add the breakpoint library
@import "breakpoint";
// Add the helper mixins
@import "markup-mixins";

// TODO: Re-evaluate; these are from the _all.scss
@import "font-icons";
@import "jcf";

// Now we add our custom helper mixins.
//@import "mixins";

@include border-box-sizing;

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */

// TODO: Need to re-evaluate; removing it because of line 146 above.
// html {box-sizing: border-box;}
// *, *:before, *:after {
//     box-sizing: inherit;
// }

* {max-height: 100000em;}
body {
    margin: 0;
    color: $base-text-color;
    background: $base-background-color;
    font: #{$base-font-size}/#{$base-line-height} $base-font-family;
    min-width: $base-min-width;
    overflow-y: scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
}
 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
 
img {border-style: none;}
 
a {
	outline:none;
    text-decoration: none;
    color: $base-link-color;
    &:hover {
        text-decoration: underline;
    }
}
 
input,
textarea,
select {
    font: 100% $base-font-family;
    color: $base-form-text-color;
    vertical-align: middle;
}
 
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
 
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
 
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
 
input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}
 
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    margin: 0;
    padding: 4px 7px;
    border: 1px solid $base-input-border-color;
    &:focus {
        border-color: darken($base-input-border-color, 30%);
        //outline: none;
    }
}
 
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
 
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
 
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
 
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    line-height: 1.2em;
    margin: 0 0 1.2em;
}
 
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
 
sup {
    top: -0.5em;
}
 
sub {
    bottom: -0.25em;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}