//Breakpoints
$base-min-width: 320px;
$large-screen: 1300px; // desktop
$desktop: 1180px; // desktop
$tablet: 990px;                 // tablet
$tablet-range: 768px 1023px;    // sample ragne
$mobile: 767px;                 // mobile
$mobile-hi-res: 767px (min-resolution 1.5dppx);  // mobile retina
$not-mobile: min-width 767px;
$mini-mobile: max-width 480px; 

$all-desktop:min-width 1080px;
$not-all-mobile:min-width 768px;
$all-large-mobile:481px 769px;
$all-small-mobile:max-width 480px;
$all-tiny-mobile:max-width 320px;

//why are there two lists? This makes almost no sense.