$base-text-color:#2a2e31;  
$wrapper-bg:#eef2f3;
$base-background-color: #ffffff;
$base-link-color:#081318; 
$base-form-text-color: #d2d5d6;
$base-form-placeholder-color: #d2d5d6;
$base-input-border-color: #d2d5d6;
$border-color: #d2d5d6;

$arrow-bg: #eef2f3;
$button-gray :#96a0a7;

$white : #ffffff; 

$yellow :#fbb900; 
$gray : #d2d5d6;

$orange-light : #f07d00;
$orange:#f15500;
$orange-dark:#c63502;

$green-lighter : #bccf00;
$green-light : #12bf00;
$green:#00a837;
$green-dark:#007e2a;

$blue-light : #5bc5ed;
$blue:#006dc1;
$blue-dark:#003fa2;

$lavender :#734889;
$lavender-dark :#512568;
 
$pink:#e30087;
$pink-dark:#b3066b;

$magenta:#c3104b;
$magenta-dark:#910835;

$fb-blue:#4b69aa;
$fb-blue-dark:#1a427e;

$tw-blue:#2289ff;
$tw-blue-dark:#0275d1;

$visited-link:#660099; 
$heading-link:#081318; 
  
$captions-credit :#636c73;
$footer-copyright :#96a0a7;
$action-nav-footer:#d2d5d6;
$page-background : #eef2f3;


$black: #000000;
$grey: #333333;

// Custom Variables for AAA
$facebook-bg: #4b69aa;
$facebook-border: #1a427e;
$twitter-bg: #2289ff;
$twitter-border: #0275d1;
$wrapper-bg:#eef2f3;

$status-bg:#9ee19e;
$status-text:#3aad3a;
$warning-bg:#fdfdc4;
$warning-text:#222222;
$error-bg:#fed3d1;
$error-text:#b30200;

// TODO: Wasn't in the original style sheet, re-evaluate in the refactor.
// $background-grey: #f1f2f2;
// $mid-grey:#A7A9AC;
// $pale-grey:#939598;
// $caroline-green: #3BB34A;
// $purple: #762B85;
// $blue: #00B5D5;
// $red: #EC3123;
// $dark-green: #176734;
// $mid-green: #62BA46;
// $pale-green: #95D212;
// $screen-green: #60FF00;
// $dark-blue: #005BA0;
// $yellow: #FFDE00;
// $pink: #EE4491;
// $white: #FFFFFF;
// $latest-news-blue:#00B4D4;
// $latest-news-red:#ED3525;
// $latest-news-grey:#6D6E71;
