$gray: #d2d5d6;

$base-text-color: #383c40;
$wrapper-bg: #eef2f3;
$base-background-color: #ffffff;
$base-link-color: #2a2e31;
$base-form-text-color: $gray;
$base-form-placeholder-color: $gray;
$base-input-border-color: $gray;
$border-color: $gray;
$dark-gray-border: #afbbc2;

$arrow-bg: #eef2f3;
$button-gray: #96a0a7;

$white: #ffffff;

$yellow: #fbb900;

$orange-light: #f07d00;
$orange: #f15500;
$orange-dark: #c63502;

$green-lighter: #bccf00;
$green-light: #12bf00;
$green: #00a837;
$green-dark: #007e2a;

$blue-light: #5bc5ed;
$blue: #006dc1;
$blue-dark: #003fa2;

$lavender: #734889;
$lavender-dark: #512568;

$pink: #e30087;
$pink-dark: #b3066b;

$magenta: #c3104b;
$magenta-dark: #910835;

$fb-blue: #4b69aa;
$fb-blue-dark: #1a427e;

$tw-blue: #2289ff;
$tw-blue-dark: #0275d1;

$visited-link: #660099;
$heading-link: #081318;

$menu-grey: #636c73;

$footer-copyright-new: #d2d5d6;
$footer-copyright: #96a0a7;
$page-background: #eef2f3;

$error-red: #f44336;

$black: #000000;
$dark-gray: #333333;

$facebook-bg: #4b69aa;
$facebook-border: #1a427e;
$twitter-bg: #2289ff;
$twitter-border: #0275d1;
$google-bg: #EA3032;
$google-border: #81090B;
$wrapper-bg: #eef2f3;

$status-bg: #2CAA55;

//#9ee19e;
$status-text: #ffffff;
$warning-bg: #fdfdc4;
$warning-text: #222222;
$error-bg: #fef8fa;
$error-text: #ec0833;
$post-footer-border: #e0e3e4;

$loadmore-hover: #b6bcc1;
$error-border: #ff5458;

$form-input-colour: #66737a;

//New colors
$mercury: #e4e4e4;
$silver: #bbb;
$alto: #d9d9d9;
$light_silver: #ccc;
$gallery: #eeeeee;
$casablanca: #F6BF4F;
$early_dawn: #FFF8E7;
$silver_chalice: #AEAEAE;
$gray_sec: #8E8E8E;
$alto_sec: #DFDFDF;
$athens_gray: #F3F4F6;
$shuttle_gray: #58666F;
$razzmatazz: #CF005B;
$rose: #db0076;
$monza: #C80042;
$milano_red: #ab1005;
$shuttle_gray_dark: #5e666e;
$porcelain: #ecf0f1;
$silver_chalice_dark: #a4a4a4;
$iron: #d1d1d2;
$gallery_dark: #ebebeb;
$alabaster: #f8f8f8;
$rolling_stone: #74777b;
$shamrock: #2CC185;

//new colour added.
$border-grey: #707070;