/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  // add path root - nanda globalsoftlab
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?y5zyxa');
  src:url('../fonts/icomoon.eot?#iefixy5zyxa') format('embedded-opentype'),
    url('../fonts/icomoon.woff?y5zyxa') format('woff'),
    url('../fonts/icomoon.ttf?y5zyxa') format('truetype'),
    url('../fonts/icomoon.svg?y5zyxa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  // add path root - nanda globalsoftlab
  font-family: 'icomoon-new';
  src:url('../fonts/new-icomoon.eot?y5zyxa');
  src:url('../fonts/new-icomoon.eot?#iefixy5zyxa') format('embedded-opentype'),
    url('../fonts/new-icomoon.woff?y5zyxa') format('woff'),
    url('../fonts/new-icomoon.ttf?y5zyxa') format('truetype'),
    url('../fonts/new-icomoon.svg?y5zyxa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-new"], [class*=" icon-new"] {
  font-family: 'icomoon-new';
}

.icon-connection:before {
  content: "\e615";
}

.icon-Calendar:before {
  content: "\e601";
}

.icon-Close:before {
  content: "\e602";
}

.icon-Downarrow:before {
  content: "\e603";
}

.icon-Facebook:before {
  content: "\e604";
}

.icon-Featured:before {
  content: "\e605";
}

.icon-google:before {
  content: "\e606";
}

.icon-Hottopic:before {
  content: "\e607";
}

.icon-Leftarrow:before {
  content: "\e608";
}

.icon-Playbutton:before {
  content: "\e609";
}

.icon-Plus:before {
  content: "\e60a";
}

.icon-Rightarrow:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e60c";
}

.icon-Share:before {
  content: "\e60d";
}

.icon-Speech1:before {
  content: "\e60e";
}

.icon-Speech-outline:before {
  content: "\e60f";
}

.icon-Time:before {
  content: "\e610";
}

.icon-Twitter:before {
  content: "\e611";
}

.icon-Uparrow:before {
  content: "\e612";
}

.icon-Voice:before {
  content: "\e613";
}

.icon-YouTube:before {
  content: "\e614";
}

.icon-Tick:before {
  content: "\e600";
}

.icon-new-Instagram:before {
  content: "\ea92";
}