@font-face{
  font-family:"HelveticaNeueW01-55Roma";
  src:url("../fonts/HelveticaNeueW01-55Roma.eot?#iefix");
  src:url("../fonts/HelveticaNeueW01-55Roma.eot?#iefix") format("eot"),url("../fonts/HelveticaNeueW01-55Roma.woff2") format("woff2"),url("../fonts/HelveticaNeueW01-55Roma.woff") format("woff"),url("../fonts/HelveticaNeueW01-55Roma.ttf") format("truetype"),url("../fonts/HelveticaNeueW01-55Roma.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-75Bold";
  src:url("../fonts/HelveticaNeueW01-75Bold.eot?#iefix");
  src:url("../fonts/HelveticaNeueW01-75Bold.eot?#iefix") format("eot"),url("../fonts/HelveticaNeueW01-75Bold.woff2") format("woff2"),url("../fonts/HelveticaNeueW01-75Bold.woff") format("woff"),url("../fonts/HelveticaNeueW01-75Bold.ttf") format("truetype"),url("../fonts/HelveticaNeueW01-75Bold.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}