.node-type-article{
	// Field Tags
	.field-label{
		float: left;
	}
	.field-item{
		float: left;
		padding: 0 5px;
	}
	
	.easy-breadcrumb{
		color: black;
		padding: 5px 0;
		.easy-breadcrumb_segment{
			letter-spacing: 0;
			padding: 0 8px;

		}
		.easy-breadcrumb_segment-title{
			padding-right: 0;
		}
	}

	// Comment 
	section .comment-list{
		clear: both;
  		content: "";
  		display: table;
	}

}