@import "base/base";

.node-type-article{

	// Field Tags
	.field-label{
		float: left;
	}
	.field-item{
		float: left;
		padding: 0 5px;
	}
	//breadcrumb
	.easy-breadcrumb{
		color: black;
		padding: 5px 0;
		.easy-breadcrumb_segment{
			letter-spacing: 0;
			padding: 0 8px;

		}
		.easy-breadcrumb_segment-title{
			padding-right: 0;
		}
		a{
			color: black;
		}
	}

	// Comment List
	section .comment-list{
		clear: both;
  		content: "";
  		display: table;
	}
	// Image holder
	.visual .img-holder{
		min-height: 5em;
	}
	#main2{
		@include container;
	}
	#main2 footer{
		clear: both;
	}

	#main2 .article-left .visual .holder .pic-caption{
		line-height: 16px;
	}

	#content_bottom{
		@include span(4 of 12 last);
	}

}

