.node-type-article{
	// Field Tags
	.field-name-field-tags{
		float: left;
		padding-right: 10px;
	}
	
	.easy-breadcrumb{
		color: black;
		padding: 5px 0;
		.easy-breadcrumb_segment{
			letter-spacing: 0;
			padding: 0 8px;

		}
		.easy-breadcrumb_segment-title{
			padding-right: 0;
		}
	}

}