.bsd-tools {
    #wrapper {
        height: auto;
    }
    .article 
    {
        margin: 0 auto;
        max-width: 1080px;
        padding: 50px 65px 48px 7px;
        background: #ffffff;
    }
    .bsd-contribForm-aboveContent img {height: auto !important;width: 100% !important;}//using important to override wysiwyg styles
    
    @media (min-width: 1000px) {
        .bsd-contribForm-aboveContent {
            float: left;
            width: 48%;

        }

        .bsd-contribForm-oneCol form {width: 48%; float: right;}
    }
    form {
        table {
            tr td {
                &:hover {
                    background: none;
                }
            }
        }tr:nth-child(odd) td, table tr.odd td {
            background: none;
        }
        td td td {
            padding: 0;
        }
        label, .fieldlabel  {
            font-weight: normal;
        }
        input {
            width: 100%;
        }

        .bsd-tools #contribution td.contribbutton {
            text-align: left;
            background: none;
            table td {
                text-align: left;
            }
        }
    }
   

    .bsd-contribForm-belowContent {
        clear: both;
    }
    .article-wrapper 
    {
        width: 100%;	
        background: #ffffff;
        margin-top: -2em;
    }

    .header-logo 
    {
        float: left;
        margin-right: 1em;
    }


    #wrapper-footer 
    {
        width: 100%;
        display: table;
        height: auto;
        position: relative;
    }
}