.bsd-tools {
    #wrapper {
        height: auto;
    }
    .article 
    {
        margin: 0 auto;
        max-width: 1080px;
        padding: 50px 65px 48px 7px;
        background: #ffffff;
    }
    .bsd-contribForm-aboveContent img {height: auto !important;}
    @media (min-width: 1000px) {
        .bsd-contribForm-aboveContent {
            float: left;
            width: 48%;

        }

        .bsd-contribForm-oneCol form {width: 48%; float: right;}
    }

    .bsd-contribForm-belowContent {
        clear: both;
    }
    .article-wrapper 
    {
        width: 100%;	
        background: #ffffff;
        margin-top: -2em;
    }

    .header-logo 
    {
        float: left;
        margin-right: 1em;
    }

    .bsd-tools #contribution td.contribbutton {
        text-align: left;
        background: none;
    }

    #wrapper-footer 
    {
        width: 100%;
        display: table;
        height: auto;
        position: relative;
    }
}