@import "base/base"; 
@import "extends"; 
@import "content"; 



.view-display-id-events_page{
  .my-voice-post{
    .content{
      width: 45%;
    }
    .place{
      width: 12%;
      float: left;
    }
    .line{
      position: absolute;
      margin-left: -24px;
    }
  }
} 
