@import "base/base"; 
@import "extends"; 
@import "content"; 



.view-display-id-events_page{
  .my-voice-post{
    .content{
      width: 45%;
    }
    .place{
      width: 12%;
      float: left;
    }
    .line{
      position: absolute;
      margin-left: -24px;
    }
  }
} 

.page-node-74606{
  #content_top{
   z-index: 99;
   margin-top: -131px;
   margin-bottom:30px;
   margin-left: 15px;
  .my-voice-columns{
    // [TODO] this style is being applied from forms.scss
    // .webform-client-form{
    //   @extend %signup-form; 
    // }
    .col{
      padding-top:0;
      padding-bottom:0;
    }
    .form-item{
      float:left;
      width:96%;
      margin-bottom: 9px;
      label{
        left: 24px;
        top: 12px;
      }
    }
    a.tooltips span.tooltip-content{
      left: -45px;
      bottom: 30px;
    }
   .description{
      margin-top:11px;
   } 	
   }
  }
}
 #content_top .my-voice-columns .webform-client-form.webform-client-form-74621 input[type="submit"]{
  border-bottom: 5px solid $pink-dark;
  background:$pink;
  &:hover{
     border-bottom-width: 3px;
  }
 }
.views-row-first{
  .my-voice-pos .feature-holder{
    display: inherit;
  }
}

.my-voice-post{
  .feature-holder {
    display:none;
    position:absolute;
    z-index:2;
    bottom:0;
    left:11px;
    @include breakpoint($mobile) {
      left:15px;
	}
	&.hover {
	  .text {
	    display:block;
       }
     }
     background:$orange;
	.icon-Featured {
       font-size:24px;
       padding:6px 0 0;
       float:left;
       background:$white;
       line-height:30px;
       height:45px;
       width:45px;
       text-align:center;
       color:$orange;
       @include breakpoint($mobile) {
         height:33px;
         width:34px;
         padding:2px 0 0;
         font-size:16px;
       }
     }
	&.green-icon{
	  background:$green;
	  .icon-Featured{
	    color:$green;
       }
     }
     div{
      img{
        @include breakpoint($mobile) {
          float:left;
          width:100%;
          height: auto;
        }
      }
     }
     .content{
       float:none;
       width:atuo;
     }
     .text {
       display:none;
       float:left;
       font-size:18px;
       line-height:25px;
       padding:10px 5px;
       min-width:109px;
       text-align:center;
       color:$white;
       @include breakpoint($mobile) {
         padding:5px 6px;
         line-height:24px;
         font-size:16px;
         padding:4px 5px;
         min-width:97px;
       }
     }
   }
}
 


