@import "base/base";
@import "extends"; 

.view-display-id-stream_forum_page{
  @include breakpoint($mobile) {
    .filterbutton{
      margin-left:0;
    }
  }
}

.forum-icon{
    position: absolute;
    right:18px;
    font-size:40px;
    top: 27px;
    color:$orange;
    @include breakpoint($mobile) {
      background: $white;
      top: 13px;
      right: 13px; 
      padding: 10px;
    }
    &.icon-Featured{
      color:$yellow;
    }
}

.view-display-id-voices_from_the_spectrum_page{
  .views-exposed-widget.views-submit-button{
    float:left;
  }
}

// start .post-columns.columns-full
.posts-columns.columns-full{
      
  .row, .views-row{
    width:100%; 
          
      .forum-text{
        @extend %clearfix;
        padding-bottom:15px;

        .forum-left{
            
          line-height: 15px;
          
      a:hover{          
            text-decoration: none;
          }

          @include breakpoint(min-width $tablet-small) {
                @include span(2 of 12);
              }

          .image-holder{
            overflow:hidden;
            margin-bottom:11px;

        @include breakpoint ($mobile) {
            @include span(2 of 12);
        }

            img{
              width:100%;
          max-width: 100px;
          @include border-radius(5px);
            } 
          }

          cite{
            font-style:normal;
            display: block;
            margin-top: 20px;
            font-size:16px;
            line-height:24px; 
        
        br {display: none;}
            
        @include breakpoint($mobile) {
              text-align: left;
            }
          }

          time{
            font-size: 14px;
              }
            
          @include breakpoint($mobile) {    
        cite, time {
            @include span(last 10 of 12);
            margin-top:0;
            line-height: 1em;
        }
      }
    }

        .forum-right{
          padding-top: 9px;
          @include breakpoint(min-width $tablet-small) {
            @include span(last 10 of 12);
          }
          h3{
            margin-bottom: 0px;
            max-width: 82%; //initially it was 85% changed to remove the collision between the text and flame icon in Ipad.
            @include breakpoint($mobile) {
              max-width: 100%;
            }
          }
          p{
            font-size:18px;
              margin-bottom:20px;
          }
            .meta {
              margin-left: 0;
              font-size: 0.7em;
              padding-top: 0.5em;
              border-bottom: 1px $gray solid;
              .created {
                  float: left;
                  margin-right: 0.5em;
              }
              .topic_section {
                  width: auto; margin-top: 0;
                  .field-item, 
                  .field-content {display: inline;}
                  
              }
              .clear {clear: both;}
            }
            .field-name-body {
              margin-top: 20px;
            }
        } 
            
      }
      .footer{
          margin-bottom:0;

        @extend %clearfix;
              @include breakpoint($mobile) {
                padding-left: 20px;
              }

        @include breakpoint (min-width $desktop) {
          .flag_node {
              @include span(2 of 12);
          }
        }

          .num-holder{
            float:left;
            margin-top: 9px;
            height:45px;
            .text{
              font-size: 15px;
            }
          }
          .text{
            display:inherit; 
          }
          .links.inline{
            float:right;
                 @extend %listreset;
                 
                 @include breakpoint($mobile) {
                   float:none;
                   padding-top: 20px;
                 }
                 li{
                   color:$menu-grey;
                   a{
                     color:$orange;
                     text-decoration:underline;
                     @include breakpoint($mobile) {
                       float: none;
                       width: 100%; 
                     }
                     &.btn{
                       color:$white;
                       text-decoration:none;
                     }
                     &:hover{
                       text-decoration:none;
                     }
                   }
                 }
          }

          .times{
            font-size: 15px;
              margin-left: 40px;
              margin-top: 15px;
        float:left;
              color:$menu-grey;

                a{
                  text-decoration: none;
                }
              
        @include breakpoint($tablet) {
          width: 52%;
        }

                @include breakpoint($mobile) {
                  margin-top: 30px;
                  margin-left:0;
                  display: block;
                  width: 100%;
                }

                em{
                  font-size: 29px;
                  margin-right: 10px; 
                  float:left;
                }

                cite{  
                  font-style:normal;
                  font-weight:bold;
                  span, a, a:hover, a:visited{
                    color:$heading-link;
                  }
                }

            .links.inline{
              @include breakpoint($mobile) {
                float: none!important;
                margin-top: 26px;
                li{
                  a{
                    float:none;
                    width:100%;
                  }
                }
              }
            }
          }
        }
  }      
}
// end .post-columns.columns-full
      
.forum-left{
  cite{
    white-space: pre
    strong{
      line-height:normal;
      word-wrap: break-word;
    }
  }
}

// start community champions forum
// Community Champions Forum
.section-community-champions-forum, .section-forums {
    #comments {
        boder: none;
        white-space: normal;
        .comment.odd {
            background-color: $gray;
        }
        .comment-img-holder {
            width: 50px;
            float: left;
            margin-right: 10px;
            img {width: 100%}
            
        }
        
        .comment-right {
            border: none;
        }
        @include breakpoint(min-width $tablet) {
            .comment-img-holder {
                float: none;
            }
            .comment-left {
                @include span(2 of 12);
            }
            .comment-right {
                @include span(last 10 of 12);
            }
        }

    }

    #forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
        white-space: normal;
    }
}
// end community champions forum

//--------------------Talk to other grid view-------------------------//
.new-grid{
	.forum-left {
		display: none;
	}
	.forum-body{
		p:nth-child(-n+2){
		  margin-bottom: 20px;
		  display: block;
		  display: -webkit-box;
		  max-width: 400px;
			min-height: 20px;
		  font-size: 18px;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  }
	}
	.forum-right{
		width: 100% !important;
	}
}

.new-grids{
	.footer{
		.num-holder, .times{
			display: none !important;
		}
	}
	section.post{
	  width: 100% !important;
	  float: left;
	  margin: 1% !important;
	  @include breakpoint($not-mini-mobile){
		width: 48% !important;
	  }
	  @include breakpoint($not-mobile){
		width: 31.3% !important;
	  }
	}
	.forum-body{
		max-height: 115px;
		overflow: hidden;
	}
	.forum-right{
		h3{
			width: 160px;
			line-height: 34px;
		}
	}
}

#grid-view-forum {
  display: none;
}