@import "base/base";


// Global HTML
body{
	margin-top: -24px;
}
.underline{
	text-decoration: underline;
}
// Span class
.span-4{
	@include span(4 of 12);
}
// Fixing the regions width isse
.region-action{
	width: 100%;
	height: 100%;
}

// Ajax Throbber

/* these apply to auto-completing form fields */
html.js input.form-autocomplete {
  background-image: url(../../images/ajax-loader.gif);
  background-position: 100% 0px;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -16px;
}

/* these apply to all ajax progresses */
.ajax-progress {
 /* display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;*/
}

.ajax-progress .throbber {
  background: transparent url(../../images/ajax-loader.gif) no-repeat 0px 0px;
  float: left;
  height: 16px;
  width: 16px;
  position: absolute;
  top:49%;
  right: 51%;
}

// System buttons
.form-submit{
  @extend .btn;
}

// System tabs
ul.tabs-primary{
  padding: 12px 6px;
  li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    background: $gray;
    &.is-active{
      background: $orange;
    }
  }

}
// Admin menu

// Fix admin menu's z-index issue
div#admin-toolbar{
  z-index: 11000;
}
div#admin-toolbar.vertical div.admin-tab{
  width: auto;
  min-height: 25px;
}
#admin-toolbar ul.menu li a{
  height:auto;
}

// Main Section
#main{
  position: relative;
  @include breakpoint($mobile){
    padding-left:0;
    padding-right:0;
  }
}









/* nanda globalsoftlab */

.comment-block{
	    background:$white;
		padding:35px 50px 37px 44px;
		margin:70px 0 50px 0;
		@include breakpoint($mobile){
		  padding: 27px 15px;
		}
		h4{
		  margin: 0 0 17px;
		}
		.comments{
          font-size:18px;
          color:$captions-credit;
		  .required{
		    color:$orange;
		  }
		  label{
		   float:left;
		   &.label-block{
		     width:100%;
		   }
		  }
          fieldset{
            margin:0 0 20px 0;
			@include breakpoint($mobile){
			  margin:0 0 10px 0;
			}
			&.submit-actions{
			  margin:0;
			  @include breakpoint($mobile) {
			    .btn.btn-left{
	              margin-left: 6px;
	              padding: 3px 15px;
				  &:first-child{
				    margin-left:0
				  }
				}
	           }
			}
          }
          strong{
		    color:$heading-link;
			margin-left:10px;
			@include breakpoint($tablet){
			  font-weight:normal;
			}
		  }
		  .form-element{
		    @include linear-gradient($captions-credit,$page-background);
            padding:2px;
            float:left;
			margin:6px 0 0 0;
			@include border-radius(5px);
            //max-width:506px;
            width:100%;
		    input[type=text],input[type=email],textarea{
		      float:left;
			  @include border-radius(5px);
			  width:100%;
			  border:none;
			}
			textarea{
			  height:183px;
			}
          }
		}
	  }

 .comment-list{
		h4{
		   @include fontsize(23,16);
		  a{
		    font-size:16px;
			text-decoration: underline;
			margin-left:0;
		  }
		}
		ul.comment-listing{
		  @extend %listreset;
		  position: relative;
		  &.children{
		    margin-left:30px;
		  }
		  li{
		    .comment-left{
		    	@include span(2 of 8);
			  //float:left;
			  //width:79px;
			  font-size:13px;
			  img{
				 @include border-radius(5px);
				 overflow:hidden;
				 margin:0 0 4px 0;
			  }
			  a{
				    text-decoration:underline;
				    font-weight:bold;
					color:$base-link-color;
				    &:hover{
				      text-decoration:none;
				    }
					}
			  cite{
			     margin:0 0 7px 0;
				 font-style:normal;
				 display:block;
			  }
			  time{
			    margin:0 0 17px 0;
			  }
			}
			.comment-right{
				@include span(6 of 8 last);
			  border:2px solid $border-color;
			  //padding:16px 26px 13px 26px;
			  //margin:0 0 27px 112px;
			  font-size:16px;
			  background:$white;
			  word-wrap: break-word;
			  @include breakpoint($mobile){
			    padding:15px;
			    @include span(8 of 8);
			  }
			  &:before{
			    content: "";
			    position: absolute;
			    left: 90px;
			    background:url(../images/sprite.png) no-repeat -1px -162px;
			    width: 24px;
				top: 15px;
			    height: 32px;
			  }
			  .links{
			    margin-bottom: 17px;
			  }
			  ul{
			     @extend %clearfix;
				 @extend %listreset;
			    li{
                  float: left;
                  margin:0 11px 0 0;
				  a{
				    text-decoration:underline;
				    font-weight:bold;
				    &:hover{
				      text-decoration:none;
				    }
				  }
				}
			  }
			}
		  }
        }
	  }
	  
// edited by nanda kumar - globalsoftlab for forum page page filter option

.filter-overlay{
  display:none;
}
.filter-active{
	.filter-overlay{
		background: #000;
		display:inherit;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		opacity: 0.6;
	}
}

.item-list{
clear: both;
.pager{
  text-align: center;
  padding: 30px 10px 60px 10px;
  display: block;
  width: 100%;
  clear: both;
  li{
    background:$white;
    display: inline-flex;
    list-style: none;
    margin-right: 3px; 
    @include border-radius(5px);
    &:hover, &.pager-current{
      color:$white;
      background:$base-text-color;
      a{
        //color:$white;
        color:$loadmore-hover;
      }
    }
    &.pager-ellipsis, &.pager-current{
      padding: 4px 12px; 
    }
    a{
      text-decoration: none;
      line-height: 1.5em;
      padding: 4px 12px; 
    }
  }
}  
}



/* TABLE STYLE */

table {
  color:$grey;  
  width: 100%; 
  border-collapse:collapse;
  border-spacing: 0;  
  padding-top:15px;
  margin-bottom:15px;
  td, th{
    border: 1px solid transparent; 
    min-height: 30px; 
    @include transition ($type:all, $time:0.2s, $ease:ease);
    text-align: left;
  }
  th{    
    background:$captions-credit;
    font-weight: bold;
    color:$white;
    padding: 9px;
    a{
      color:$white;
    }
  }  
  tr{
    td {
      background:$white;
      text-align: left;
      padding: 10px;
      &:hover{
        background:$captions-credit;
        color:$white;
      }
    }
    &:nth-child(odd), &.odd{
      td{
        background:$page-background;  
        color:$captions-credit;
        a{
          color:$captions-credit;
        }
      }
    }
    
  }  
}
  
  
// TAB Animation

#quicktabs-user_profile_page ul{
  background: #fff;
  li {
    &:last-child::before {
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 99%;
      height: 6px;
      background: $orange;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }
    &:first-child.active ~ li:last-child::before {
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);
    }
    &:nth-child(2).active ~ li:last-child::before {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    &:nth-child(3).active ~ li:last-child::before {
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);
    }
    &:nth-child(4).active ~ li:last-child::before {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  a {
    padding: 1em 0; 
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
  }
  li.active a {
    color:$orange;
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
  a span {
    font-weight: 700;
  }
}

 

/* Nav */

#quicktabs-user_profile_page{
  text-align: center;
  ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    li {
      position: relative;
      z-index: 1;
      display: block;
      margin: 0;
      text-align: center;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
  a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding:18px 0;
    span {
      vertical-align: middle;
      font-size: 0.75em;
    }
  }
  li.active a {
    color:$orange;
    padding:18px 0;
  }
  a:focus {
    outline: none;
  }
}
