@import "base/base";

.icon-Google:before {
    content: "\e606";
}

.page-hybridauth {
    #main {
        background: $white;
    }
    fieldset {
        float: none;
        padding-left: 0px;
        &.form-wrapper {
            min-height: 550px;
        }
        .password-strength {
            margin-top: 0px;
        }
    }
    input {
        &.username {
            width: 16em;
            float: left;
            clear: both;
            border-radius: 5px;
            border-color: $mercury;
            // //TODO : include compass boxshadow and assigning a variable colour and using it would be preferable
            // -webkit-box-shadow: inset 1px 1px 2px $border-grey;
            // //TODO : assigning a variable colour and using it would be preferable
            // box-shadow: inset 1px 1px 2px $border-grey;
            // //TODO : assigning a variable colour and using it would be preferable
            @include box-shadow(inset 1px 1px 2px $border-grey);
            margin-bottom: 20px;
            padding: 12px 23px;
            font-size: 18px;
        }
    }
    legend {
        font-weight: bold;
    }
    .description {
        float: left;
    }
}