@import "base/base";

.icon-Google:before {
  content: "\e606";
}

.page-hybridauth {
  #main {
    background: $white;
  }
  fieldset {
    float: none;
    padding-left: 0px;
    &.form-wrapper {
      min-height: 550px;
    }
    .password-strength {
      margin-top: 0px;
    }
  }
  input {
    &.username {
      width: 16em;
      float: left;
      clear: both;
      border-radius: 5px;
      border-color: $mercury;
      @include box-shadow(inset 1px 1px 2px $border-grey);
      margin-bottom: 20px;
      padding: 12px 23px;
      font-size: 18px;
    }
  }
  legend {
    font-weight: bold;
  }
  .description {
    float: left;
  }
}

// social icons
.hybridauth-google, .hybridauth-twitter, .hybridauth-facebook {
  border-radius: 5px;
  color: $white;
  opacity: 1;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.hybridauth-google {
  background: $google-bg;
  border-bottom: 5px solid $google-border;
  &:before {
    content: "\e606";
  }
}

.hybridauth-twitter {
  background: $twitter-bg;
  border-bottom: 5px solid $facebook-border;
  &:before {
    content: "\e611";
  }
}

.hybridauth-facebook {
  background: $facebook-bg;
  border-bottom: 5px solid $facebook-border;
  &:before {
    content: "\e604";
  }
}

//Check this and delete if we don't need: Amalan
#modalContent {
  .hybridauth-widget-wrapper {
    .item-list {
      margin-left: 0;
    }
  }
}