@import "base/base";

.node-type-simple-page {
  #wrapper {
    background: $base-background-color;
  }

  #content-header {
    .title {
      display: block;
    }
  }

  #content-area {
    header {
      .submitted {
        display: none;
      }
    }

    .field-items {
      padding-bottom: 20px;
    }
  }
}

.node-type-forum {
  #main {
    background: $white;
  }
}

// BASIC PAGE WITH HERO
.node-type-basic-page-with-hero
, .node-type-basic-page-with-hero-large {
  // drop the caption toward the middle of the banner
  .region-caption-holder {
    //margin-top: 1.5em; this is done in visual now line 16
 
  }

  // hide the title
  h1.title {
    display: none;
  }
}

// BASIC PAGE
.node-type-basic-page-with-hero .field-name-body {
  background: white;
  padding: 1.5em;
  margin-bottom: 3em;
  border: 1px solid $gray;
  clear: both;
}

.section-my-voice .field-name-body {
  background: transparent;
  border: none;
  padding: 0;
  margin-bottom: 1em;
  clear: both;
}

// BLOCKS
.center {
  text-align: center;
}

//styling the who is online page
#block-user-online {
  .item-list {
    ul {
      list-style: none;
      padding-left: 0px;

      //to remove the default padding that gets applied.
   
    }
  }
}

//events page
.page-node-221566 {
  .views-exposed-widget, .views-widget {
    float: left;
    display: inline-block;
  }

  .views-exposed-widget {
    input {
      border-radius: 5px;
      font-size: 18px;
      border-bottom: 2px solid;
      border-color: #e4e4e4;
      -webkit-box-shadow: inset 1px 1px 2px #707070;
      box-shadow: inset 1px 1px 2px #707070;
      padding: 12px 23px;
    }

    .description {
      display: none;
    }

    .container-inline-date {
      fieldset {
        margin-right: 10px;
      }
    }
  }

  .date-padding {
    padding: 0px;

    //padding-left: 10px;
 
  }
}

//node events / courses / volunteer / newsletter new styles
.node-type-events, .node-type-courses, .node-type-volunteer, .node-type-newsletter, .node-type-webform {
  #wrapper {
    background: $white;
  }
}

.node-events, .node-courses, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns,
.node-type-webform, .webform-share-your-story, .page-signup-form, .node-donations {
  background: $white;

  form {
    label[for="edit-submitted-country"] {
      display: block;

      //float: left;
   
    }

    .form-item {
      input {
        float: none;
        display: block;
      }

      input[type="radio"], input[type="checkbox"] {
        display: inline;
      }

      fieldset {
        float: none;
      }
    }

    .webform-date {
      width: 100%;
      float: left;

      fieldset {
        float: left;
        padding-left: 0;
      }
    }
  }
}

//Sign Up form page
.page-signup-form {
  #main {
    background: white;

    .view-display-id-signup_form {
      background: none;
    }
  }
}

// SHARE YOUR STORY / VOLUNTEER / NEWSLETTER PAGE
// .node-type-share-your-story, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns {
//   #content-area {
//     background: white;
//     padding: 1.5em;
//     margin-bottom: 3em;
//     border: 1px solid $gray;
//     clear: both;
//   }
// }

//Donation Page
.node-type-donations {
  #main {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  #wrapper {
    //background: blue;
    background-image: url("/sites/all/themes/ambitious/images/Background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .title {
      display: none;
    }

    .node-donations {
      background: none;

      .field-name-body {
        background: white;
        padding: 20px;
        width: 45%;
        margin: 90px 0 35px 0;

        @include breakpoint($tablet-small) {
          width: 80%;
        }


        @include breakpoint($desktop-small) {
          width: 60%;
        }


        p {
          margin: 0;
          font-size: 20px;

          // font-weight: bold;
       
        }
      }

      form {
        background: white;
        width: 45%;
        padding: 10px;

        @include breakpoint($not-mobile) {
          padding: 35px;
        }


        @include breakpoint($tablet-small) {
          width: 80%;
        }


        @include breakpoint($desktop-small) {
          width: 60%;
        }


        .webform-component-textfield, .webform-component-email, .webform-component-select, .webform-component-optionsmarkup, .webform-component-date {
          padding: 0 10px;
        }

        .webform-component--first-text-area {
          padding: 0 10px;

          h4 {
            margin: 0;
            font-size: 25px;

            /* font-weight: bold; */
            color: #2A2E31;
          }

          a {
            text-decoration: none !important;

            //Important used to override the default a tag style
         
          }

          p {
            font-weight: 400;
            margin: 0;
            color: #636C73;
            font-size: 20px;
          }
        }

        .webform-progressbar {
          display: none;
        }

        .webform-steps-wrapper {
          background: none;
          border: none;
          left: 10px;
          position: relative;
          border: 2px solid #E2E2E2;
          width: 50%;
          height: 3px;
          margin: 20px 0;
          background-color: white;

          @include breakpoint($not-mini-mobile) {
            width: 20%;
          }


          // @include breakpoint($all-large-mobile) {
          //   width: 70%;
          // }

          // @include breakpoint($not-mobile) {
          //   width: 20%;
          // }

          span.disabled {
            padding-left: 0px;

            span {
              background: #E2E2E2;
            }
          }

          span.webform-step {
            background: none;
            border: none;
            padding-left: 0px;

            &:nth-child(1) {
              left: -3px;
            }

            &:nth-child(2) {
              left: 40%;
            }

            &:nth-child(3) {
              left: 80%;
            }
          }

          span {
            background: #FBBA00;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            padding-top: 6px;
            line-height: 0.5;
            margin: 0;
            color: white;
            pointer-events: none;
            cursor: default;
            top: -5px;
            padding-left: 6px;

            @include breakpoint($not-mini-mobile) {
              position: absolute;
            }
          }
        }

        .webform-component--donation-type--Recurring {
          label.option {
            p {
              padding-left: 20px;
              line-height: 20px;
            }
          }
        }

        .webform-component-optionsmarkup {
          label p {
            margin: 0;
          }

          label.option p {
            font-size: 13px;
            font-weight: bold;
            text-align: justify;
            color: #636C73;
            padding-left: 20px;
            line-height: 20px;
          }
        }

        .webform-component--other-amount {
          padding: 0 10px;

          input {
            width: 100%;

            // font-weight: bold;
            font-size: 16px;
            padding: 12px 15px;

            &::-webkit-input-placeholder {
              color: #636C73;
            }

            &:-moz-placeholder {
              /* Firefox 18- */
              color: #636C73;
            }

            &::-moz-placeholder {
              /* Firefox 19+ */
              color: #636C73;
            }

            &:-ms-input-placeholder {
              color: #636C73;
            }
          }
        }

        .webform-component--donation-type {
          padding: 0 10px;
          height: 35px;

          input[type="checkbox"] {
            // display: none;
            background: none;
            border: 2px solid black;
          }
        }

        .webform-component--select-an-amount {
          // .selection-amount {
          //   fieldset:nth-child(1) {
          //     padding-left: 0;
          //   }

          //   fieldset:nth-child(3) {
          //     padding-right: 0;
          //   }
          // }

          fieldset {
            width: 100%;
            float: left;

            @include breakpoint($all-desktop) {
              width: 33%;
            }
          }

          input[type=radio] {
            display: none !important;

            //Important used to override the common input field style
         
          }

          input[type=radio] + label {
            border: medium none;
            cursor: pointer;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            margin-top: 5px;
            margin-bottom: 5px;
            outline: medium none;
            padding: 25px 80px;
            position: relative;
            line-height: 29px;
            background: #fbba00;
            box-shadow: 0px 6px #f07d2c;
            -webkit-box-shadow: 0px 6px #f07d2c;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            margin-right: 15px;
            float: left;
            font-size: 2em;
            font-weight: bold;

            @include breakpoint($all-desktop) {
              &:hover:after {
                content: '';
                position: absolute;
                left: 30%;
                top: 132%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #FBBA00;
                clear: both;
              }
            }
          }

          input[type=radio]:checked + label {
            top: 2px;
            background: #F15500;
            -webkit-box-shadow: 0px 4px #C63502;
            box-shadow: 0px 4px #C63502;

            @include breakpoint($all-desktop) {
              &:after {
                content: '';
                position: absolute;
                left: 30%;
                top: 132%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #F15500;
                clear: both;
              }
            }
          }
        }

        .js-active {
          display: block !important;
        }

        .js-deactive {
          display: none !important;
        }

        div[class*="webform-component--value-of-"] {
          background: #F15500;
          float: left;
          padding: 10px 25px;
          border-radius: 10px;
          margin: 20px 10px;
          text-align: center;
          display: none;

          @include breakpoint($not-mobile) {
            padding: 10px 50px;
          }


          p {
            color: white;
            margin: 0;
            font-size: 14px;
            line-height: 17px;
          }
        }

        .webform-component--hover-and-selection-text-one {
          background: #FBBA00;
        }

        .webform-component--hover-and-selection-text-two {
          background: #F15500;

          // display: none;
       
        }

        .webform-component--hover-and-selection-text-one, .webform-component--hover-and-selection-text-two {
          float: left;
          margin: 20px 10px;
          border-radius: 15px;
          text-align: center;

          p {
            font-size: 14px;
            padding: 20px 50px;
            color: white;
            margin: 0;
            line-height: 17px;
          }
        }

        .form-actions {
          padding: 0 10px;

          @include breakpoint($all-small-mobile) {
            input {
              padding: 5px 10px;
              font-size: 14px;
            }
          }


          input.webform-next, input.webform-submit {
            width: 100%;

            // float: right;
            margin-right: 0;

            // @include breakpoint($not-mobile) {
            //   width: 62%;
            // }
         
          }

          input.webform-previous + input.webform-next, input.webform-previous + input.webform-submit,
          div.ajax-progress.ajax-progress-throbber + input.webform-next, div.ajax-progress.ajax-progress-throbber + input.webform-submit {
            // &, &:active {
            width: 62% !important;

            // }
         
          }

          input.webform-previous {
            width: 100%;
            background: #fbba00;

            // box-shadow: 0px 6px #f07d2c;
            // -webkit-box-shadow: 0px 6px #f07d2c;
            border-bottom: 5px solid #f07d2c;
            margin-bottom: 10px;

            @include breakpoint($not-mobile) {
              width: 35%;
              margin-bottom: 0px;
            }


            &:hover {
              border-bottom-width: 3px;
            }
          }

          input#edit-webform-ajax-next-677871 {
            width: 100%;
          }
        }
      }
    }
  }
}

//Donation Page Thank You page
.page-node-677871.page-node-done,
.page-node-685796.page-node-done {
  #wrapper {
    background-image: url("/sites/all/themes/ambitious/images/Background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    #main {
      padding: 150px 0;
    }

    div#content-header {
      display: none;
    }

    .webform-progressbar {
      display: none;
    }

    section#content-area {
      text-align: center;
    }

    .webform-confirmation {
      background: white;
      width: 45%;
    }
  }
}