@import "base/base";
.node-type-simple-page {
	#wrapper{
		background: $base-background-color;
	}


	#content-header {
		.title {
			display: block;
		}
	}

	#content-area{
		header{
			.submitted{
				display: none;
			}
		}
		.field-items{
			padding-bottom: 20px;
		}
	}
}



.node-type-forum{
	#main
	{
		background: $white;
	}
}

