@import "base/base";

.node-type-simple-page {
  #wrapper {
    background: $base-background-color;
  }

  #content-header {
    .title {
      display: block;
    }
  }

  #content-area {
    header {
      .submitted {
        display: none;
      }
    }

    .field-items {
      padding-bottom: 20px;
    }
  }
}

.homepage-textfield {
  display: none;
}

.node-type-forum {
  #main {
    background: $white;
  }
}

// BASIC PAGE WITH HERO
.node-type-basic-page-with-hero
, .node-type-basic-page-with-hero-large {
  // drop the caption toward the middle of the banner
  .region-caption-holder {
    //margin-top: 1.5em; this is done in visual now line 16
 
  }

  // hide the title
  h1.title {
    display: none;
  }
}

// BASIC PAGE
.node-type-basic-page-with-hero .field-name-body {
  background: white;
  padding: 1.5em;
  margin-bottom: 3em;
  border: 1px solid $gray;
  clear: both;
}

.section-my-voice .field-name-body {
  background: transparent;
  border: none;
  padding: 0;
  margin-bottom: 1em;
  clear: both;
}

// BLOCKS
.center {
  text-align: center;
}

//styling the who is online page
#block-user-online {
  .item-list {
    ul {
      list-style: none;
      padding-left: 0px;

      //to remove the default padding that gets applied.
   
    }
  }
}

//events page
.page-node-221566,
.page-node-224851 {
  .views-exposed-widget, .views-widget {
    float: left;
    display: inline-block;
  }

  .views-exposed-widget {
    input {
      border-radius: 5px;
      font-size: 18px;
      border-bottom: 2px solid;
      border-color: #e4e4e4;
      -webkit-box-shadow: inset 1px 1px 2px #707070;
      box-shadow: inset 1px 1px 2px #707070;
      padding: 12px 23px;
    }

    .description {
      display: none;
    }

    .container-inline-date {
      fieldset {
        margin-right: 10px;
      }
    }
  }

  .date-padding {
    padding: 0px;

    //padding-left: 10px;
 
  }
}

//node events / courses / volunteer / newsletter new styles
.node-type-events, .node-type-courses, .node-type-volunteer, .node-type-newsletter, .node-type-webform {
  #wrapper {
    background: $white;
  }
}

.node-events, .node-courses, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns,
.node-type-webform, .webform-share-your-story, .page-signup-form, .node-donations {
  background: $white;

  form {
    label[for="edit-submitted-country"] {
      display: block;

      //float: left;
   
    }

    .form-item {
      input {
        float: none;
        display: block;
      }

      input[type="radio"], input[type="checkbox"] {
        display: inline;
      }

      fieldset {
        float: none;
      }
    }

    .webform-date {
      width: 100%;
      float: left;

      fieldset {
        float: left;
        padding-left: 0;
      }
    }
  }
}

//Sign Up form page
.page-signup-form {
  #main {
    background: white;

    .view-display-id-signup_form {
      background: none;
    }
  }
}

// SHARE YOUR STORY / VOLUNTEER / NEWSLETTER PAGE
// .node-type-share-your-story, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns {
//   #content-area {
//     background: white;
//     padding: 1.5em;
//     margin-bottom: 3em;
//     border: 1px solid $gray;
//     clear: both;
//   }
// }

//Donation Page

.node-type-donations.nav-active {
  .nav-holder {
    margin-top: 10px;
  }
}

.node-type-donations {
  overflow-x: hidden;

  #main {
    padding-bottom: 45px;

    @include breakpoint($not-mobile) {
      padding-top: 40px;
    }


    #content-header {
      position: relative;
      z-index: 5;
    }
  }

  #wrapper {
    //background: blue;
    // background-image: url("/sites/all/themes/ambitious/images/Background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    @include breakpoint($tablet-small) {
      background-image: none !important;
    }


    .title {
      display: none;
    }

    .field-name-field-donation-background-image {
      z-index: 0;
      top: -30px;
      width: 100vw;
      position: relative;

      .field-item {
        @include breakpoint($tablet-small) {
          position: relative;
          display: inline-block;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, rgb(255, 255, 255) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
          }
        }


        img {
          width: 100%;

          @include breakpoint($tablet-small) {
            display: inline-block;
          }
        }
      }

      @include breakpoint($not-all-mobile) {
        // position: fixed;
        // left: 0%;
        display: none;
      }
    }

    .node-donations {
      background: none;

      .field-name-body {
        background: white;
        padding: 20px;
        width: 100%;
        margin: 90px 0 35px 0;
        position: relative;
        z-index: 1;

        @include breakpoint($not-mobile) {
          width: 55%;
        }


        @include breakpoint($all-large-mobile) {
          width: 70%;
          margin: auto;
          margin-top: 90px;
        }


        @include breakpoint($all-desktop) {
          width: 45%;
        }


        p {
          margin: 0;
          font-size: 15px;
          font-weight: bold;

          @include breakpoint($not-mobile) {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }

      form {
        background: white;
        width: 100%;
        padding: 10px;
        position: relative;
        z-index: 1;

        @include breakpoint($not-mobile) {
          padding: 35px;
          width: 55%;
        }


        @include breakpoint($all-large-mobile) {
          width: 70%;
          margin: auto;
        }


        @include breakpoint($all-desktop) {
          width: 45%;
        }


        .webform-component-textfield, .webform-component-email, .webform-component-select, .webform-component-optionsmarkup, .webform-component-date {
          padding: 0 10px;
        }

        .webform-component--first-text-area {
          padding: 0 10px;

          h4 {
            margin: 0;
            font-size: 25px;

            /* font-weight: bold; */
            color: #2A2E31;
          }

          a {
            text-decoration: none !important;

            //Important used to override the default a tag style
         
          }

          p {
            font-weight: 400;
            margin: 0;
            color: #636C73;
            font-size: 20px;
          }
        }

        .webform-progressbar {
          display: none;
        }

        .webform-steps-wrapper {
          background: none;
          border: none;
          left: 10px;
          position: relative;
          border: 2px solid #E2E2E2;
          width: 25%;
          height: 3px;
          margin: 20px 0;
          background-color: white;

          @include breakpoint($not-mini-mobile) {
            width: 20%;
          }


          @include breakpoint($all-large-mobile) {
            width: 40%;
          }


          @include breakpoint($not-mobile) {
            width: 20%;
          }


          span.disabled {
            padding-left: 0px;

            span {
              background: #E2E2E2;
            }
          }

          span.webform-step {
            background: none;
            border: none;
            padding-left: 0px;

            &:nth-child(1) {
              left: -3px;
            }

            &:nth-child(2) {
              left: 50%;
            }

            &:nth-child(3) {
              left: 100%;
            }
          }

          span {
            background: #FBBA00;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            padding-top: 6px;
            line-height: 0.5;
            margin: 0;
            color: white;
            pointer-events: none;
            cursor: default;
            top: -5px;
            padding-left: 6px;
            position: absolute;

            // @include breakpoint($not-mini-mobile) {
            //   position: absolute;
            // }
         
          }
        }

        .webform-component--donation-type--Recurring {
          label.option {
            p {
              padding-left: 20px;
              line-height: 20px;
              height: 20px;
            }
          }
        }

        .webform-component-optionsmarkup {
          label p {
            margin: 0;

            // font-size: 16px;
         
          }

          label p, label.option p {
            font-size: 13px;
            font-weight: bold;

            /* text-align: justify; */
            color: #636C73;
            padding-left: 20px;
            line-height: 20px;
          }
        }

        .webform-component--gift-aid-condition-text, .webform-component--other-statement {
          p {
            font-size: 11px;
            font-weight: bold;
            color: #636C73;
            padding-left: 20px;
            line-height: 20px;

            // margin-top: -15px;
            margin-bottom: 10px;
          }
        }

        .webform-component--other-amount {
          padding: 0 10px;

          input {
            width: 100%;

            // font-weight: bold;
            font-size: 16px;
            padding: 12px 15px 12px 33px;
            background-image: url("/sites/all/themes/ambitious/images/pound-icon.png");
            background-repeat: no-repeat;
            background-position: left 10px center;
            background-size: 6%;

            &::-webkit-input-placeholder {
              color: #636C73;
            }

            &:-moz-placeholder {
              /* Firefox 18- */
              color: #636C73;
            }

            &::-moz-placeholder {
              /* Firefox 19+ */
              color: #636C73;
            }

            &:-ms-input-placeholder {
              color: #636C73;
            }
          }
        }

        .webform-component--donation-type {
          padding: 5px 10px;
          height: 45px;

          // @include breakpoint($not-mini-mobile) {
          //   height: 35px;
          // }

          input[type="checkbox"] {
            // display: none;
            background: none;
            border: 2px solid black;
          }
        }

        .webform-component--select-an-amount {
          // .selection-amount {
          //   fieldset:nth-child(1) {
          //     padding-left: 0;
          //   }

          //   fieldset:nth-child(3) {
          //     padding-right: 0;
          //   }
          // }

          fieldset {
            width: 100%;
            float: left;

            @include breakpoint($all-desktop) {
              width: 33%;
            }
          }

          input[type=radio] {
            display: none !important;

            //Important used to override the common input field style
         
          }

          input[type=radio] + label {
            border: medium none;
            cursor: pointer;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            margin-top: 5px;
            margin-bottom: 5px;
            outline: medium none;
            padding: 25px 80px;
            position: relative;
            line-height: 29px;
            background: #fbba00;
            box-shadow: 0px 6px #f07d2c;
            -webkit-box-shadow: 0px 6px #f07d2c;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            margin-right: 15px;
            float: left;
            font-size: 2em;
            font-weight: bold;

            @include breakpoint($all-desktop) {
              &:hover:after {
                content: '';
                position: absolute;
                left: 30%;
                top: 132%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #FBBA00;
                clear: both;
              }
            }
          }

          input[type=radio]:checked + label {
            top: 2px;
            background: #F15500;
            -webkit-box-shadow: 0px 4px #C63502;
            box-shadow: 0px 4px #C63502;

            @include breakpoint($all-desktop) {
              &:after {
                content: '';
                position: absolute;
                left: 30%;
                top: 127%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #F15500;
                clear: both;
              }
            }
          }
        }

        .js-active {
          display: block !important;
        }

        .js-deactive {
          display: none !important;
        }

        div[class*="webform-component--value-of-"] {
          background: #F15500;
          float: left;
          padding: 10px 25px;
          border-radius: 10px;
          margin: 20px 10px;
          text-align: center;
          display: none;
          min-width: 95%;
          min-height: 112px;

          @include breakpoint($not-mobile) {
            padding: 10px 50px;
          }


          p {
            color: white;
            margin: 0;
            font-size: 14px;
            line-height: 17px;
          }
        }

        .webform-component--donation-checkbox-1, .webform-component--agree-condition--1 {
          label.option p {
            height: 40px;
          }
        }

        .webform-component--gift-aid-check-box, .webform-component--gift-aid-check-box--1 {
          label.option p {
            height: 75px;

            @include breakpoint($all-large-mobile) {
              height: 70px;
            }


            @include breakpoint($not-mobile) {
              height: 50px;
            }
          }
        }

        .form-item {
          label.element-invisible {
            display: none;
          }
        }

        .webform-component--cv-number {
          clear: both;
        }

        .webform-component--card-number, .webform-component--cv-number {
          @include breakpoint($not-mobile) {
            input#edit-submitted-card-number, input#edit-submitted-cv-number {
              background-image: url("/sites/all/themes/ambitious/images/info-icon.png");
              background-repeat: no-repeat;
              background-position: right 10px center;
              background-size: 6%;

              // margin-bottom: -15px;
           
            }

            &:hover {
              margin-bottom: 7px;

              & + .webform-component--card-number-tooltip, + .webform-component--cvv-tooltip {
                display: block;
              }

              input#edit-submitted-card-number, input#edit-submitted-cv-number {
                margin-bottom: -15px;
              }

              &:after {
                // position: absolute;
                // top: 10px;
                // left: -15px;
                // content: '';
                // width: 0;
                // height: 0;
                // border-right: solid 15px #FBBA00;
                // border-bottom: solid 15px transparent;
                // border-top: solid 15px transparent;

                content: '';
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #FBBA00;
                clear: both;
                border-top: solid 15px transparent;
                top: 0;
                margin-left: 43%;
                position: relative;

                // float: left;
             
              }
            }
          }
        }

        .webform-component--card-number {
          &:hover {}
        }

        // .webform-component--cv-number{
        //   &:hover {
        //     &:after {
        //       top: ;
        //     }
        //   }
        // }

        .webform-component--card-number-tooltip, .webform-component--cvv-tooltip {
          display: none;
          background: #FBBA00;
          padding: 10px;
          width: 70%;
          text-align: center;
          position: absolute;

          // left: 55%;
          // top: 115px;
          // bottom: 0;
          right: 0;
          border-radius: 10px;
          margin: 25px 10px;
          margin-top: 10px;
          z-index: 1;

          p {
            margin: 0;
            color: white;
            font-size: 14px;
          }

          @include breakpoint($tablet-small) {
            margin: 20px 10px;
            margin-top: 10px;
          }


          // @include breakpoint($not-mobile) {
          //   position: absolute;
          // }

          // @include breakpoint($all-large-mobile) {
          //   left: 70%;
          // }

          // @include breakpoint($all-desktop) {
          //   left: 45%;
          // }
       
        }

        .webform-component--cvv-tooltip {
          // @include breakpoint($not-mobile) {
          //   top: 330px;
          // }

          // &::after, :after {
          //   top: 470px;
          // }
       
        }

        .webform-component--hover-and-selection-text-one {
          background: #FBBA00;
        }

        .webform-component--hover-and-selection-text-two {
          background: #F15500;

          // display: none;
       
        }

        .webform-component--hover-and-selection-text-one, .webform-component--hover-and-selection-text-two {
          float: left;
          margin: 20px 10px;
          border-radius: 15px;
          text-align: center;

          p {
            font-size: 14px;
            padding: 20px 50px;
            color: white;
            margin: 0;
            line-height: 17px;
          }
        }

        .form-actions {
          padding: 0 10px;

          input {
            font-size: 17px;

            @include breakpoint($mobile) {
              padding: 5px 10px;
              font-size: 14px;
            }
          }

          input.webform-next, input.webform-submit {
            width: 100%;

            // float: right;
            margin-right: 0;

            // @include breakpoint($not-mobile) {
            //   width: 62%;
            // }
         
          }

          input.webform-previous + input.webform-next, input.webform-previous + input.webform-submit,
          div.ajax-progress.ajax-progress-throbber + input.webform-next, div.ajax-progress.ajax-progress-throbber + input.webform-submit {
            width: 100% !important;

            @include breakpoint($not-mobile) {
              width: 61% !important;
            }


            // Important used to override the common styles
         
          }

          input.webform-previous {
            width: 100%;
            background: #fbba00;

            // box-shadow: 0px 6px #f07d2c;
            // -webkit-box-shadow: 0px 6px #f07d2c;
            border-bottom: 5px solid #f07d2c;
            margin-bottom: 10px;

            @include breakpoint($not-mobile) {
              width: 35%;
              margin-bottom: 0px;
            }


            &:hover {
              border-bottom-width: 3px;
            }
          }

          input#edit-webform-ajax-next-677871 {
            width: 100%;
          }
        }
      }
    }
  }
}

//Donation Page Thank You page
// .page-node-677871.page-node-done,
// .page-node-685796.page-node-done
.page-node-done,
.node-type-thank-you-page {
  #wrapper {
    // background-image: url("/sites/all/themes/ambitious/images/Background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    #main {
      padding: 150px 0;
    }

    div#content-header {
      h1.title {
        display: none;
      }
    }

    // .webform-progressbar {
    //   display: none;
    // }

    section#content-area {
      text-align: center;
    }

    .webform-confirmation, .field-name-body {
      background: white;
      width: 100%;
      padding: 70px 35px;

      @include breakpoint($not-mobile) {
        width: 45%;
      }
    }

    .sharethis-buttons {
      float: left;
      margin-top: 20px;
      width: 45%;
      background: #ffffff;
      border: 1px solid #d2d5d6;

      // padding: 20px 18px;
      padding: 7px 18px 0 18px;

      p.text-center {
        text-align: right;
        margin: 0;
      }
    }
  }

  // All commented codes are of the default webform thank you page.

  // .st-sharethis-counter {
  //   &:after {
  //     margin-top: 0 !important;
  //   }

  //   &:before {
  //     top: 4px !important;
  //   }
  // }

  // .social-sharing-box {
  //   display: none;
  //   background: #FFFFFF;
  //   padding: 10px;
  //   float: right;

  //   /* border-radius: 10px;
  //   margin: 30px 0;
  //   -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  //   -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  //   box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  //   border: 2px dotted #8E8E8E;

  //   @include breakpoint($large-mobile) {
  //     float: left;
  //     margin-top: 20px;
  //   }

  //   .social-sharing-donation {
  //     width: 205px;
  //     margin: auto;

  //     // background: black;
  //     // padding: 20px;
  //     // float: left;
  //     // border-radius: 20px;

  //     .facebook-icon, .twitter-icon, .gplus-icon {
  //       span.hyperspan {
  //         padding: 3px 19px 28px 19px;
  //         opacity: 0;
  //       }
  //     }

  //     .facebook-icon {
  //       background-image: url("/sites/all/themes/ambitious/images/facebook-hover.png");
  //     }

  //     .twitter-icon {
  //       background-image: url("/sites/all/themes/ambitious/images/twitter-hover.png");
  //     }

  //     .gplus-icon {
  //       background-image: url("/sites/all/themes/ambitious/images/google-hover.png");
  //     }
  //   }
  // }

  // .social-slide {
  //   // background-image: url("path/to/image.png");
  //   height: 48px;
  //   width: 48px;
  //   margin: 10px;
  //   float: left;
  //   -webkit-transition: all ease 0.3s;
  //   -moz-transition: all ease 0.3s;
  //   -o-transition: all ease 0.3s;
  //   -ms-transition: all ease 0.3s;
  //   transition: all ease 0.3s;
  // }

  // .social-slide:hover {
  //   background-position: 0px -48px;
  //   box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
  // }

  // .social-active {
  //   display: block !important;
  // }

  // .topic-share {
  //   float: left;
  // }
}

//Download Donations Page
.pgae-download-donations {
  #main {
    padding-bottom: 50px;
  }
}

// Hide all the titles on the policy pages.
.section-policy h1.title {
  display: none;
}