@import "base/base";

body.sidebar {
  #main {
    max-width: none;
    padding: 0;
  }
  #sidebar, #sidebar:before {
    width: 25%;
  }
  #sidebar {
    float: left;
    padding-top: 5em;
    text-align: right;
    font-size: 1.2em;
    min-height: 16em;
    letter-spacing: -1px;
    ul {
      list-style: none;
      float: right;
      a {
        padding: 0.8em 1.5em 0.8em 2.5em;
        display: block;
        color: $shuttle_gray_dark;
        text-align: left;
        &.active {
          background: $white;
          color: inherit;
        }
        &:hover {
          color: inherit;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      left: 0;
      background: $porcelain;
      @include breakpoint($mobile) {
        content: none;
      }
    }
    @include breakpoint($mobile) {
      width: 100%;
      padding: 1em;
      background: $porcelain;
      min-height: 0;
    }
  }
}

.responsive-menu {
  float: none;
  font-size: 1.1em;
  text-align: center;
  position: relative;
  select {
    padding: 0.6em 1em;
    width: 100%;
    border-radius: 6px;
    color: $dark-gray;
    border-top: 2px solid $silver_chalice_dark;
    border-left: 2px solid $iron;
    border-right: 2px solid $iron;
    border-bottom: 2px solid $gallery_dark;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
    vertical-align: middle;
  }
  &:after {
    content: '';
    background: image-url("arrow-down.png");
    width: 22px;
    height: 14px;
    right: 15px;
    top: 22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    /*content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background: $alabaster;
    position:absolute;
    pointer-events:none;
    display:block;*/
  }
}

body.profile .top-header {
  @include breakpoint($mobile) {
    display: none;
  }
}

.profile-body, .profile-body:before {
  width: 75%;
}

.profile-body:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 25%;
  background: $white;
  @include breakpoint($mobile) {
    content: none;
  }
}

.profile-body {
  float: left;
  padding-left: 6em;
  padding-top: 3em;
  .holder {
    max-width: 790px;
  }
  h1 {
    display: inline-block;
    margin-bottom: 0.6em;
  }
  h2 {
    font-size: 2.1em;
    @include breakpoint($mobile) {
      font-size: 1.7em;
    }
  }
  .member-since {
    font-size: 1.2em;
    color: $shuttle_gray_dark;
    float: right;
    line-height: 4.5em;
    @include breakpoint($mobile) {
      font-size: 1em;
      float: none;
      line-height: normal;
      display: block;
    }
  }
  .profile-info {
    line-height: 1.9em;
    a {
      text-decoration: underline;
    }
  }
  .profile-main > section {
    margin-bottom: 5em;
    @include breakpoint($mobile) {
      margin-bottom: 4em;
      &.profile-info {
        margin-top: 1em;
        margin-bottom: 2em;
      }
    }
  }
  .profile-picture {
    float: left;
    clear: right;
    margin-right: 4em;
    @include breakpoint($mobile) {
      margin: 2em auto;
      display: block;
      float: none;
    }
  }
  h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0;
  }
  dl {
    font-size: 1.2em;
    float: left;
    @include breakpoint($mobile) {
      font-size: 1em;
      float: none;
      clear: both;
    }
  }
  dt {
    float: left;
    clear: left;
    min-width: 6em;
    @include breakpoint($mobile) {
      margin: 0;
      width: auto;
      float: left;
      min-width: inherit;
    }
  }
  dd {
    font-weight: bold;
    display: inline-block;
    float: left;
    @include breakpoint($mobile) {
      margin: 0;
      width: auto;
      float: left;
      margin-left: 12px;
    }
  }
  .about-me {
    clear: both;
    h2 {
      margin-bottom: 0.5em;
    }
  }
  .connect {
    h3 {
      margin: 1em 0;
      @include breakpoint($mobile) {
        font-size: 1.4em;
      }
    }
  }
  .recent-activity {
    .tabs {
      font-size: 1.4em;
      list-style: none;
      text-align: center;
      margin: 2.5em 0 2em;
      padding: 0;
      text-transform: lowercase;
      li {
        float: left;
        width: 33%;
      }
      a {
        display: block;
        border-bottom: 6px solid $wrapper-bg;
        &.active, &:hover {
          border-color: $orange;
        }
      }
      @include breakpoint($mobile) {
        text-align: left;
        li {
          width: auto;
          float: none;
        }
        border-color: $orange;
      }
    }
  }
  @include breakpoint($mobile) {
    padding: 2em 0 0;
    width: auto;
    float: none;
    margin: 2em 1.4em;
    clear: both;
  }
}

#comments {
  clear: both;
  padding-top: 2em;
  .comment {
    margin: 2em 0;
  }
  .profile-picture {
    float: none;
  }
  h4 {
    font-size: 1.1em;
    margin: 0.3em 0;
  }
  .comment-left {
    float: left;
  }
  .comment-body {
    padding: 1.4em 2em;
    border: 2px solid $gray;
    margin-left: 6em;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative;
    &:before {
      background: image-url("comment-tip-left.png") 0 0 no-repeat;
      width: 26px;
      height: 31px;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 16px;
    }
  }
  @include breakpoint($mobile) {
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    .comment {
      display: inline-block;
      vertical-align: top;
    }
    .profile-picture {
      float: left;
      margin: 0 1em 1.5em 0;
      width: 35%;
      height: auto;
    }
    .comment-left {
      float: none;
      margin-bottom: 1em;
      width: 100%;
    }
    .comment-body {
      border: none;
      margin: 0;
      padding: 0;
      clear: both;
      height: 100%;
      white-space: normal;
      &:before {
        content: none;
      }
    }
  }
}

// @include breakpoint($mobile) {
// 	body.profile .btn{
// 		width: 100%;
// 		margin: 0.6em 0;
// 	}
// }

/* LOGIN PAGE */
.profile-main {
  min-height: 430px;
  @include breakpoint($mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }

  #user-login, #user-pass, #user-register-form, #user-profile-form {
    float: left;
    label {
      position: absolute;
      top: 17px;
      left: 26px;
    }
    input[type="email"], input[type="text"], .select, input[type="password"] {
      float: left;
      clear: both;
      width: 80%;
      border-radius: 5px;
      border-color: $mercury;
      @include box-shadow(inset 1px 1px 2px rgba(112, 112, 112, 1));
      margin-bottom: 20px;
      padding: 12px 23px;
      @include breakpoint($mobile) {
        width: 100%;
      }

      font-size: 18px;
      &:focus {
        border: 2px solid $yellow;
        padding: 11px 22px;
        color: $base-link-color;
      }
      &.error, &.error:focus {
        border: 2px solid $error-border;
        padding: 11px 22px;
        color: $error-text;
        background: $error-bg;
      }
    }
    input[type="submit"] {
      float: left;
      clear: both;
      border: none;
      // added backgournd, color, border-radius - > nanda Globalsoftlab
      @include border-radius(5px);
      background: $orange;
      color: $white;
      border-bottom: 5px solid $orange-dark;
      margin-right: 20px;
      @include breakpoint($mobile) {
        margin-bottom: 20px;
      }

      &:hover {
        border-bottom-width: 3px;
        text-decoration: none;
        color: $white;
      }
    }
  }
  .hybridauth-widget-wrapper {
    clear: both;
  }
}

#user-pass {
  label {
    display: none;
  }
}

.page-user {
  .quicktabs-tabs {
    a {
      &::first-letter {
        font-weight: bold;
      }
    }
  }
  .easy-breadcrumb {
    padding-top: 0;
  }
  .view-user-profile {
    img {
      display: none;
    }
    .comment-left {
      img {
        width: 60px;
        display: inherit;
        border-radius: 5px;
      }
    }
  }
  tr {
    fieldset {
      padding: 0;
    }
  }
  #privatemsg-list-form {
    .form-item-operation {
      padding-top: 0;
      padding-left: 0;
      @include breakpoint($mobile) {
        width: 99%;
        margin: 25px 0 15px 0;
      }
    }
    #edit-delete {
      @include breakpoint($mobile) {
        width: 99%;
      }
    }
  }
}

.quicktabs-tabs a {
  padding: 1em 0;
  color: $rolling_stone;
  line-height: 1;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
}

.quicktabs-tabs li.quicktabs-tabs a {
  color: $shamrock;
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  @include breakpoint($mobile) {
    color: $orange;
  }
}

// TAB Animation

#quicktabs-user_profile_page ul.quicktabs-tabs {
  background: $white;
  li {
    &:last-child::before {
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 99%;
      height: 6px;
      background: $orange;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      z-index: 99;
      @include breakpoint($mobile) {
        display: none;
      }
    }
    &:first-child.active ~ li:last-child::before {
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);
    }
    &:nth-child(2).active ~ li:last-child::before {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    &:nth-child(3).active ~ li:last-child::before {
      -webkit-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);
    }
    &:nth-child(4).active ~ li:last-child::before {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  li.active a {
    color: $orange;
  }
}

/* Nav */

#quicktabs-user_profile_page {
  text-align: center;
  ul.quicktabs-tabs {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-bottom: -10px;
    @include breakpoint($mobile) {
      margin-bottom: 15px;
    }

    li {
      position: relative;
      z-index: 1;
      display: block;
      margin: 0;
      text-align: center;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      @include breakpoint($mobile) {
        -webkit-flex: inherit;
        -moz-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
        float: left;
        width: 100%;
      }

      a {
        padding-top: 22.4px;
        padding-bottom: 24px;
        @include transition($type: padding, $time: 0.3s, $ease: ease);
      }
      &.active {
        a {
          padding-top: 30.4px;
          padding-bottom: 14px;
        }
      }
    }
    a:focus {
      outline: none;
    }
  }
}

//hiding the user button from the messages page
.page-user-messages {
  .btn-user {
    display: none;
  }
}

// .online-user{
// 	ul{
// 		display: inline-block;
// 	}
//   li{
//     border: 3px solid $green-lighter;
//     padding: 30px 35px;
//     float: left;
//     margin: 5px;
//     &:hover{
//     	border: 3px solid $green-dark;
//     }
//   }
//   a.username{
//   	font-size: 20px;
//   	color: $black; 
//     &:hover{
//     	color: $dark-gray;
//     }
//   }
// }

//online user page stylings
.online-user {
  ul {
    display: inline-block;
  }
  li {
    float: left;
  }
  a.username {
    border-radius: 10px;
    min-width: 210px;
    text-align: center;
  	border: 3px solid $gray;
    padding: 30px 35px;
    float: left;
    margin: 5px;
    font-size: 20px;
    color: $dark-gray;
    &:hover {
     border: 3px solid $orange;
     color: $black;
    }
  }
}

//removing the name from the user page
.no-display{
  font-size: 0;
}