@import "base/base";

//=== Social Section ===//
.social-block{
	@include breakpoint($mobile){
	background: $wrapper-bg;
	}

	h1{
		@include breakpoint($mobile){
			margin-left: 18px;
			font-size: 30px;
			font-weight: bold;
			background: none;
		}
	}
	.block{
		padding: 0;
		@include breakpoint($mobile){
			padding: 0 20px 13px;
			background: none;

			&.numbers{
				font-weight: bold;
			}
		}
		.block-facebook{
			@include breakpoint($mobile){
				display: none;
			}
		}
		.block-twitter{
			@include breakpoint($mobile){
				display: none;
			}
		}
		.block-youtube{
			p{
				position: relative;
				
			}
			.btn{
				
			}

			.youtube-btn{
				position: absolute;
				@include breakpoint($mobile){
					padding: 16px 0;
					margin-bottom: 12px;
				}
				span.icon-YouTube{
					@include breakpoint($mobile){
						display: none;
					}
				}
			}

			}
			.twitter-btn{
				position: absolute;
				display: none;
				@include breakpoint($mobile){
					padding: 16px 0;
					top:85px;
					display: block;
					margin-bottom: 12px;
				}

			}

			.facebook-btn{
				position: absolute;
				display: none;
				@include breakpoint($mobile){
					padding: 16px 0;
					top:168px;
					display: block;
					margin-bottom: 12px;
				}


		}
	}

}