@import "base/base";

// Wrapper class "tree-house-school"
// These styles for Tree House School
.section-tree-house-school{
	#wrapper{
		background: $white !important;
	}
}
.tree-house-school{
	background: $white;

	// Header
	#header.fixed-position .logo{
		margin:0;		
	}
	#header.fixed-position .logo img{
		-moz-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		
	}
	#header.fixed-position .logo img{
		height: 40px;
	}
	
	// Display none of AAA Top menu
	#block-menu-menu-header-top-menu{
		display: none;
	}

	// Top menu
	.tree-house-school-top-menu{
		ul.menu{
			margin:0;
			li{
				padding: 0 19px;
				list-style-type: none;
			}
			li.last{
				padding-right: 0;
			}
		}
	}
	.top-bar .login-info {
		float: right;
		font-size: initial;
		line-height: 26px;
	}

	// Title
	h1.title{
		display: none;
	}

	// Menu
	.right-info a:hover,
	.right-info a.search-opener .icon-search:hover{
		color: $green;
	}

	.btn{
		padding: 11px 39px;
	}

	// News Home
	.home-stream .views-row:nth-child(1){
		padding: 20px 21px;
		position: relative;
		margin: 0 0 30px;
		background: #ffffff;
		border: 1px solid #d2d5d6;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	}
	.home-stream h2.title{
		padding: 65px 0 41px 0;
		margin: 0;
		font-size: 37px;
		color: $grey;
	}

	.posts-columns .post .footer .num-holder a .num{
		color: $green;
		border-color: $green;
	}
	.posts-columns .post .footer .num-holder a .text{
		font-size: 13px;
	}
	.posts-columns .post .img-holder .feature-holder .icon-Featured{
		color: $green;
	}
	.posts-columns .post .img-holder .feature-holder{
		background: $green;
	}

	.visual .slider-main .slider-box .slider-action a{
		text-decoration: none;
	}

	// Main
	#main{
		background: transparent;
	}


}