@import "base/base";

// Understanding autism page ( node-74591 ) and 16-25 age page ( node-74611 )
.page-node-74591,
.page-node-74611{

  #main h1.title{
    display: none;
  }
  .img-holder .block-easy-breadcrumb .easy-breadcrumb,
  .img-holder .block-easy-breadcrumb .easy-breadcrumb .easy-breadcrumb_segment{
    color: white;
    a{
      color: white;
    }
  }
 
  .title.title-second{
    margin: -40px 0 10px;
  }

  // Adding more margings to caption
  .visual .img-holder .caption-frame .caption .title .title-third{
    @include breakpoint($all-desktop){
      margin: 10px 0 0 324px;
    }
  }
  
  // Remove additional breadcrumb
  .region-image-holder .easy-breadcrumb{
    display: none;
  }

    // View Stream
  .understanding-autism{
    .post-actions{
      overflow: hidden;
      .action{
        display: initial;
        text-decoration: none;
        position: relative;
        top: -20px;
      }      
    }

    .form-item-sort-by label{
        display: none;
    }
  }
  // Text block
  .text-block{
    h1{
      font-size: 2.3em;
      padding-right: 17px;
    }
  }
  // Load more -> please refer to global scss line 320. appended it there.
  // .pager-load-more{
  //    @extend %listreset;
  //    padding: 29px 0 61px;
  //    li{
  //      text-align:center;
  //      a{
  //         font-size: 0;
  //         color:$gray;
  //         &:before{
  //            font-size: 101px; 
  //            @extend [class*=" icon-"];
  //            @extend .icon-Downarrow;          
  //         }
  //         &:hover {
  //        color:$heading-link;
  //        text-decoration: none;  
  //     }
  //      }
  //   }
  // }

  // Action box
  .action-block .holder .region .block:nth-child(1){
    @include span(6 of 12);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

  .action-block .holder .region .block:nth-child(2){
    @include span(6 of 12 last);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

   // Post
  .post{
    min-height: 315px;
  }

  // Views exposed forms on toggle class
  fieldset{
    float: left;
    margin-right: 20px;
  }
//changed in order to display the text in the action block changes by amalan
//original code was commented
/*   .grid-view{
    a{
      .text{
        display: none;
      }
    }
  } */

 .img-holder{
   a{
     .text{
       display: none;
     }
   }
 }

//end of codes
  .list-view{
    .info.add{
      padding-top: 0px;
      padding-bottom: 0px;
      }
    .img-holder{
      a{
        img{
          display: none;
        }
        .icon-connection{
          display: none;
        }
        .text{
          display: inherit;
        }
      }
    

      .voice-holder{
        margin-left: 150px;
      }

    }


    .post{
      min-height: 1px;
      padding: 0px 21px;
    }
    // Remove padding from Text block
    .text-block{
      padding: 0;
    }
    .post-actions{
      display: none;
    }    
  }

  .views-row-1{
    //margin-bottom:95px;
  }

  // Fix title issue
  .visual .img-holder .caption-frame .caption{
    @include breakpoint($mobile){
      padding: 30px 0 0;
    }
    @include breakpoint($mini-mobile){
      padding: 0;
    }
  }
  .visual .img-holder .caption-frame .caption .title .title-third{
    @include breakpoint($mobile){
      margin-top: 4px;
    }
  }

}

// Fix Grid and List view icon on Mobile view
@include breakpoint($mobile){
  .sort-block fieldset.grid-view{
    width: 49px;
    float: left;
  }
  .sort-block fieldset.list-view{
    width: 49px;
    float: left;
  }
  .sort-block .stButton{
    margin-right: 0;
  }
}
// Fix Ajax loading gif positioning issue
.sort-block{
    .form-item-sort-by{
      position: relative;
    }
    .ajax-progress{
      position: absolute;      
    }
}
// Fix icon font size issue
.icon-connection:before{
  @include breakpoint($mobile){
    font-size: 1.5em;
  }
}

// Fix H1 Issue
.posts-columns .text-block h1{
  @include breakpoint($mobile){
    line-height: 1.1;
  }
}

