@import "base/base";

// Understanding autism page ( node-74591 ) and 16-25 age page ( node-74611 )
.page-node-74591,
.page-node-74611{
  #main h1.title{
    display: none;
  }
  .img-holder .block-easy-breadcrumb .easy-breadcrumb,
  .img-holder .block-easy-breadcrumb .easy-breadcrumb .easy-breadcrumb_segment{
    color: white;
    a{
      color: white;
    }
  }
  // 
  .title.title-second{
    margin: -40px 0 10px;
  }

  // Remove additional breadcrumb
  .region-image-holder .easy-breadcrumb{
    display: none;
  }

    // View Stream
  .understanding-autism{
    .post-actions{
      overflow: hidden;
      .action{
        display: initial;
        text-decoration: none;
        position: relative;
        top: -20px;
      }      
    }

    .form-item-sort-by label{
        display: none;
    }
  }
  // Text block
  .text-block{
    h1{
      font-size: 2.3em;
      padding-right: 17px;
    }
    p{
      font-size: 1em;
    }
  }
  // Load more
  .pager-load-more{
     @extend %listreset;
     padding: 29px 0 61px;
     li{
       text-align:center;
       a{
          font-size: 0;
          color:$gray;
          &:before{
             font-size: 101px; 
             @extend [class*=" icon-"];
             @extend .icon-Downarrow;          
          }
          &:hover {
         color:$heading-link;
         text-decoration: none;  
      }
       }
    }
  }

  // Action box
  .action-block .holder .region .block:nth-child(1){
    @include span(6 of 12);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

  .action-block .holder .region .block:nth-child(2){
    @include span(6 of 12 last);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

   // Post
  .post{
    min-height: 315px;
  }

  // Views exposed forms on toggle class
  fieldset{
    float: left;
    margin-right: 20px;
  }

  .list-view{
    .img-holder{
      display: none;
    }
    .post{
      min-height: 1px;
      padding: 20px 21px;
    }
    // Remove padding from Text block
    .text-block{
      padding: 0;
    }
    .post-actions{
      display: none;
    }    
  }

}

// Fix Grid and List view icon on Mobile view
@include breakpoint($mobile){
  .sort-block fieldset.grid-view{
    width: 49px;
    float: left;
  }
  .sort-block fieldset.list-view{
    width: 49px;
    float: left;
  }
  .sort-block .stButton{
    margin-right: 0;
  }
}
// Fix Ajax loading gif positioning issue
.sort-block{
    .form-item-sort-by{
      position: relative;
    }
    .ajax-progress{
      position: absolute;      
    }
}
// Fix icon font size issue
.icon-connection:before{
  @include breakpoint($mobile){
    font-size: 1.5em;
  }
}

// Fix H1 Issue
.posts-columns .text-block h1{
  @include breakpoint($mobile){
    line-height: 1.1;
  }
}
