@import "base/base";
@import "extends";

/*breadcrump for all the pages*/
.img-holder{
	.block-easy-breadcrumb{
		margin: 0 auto;
		max-width: 1080px;
		padding: 10px 20px 10px 20px;
		.easy-breadcrumb{
			letter-spacing:-4px;
			text-align:right;
			padding:20px 0px 0 0;
			color:black;
			@include breakpoint($mobile) {
				display:none;
			}
			.easy-breadcrumb_segment {
				display:inline-block;
				vertical-align:top;
				letter-spacing:normal;
				font-size:16px;
				line-height:20px;
				position:relative;
				padding:0 3px 0 13px;
		
				color:black;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
			
			
			a {
				color:black;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
		}
	}
}

/*end of breadcrumb codes*/

.page-node-74596{
	@extend %my-voice-main;
	.visual{
		@extend %my-voice-visual;
	}
	.action-block{
		
	}
	
	.menu-main-menu-features-item-1{ 
		.menu__item{ 
			.btn{
				background: $pink;
				border-bottom-color:$pink-dark;
			}
		}
	}
	
	.block-easy-breadcrumb{
		margin: 0 auto;
		max-width: 1080px;
		padding: 10px 20px 10px 20px;
		.easy-breadcrumb{
			letter-spacing:-4px;
			text-align:right;
			padding:20px 0px 0 0;
			color:$white;
			@include breakpoint($mobile) {
				display:none;
			}
			.easy-breadcrumb_segment {
				display:inline-block;
				vertical-align:top;
				letter-spacing:normal;
				font-size:16px;
				line-height:20px;
				position:relative;
				padding:0 3px 0 13px;
		
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			
			}
			a {
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
		}	
	}
	
//	.region-image-holder
//	{
//		.easy-breadcrumb{
//			display:none;
//		}
//	}
	
	//.title
	//{	display:none;
	//}

}


/*new codes for menu stlying*/

.menu-main-menu-features-item-1{
		list-style:none;
		padding:0;
		//li { a {
		.menu__item{ .btn{
			display:inline-block;
			border:none;
			padding:10px 9px;
			width:349px;
			font-size:18px;
			line-height:30px;
			border-radius:5px;
			color:$white;
			text-align:center;
			text-decoration:none;
			border-bottom:5px solid $orange-dark;
			background:$orange;
			@extend %clearfix;
			font-weight:normal;
			font-family:$base-font-family;
			em{
				position:relative;
				display:inline-block;
				vertical-align:top;
				word-spacing:3px;
				top:6px;
				margin-left: 10px;
			}
			

			&:hover {
				border-bottom-width: 3px;
				margin-top:2px;
				text-decoration:none;
				color:$white;
			}	
			&:active{
				border-bottom-width:0px;
				margin-top:5px;
				text-decoration:none;
				color:$white;
			}
			&:visited{
				text-decoration:none;
				color:$white;
			}
		}}
		//}} 
	}

nav {
	.main-menu-1 {
		.course{
			a {
				.icon-Downarrow{
				display:none;
				}
				.icon-Uparrow{
					display:none;
				}
			}
		}
	}
}

nav {
	.main-menu-2 {
		li {	
			a {
				padding: 9px 31px 11px 45px;
				.icon-Downarrow{
						display:none;
					}
					.icon-Uparrow{
						display:none;
					}
			}
			list-style:none;
		}
		padding:0;
	}
}

/* end of menu styling */

/* new styling to get the menu down by 20px */

.school-slide{
	top:20px;
}