@import "base/base";
@import "extends";

/*breadcrump for all the pages*/
.img-holder{
	/*.block-easy-breadcrumb{
		margin: 0 auto;
		max-width: 1080px;
		padding: 10px 20px 10px 20px;
		.easy-breadcrumb{
			letter-spacing:-4px;
			text-align:right;
			padding:20px 0px 0 0;
			color:$white;
			@include breakpoint($mobile) {
				display:none;
			}
			.easy-breadcrumb_segment {
				display:inline-block;
				vertical-align:top;
				letter-spacing:normal;
				font-size:16px;
				line-height:20px;

				position:relative;
				padding:0 3px 0 13px;
		
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
			
			
			a {
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
		}
	}*/
}

/*end of breadcrumb codes*/

.page-node-74596{
	@extend %my-voice-main;
	.visual{
		@extend %my-voice-visual;
	}

	/*.visual .img-holder .caption-frame {
		z-index: 1000;
		position: absolute;
		top: 75px;
	}*/
	
	/*.region.region-image-holder{
		padding-top: 90px;
	}
*/
	//.my-voice-block{
	//	margin-top: -250px;
	//}
	#content_top{
		z-index: 99;
		margin-top: -15%;
		margin-bottom: 30px;
	}
/*
	.visual .img-holder .caption-frame .caption .title {
		display: inline-block;
		vertical-align: top;
		font-size: 66px;
		line-height: 75px;
		margin: 0 0 10px;
		padding: 0 0 0 0px;
		font-weight: normal;
		width: 100%;
		color: #081318;
	}
	*/
/*
	.block-easy-breadcrumb{
		margin: 0 auto;
		max-width: 1080px;
		padding: 10px 20px 10px 20px;
		.easy-breadcrumb{
			letter-spacing:-4px;
			text-align:right;
			padding:20px 0px 0 0;
			color:$white;
			@include breakpoint($mobile) {
				display:none;
			}
			.easy-breadcrumb_segment {
				display:inline-block;
				vertical-align:top;
				letter-spacing:normal;
				font-size:16px;
				line-height:20px;
				position:relative;
				padding:0 3px 0 13px;
		
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			
			}
			a {
				color:$white;
				text-decoration:underline;
				&:hover { 
					text-decoration:none; 
				}
			}
		}	
	}
*/
	fieldset{
		@include breakpoint($mobile){
		width:100%;
		}
	}
	
	.btn.btn-left.filteroption{
		@include breakpoint($mobile) {
        width:49%;
      }
	}
	.st_sharethis_button{
		@include breakpoint($mobile) {
        width:49%;
		}
	}


//	.region-image-holder
//	{
//		.easy-breadcrumb{
//			display:none;
//		}
//	}
	
	//.title
	//{	display:none;
	//}

}


/*new codes for menu stlying*/

.menu-main-menu-features-item-1{
		list-style:none;
		padding:0;
		//li { a {
		.menu__item{ 
				//testplace
				//background: $pink;
				//border-bottom-color:$pink-dark;
		}
		//}} 
	}

nav {
	.main-menu-1 {
		.course{
			a {
				.icon-Downarrow{
				display:none;
				}
				.icon-Uparrow{
					display:none;
				}
			}
		}
	}
}

nav {
	.main-menu-2 {
		li {	
			a {
				padding: 9px 31px 11px 45px;
				.icon-Downarrow{
						display:none;
					}
					.icon-Uparrow{
						display:none;
					}
			}
			list-style:none;
		}
		padding:0;
	}
}

/* end of menu styling */

/* new styling to get the menu down by 20px */

.school-slide{
	top:20px;
}