@import "base/base";
@import "extends";

/*
* Jana adding homepage styles - class set from context.
*/

.my-voice-home {
    .banner_text {
        background-image: image-url('my-voice-large-logo.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 75%;
          text-indent: -200%;
          overflow: hidden;
    }
}

/*breadcrump for all the pages*/
.img-holder{

}

/*end of breadcrumb codes*/

.page-node-74596,
.section-my-voice{

	@extend %my-voice-main;
	.visual{
		@extend %my-voice-visual;
	}

	#content_top{
		z-index: 99;
		margin-top: -12.5%;
		margin-bottom: 30px;
		@include breakpoint($mobile) {
			margin-top: -5%;
		}

		.my-voice-columns{
		    .col{
    		  padding-top:0;
    		  padding-bottom:0;
    		  @include breakpoint($mobile) {
        		padding:10px 30px;
      			}
    		}	
   			.form-item{
    			float:left;
    		  	width:96%;
      			margin-bottom: 9px;
      			label{
        			left: 24px;
        			top: 12px;
      			}
    		}
    		a.tooltips span.tooltip-content{
      			left: -45px;
      			bottom: 30px;
    		}
   			.description{
      			margin-top:11px;
   			} 	
   		}
	}

	.visual.my-voice-visual{
		z-index: 0;
	}


	fieldset{
		@include breakpoint($mobile){
		width:100%;
		}
	}
	
	.btn.btn-left.filteroption{
		@include breakpoint($mobile) {
        width:49%;
        padding-top: 9px;
      	/* &:hover{
      		border-bottom-width: 3px;
      	} */
      }
	}
	.sort-block .stButton{
		@include breakpoint($mobile) {
        width:49%;

		}
	}

	//commented to fix the mobile view issue on voice page
	/* .st_sharethis_button{
		@include breakpoint($mobile) {
        width:49%;
		}
	} */

	.top-bar{
		.logo{
			display: inline;
			float: left;
			padding-right:20px;
			@include breakpoint($mobile) {
    	    	display: none;
			}
		}
	}

	.header__region.region.header{
		div{
			display: inline;
		}
	}

	// .block.block-menu.header-top-menu.contextual-links-region.first.odd{
	// 	ul{
	// 		padding-left: 15px;
	// 	}
	// }

	.item-list
	.pager{
		li{
			background: inherit;
			a{
				background: inherit;
			}
		}	
	}
	.easy-breadcrumb{
		a{
			color: $white;
		}
		
	}

	.node .field,
	.my-voice-post,
	.acknowledge-block{

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			text-decoration: underline;
			color: $pink;
			&:hover{
				color: $base-link-color;
			}

		}
		a{
			color: $pink;
			&:hover{
				color: $base-link-color;
			}
			&:first-child{
				color: $white;
			}
		}

		.text-right-section{
			a{
				.btn{
					margin-top:-30px;
	 				margin-bottom: 45px;
				}
			}
		}
	}
	.my-voice-block{
		a.tooltips,
		.block-close a{
			color: $base-link-color;
			&:hover{
				color: $pink;
			}

		}

	}

}


/*new codes for menu stlying*/

.menu-main-menu-features-item-1{
		list-style:none;
		padding:0;
		.menu__item{ 
		}
	}

nav {
	.main-menu-1 {
		.course{
			a {
				.icon-Downarrow{
				display:none;
				}
				.icon-Uparrow{
					display:none;
				}
			}
		}
	}
}

nav {
	.main-menu-2 {
		li {	
			a {
				padding: 9px 31px 11px 45px;
				.icon-Downarrow{
						display:none;
					}
					.icon-Uparrow{
						display:none;
					}
			}
			list-style:none;
		}
		padding:0;
	}
}

/* end of menu styling */

/* new styling to get the menu down by 20px */

.school-slide{
	top:20px;
}
.my-voice-block .block{
	padding-top: 0px;
	padding-bottom: 0px;
}

.my-voice-columns{
	padding-top: 45px;
	padding-bottom: 49px;
}
.page-node-74596{
	#wrapper{
		background-image:image-url('wid_bg.jpg');
	}
	.form-text{
		color:$black;
	}

	#content-header{
		h1{
			&:nth-child(1)
			{
				display: none;
			}
		}
	}
}

.my-voice-intro-menu{
	padding-top:20px;
}

// .top-bar{
// 	.logo{
// 		display: none;
// 	}
// }

// My voice filter
.section-voices-spectrum{
	input[type=submit]{
		border-color: $pink-dark;
		background: $pink;
	}

	.filter-slide .nav-filter .form-type-bef-checkbox.checked,
	.filter-slide .nav-filter .form-type-bef-checkbox:hover{
		color:$pink;
	}

	input[type=submit]:focus{
		color: $white;
	}

}
