/* Overriding styles for the forum site */

.section-talk-about-autism,
.node-type-forum-discussion {
  #block-menu-menu-header-top-menu, 
  a.donate-btn,
  .header-top .right-info,
  .region.region-footer-right {
    display: none !important;
  }

  .easy-breadcrumb {
    span:first-of-type {
      pointer-events: none;
    }
  }

  #logo {
    pointer-events: none;
  }
}
