/* Overrides */

// Sidebar masonry fix that
// a column is getting a 30% of width

.node-type-article #content_bottom .masonry-item,
.node-type-my-voice-blog #content_bottom .masonry-item,
.node-type-school-values #content_bottom .masonry-item {
  width: auto;
}

// Article page content not filling column
.node-type-article {
	.field-item {
		float: none;
	}
}

// Main container size on tab
.node-type-page {
  #main {
    @include breakpoint($desktop-small) {
      max-width: 90%;
      margin-top: 20px;
    }
  }
}