$base-text-color: #2a2e31;
$base-background-color: #eef2f3;
$base-link-color: #001522;
$base-form-text-color: #66737a;
$base-form-placeholder-color: #66737a;
$base-input-border-color: #66737a;

$base-font-size: 1.6em;
$base-line-height: 1.562em;
$base-font-family: Helvetica, sans-serif;

$base-min-width: 320px;
$blue: #734889;
$red: #c3104b;
$black: #001522;
$orang: #f15500;
$orang-drak: #cf3600;
$gray: #2a2e31;
$light-gray: #d6d9db;
$lighter-gray: #f0f4f5;
$white: #fff;
$arrow-bg: #f3f3f5;
$border-color: #d8dbdc;
$green: #00a837;
$green-drak: #00852c;
$yellow: #fbb900;
$footer-color: #97a2a9;

$silver: #e4e4e4;
$mercury: #aeaeae; 
$blue-light:#5bc5ed;
$gray-drak:#081318;
$button-gray: #a9acad;
$button-gray-dark: #383c3e;
$border-gray: #d2d5d6;


// breakpoints
$desktop: 1180px; // desktop
$tablet: 990px; 				// tablet
$tablet-range: 768px 1023px; 	// sample ragne
$mobile: 767px; 				// mobile
$mobile-hi-res: 767px (min-resolution 1.5dppx);  // mobile retina

// @font-face-serif: 
// @font-face-sans-serif: 