@import "base/base";

// FROM - CONTENT.SCSS
// .btn{
  //   @include fontsize(20,16);
  //   padding: 11px 26px;
  //   @include breakpoint($mobile) {
  //     padding: 6px 19px;
  //  font-size: 18px;
  //   }
  // }

// .btn{
      // margin-left:32px;
      // margin-right:32px;
      // margin-bottom:33px;
     
//      @include breakpoint($mobile) {
//        margin: 0 0 -2px;
//        position: relative;
//        z-index: 2;
     
//        border: none;
//        padding: 14px 0;
//        font-size: 18px;
//        text-align: left;
//      &:hover{
//        opacity: .9;
//      }
     
//      }
//   }

// border: medium none;
// cursor: pointer;
// display: inline-block;
// font-family: inherit;
// font-size: inherit;
// font-weight: 700;
// letter-spacing: 1px;
// margin: 15px 30px;
// outline: medium none;
// padding: 25px 80px;
// position: relative;
// text-transform: uppercase;


/* button */
.btn {  
  // margin-left:32px;
  // a{
  //   color: $white;
  // }

  border: medium none;
  cursor: pointer;  
  display:inline-block; 

  font-family: inherit;
  font-size: inherit;
  color: $white;
  text-align:center;
  text-decoration:none;

  margin-top: 5px;
  margin-bottom: 5px;
  outline: medium none;
  padding: 25px 80px;
  position: relative;

  // margin-right:32px;
  // margin-bottom:33px;
  // display:block;
  // padding:10px 9px;
  // font-size:20px;
  
  // padding
  // padding:5px 19px;
  // padding:10px 19px;
  // font-size:20px;
  line-height:30px;
  
  // border-radius:5px;
  // color:$white;  
  background: none, repeat, scroll, 0, 0, $orange;

  // drop the shadow
  @include box-shadow(0px 6px $orange-dark);
  // round the corners
  @include border-radius(5px);

  &:hover {
    // replace the displacement of the button from the top
    top: 2px;
    // displace the button shadow 
    @include box-shadow(0px 4px $orange-dark);   
  }

  &:active {
    top: 6px;
    @include box-shadow(0px 0px $orange-dark);
  }
  
  @extend %clearfix;

  em {
    position:relative;
    display:inline-block;
    vertical-align:top;
    word-spacing:3px;
    top:6px;
    margin-left: 10px;
    // right:-20px;
  }

  span {
    // padding: 0 0 0 25px;
    // position: relative;
    // display: inline-block;
    // vertical-align: top;
    // word-spacing: 3px;

    .icon-Rightarrow {
      @include breakpoint($tablet){
        font-size: 16px;
      };
  }
}

  @include breakpoint($tablet){
    // font-size: 16px;
  };

  @include breakpoint($mobile){
    width: 100%;
    // font-size: 14px;
  };

  &.btn-green{
    @include box-shadow(0px 6px $green-dark);
    background:$green;

    &:hover {
      // replace the displacement of the button from the top
      top: 2px;
      // displace the button shadow 
      @include box-shadow(0px 4px $green-dark);   
    }

    &:active {
      top: 6px;
      @include box-shadow(0px 0px $green-dark);
    }
  }

  &input[type=submit]{
    border-radius:5px;
  }

  &.btn-pink{
    @include box-shadow(0px 6px $pink-dark);
    background:$pink;
  }

  &.btn-gray{
    border:1px solid $captions-credit;
    border-bottom-width: 5px;
    background:$white;
    padding:5px 22px;
    color:$captions-credit;

    &:hover{
      color:$captions-credit;
      text-decoration: none;    
    }

    &:active, &:focus{
      border-width: 1px;
      margin-top:4px;
      color:$captions-credit;
    }

    &:visited{
      text-decoration:none;
      color:$captions-credit;
    }
  }

&.bt-left{
  margin:0 0 0 23px;
  @include breakpoint($mobile) {
  margin:0 0 0 11px;
 }
}

&.btn-transparent{
  // display: inline-block;
  // vertical-align: top;
  background:none;
  @include box-shadow(none);

  border: 3px solid $white;
  // @include box-shadow(0px 3px $white);
  // font-size: 20px;
  // line-height: 30px;
  // color:$white;
  // text-decoration: none;
  // position: relative;
  // border-radius: 5px;
  // padding:10px 28px;
  // margin:0;

  &:hover {
    // // replace the displacement of the button from the top
    // top: 2px;
    // // displace the button shadow 
    top: 1px;
    @include box-shadow(none);
    border: 2px solid $white;
  }

  em{
    padding-left:25px;
  }

  @include breakpoint($mobile) {
    font-size:14px;
    padding:7px 18px;
    em{
      padding-left:5px;
    }
  }  

  // &:visited{
  //   text-decoration:none;
  //   border: 2px solid $white;
  //   background:$orange;
  //   margin:0;
  //   color:$white;
  // }
}
&.btn-left{
  float:left;
}
&.btn-right{
  float:right;
}
// &:visited{
//   text-decoration:none;
//   color:$white;
// }

.desktop{
  @include breakpoint($mobile){
    display: none;
  }
}

} // end .btn 

//=== Buttons ===//

// Views - footer button
.footer-button{
	margin-bottom: 130px;
	@include breakpoint($mobile){
		margin-bottom: 30px;
	}
	.view-footer{
		text-align: center;
    @include breakpoint($mobile){
       margin-bottom: 10px;
    }

		a.btn{
			// font-family: $base-font-family;
			padding: 12px 34px;

			@include breakpoint($mobile){
       width: 100%;
       margin-bottom: 25px;
     }
   }
 }
}

// [BUTTON-REFACTOR] Review this.
.btn {  
  // Facebook button
  &.facebook-btn {
    display: none;
    @include breakpoint($mobile){
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;

      @include box-shadow(0px 6px $fb-blue-dark);
      background:$fb-blue;

      &:hover {
        // replace the displacement of the button from the top
        top: 2px;
        // displace the button shadow 
        @include box-shadow(0px 4px $fb-blue-dark);   
      }
    }
  }

  // Twitter button
  &.twitter-btn{
    display: none;

    @include breakpoint($mobile){
      display: block; 
      margin-top: 20px;
      margin-bottom: 20px;

      @include box-shadow(0px 6px $tw-blue-dark);
      background:$tw-blue;

      &:hover {
        // replace the displacement of the button from the top
        top: 2px;
        // displace the button shadow 
        @include box-shadow(0px 4px $tw-blue-dark);   
      }
    }
  }
  &.btn-google{
      @include box-shadow(0px 6px #ab1005);
      background:#f44336;

      &:hover {
        // replace the displacement of the button from the top
        top: 2px;
        // displace the button shadow 
        @include box-shadow(0px 4px #ab1005);   
      }
  }
}

.icon-connection {
	font-size:29px;
	padding:6px 0 0;
	float:left;
	background:$white;
	line-height:30px;
	height:45px;
	width:45px;
	text-align:center;
	color:$pink ;
	@include breakpoint($mobile) {
		height:33px;
		width:34px;
		padding:2px 0 0;
		font-size:16px;
	}
}

// shadow-button
.shadow-btn{
  &:hover{
    box-shadow: 0 1px $white; 
  }
}

.youtube-btn {
   
  @include breakpoint($mobile) {
    margin-bottom:0px;
  }
  span.icon-YouTube{
    @include breakpoint(999px){
      display: none;
    }
  }
}


.sort-block
{
  .btn{
    padding-top: 5px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 5px;
    margin-top: 0px;
  }
}

.footer{
  .btn{
    padding-top: 5px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 5px;
    margin-top: 0px;    
  }
}


.btn-facebook{
  @include box-shadow(0px 6px $fb-blue-dark);
  background:$fb-blue;

  &:hover {
    // replace the displacement of the button from the top
    top: 2px;
    // displace the button shadow 
    @include box-shadow(0px 4px $fb-blue-dark);   
  }
}

// Twitter button
.btn-twitter{
  @include box-shadow(0px 6px $tw-blue-dark);
  background:$tw-blue;

  &:hover {
    // replace the displacement of the button from the top
    top: 2px;
    // displace the button shadow 
    @include box-shadow(0px 4px $tw-blue-dark);   
  }
}

.featured-mobile-btn{
  margin-bottom: 0px;
  @include breakpoint($mobile) {
    padding:0px;
    margin-bottom:0px;
  }
    a.btn{
    @include breakpoint($mobile) {
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
    }
  }
}

.nav-holder{
  top:0px;
}


/*SHARE BUTTON*/
 
  .st_sharethis_button .stButton{
    display:inline-block;
    float:right;
  border:none;
  padding:5px 19px;
  font-size:18px;
  line-height:30px;
  border-radius:5px;
  color:$white;
  text-align:center;
  text-decoration:none;
  border-bottom:5px solid $green-dark;
    background:$green;
  @extend %clearfix;
  font-weight:normal;
  font-family:$base-font-family;
       &:after{
        font-size: 18px;
        font-family: "HelveticaNeueW01-55Roma", Helvetica, sans-serif;
        content :"Share";
        color:$white;
        float: left;
		margin-top: -22px;
		padding-right: 29px;
      }    
      &:before{
          font-family: 'icomoon';
      	  speak: none;
      	  font-style: normal;
      	  font-weight: normal;
      	  font-variant: normal;
      	  text-transform: none;
      	  line-height: 1;
      	  /* Better Font Rendering =========== */
      	  -webkit-font-smoothing: antialiased;
      	  -moz-osx-font-smoothing: grayscale;
         float: right;
         font-size: 20px;
         color:$white;
         font-family: 'icomoon';
         content: "\e60d";
         position: relative;
        top: 3px;
      }   
      &:hover {
	    border-bottom-width: 3px;
	    margin-top:2px;
		text-decoration:none;
		color:$white;
	  }
	  &:active{
	    border-bottom-width:0px;
	    margin-top:5px;
		text-decoration:none;
		color:$white;
	  }
	  &:visited{
	    text-decoration:none;
		color:$white;
	  }  
	  .st-sharethis-counter{
	    display:none !important;
	  }
    }

//to adjust the button sizes in the social media pages (user profile)
.connect{
  .btn{
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1.2em;
  }
}

//to adjust the edit your profile button in user profile page

.about-me{
  .btn{
    padding-top: 0.4em;
    padding-right: 1.4em;
    padding-bottom: 0.4em;
    padding-left: 1.4em;
    margin-top:1em;
  }
}

// Button Classes for After
.right-arrow{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:after{
    content: "\e60b";
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 4px;
  }
}

// Adding more padding to the button
.btn-wider{
  padding: 12px 34px;
}

//button on the particular webforms font size fixes
.webform-client-form-74681{
  @include breakpoint($not-mobile) {
  a.btn{
      font-size: 20px;
    }
  }
}