@import "base/base";

.cke_show_borders{
	margin-top: 0px;
}

// Forum Discussion - Setting a minimum height
// for the comments so that the avatars and 
// information layout nicely.
.node-type-forum-discussion .comment-right {
  min-height: 15em;
}

.comment-form .form-item-subject {display: none;}

// Comment Moderation
.comment-wrapper{
	width: 100%;
	background: white;
	padding: 20px;
	float: left;
	margin-bottom: 4vh;
	border:1px solid $gray;
	@include box-shadow(2px 2px 2px rgba(0,0,0,.25));
	&.views-row-last{
		margin-bottom: 10vh;
	}

	.comment-left {
		@include span(12); 	
	 	@include breakpoint($not-mobile){
	 		@include span (2 of 12);
	 		
	 	}
	}

	.comment-right {
		@include span(12);
		margin-bottom: 15px; 	
	 	@include breakpoint($not-mobile){
	 		@include span (10 of 12 last); 		
	 	}
	}

	.comment-area{
		background: #eee;
		padding: 20px;
		margin-bottom: 5vh;
	}

	.flag-wrapper a{
		cursor:pointer;
		text-align: center;
		padding: 15px;
		background: $orange;
		color: white;
		margin-right: 10px;
		border: none;
		border-radius: 5px;
		text-decoration: none;
		&:hover{
			background: $orange-dark;
		}
		@include breakpoint($mobile){
			display: block;
			width: 100%;
		}

	}
	h4{
		margin-bottom: 40px;
	}
	img{
		width: 100%;
		height: auto;
	}

}
