@import "base/base";

.quote {
  border-left: 1em $orange-dark solid;
  padding: 1em;
  margin: 0;
  color: lighten($dark-gray, 30%);
  p {
    margin: 0;
  }
  &.pink {
    border-left-color: $pink;
  }
  &.yellow {
    border-left-color: yellow;
  }
  &.red {
    border-left-color: red;
  }
  &.blue {
    border-left-color: $tw-blue;
  }
  @include breakpoint($tablet) {
    margin-right: -(span(4 of 8)) - gutter() / 2;
    width: 75%;
    float: right;
    margin-left: 2em;
    font-size: 1.1em;
    clear: right;
    &.small {
      width: span(4 of 8);
    }
  }
}

//2. general

//header updates
//TODO: check whether this is needed
.top-bar .links li {
  img {
    padding-right: 24px;
  }
}

//tooltips
.btn-tooltip {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-image: -moz-radial-gradient(90px 90px 90deg, circle cover, $silver 0%, $alto 100%, $white 95%);
  background-image: -webkit-radial-gradient(90px 90px, circle cover, $silver, $white);
  background-image: radial-gradient(circle cover at 45px 45px 45deg, $silver 0%, $alto 100%, $white 95%);
  border: 1px solid $light_silver;
  font-family: $header-font-family;
  font-size: 25px;
  padding: 1px 10px;
  line-height: 32px;
  margin-left: 7px;
  margin-top: 2px;
  //aligning the span class to the position
  display: table-caption;
  // makes the span act like a caption
  &:hover {
    background-image: -moz-radial-gradient(90px 90px 90deg, circle cover, $white 0%, $alto 100%, $gallery 95%);
    background-image: -webkit-radial-gradient(90px 90px, circle cover, $white, $gallery);
    background-image: radial-gradient(circle cover at 90px 90px 90deg, $white 0%, $alto 100%, $gallery 95%);
    border-color: $casablanca;
  }
  @include breakpoint($mobile) {
    float: right;
  }
}

a {
  &.tooltips {
    position: relative;
    display: inline;
    color: $heading-link;
    @include breakpoint($mobile) {
      display: none;
    }

    &.mobile {
      display: none;
      @include breakpoint($mobile) {
        display: block;
        top: -3px;
        float: right;
      }
    }
    span.tooltip-content {
      position: absolute;
      width: 245px;
      z-index: 99;
      color: $black;
      background: $early_dawn;
      border: 1px solid $casablanca;
      height: 130px;
      line-height: 13px;
      text-align: left;
      display: none;
      border-radius: 5px;
      font-size: 13px;
      padding: 20px;
      bottom: 60px;
      left: -102px;
      h3 {
        font-size: 14px;
        margin-bottom: 5px;
        @include breakpoint($mobile) {
          margin-top: -10px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 0;
        height: 0;
        border-top: 20px solid $casablanca;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
      }
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-top: 19px solid $early_dawn;
        border-right: 19px solid transparent;
        border-left: 18px solid transparent;
      }
    }
  }
  &:hover.tooltips span.tooltip-content {
    display: inherit;
  }
}

.larger {
  @include fontsize(24, 16);
}

//columns

.col-2 {
  float: left;
  width: 48.5%;
  margin: 0 0 0 2.9%;
  @include breakpoint($mobile) {
    width: 100%;
    margin: 0;
  }

  &:first-child {
    margin: 0;
  }
}

.col-3 {
  float: left;
  width: 31.4%;
  margin: 0 0 0 2.9%;
  @include breakpoint($mobile) {
    width: 100%;
    margin: 0;
  }

  &:first-child {
    margin: 0;
  }
}

// main page columns styles
.articles-block, .my-voice-block {
  width: 100%;
  @include transition($type: all, $time: 0.4s, $ease: ease);
  position: relative;
  overflow: hidden;
  @include breakpoint($mobile) {
    background: $white;
  }

  .holder {
    @include container;
    padding: 0 15px;
    .close, .block-close {
      width: 37px;
      background: $white;
      padding: 10px;
      left: 100%;
      position: relative;
      margin-left: -37px;
      @include breakpoint($mobile) {
        margin-top: -30px;
        z-index: 7;
        float: none;
        width: 0;
        margin: 0 0 0 -21px;
        top: -15px;
      }
    }
  }
  .img-holder {
    img {
      width: 100%;
    }
  }
}

//main page -- action-blocks
.action-block {
  float: left;
  background-color: $white;
  .holder {
    padding: 95px 15px 85px;
  }
  .block-share, .block-spectrum {
    color: $white;
    width: 48.5%;
    padding: 50px 10px 37px 39px;
    background-size: cover;
    @include breakpoint($mobile) {
      width: 100%;
      float: none;
      padding: 26px 10px 17px 20px;
      margin: 0 0 34px;
      background-position: right center;
    }

    .title {
      display: block;
      font-size: 45px;
      line-height: 46px;
      margin: 0 0 13px;
      font-family: $header-font-family;
      font-weight: normal;
      @include breakpoint($tablet) {
        font-size: 30px;
        line-height: 33px;
      }

      @include breakpoint($mobile) {
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 16px;
      }

      &.smaller {
        @include fontsize(18, 16);
        margin: 0 0 32px;
        @include breakpoint($tablet) {
          @include fontsize(14, 16);
          line-height: 33px;
        }

        @include breakpoint($mobile) {
          @include fontsize(12, 16);
          line-height: 25px;
          margin: 0 0 16px;
        }
      }
    }
  }
  .block-share {
    float: left;
    .btn {
      float: right;
      margin: 182px 10px 0 0;
      display: block;
      @include breakpoint($tablet) {
        margin: 146px 10px 0 0;
      }
    }
    @include breakpoint($mobile) {
      height: 324px;
      .btn {
        margin: 223px 10px 0 0;
      }
    }
  }
  .block-spectrum {
    background-image: image-url("bg07.jpg");
    float: right;
    .title {
      margin-bottom: 44px;
    }
  }
}

// social block styles - TODO merge with forum block styles
.social-block, .signup-block, .slider-block, .my-voice-block, .social-action-block {
  @include transition($type: all, $time: 0.4s, $ease: ease);
  position: relative;
  overflow: hidden;
  width: 100%;
  @include breakpoint($mobile) {
    background: $white;
  }

  .holder {
    @include container;
    @include breakpoint($mobile) {
      padding: 0 15px;
    }

    // myVoice page the form still cuts the caption
    // on higher resolutions.
    @include breakpoint($large-screen) {
      margin-top: 3em;
    }

    @include breakpoint($desktop-small) {
      margin-top: 7.5em;
    }

    .close, .block-close {
      //TODO make block-close not repeat for my voice page
      width: 37px;
      background: $white;
      padding: 10px;
      left: 100%;
      position: relative;
      margin-left: -37px;
      @include breakpoint($mobile) {
        margin: 0 0 0 -21px;
        top: -15px;
      }
    }
    .block-close {
      padding: 0;
      width: 57px;
      height: 42px;
      text-align: center;
      vertical-align: middle;
      line-height: 47px;
      margin-left: -57px;
      font-size: 22px;
    }
  }
  .btn {
    @include fontsize(20, 16);
    padding: 11px 29px;
    @include breakpoint($mobile) {
      padding: 6px 19px;
      font-size: 18px;
    }
  }
  .twitter {
    height: 300px;
    display: block;
    @include breakpoint($mobile) {
      height: auto;
    }
  }
  h1 {
    display: inline-block;
    vertical-align: top;
    background: $white;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    margin: 0;
    padding: 27px 33px 5px 29px;
    @include breakpoint($mobile) {
      font-size: 27px;
      line-height: 32px;
      padding: 0 0 31px;
      br {
        display: none;
      }
    }
  }
  h3 {
    line-height: 1.363em;
    font-size: 1.67em;
    margin: -4px 0 8px;
    @include breakpoint($mobile) {
      font-size: 22px;
      line-height: 28px;
      margin-top: 15px;
    }
  }
  .block {
    text-align: left;
    background: $white;
    padding: 52px 32px 49px;
    .btn {
      @include breakpoint($mobile) {
        width: 100%;
        .icon-Rightarrow {
          display: none;
        }
      }
    }
    @include breakpoint($mobile) {
      padding: 0 0 49px;
    }
  }
  .bg-stretch {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include breakpoint($mobile) {
      display: none;
    }

    img {
      display: block;
    }
  }
}

//myvoice block overrides + specifics
//this is the our events page
.page-node-221566 {
  .my-voice-block {
    .holder {
      @include breakpoint($mobile) {
        margin-top: 0;
      }
    }
  }
}

.my-voice-block {
  float: left;
  input[type=submit].btn-pink {
    border: 0;
    border-bottom: 5px solid $pink-dark;
  }
  @include breakpoint($mobile) {
    background: transparent;
    .block {
      @include breakpoint($mobile) {
        margin: -15px;
        padding: 10px 15px 20px;
      }
    }
  }

  //overrides for overlay block margins
  .block {
    padding: 45px 0 49px;
  }
  .holder {
    @include breakpoint($mobile) {
      padding: 15px 15px;
      margin-top: 3.5em;
    }
  }
  //overwrite jcf settings TODO check this + border is still darker than the others
  .jcf-select.jcf-unselectable {
    float: left;
    clear: both;
    width: 80%;
    @include breakpoint($mobile) {
      width: 100%;
    }

    border-radius: 5px;
    border-color: $mercury;
    @include box-shadow(inset 1px 1px 2px #CECECE);
    margin-bottom: 20px;
  }
}

//signup block overrides
.signup-block {
  .holder {
    @include breakpoint($mobile) {
      margin-bottom: 0;
    }
  }
  a {
    &.tooltips {
      @include breakpoint($mobile) {
        display: none;
      }

      &.mobile {
        display: none;
        @include breakpoint($mobile) {
          display: block;
          top: -3px;
          float: right;
        }
      }
    }
  }
}

//social block specific
.social-block {
  .holder {
    position: relative;
    z-index: 4;
    margin-top: 15px;
    padding: 60px 15px 80px;
    @include breakpoint($mobile) {
      padding: 60px 15px 240px;
    }

    .youtube-btn {
      //@include fontsize(18, 16);
      font-size: 18px;
      padding: 4px 20px;
      @include breakpoint($mobile) {
        width: 100%;
      }
    }
  }
  /*h3 {
    @include fontsize(20, 16);
    font-weight: bold;
  }*/
  h6 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1em;
  }
  .block {
    padding: 40px 32px 52px;
  }
  .member-count {
    text-align: center;
    .numbers {
      font-family: $header-font-family;
      font-size: 66px;
      line-height: 66px;
    }
    a {
      font-family: $header-font-family;
      text-decoration: underline;
    }
  }
}

//slider block overrides
//Moved from general.scss : Anees
//Consider moving to a new scss file for the slider blocks.
.front {
  .slider-container {
    @include breakpoint($tablet) {
      height: auto;
    }
  }
  .slider-block {
    @include breakpoint($mobile) {
      top: -30px;
      margin-top: -130px;
    }
  }
  .slider-block .block {
    @include breakpoint($tablet) {
      padding-bottom: 40px;
    }
  }
}

.slider-block {
  margin-top: -555px;
  @include breakpoint($mobile) {
    margin-top: 0;
    background: transparent;
  }

  .block {
    padding: 26px 0 0;
    @include breakpoint($mobile) {
      margin: -15px;
      padding: 10px 15px 70px;
    }

    .slider-container {
      margin: 0 90px;
      .l-s-arrow, .r-s-arrow {
        width: 0;
        height: 0;
        position: relative;
        z-index: 5;
        left: -65px;
        @include breakpoint($mobile) {
          left: -45px;
          font-size: 18px;
          top: 166px !important;
        }

        a {
          color: $orange;
          @include fontsize(40, 0);
          span {}
        }
        .ajax-progress-throbber {
          left: 0;
          margin-top: -29px;
        }
      }
      .l-s-arrow {
        top: 108px;
      }
      .r-s-arrow {
        left: 19px;
        font-size: 20px;
        top: 108px;
        @include breakpoint($mobile) {
          left: 0;
        }

        .skip {
          a {
            font-size: 18px;
            margin-left: 9px;
            margin-top: -5px;
            float: left;
            @include fontsize(16, 0);
          }
        }
        .ajax-progress-throbber {
          right: 0;
          left: 63px;
          margin-top: -34px;
        }
      }
    }
  }
  .holder {
    margin-bottom: 130px;
    padding: 0 15px;
    @include breakpoint($mobile) {
      margin-bottom: 20px;
      // without this the close button
      // for the webform gets cut off.
      margin-top: 1em;
      padding: 0 0px;
    }
  }
}

//signup overlay columns
// 2 columns
.signup-columns, .my-voice-columns, .community-columns {
  @extend %clearfix;
  /* article column styles */
  .col {
    float: left;
    width: 48.5%;
    margin: 0 0 0 2.9%;
    @include breakpoint($mobile) {
      width: 100%;
      margin: 0;
    }

    &:first-child {
      margin: 0;
      padding: 0 40px;
      @include breakpoint($mobile) {
        p:last-child {
          display: none;
        }
      }
    }
  }
  h2 {
    line-height: 1.363em;
    font-size: 1.7em;
    margin: -4px 0 8px;
    @include breakpoint($mobile) {
      font-size: 24px;
      line-height: 28px;
      margin-top: 10px;
    }
  }
  .signup-form {
    padding: 14px 0;
    input[type="email"], input[type="text"], .select {
      float: left;
      clear: both;
      width: 80%;
      border-radius: 5px;
      border-color: $mercury;
      @include box-shadow(inset 1px 1px 2px $border-grey);
      margin-bottom: 20px;
      padding: 12px 23px;
      @include breakpoint($mobile) {
        width: 100%;
      }

      font-size: 18px;
    }
    .btn {
      float: left;
      &.btn-left {
        margin-right: 27px;
      }
      span {
        padding-left: 15px;
      }
    }
  }
}

// General Slider Columns
//TODO can this be moved to the other .slider-container section?
.slider-container {
  @extend %clearfix;
  height: 318px;
  /* article column styles */
  & > div {
    float: left;
  }
  .share-columns, .support-columns {
    img {
      width: 100%;
    }
    .btn {
      width: 100%;
      margin-top: 15px;
    }
  }
  .share-columns {
    .col {
      &:first-child {
        margin-right: 9.5%;
      }
    }
    .col-left {
      width: 32%;
    }
    .col-mid {
      width: 27.3%;
      margin: 0;
    }
    .col-right {
      width: 27.3%;
      margin-left: 3.2%;
    }
  }
  .support-columns {
    .col-3 {
      &:nth-child(2) {
        .btn {
          width: 45%;
          margin-right: 10px;
          margin-bottom: 0;
        }
      }
      a {
        text-decoration: underline;
        font-family: $header-font-family;
        &.btn {
          text-decoration: none;
          font-family: inherit;
        }
      }
    }
  }
  .col {
    float: left;
    margin: 0 0 0 2.9%;
    @include breakpoint($mobile) {
      width: 100%;
      margin: 0;
    }

    &:first-child {
      margin: 0;
      @include breakpoint($mobile) {
        display: none;
      }
    }
  }
  .col-2 {
    padding: 0 40px;
  }
  a {
    &.btn {
      margin-bottom: 20px;
    }
  }
  //signup column overrides
  .signup-columns {
    .col {
      width: 49.5%;
      margin-left: 7%;
      padding: 0;
      &:first-child {
        width: 41.5%;
        margin: 0;
      }
      input[type="email"], input[type="text"] {
        width: 89%;
      }
    }
  }
}

//Share

// posts columns
.posts-columns {
  @include breakpoint($mobile) {
    padding-top: 20px;
  }

  .more {
    @include container;
    clear: both;
    text-align: center;
  }
  .post {
    .footer {
      .num-holder {
        a {
          .text {
            @include fontsize(12, 16);
          }
        }
      }
    }
  }
}

//read more spacing
.read-more {
  display: block;
  text-align: center;
  padding: 25px 0 105px;
  .btn {
    padding: 10px 19px;
    .icon-Rightarrow {
      padding-left: 15px;
    }
  }
}

// slider sub column overrides
.community-columns {
  .col {
    width: 58.7%;
    margin: 0;
    &:first-child {
      width: 36.7%;
      margin-right: 4.6%;
    }
  }
}

.articles-columns, .social-columns {
  @extend %clearfix;
  /* article column styles */
  .col {
    float: left;
    width: 31.4%;
    margin: 0 0 0 2.9%;
    @include breakpoint($mobile) {
      width: 100%;
      margin: 0;
    }

    &:first-child {
      margin: 0;
    }
  }
}

.social-columns {
  img {
    width: 100%;
  }
}

.fb_iframe_widget {
  &,
  span,
  span iframe[style] {
    min-width: 100%;
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 200px !important;
      max-width: 100% !important;
    }
  }
}

//!important code to fix the FB widget on home page on Ipad view and dektop
//Added custome media queries because there is no proper media queries for
//Ipad horizontal and vertical.
@media (min-width: 992px) {
  #desktopFB {
    display: block;
  }
  #ipadFB {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #desktopFB {
    display: none;
  }
  #ipadFB {
    display: block;
  }
}

.articles-columns {
  p {
    a {
      font-family: $header-font-family;
      font-weight: normal;
    }
  }
}