@import "base/base";

.webform-submit, input[type=submit]{
	display:inline-block;
	margin-right:10px;
  border:none;
  padding:5px 19px;
  font-size:18px;
  line-height:30px;
  border-radius:5px;
  color:$white;
  text-align:center;
  text-decoration:none;
  border-bottom:5px solid $orange-dark;
  background:$orange;
  @extend %clearfix;
  font-weight:normal;
  font-family:$base-font-family;

  &:after {
  	content: "\e60b";
  }

  em {
    position:relative;
    display:inline-block;
    vertical-align:top;
    word-spacing:3px;
    top:6px;
    margin-left: 10px;
  }

  &:hover{
    color:$white;
    border-bottom-width: 3px;
	margin-top: 2px;
  }

  &:active, &:focus{
    border-width: 1px;
    margin-top:4px;
    color:$captions-credit;
  }

  &:visited{
    text-decoration:none;
    color:$captions-credit;
  }
}

.webform-component-textfield, .webform-component-email {
    input[type=submit]
    , input[type=text]
    , input[type=search]
    , input[type=tel]
    , input[type=password]
    , input[type=email]
    , input[type=file]
    , textarea {
      float:left;
      clear:both;
      width:80%;
      border-radius:5px;
      @include border-radius(5px);
      font-size:18px;
      border:none;
      border-color:#e4e4e4;
      @include box-shadow(inset 1px 1px 2px rgba(112, 112, 112, 1));
      margin-bottom: 20px;
      padding: 12px 23px;
      @include breakpoint($mobile) {
        width: 100%;
      }
    }

	// @include linear-gradient($captions-credit,$page-background);
	// //padding:2px;
	// float:left;
	// margin:6px 0 0 0;
	
	
	// width:100%;
	// input[type=text],input[type=email], textarea{
	// 	float:left;
	// 	@include border-radius(5px);
	// 	width:100%;
	// 	color:$captions-credit;
	// 	
	}
	textarea{
		height:183px;
	}

 .webform-component-select {
 	width: 100%;
 	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 19px;
	color: #2a2e31;
	line-height: 41px;
	border-radius: 5px;
	background: #fff;
 }

.page-node-74606{
	.form-actions{
	  float:left; 
	  input[type=submit]{
	    padding:10px;
	    padding-right: 40px;
	    background-image:url('../images/sprite.png');
	    background-position: 106px -251px;
		background-repeat: no-repeat; 
		padding-left:19px;	
	  }
	 /* &:after{
	    @extend [class*=" icon-"];
	    position: relative;
	    left: -49px;
	    top: 19px;
	    color: $white;
	    font-size: 16px;
	    content :"\e60b";
	  } */
	}
}

.block-close {
    a {
      text-decoration: none;    
    }   
}

.home_forum_share{
   @extend %clearfix;
   .home_forum_share_left{
     float:left;
     width:45%;
     padding-right: 30px;
     @include breakpoint($mobile){
       float:none;
       width:auto;
       padding-right:0;      
     }
   }
   .home_forum_share_right{
     float:left;
     width:55%;
      @include breakpoint($mobile){
       float:none;
       width:auto;    
     }
     .home_forum_share_set{
        &:first-child{
          float:left;
        }
        float:right;
        width:48%;
        text-align:center;
        .btn{
          display:block;
        }       
     }
   } 
}
.webform-client-form-74681{
  div.form-item{
    float:left;
    width:33.3%;
    @include breakpoint($mobile){
      float:none;
      width:auto; 
    }
    &.webform-component-radios{
      & > label{
        line-height: 1.363em;
        font-size: 1.67em;
        font-weight: normal;
        font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
      } 
    }
  }
  div.form-item.webform-component--other-ways-to-help{
    width: 30%;
    float: right; 
    @include breakpoint($mobile){
      float:none;
      width:auto; 
    }
  }
  .form-radios{
        label{
           border: medium none;
           width:93%;
cursor: pointer;
display: inline-block;
font-family: inherit;
font-size: inherit;
color: #ffffff;
text-align: center;
text-decoration: none;
margin-top: 5px;
margin-bottom: 5px;
outline: medium none;
padding: 10px 2px;
position: relative;
line-height: 30px;
background: none, repeat, scroll, 0, 0, #f15500;
-webkit-box-shadow: 0px 6px #c63502;
box-shadow: 0px 6px #c63502;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
&:hover{
  top: 2px;
-webkit-box-shadow: 0px 4px #c63502;
box-shadow: 0px 4px #c63502;
}
&:active{
  top: 6px;
-webkit-box-shadow: 0px 0px #c63502;
box-shadow: 0px 0px #c63502;
}
        }
        fieldset{
          float:left;
          width:50%;
          input{
            display:none;
          }
        }
      }
}
.front {
  .slider-block{
    .ajax-progress{
      position: absolute;
    } 
  }
}
