@import "base/base";

// Overriding the effects of a stray bold style.
.region-services .btn {
  font-family: $base-font-family;
}

//general user login question mark fix
/***************************************************
if you make this as float: left then you can type
on click on the input field otherwise you can type
on it, the description div comes on top of the input
field .
****************************************************/
.description {
  float: left;
}

//=== Home page-Issue fixing ===//
.front {
  &.page-loaded .slider-block {
    visibility: visible;
  }

  // Webform paragraph
  .form-item p:nth-child(2) {
    @include breakpoint($tablet-range) {
      font-size: 15px;
      float: left;
      line-height: 28px;
      margin-bottom: 0;
    }
  }

  // Form on Home page
  .slider-block {
    visibility: hidden;
    z-index: 998;
    position: relative;

    .block {
      // Add box shadow to Home page Form
      @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    }

    .r-s-arrow {
      a {
        text-decoration: none;
      }
    }

    .l-s-arrow {
      a {
        text-decoration: none;
      }
    }

    a {
      &.btn-left {
        margin-right: 10px;
      }

      &.btn {
        padding: 11px 25px;
      }

      &.btn-right {
        position: relative;
        right: 9px;

        @include breakpoint($mobile) {
          right: 0;
        }
      }
    }
  }

  @include breakpoint($mobile) {
    .slider-block {
      margin-top: -160px;
    }

    .slider-container .signup-columns .col {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .slider-container .signup-columns .col input {
      width: 100%;
      margin-bottom: 10px;
    }

    .slider-block .block {
      padding: 10px 15px 85px;
      margin-bottom: 38px;

      @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    }

    .slider-block .block .slider-container {
      width: 90%;
      margin: 0 auto;

      @include breakpoint($mobile) {
        width: auto;
        margin: 0 45px;
      }
    }
  }


  // Main without webform in the slider area
  #main.no-form {
    margin-top: 50px;

    @include breakpoint($mobile) {
      margin-top: 0;
    }
  }

  .visual {
    max-height: none;
  }

  .visual .holder {
    @include breakpoint($mobile) {
      position: relative;
      top: -100px;

      .pic-by {
        padding: 0 0 10px 0;
      }
    }
  }

  .visual .img-holder {
    max-height: 825px;
  }

  .visual .img-holder .caption-frame .caption {
    @include breakpoint($mobile) {
      padding: 60px 0 0;
    }


    @include breakpoint($not-mobile) {
      padding: 80px 0 0;
    }
  }

  .visual .img-holder .caption-frame .caption .title {
    @include breakpoint($mobile) {
      right: 0;
    }
  }

  // Social Holder
  .social-block {
    @include breakpoint($mobile) {
      background: transparent;
    }
  }

  .social-block .holder {
    @include breakpoint($mobile) {
      padding-top: 18px;
      padding-bottom: 20px;
    }
  }

  .social-block .block {
    @include breakpoint($mobile) {
      padding: 0px 0 45px;
      background: transparent;

      .member-count {
        margin: -10px 0 40px;
      }
    }
  }

  .social-block h1 {
    @include breakpoint($mobile) {
      background: transparent;
      padding: 0 0 6px;
      margin-left: 0;
    }
  }

  .social-block h3 {
    @include breakpoint($mobile) {
      margin-bottom: 15px;
    }
  }

  // Article Block - Remove Images on Mobile View
  .articles-block {
    h4 {
      a {
        text-decoration: none;
      }
    }

    .views-row-2, .views-row-3 {
      .img-holder {
        @include breakpoint($mobile) {
          display: none;
        }
      }
    }

    .views-row-last {
      @include breakpoint($mobile) {
        margin-bottom: 10px;
      }
    }
  }
}

// Fixing the padding issue on content bottom
#content_bottom {
  @include breakpoint($mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header_banner {
  z-index: 0;
}

//-------------------------------------
.search-text {
  .icon-search {
    position: absolute;
    right: 10px;
    font-size: 24px;
    top: 10px;
  }
}

#modal-content {
  .tooltip-content {
    bottom: inherit;
    left: -252px;
    top: 0;
    height: auto;
  }

  a.tooltips span.tooltip-content {
    &:before {
      border-left: 20px solid $casablanca;
      border-right: 20px solid transparent;
      border-top: 20px solid transparent;

      @include transform(rotate(-136deg));

      left: 94%;
      top: 6px;
      margin-left: -13px;
    }

    &:after {
      border-left: 19px solid $early-dawn;
      border-right: 19px solid transparent;
      border-top: 18px solid transparent;

      @include transform(rotate(-136deg));

      left: 94%;
      top: 7px;
      margin-left: -12px;
    }
  }
}

#user-register-form {
  div.ctools-modal-content .modal-content {
    min-width: 100%;
  }

  .popups-container input[type="password"] {
    width: 88%;
  }

  .form-type-password-confirm {
    margin-top: 40px;

    .password-strength {
      width: 92%;
      float: left;
      margin-top: -55px;
    }
  }

  .password-strength {
    width: 92%;
    float: left;
    margin-top: -36px;
  }

  .form-type-password.form-item-pass-pass2 {
    width: 67%;

    input[type=password] {
      width: 100%;
    }
  }

  input[type=password] {
    width: 91%;
  }

  .form-type-password-confirm form-item-pass {
    margin-top: 20px;
  }

  .form-item {
    padding-left: 0;
    padding-right: 0;
  }

  #edit-pass-pass1 {
    width: 92%;
  }
}

#user-pass label {
  display: none;
  visibility: hidden;
}

#slider-container form {
  .description {
    margin-top: 5px;
  }

  h4 {
    margin-bottom: 21px;
  }
}

#webform-ajax-wrapper-74666 {
  p.larger {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 34px;
  }
}

#webform-client-form-74676 {
  h3, h2 {
    font-size: 35px;
    padding-right: 26px;
    line-height: 45px;
    margin-top: 11px;
    margin-bottom: 20px;
  }

  .home_forum_share {
    .home_forum_share_left {
      p {
        margin-right: 0;
        line-height: 27px;
      }
    }

    .home_forum_share_right {
      margin-top: 24px;

      @include breakpoint($mobile) {
        margin-top: 54px;
      }
    }
  }
}

#slider-container #webform-client-form-74681 h3 {
  font-size: 37px;
  margin-top: 9px;
  line-height: 44px;
  margin-bottom: 9px;
}

#webform-client-form-74681 {
  &form h2 {
    font-size: 37px;
    margin-top: 9px;
    line-height: 44px;
    margin-bottom: 9px;
  }

  .webform-component--lend-your-support {
    h5 {
      font-size: 18px;
      margin-top: -9px;
    }
  }

  .webform-component--give-what-you-can {
    float: none;
    width: auto;
  }

  .give_what_you_can {
    margin-left: 18px;
    width: 32%;
    float: left;
    margin-top: 13px;

    @include breakpoint($mobile) {
      margin-left: auto;
      width: auto;
      float: none;
    }


    h5 {
      margin-left: 10px;

      @include breakpoint($mobile) {
        margin-left: 0px;
      }
    }

    #edit-submitted-give-what-you-can {
      @include breakpoint($mobile) {
        margin: 0 -30px 0 -11px;
        margin-bottom: 15px;
      }


      label {
        font-size: 20px;
      }
    }
  }

  .webform-component--other-ways-to-help {
    width: 28%;
    margin-top: 13px;

    @include breakpoint($mobile) {
      width: auto;
    }


    h3 {
      font-size: 22px;
      margin-top: 3px;
    }

    a.btn {
      padding: 9.5px 22px;
      width: 100%;
      margin-bottom: 14px;
      margin-top: 11px;
    }

    label {
      font-size: 24px;
    }
  }

  .webform-component--lend-your-support {
    p {
      line-height: 27px;
    }
  }
}

#webform-client-form-74666 {
  label {
    position: absolute;
    left: 21px;
    top: 11px;
    color: $black;
  }

  .form-item {
    //height: 65px;
    // Above code is commented an kept if needed to revert back in case
    float: left;
  }
}

#form input[type="text"]:focus {
  border-color: $yellow;
}

body .view-display-id-stream_forum_page {
  .icon-Featured, .icon-Hottopic {
    display: none;
  }

  .rowlessthen3 {
    .icon-Featured {
      margin-right: 5px;
      display: inherit;
    }
  }

  .icon-Hottopic {
    margin-right: 45px;
  }

  .show_hot {
    .icon-Hottopic {
      display: inherit;
      margin-right: 45px;
    }
  }
}

// Post footer
.posts-columns .post .footer .num-holder a .text {
  display: none;
}

.posts-columns .post .footer .num-holder .hover a .text {
  display: block;
}

.section-share-your-story .block-webform {
  padding-bottom: 50px;

  label {
    left: 12px;
    top: 10px;
  }

  .form-item {
    min-height: 70px;
  }
}

// Private Message page
html.js fieldset.collapsed {
  height: auto;
}

.page-messages {
  .description {
    width: initial;
  }
}

.section-current-vacancies {
  .posts-columns {
    margin-top: 290px;

    .field_salary {
      margin-bottom: 20px;
    }
  }
}

.view-display-id-stream_forum_page {
  fieldset {
    margin-right: 0;
  }
}

// TODO: [CODESMELL] This style seems specific to specific nodes?
// If this is to do with a WYSIWYG can we look at creating a class
// and instructing to use it when they need this kind of padding. Nishan
article.node-223806, article.node-223591 {
  .field-name-body {
    padding: 40px 80px;
  }
}

#modalContent {
  #modal-title {
    font-size: 30px;
    text-align: center;
    padding: 14px;
    display: block;
  }

  .popups-close.close {
    position: absolute;
    right: 11px;
    top: 12px;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 1px;
    text-align: left;
  }

  .hybridauth-widget li {
    margin: 0;
  }

  .item-list {
    margin-left: 20px;
  }
}

// TODO: Can we put some comments as to what this is hiding?. Nishan
// Amalan please look at this code and add a comment on which page
// this style is getting used.
.post-comments-0 {
  display: none;
}

// TODO: this hides a white container which is being rendered 
// sporadically on topic pages; need to investigate and fix. Nishan

#block-views-stream-my-voice-blog .view-filters .mobile-view {
  display: none;
}

.forumpage_title {
  font-size: 16px;
  margin-bottom: 30px;
}

.node-type-forum-discussion .posts-columns.columns-full .row .footer {
  padding-left: 30px;

  .flag_node {
    margin-right: 20px;
    float: left;
    width: 170px;
    margin-top: 6px;
  }

  .flag-message {
    visibility: hidden;
  }
}

.topic_section {
  float: left;
  width: 100%;
  margin-top: 15px;
}

//To override the inline z-index css in login forms.
#modalContent, #modalBackdrop {
  z-index: 9999 !important;
}

.forum_list {
  float: left;
  margin-right: 5px;

  a, span.flag-bookmarks, .flag-bookmarks {
    font-size: 15px;
    font-weight: normal;
  }
}

//seems to be duplicated on all?
.flag-wrapper {
  font-size: 15px;
  font-weight: normal;
}

.not-logged-in #user-login--2 .form-item label,
.not-logged-in #user-login .form-item label,
#user-register-form .form-item label {
  display: none !important;
}

.section-node-add {
  #block-easy-breadcrumb-easy-breadcrumb, .vertical-tabs {
    display: none;
  }

  .node-forum_discussion-form {
    background: white;
    padding: 1.5em;
    margin-bottom: 3em;
    border: 1px solid $border-color;
    clear: both;

    fieldset {
      float: none;
    }

    .description {
      width: auto;
      float: none;
      clear: both;
    }

    .form-item-title label {
      margin-top: 0;
    }

    .filter-guidelines {
      padding: 0;
    }

    .filter-wrapper {
      display: none;
    }

    .form-type-checkbox {
      float: left;

      .error {
        outline: 1px solid $error-red;
        width: auto;
      }
    }

    .filter-help {
      padding: 0;
      float: none;
      text-align: center;
    }

    input {
      max-width: 100%;
    }

    .form-action {
      margin-top: 0.5em;
    }
  }
}

/*fourm page text*/
//TODO: check if needed and remove. Nishan
.page-node-221561, .node-type-forum-discussion {
  .posts-columns.columns-full {
    .row {
      .forum-text {
        .forum-right {
          clear: inherit;
        }
      }
    }
  }
}

.page-search-gss {
  .tabs {
    @include breakpoint($mobile) {
      li {
        margin-bottom: 10px;
        display: block;
        clear: both;
      }
    }
  }

  .search-form {
    @include breakpoint($mobile) {
      input[type=submit] {
        width: 92%;
        max-width: inherit;
        margin: 0 4%;
      }
    }
  }

  .item-list .pager li {
    display: inline-block;
  }
}

// TODO: [CODESMELL] This structure seems to be very deep, is this required?. Nishan
.google-search-results {
  @include breakpoint($mobile) {
    &.posts-columns.columns-full {
      .views-row {
        .forum-text {
          .forum-left {
            .image-holder {
              width: 100%;
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }


  .gss-search-url {
    word-wrap: break-word;
  }
}

/* node-type-page  */
.node-type-page {
  #main {
    @include breakpoint($mobile) {
      max-width: 90%;
      margin-top: 16px;
    }
  }
}

#comment-body-add-more-wrapper .filter-wrapper {
  display: none;
}

.show_mobile {
  display: none;

  @include breakpoint($mobile) {
    display: inherit;
  }
}

.logged-in {
  #block-system-user-menu {
    @include breakpoint($mobile) {
      ul {
        li {
          a {
            font-size: 0;

            img {
              margin-left: -44px;
              margin-top: -10px;
            }
          }
        }
      }
    }


    @include breakpoint($mini-mobile) {
      ul {
        position: absolute;
        top: -20px;
        right: 0;

        li a {
          float: left;
          width: 100%;
          text-align: center;

          img {
            margin: 0;
          }
        }
      }
    }


    @include breakpoint($mobile) {
      ul {
        li.last {
          a {
            font-size: initial;
          }
        }
      }
    }


    @include breakpoint($mini-mobile) {
      ul {
        li.last {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// Action Nav
.right-info a.school-opener,
.top-bar a {
  @include breakpoint($mini-mobile) {
    font-size: 12px;
  }
}

// Image Holder - Fixing for the mobile devices
.img-holder {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

// My voice info image
.visual .img-holder img {
  width: auto;
}

// Home page UA block
.posts-columns h2,
.posts-columns h1 {
  @include breakpoint($tablet-range) {
    font-size: 32px;
    line-height: 36px;
  }
}

.sort-block {
  .forum-page {
    .form-item-search-community {
      width: 100%;
    }
  }

  @include breakpoint($mobile) {
    padding: 36px;

    .filterbutton {
      margin-bottom: 30px;
    }
  }
}

.forum-right {
  @include breakpoint(380px) {
    h3 {
      clear: both;
    }
  }
}

article.node-223806 {
  @include breakpoint(380px) {
    .field-name-body {
      padding: 31px;
    }
  }
}

.page-user #sidebar ul {
  @include breakpoint($mobile) {
    float: none;
  }
}

/* fixed this one all mobiel view scrolling */
.nav-holder {
  position: fixed;
}

.nav-active {
  //TODO : Check the overflow.
  overflow-x: hidden;

  .nav-holder {
    position: absolute;

    //padding-top: 15px;
    // Is this commented code needed?
    padding-top: 0px;
    margin-top: 34px;

    @include breakpoint($mobile) {
      padding-top: 0px;
    }
  }
}

// Login Modal's issue fixing on the mobiles
@include breakpoint($mobile) {
  div.ctools-modal-content .modal-content {
    padding: 19px 19px 13px 25px;
  }

  .popups-container input[type="email"], .popups-container input[type="text"], .popups-container .select, .popups-container input[type="password"] {
    width: 100%;
  }

  .popups-container input[type="email"], .popups-container input[type="text"], .popups-container .select, .popups-container input[type="password"] {
    padding: 10px 16px;
    font-size: 16px;
  }

  .hybridauth-widget-wrapper {
    clear: both;
    width: 80%;
    padding-left: 10px;
  }

  .popups-container input[type="submit"] {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
  }

  div.ctools-modal-content #user-register-form, div.ctools-modal-content #user-login {
    width: 100%;
    margin-left: 10px;
  }
}


// Talk Aboout autism
.node-type-forum-discussion {
  @include breakpoint($mobile) {
    .posts-columns {
      padding-top: 0;
    }

    .footer .btn {
      margin-top: 1em;
    }

    .forumpage_title {
      padding: 0 8px;
    }

    .view-comments {
      padding: 0 8px;
    }

    .comment-list ul.comment-listing li .comment-left img {
      max-width: 58px;
    }

    .comment-list ul.comment-listing li .comment-right {
      margin: 0 0 27px 98px;
    }

    .comment-list ul.comment-listing li .comment-left {
      width: 85px;
    }
  }
}

// Private message
//-----------------

// user avatar
.privatemsg-author-avatar img {
  @include border-radius(5px);

  width: 100%;
  max-width: 100px;
}

// Messsage body
.privatemsg-message-body img {
  max-width: 100%;
}

// Message links
.privatemsg-message-actions li {
  display: inline;
  padding-right: 1em;
}

// User profile
.user-picture img {
  width: 100%;
  max-width: 130px;
}

// New message
#privatemsg-new {
  input.form-text {
    max-width: 100%;

    @include border-radius(5px);

    font-size: 18px;
    border-bottom: 2px solid;
    border-color: $mercury;

    @include box-shadow(inset 1px 1px 2px rgba(112, 112, 112, 1));

    margin-bottom: 1em;
    padding: 12px 23px;
    color: $base-text-color;

    @include breakpoint($mobile) {
      width: 100%;
    }
  }

  .form-text.required.form-autocomplete {
    background-image: none;
  }

  #edit-body-format {
    display: none;
  }

  .form-item-recipient {
    label {
      display: block;
    }

    .form-element {
      float: left;
    }
  }
}

//CKE body
.cke_skin_kama.cke_1.cke_editor_edit-body-value,
#cke_edit-body-value {
  max-width: 100%;
}

.cke_button {
  float: left !important;
}

// Community champion
//--------------------
.section-community-champions-forum {
  section#content-area {
    padding: 6px;
  }
}

.section-community-champions-forum header .user-picture img,
.section-forums header .user-picture img {
  @include border-radius(5px);
}

// Home Page Step form
#slider-container {
  .webform-client-form-74676 {
    width: 100%;

    .home_forum_share_left {
      div {
        iframe {
          width: 98px;
          float: left;
          height: 20px;

          &:first-child {
            width: 51px;
            height: 21px;
            margin-right: 10px;
          }

          @include breakpoint($mobile) {
            float: none;
          }
        }
      }
    }

    .home_forum_share_right {
      img {
        width: 80%;
        margin-left: 10%;

        @include breakpoint($mobile) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}

.section-topics .posts-columns.columns-full {
  .row {
    .footer {
      padding-left: 22px;
    }
  }
}

// voice page & events ? message
.my-voice-home, .node-type-basic-page-with-hero {
  #content_top .my-voice-columns a.tooltips span.tooltip-content {
    left: -103px;
    bottom: 60px;
  }
}

.node-type-article {
  #comments {
    width: 100%;
  }

  .comment-listing {
    .flag-wrapper {
      font-size: 13px;
    }

    time {
      max-width: 130px;
      float: left;

      //TODO : Why again a 'time' tag.
      time {
        margin-bottom: 0;
      }

      a {
        display: block;
      }
    }

    .comment-left {
      img {
        width: 60px;
      }
    }

    .comment-right {
      padding: 20px;

      .links {
        clear: both;
      }
    }

    > li {
      margin-top: 15px;
      float: left;
      position: relative;
      width: 100%;
    }
  }
}

.node-type-my-voice-blog {
  .article-info .flag-bookmarks:first-child {
    padding-left: 0;
  }

  #main2 .article-left .article-left-holder .article-info cite a {
    margin-top: 0.5em;

    &:after {
      background-image: none;
    }
  }
}

.blog-author {
  font-weight: bold;
}

// Fixing calanedar
.calendar-calendar {
  td.has-events a {
    color: $orange-dark;
  }

  .month-view .full td .inner div.day {
    width: 100%;
  }
}

// Fixing profiles a
.profile a {
  clear: both;
}

// Fixig masquerade
a.masquerade-switch {
  display: block;
}

// in button right side arrow
#edit-webform-ajax-yes-i-am-74666, #webform-client-form-74666 a.btn#not_right_now, #webform-client-form-74621 .webform-submit, #webform-client-form-74601 .webform-submit {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 102px -254px;
  padding-left: 24px;
  padding-right: 58px;

  @include breakpoint($tablet) {
    padding-left: 14px;
    padding-right: 38px;
    background-position-x: 87px;
  }


  @include breakpoint($mobile) {
    background-image: none;
    padding: 8px 16px;
  }
}

#webform-client-form-74666 a.btn#not_right_now {
  background-position: 143px -254px;

  @include breakpoint($tablet) {
    background-position-x: 129px;
  }
}

#webform-client-form-74621 .webform-submit,
#webform-client-form-74601 .webform-submit {
  background-position: 120px -256px;

  @include breakpoint($tablet) {
    background-position-x: 97px;
  }


  @include breakpoint($mobile) {
    width: 100%;
  }
}

.page-node-edit #content-header .title {
  display: block;
}

//issue fix for the contact us page only on the specific page
.page-node-74571 {
  #content-area {
    padding-bottom: 0px;
  }

  #content_bottom {
    @include breakpoint($mobile) {
      padding-left: 0px;
    }
  }
}

.img-holder .video-icon {
  &:before {
    cursor: pointer;
  }

  &:hover {
    &:before {
      opacity: 0.8;
    }
  }
}

@media print {
  img, #header, .top-bar, #admin-toolbar, .media-youtube-video, .comment-block, #comments, .messages, #skip-link, .top-header {
    display: none !important;
  }

  .top-header, .nav-holder, #content_bottom, #social, .action-block, #footer, .top-bar, .right-info, .tabs, .topic-share, .btn {
    display: none;
  }

  .img-holder, .visual, .visual img {
    display: block !important;
  }

  #main2 .article {
    width: 100%;
  }

  #header .header-top {
    background: none;
    box-shadow: inherit;
    top: 0;
    position: static !important;
  }

  .node-type-article #wrapper, .node-type-my-voice-blog #wrapper, .node-type-school-values #wrapper, .tabs {
    background: none;
    margin-top: 0;
  }

  * {
    padding: 0;
    margin: 0;
    color: #000;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
  }
}

// my voice page image style
.view-display-id-voices_from_the_spectrum_page {
  .my-voice-post {
    .img-holder {
      float: left;
    }
  }
}

// understanding-autism video author style
.view-display-id-stream_topic_page .views-row {
  .views-field-field-video-author {
    display: none;
  }

  .img-holder {
    .field-content {
      float: right;
    }
  }
}

//issue fix for the menu getting ash background
iframe {
  position: relative;
}

//Event page webform styling
.node-type-events, .node-type-courses, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns, .node-type-share-your-story {
  background: white;

  #wrapper {
    height: auto;
    background: white;

    .header_banner {
      .img-holder {
        .caption-text-titles {
          span {
            display: inline-block;

            h1.title {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  #main {
    padding-top: 0;

    #content-area {
      padding: 40px 20px 20px 20px;
    }
  }

  .details-box {
    //background: $orange;
    background: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    float: left;
    width: 100%;
    padding: 25px;

    /*p {
      color: $white;
    }*/

    .details-title {
      border-bottom: 1px solid #CACACA;
      padding: 15px;
    }

    .details-time,
    .details-location {
      float: left;
      width: 100%;

      p {
        float: left;
        width: 100%;
        margin-bottom: 0;
        padding-right: 1em;

        @include breakpoint(min-width $mobile) {
          width: auto;
        }


        &:first-child {
          //font-size: 3em;
          //opacity: 0.1;
          font-size: 1.35em;

          //color: $black;
          margin-bottom: 0.35em;

          @include breakpoint(min-width $mobile) {
            margin-bottom: 0;
          }
        }
      }
    }

    .details-time {
      margin-bottom: 1.5em;

      p {
        &:first-child {
          padding-right: 2.8em;
        }
      }
    }
  }
}

//Share Your Story Webform styling
.share-your-story-webform, .section-share-your-story-new {
  padding-bottom: 40px;

  // .form-textarea-wrapper {
  //   width: 80%;
  // }
}

//Share your story card styling
.share-your-story-card {
  .author {
    float: right;
    padding-right: 50px;
  }

  .content {
    width: 80%;
  }
}

//Signup Form - Thank You box
.node-type-events, .node-type-course, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns, .node-type-share-your-story {
  .content-header {
    .status {
      @include span(12 of 12);

      background: #2CAA55;
      text-align: center;

      p {
        color: white;
      }
    }
  }
}

// Job Vacancies Search field
.view-display-id-list_vacancies_page {
  fieldset.form-item.form-type-textfield.form-item-title {
    background-color: #eef2f3;
    background-image: -webkit-linear-gradient(top, #AFAFAF, #eef2f3);
    background-image: -moz-linear-gradient(top, #AFAFAF, #eef2f3);
    background-image: -ms-linear-gradient(top, #AFAFAF, #eef2f3);
    background-image: -o-linear-gradient(top, #AFAFAF, #eef2f3);
    background-image: linear-gradient(to bottom, #AFAFAF, #eef2f3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 2px;
    min-width: 250px;
    width: 250px;
    float: left;
    margin-right: 7px;
    height: 49px;

    input {
      width: 100%;
      padding: 12px 21px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      color: #383c40;
    }
  }

  fieldset.form-item-field-job-category-tid {
    padding-top: 0;
  }

  .sort-block {
    @include breakpoint($mobile) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .views-row-last {
    .card.job-card {
      margin-bottom: 50px;
    }
  }

  .search-text.job-category.forum-page {
    display: block;
    margin-left: 25px;

    @include breakpoint($tablet) {
      width: 250px;
    }


    @include breakpoint($mobile) {
      width: 100%;
      margin-left: 0px;
    }
  }
}

section.job-card {
  // margin: 0.3em;
  // float: left;

  h3 {
    font-weight: bold;
    font-size: 22px;
    font-size: 1.375em;
    line-height: 32px;
    text-decoration: underline;
  }

  .close-date {
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}

.job-card-layout {
  .post.card.card--item {
    .field-name-field-featured-image {
      .field-label {
        display: none;
      }
    }

    span.date-display-single.closed {
      color: red;
    }
  }
}