@import "base/base";

.links {
    float:left;
    max-width:67%;
    @extend %listreset;
    padding:5px 0 0;
    &.float-right{
      float:right;
      @include breakpoint($mobile) {
        float:none;
      }
      .last-child{
        padding-right:0;
      }
    }
    @include breakpoint($mobile) {
      max-width:100%;
      float:none;
      text-align:center;
    }
    li {
      position:relative;
      font-size:16px;
      line-height:18px;
      float:left;
      padding:0 24px 0 19px;
      @include breakpoint($tablet) {
        padding:0 11px;
      }
      @include breakpoint($mobile) {
        float:none;
        padding:0 15px;
        display:inline-block;
        vertical-align:top;
      }
      &:after {
        position:absolute;
        content:"";
        width:1px;
        height:17px;
        left:0;
        top:2px;
        background:$captions-credit;
        @include breakpoint($mobile) {
          left:-4px;
        }
      }
      &:first-child {
        padding-left:0;
        &:after {
          display:none;
        }
      }
      a {
        @include link-color($gray);
      }
      &.mob {
        display:none;
        @include breakpoint($mobile) {
          display:inline-block;
        }
      }
      &.desktop {
        @include breakpoint($mobile) {
          display:none;
        }
      }
      &.get-up {
        &:after {
          @include breakpoint($mobile) {
            display:none;
          }
        }
      }
    }
  }

//=== Header Section ===//
.top-bar{
  z-index: 9998;
  .holder{
    padding: 16px 15px 12px;
  }
}

.region-header{
  // Header Top Menu
  .header-top-menu{
    ul.menu{
      @extend .links;
    }
  }
  // User menu
  .header-user-menu{
    ul{
    margin:0;
    li{
      list-style: none;
      padding: 0 6px;
      display: inline;
      a{
        margin:0;
        color: $gray;
        text-transform: capitalize;
        vertical-align: middle;
        &:hover{
          text-decoration: underline;
        }
        img{
          vertical-align: middle;
          margin-right: 10px;
          @include border-radius(5px);
        }


      }

    }
  }
}
}

// Header Margin Issue
#header.fixed-position{
  margin-bottom: -4px;
}

// User menu
#block-system-user-menu li.last{
  padding-right: 0;
}