@import "base/base";

//=== Action Block ===//
.action-block{
	.holder{
		.region{
		   .block-main{
		    & > div{
		       float:right;
		       &:first-child{
		         float:left;
		         margin-right:30px;
		       }
		     }
		   }
		}
	}

}



//=== Home page-Issue fixing ===//
.front{
	// Form on Home page
	.slider-block{
	z-index: 1100;
	position: relative;
	top: 24px;
	.block{
		// Add box shadow to Home page Form
		@include box-shadow(0 2px 2px rgba(0,0,0,0.3));
	}
		

	@include breakpoint($not-mobile){
		top:-82px;
	}
	
	.r-s-arrow{
		a{
			text-decoration: none;
		}
	}
	.l-s-arrow{
		a{
			text-decoration: none;
		}
	}
	a{
		&.btn-left{
			margin-right: 10px;	
		}
		&.btn{
			padding: 11px 25px;
		}
		&.btn-right{
			position: relative;
			right: 9px;
			@include breakpoint($mobile){
				right: 0;
			}
		}
				
	}
	@include breakpoint(1200px){
		display: none;
	}
	@include breakpoint($mobile){
		display: block;
	}

	}
	@include breakpoint($mobile){

		.slider-block{
			margin-top: -116px;
		}
		
		.slider-container .signup-columns .col{
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.slider-container .signup-columns .col input{
			width: 100%;
		}
		
		.slider-block .block{			
			padding: 10px 15px 85px;
			margin-bottom: 38px;
			@include box-shadow(0 2px 2px rgba(0,0,0,0.3));					
		}

		.slider-block .block .slider-container {
			width: 90%;
			margin: 0 auto;
		}

		.slider-block .holder .block-close{
			margin-left: -42px;
		}

	}

	// .visual .img-holder

	.visual{
		max-height: none;

	}
	.visual .holder{
		@include breakpoint($mobile){
			position: relative;
			top: -10px;
		}
	}
	.visual .img-holder{
		max-height: 765px;
	}
	.visual .img-holder .caption-frame .caption{
		@include breakpoint($mobile){
			padding: 60px 0 0;
		}
		@include breakpoint($not-mobile){
			padding: 80px 0 0;
		}
	}

	.visual .img-holder img{
		@include breakpoint($mini-mobile){
			width: 100%;
			height: 250px;
		}
	}

	.visual .img-holder .caption-frame .caption .title{
		@include breakpoint($mobile){
			right: 0;
		}
	}

	// Social Holder
	.social-block{
		@include breakpoint($mobile){
			background: transparent;
		}
	}
	
	.social-block .holder{
		@include breakpoint($mobile){
			padding-top: 18px;
			padding-bottom: 20px;
		}
	}

	.social-block .block {
		@include breakpoint($mobile){
			padding: 0px 0 45px;
			background: transparent;

			.member-count{
				margin: -10px 0 40px;
			}

			// .youtube-btn{
			// 	padding: 6px 0;
			// 	margin-bottom: 12px;
			// }

			// .twitter-btn{
			// 	padding: 6px 0;
			// 	top: 60px;
			// }

			// .facebook-btn{
			// 	padding: 6px 0;
			// 	top: 120px;
			// }

		}
	}

	.social-block h1{
		@include breakpoint($mobile){
			background: transparent;
			padding: 0 0 6px;
		}
	}

	.social-block h3{
		@include breakpoint($mobile){
			margin-bottom: 15px;
		}
	}

	// Action Block
	.action-block .holder {
		@include breakpoint($mobile){
			padding: 50px 15px 0;
		}		
	}

	// Article Block - Remove Images on Mobile View

	.articles-block{
		.views-row-2,
		.views-row-3{
			.img-holder{
				@include breakpoint($mobile){
				display: none
				}
			}
		}

		.views-row-last{
			@include breakpoint($mobile){
				margin-bottom: 10px;
			}
		}

	}

	// FB Box on Home page
	._4s7c{
		@include breakpoint(1024px){
			
		}
	}
}  

// footer logo space fixed

#footer{
  .social-holder{
    margin:-13px 0 30px;    
  }
}
 
