@import "base/base";

//=== Action Block ===//
.action-block{
	.holder{
		.region{
		   .block-main{
		    & > div{
		       float:right;
		       &:first-child{
		         float:left;
		         margin-right:30px;
		       }
		     }
		   }
		}
	}

}

