@import "base/base";

//=== Action Block ===//
.action-block{
	.holder{
		.region{
		   .block-main{
		    & > div{
		       float:right;
		       &:first-child{
		         float:left;
		         margin-right:30px;
		       }
		     }
		   }
		}
	}

}

// Overriding the effects of a stray bold style.
.region-services .btn {
	font-family: $base-font-family;
}


//=== Home page-Issue fixing ===//
.front{
	// Webform paragraphp
	.form-item p:nth-child(2){
		@include breakpoint($tablet-range){
		 	font-size: 15px;
			line-height: 28px;
		}
	}
	// Caption text changing on the AAA front page
	#block-block-26.caption-text .caption-text-titles{
		@include breakpoint($all-desktop){
		 	// margin-top: 70px;
		}
	}
	#block-block-26.caption-text .caption-text-titles .caption-text-title{
		@include breakpoint(1320px){
		 	line-height: 66px;
		}
		@include breakpoint(1118px){
		 	line-height: 22px;
		}
	}

	// Form on Home page
	.slider-block{
		z-index: 998;
		position: relative;
		//top: -16px;

		.block{
			// Add box shadow to Home page Form
			@include box-shadow(0 2px 2px rgba(0,0,0,0.3));
		}  

		.holder {	
			// TODO: The breakpoints variables are a bit of a mess
			// using a manual breakpoint.
			// For any resolution less 1230px add 5ems.
			@include breakpoint(max-width 1230px){	
				//margin-top: 5em;
			}

			// For anything on mobile, it will float to the 
			// bottom.
			@include breakpoint($mobile){
				//margin-top: 0em;
			}
		}

		// TODO: these are not needed.
		// @include breakpoint($all-desktop){
		//  	top:-101px;
		// }
		// @include breakpoint(1345px){
		// 	top:-101px; 
		// }
		// @include breakpoint(1265px){
		// 	top: -45px; 
		// }
		// @include breakpoint(1190px){
		// 	top: 50px; 
		// }
		// @include breakpoint(1100px){
		// 	top: 35px; 
		// }
		// @include breakpoint(930px){
		// 	top: 60px; 
		// }
		// @include breakpoint(856px){
		// 	top: 90px; 
		// }
		// @include breakpoint(780px){
		// 	top: 95px; 
		// }
		.r-s-arrow{
			a{
				text-decoration: none;
			}
		}
		.l-s-arrow{
			a{
				text-decoration: none;
			}
		}
		a{
			&.btn-left{
				margin-right: 10px;	
			}
			&.btn{
				padding: 11px 25px;
			}
			&.btn-right{
				position: relative;
				right: 9px;
				@include breakpoint($mobile){
					right: 0;
				}
			}
					
		}

	}
	@include breakpoint($mobile){

		.slider-block{
			margin-top: -160px;
		}
		
		.slider-container .signup-columns .col{
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.slider-container .signup-columns .col input{
			width: 100%;
			margin-bottom: 10px;
		}
		
		.slider-block .block{			
			padding: 10px 15px 85px;
			margin-bottom: 38px;
			@include box-shadow(0 2px 2px rgba(0,0,0,0.3));					
		}

		.slider-block .block .slider-container {
			width: 90%;
			margin: 0 auto;
			@include breakpoint($mobile){
			  width:auto;
			}
		}

		.slider-block .holder .block-close{
			margin-left: -42px;
		}

	}

	// Main without webform in the slider area
	#main.no-form{
		margin-top: 50px;
		@include breakpoint($mobile){
			margin-top: 0;  
		}
	}

	// .visual .img-holder

	.visual{
		max-height: none;

	}
	.visual .holder{
		@include breakpoint($mobile){
			position: relative;
			top: -10px;
		}
	}
	.visual .img-holder{
		max-height: 825px;
	}
	.visual .img-holder .caption-frame .caption{
		@include breakpoint($mobile){
			padding: 60px 0 0;
		}
		@include breakpoint($not-mobile){
			padding: 80px 0 0;
		}
	}

	.visual .img-holder img{
		@include breakpoint($mini-mobile){
			// width: 100%;
			// height: 250px;
		}
	}

	.visual .img-holder .caption-frame .caption .title{
		@include breakpoint($mobile){
			right: 0;
		}
	}

	// Social Holder
	.social-block{
		@include breakpoint($mobile){
			background: transparent;
		}
	}
	
	.social-block .holder{
		@include breakpoint($mobile){
			padding-top: 18px;
			padding-bottom: 20px;
		}
	}

	.social-block .block {
		@include breakpoint($mobile){
			padding: 0px 0 45px;
			background: transparent;

			.member-count{
				margin: -10px 0 40px;
			}

			// .youtube-btn{
			// 	padding: 6px 0;
			// 	margin-bottom: 12px;
			// }

			// .twitter-btn{
			// 	padding: 6px 0;
			// 	top: 60px;
			// }

			// .facebook-btn{
			// 	padding: 6px 0;
			// 	top: 120px;
			// }

		}
	}

	.social-block h1{
		@include breakpoint($mobile){
			background: transparent;
			padding: 0 0 6px;
			margin-left: 0;
		}
	}

	.social-block h3{
		@include breakpoint($mobile){
			margin-bottom: 15px;
		}
	}

	// Action Block
	.action-block{
		@include breakpoint($not-mobile){
			margin-top: 66px;
		}
		
		.holder {
			@include breakpoint($mobile){
				padding: 50px 15px 0;
			}		
		}

	} 

	// Article Block - Remove Images on Mobile View

	.articles-block{
		h4{
			a{
				text-decoration: none;
			}
		}
		.views-row-2,
		.views-row-3{
			.img-holder{
				@include breakpoint($mobile){
				display: none
				}
			}
		}

		.views-row-last{
			@include breakpoint($mobile){
				margin-bottom: 10px;
			}
		}

	}


	// FB Box on Home page
	._4s7c{
		@include breakpoint(1024px){
			
		}
	}
}  

// footer logo space fixed

#footer{
  .social-holder{
    margin:-13px 0 30px;  
    @include breakpoint($mobile){
		margin:-210px 0 0 0 ;
	}  
  }
  .block.last.even{
  	@include breakpoint($mobile){
		margin-top:177px;
	}	
  }
  .region.region-footer-right{
  	@include breakpoint($mobile){
		margin-top:45px;
	}
  }
}
  

// edited nanda globalsoft

.node-type-forum-discussion .comment-list ul.comment-listing li .comment-right{
  width:auto;
  float:none;
  .topic-share{
    float: none;
    display: block;
    padding-bottom: 60px;
    .stButton{
      float:left;
    }
  }
}

.comment-block{
  .topic-share{
    float: none;
    display: block;
    padding-bottom: 60px;
    .stButton{
      float:left;
    }
  }
}

// my voice page logo max height set 50px
.page-node-74596 {
 .header-top{
   .logo{
     img{
       max-height:50px;
       width:auto;
     }
   }
 }
}

//breadcrump zindex changed
.block-easy-breadcrumb{
	z-index: 998;
	outline: none;
	position: relative;
}
.icon-Google:before {
  content: "\e606";
}


// Fixing the padding issue on content bottom 
#content_bottom{

	@include breakpoint($mobile){
		padding-right: 15px;
		padding-left: 15px;
	}
}
.understanding-autism{
  .views-submit-button{
    #edit-submit-stream{
      display:none;
    }
  }
}

.node-type-my-voice-topic .understanding-autism{
 .btn{
   padding: 6px 19px;
 }
  .views-submit-button{
    #edit-submit-stream{
      display:inherit;
    }
  }
}

.front{
 
  .slider-container{
    @include breakpoint($tablet){
      height:auto;
    }
  }
  .slider-block{
    @include breakpoint($mobile){
      margin-top:0;
      top: -30px;
      margin-top: -130px;
    }
  }
  .slider-block .block .slider-container{
   @include breakpoint($tablet){
    margin: 0 30px;
   }
  } 
  .slider-block .block{
    @include breakpoint($tablet){
      padding-bottom: 40px;   
    }
  }
}

.page-node-74566 .header_banner .banner_sub_text{
    margin:0 0 0 203px;
  }

.header_banner{
  z-index: 0;
}

.text-section .text-right-section{
  @include breakpoint($mobile){
     //margin: 10px 0 30px 0; this seems to only make things worse?
  }
}
.page-node-74606 .header_image, .section-current-vacancies .header_image, .section-current-vacancies{
  #block-easy-breadcrumb-easy-breadcrumb--2{
    .easy-breadcrumb{
      display:none;
    }
  }

}

// Forum Page
.page-node-74566{

	.st_sharethis_button .stButton{
		@include breakpoint($all-desktop){
			padding: 6px 28px;
		}
		
	}

	.sort-block .btn{
		@include breakpoint($all-desktop){
			padding-left: 38px;
	  		padding-right: 38px;
		}

	}

} 

// Understand Autism - List view
.posts-columns.list-view .post .info.add h3{
	margin: -10px 0 42px;
} 

.voice-holder{
  display:none;
  &.voice-my_voice_topic{
    display: inherit;
  }
}

// Voice page
.section-voices-spectrum{

	.region-image-holder{

		.block-easy-breadcrumb{
			display: none;
		}		
	}
}


.search-text{
  .icon-search{
     position: absolute;
     right: 10px;
     font-size: 24px;
     top: 10px;
   }
}

.description{ 
  float: left;
  width: 50px;
  position: relative;
  a{
    float: left;
    width: 50px;//WHAT IS THIS FOR?? IT'S MESSING UP THE REQUEST PASSWORD LINK.
    position: relative;
  }
}
.profile-main{
#user-profile-form{
  .description{
    width: auto;
    max-width:530px;
    float: left;
  }
  fieldset{
    padding-left: 0;
    padding-right: 0;
  }
  label{
    position: static;
  }
  .field-type-text-long{
    max-width: 520px;
   } 
   .password-strength{
     float: none;
     margin-bottom: 20px;
     width: 100%;
     max-width: 530px;
   }
   input[type=password]{
     width: 100%;
     max-width: 530px
   }
   .form-type-password.form-item-pass-pass2{
     width: 100%;
     max-width: 590px;
   }
   .field-name-field-type-of-user{
     fieldset{
       float: left;
       width: 100%;
     }
   } 
  }
}


.profile-main #user-register-form{
  label{
     top: 17px;
   }
}
#modal-content{
  .tooltip-content{
    bottom: inherit;
	left: -252px;
	top: 0;
	height: auto;
  }
  a.tooltips span.tooltip-content{
    &:before{
     border-left: 20px solid #F6BF4F;
	border-right: 20px solid transparent;
	border-top: 20px solid transparent; 
	transform:rotate(-136deg) ;
	-ms-transform: rotate(-136deg); /* IE 9 */
    -webkit-transform: rotate(-136deg); /* Chrome, Safari, Opera */
     left: 94%;
top: 6px;
margin-left: -13px;
    }
     &:after{
      border-left: 19px solid #FFF8E7;
      border-right: 19px solid transparent;  
      border-top: 18px solid transparent;
      transform:rotate(-136deg) ;
	-ms-transform: rotate(-136deg); /* IE 9 */
    -webkit-transform: rotate(-136deg); /* Chrome, Safari, Opera */
    left: 94%;
	top: 7px;
	margin-left: -12px;
    }
  }
  
}
#user-register-form{
div.ctools-modal-content .modal-content{
  min-width: 100%;
}
.popups-container input[type="password"]{
  width: 88%;
}

  
  .form-type-password-confirm{
    margin-top: 40px;
    .password-strength{
      width: 92%;
	float: left;
	margin-top: -55px;
    }
  }
   
   .password-strength{
      width: 92%;
	float: left;
	margin-top: -36px;
   }
   .form-type-password.form-item-pass-pass2{
     width: 67%;
     input[type=password]{
        width:100%;
     }
  }
   input[type=password]{
     width: 91%;
   }
  .form-type-password-confirm form-item-pass{
    margin-top: 20px;
  }
  .form-item{
    padding-left: 0;
    padding-right: 0;
  }
  #edit-pass-pass1{
    width: 92%;
  }
}
#user-pass label{
  display:none;
  visibility: hidden;
}
#slider-container form{
  
  .description{
    width: 15px;
    margin-left: 7px;
    margin-top: 5px;
  }
  h2{
    margin-bottom: 21px;
  }   
}
 
#webform-ajax-wrapper-74666{  
  p.larger{
    margin-top: 16px;
    line-height: 34px;
    margin-bottom: 24px;
  }  
} 

#webform-client-form-74676{
 h3, h2{
   font-size: 35px;
	padding-right: 26px;
	line-height: 45px;
	margin-top: 11px;
	margin-bottom: 20px;
 }
 .home_forum_share{
   .home_forum_share_left{
      p{
        margin-right: 0;
      }
   }
   .home_forum_share_right{
     margin-top: 24px;
     @include breakpoint($mobile){
       margin-top: 54px;
     }
   }
 }
}
#slider-container #webform-client-form-74681 h2{
  font-size: 37px;
	margin-top: 9px;
	line-height: 44px;
	margin-bottom: 9px;
}
#webform-client-form-74681{
  &form h2{
    font-size: 37px;
	margin-top: 9px;
	line-height: 44px;
	margin-bottom: 9px;
  }
  .webform-component--lend-your-support{
    h5{
      font-size: 18px;
      margin-top: -9px;
    }
  }
  .webform-component--give-what-you-can{
    margin-left: 18px;
    width: 32%;
    @include breakpoint($mobile){
      margin-left:auto;
      width:auto;
    }
    & > label{
      font-size: 22px;
      line-height: 30px;
      margin-left: 10px;
      padding-top: 22px;
      display: block;
      padding-bottom: 6px;
      @include breakpoint($mobile){
        margin-left:0px;
      }
    }
    #edit-submitted-give-what-you-can{
      @include breakpoint($mobile){
        margin: 0 -30px 0 -11px;
        margin-bottom:15px;
      }
      label{
        //font-size: 22px;
        font-size: 20px;
      }
    }
  }  
  .webform-component--other-ways-to-help{
    width: 28%;
    margin-top: 22px;
    @include breakpoint($mobile){
      width:auto;
    }
    h3{
      font-size: 22px;
      margin-top: 3px;
    }
    a.btn{
      padding: 13px 22px;
    }
    label{
        font-size: 24px;
    }
  }

  .webform-component--lend-your-support{
  	p{
  		line-height: 27px;
  	}
  }
}
div.ctools-modal-content{
#user-register-form, #user-login{
  width: 114%;
  float: left; 
}
}
div.ctools-modal-content .modal-content{
    overflow-x: hidden;
  }
.front #main{
  //margin-top: -50px;what is this issue fixing? Everything that gets put on this list should have an explanation with it
}

.not-logged-in #user-login{
  input[type="password"], input[type="text"]{
    background: none!important;
  }
}


#webform-client-form-74666{
    label {
	position: absolute;
	left: 21px;
	top: 11px;
	}
 .form-item{
  height: 65px;
  }
}

#form input[type="text"]:focus{
  border-color:#fbb900;
}

body .view-display-id-stream_forum_page{
   .icon-Featured, .icon-Hottopic {
     display: none; 
   }
  .rowlessthen3{
    .icon-Featured {
      margin-right:5px;
      display: inherit;
    }
  }   
  .icon-Hottopic {
    margin-right: 70px;
  }
  .show_hot{
    .icon-Hottopic { 
      display: inherit;
      margin-right: 70px;
    }
  } 
}

// Post footer

.posts-columns .post .footer .num-holder a .text{
	display: none;
}

.posts-columns .post .footer .num-holder .hover a .text{
	display: block;
}



.section-share-your-story .block-webform{
  padding-bottom: 50px;
  label{
    left: 12px;
    top: 10px;
  }
 .form-item{
    min-height: 70px; 
 }
}

// Private Message page
html.js fieldset.collapsed{
	height: auto;
}
.page-messages{

	.description{
		width: initial;
	}
	
}


.section-current-vacancies{
  .posts-columns{
    margin-top: 290px;
    .field_salary{
      margin-bottom:20px;
    }
  }
}

.view-display-id-stream_forum_page{
  fieldset{
    margin-right:0;
  }
}
article.node-223806, article.node-223591{
 .field-name-body{
  padding:40px 80px; 
  }
}



#modalContent{
  #modal-title{
    font-size: 30px;
    text-align: center;
    padding: 14px;
    display: block;
  } 
  .popups-close.close{
    position: absolute;
    right: 11px;
    top: 12px;
  }
  h3{
    font-size: 22px;
    font-weight: bold;
    padding: 5px 1px;
    text-align: left;
  }
  .hybridauth-widget li{
    margin:0;
  }
  .item-list{
    margin-left: 20px;
  }
}
div.ctools-modal-content .modal-content{
  padding:19px 19px 19px 49px;
}

.post-comments-0{
  display:none;
}

//HIDING THE RANDOM WHITEBOX that appears on topic pages on mobile FFS!

#block-views-stream-my-voice-blog .view-filters .mobile-view {
    display: none;
}
.forumpage_title{
  font-size:16px; margin-bottom:30px;
}


.node-type-forum-discussion .posts-columns.columns-full .row .footer{
  padding-left: 30px;
  .flag_node{
    margin-right: 20px;
    float: left;
    width: 170px;
    margin-top: 6px;
  }
  .flag-message{
    visibility: hidden;
  }
}
.topic_section{
  float: left;
  width: 100%;
 // margin-left: 9px;
  margin-top: 15px;
}
// Colorbox login
#modalContent{
  z-index: 9999 !important;

}
.forum_list{
  float:left;
  margin-right:5px;
  a, span.flag-bookmarks, .flag-bookmarks{
    font-size: 15px;
    font-weight: normal;
  }
}
//seems to be duplicated on all?
.flag-wrapper{
    font-size: 15px;
    font-weight: normal;
}
#modalBackdrop{
  z-index: 9999 !important;
}

.not-logged-in #user-login--2 .form-item label,
.not-logged-in #user-login .form-item label,
#user-register-form .form-item label{
  display: none !important;
}

//hack fix to hide guidelines repeating after every post on topic page THIS MUST BE FIXED BY END OF NEXT WEEK 17.4.15
.page-taxonomy.section-topics {
    .forumpage_title {display: none;}
}

//HACK to hide unwanted form fields - profile and discussion page. 
fieldset.group-hidden {
    display: none;
}
.section-node-add {
    #block-easy-breadcrumb-easy-breadcrumb, .vertical-tabs {
        display: none;
    }
    .node-forum_discussion-form {
        background: white;
        padding: 1.5em;
        margin-bottom: 3em;
        border: 1px solid $border-color;
        clear: both;
        fieldset {
            float: none;
        }
        .description {
            width: auto;
            float: none;
            clear: both;
        }
        label {
            font-size: 2em;
            margin-bottom: 0.2em;
            margin-top: 0.5em;
            display: block;
            &.filter-help,
            &.option {font-size: 1em;margin:0;display: inline;}
        }
        .form-item-title label {margin-top: 0;}
        .filter-guidelines {
            padding: 0;
        }
        
        .filter-wrapper{
            display: none;
        }
        .form-type-checkbox {
            float: left;
            .error {
                outline: 1px solid $error-red;
                width: auto;
            }
        }
        .filter-help {padding: 0;float: none; text-align: center;}
        input {max-width: 100%;}
        .form-action {margin-top:0.5em;}
    }
}


/*fourm page text*/
.page-node-221561, .node-type-forum-discussion{
  .posts-columns.columns-full{
    .row{
      .forum-text{
        .forum-right{
          clear: inherit;
        }
      }
    }
  }
}


.page-search-gss{
  .tabs{
    @include breakpoint($mobile){
      li{
        margin-bottom: 10px;
	   display: block;
	   clear: both;
	 }
    }
  }
  .search-form{
   @include breakpoint($mobile){ 
     input[type=submit]{
       width: 92%;
		max-width: inherit;
		margin: 0 4%;
     }
     }
  }
  .item-list .pager li{
      display: inline-block;
    }
}
.google-search-results{ 
    @include breakpoint($mobile){ 
      &.posts-columns.columns-full{
        .views-row{
          .forum-text{
            .forum-left{
              .image-holder{ 
				width: 100%;
				margin:0 0 10px 0;
              }
            }
          }
        }
      }
    } 
    .gss-search-url{
      word-wrap: break-word;
    }
}


/* node-type-page  */

.node-type-page{
  .easy-breadcrumb{
    display: block;
  }
  #main{
    @include breakpoint($mobile){
      max-width: 91%;
      margin-top: 16px;
    }
  }
}

//hack to add text to login form
#user-login--2,
#user-login {
    .hybridauth-widget-wrapper {
        &:before {
        content: "Did you have an account on the old Talk about Autism website? Please reset your password.";
        }
    }
}

#comment-body-add-more-wrapper .filter-wrapper {
    display: none;
}
/* 
#block-menu-menu-header-top-menu{
  @include breakpoint($mobile){
    float: left; 
  }
  @include breakpoint(520px){
    li{
      padding:0 5px;
    }
  }
}
#block-system-user-menu{
  @include breakpoint(520px){
  ul{
     padding-left:0;
     li {
       a{
         font-size:0;
         img{
           margin-right:0;
           margin-top: -5px;
         }
       }
     }
   }    
  }
}*/
