@import "base/base";

//=== Stream Section ===//

// Home page Stream block


.card-stream {
    @include container;
    
   /* .view-content {
        @include breakpoint (min-width $large-mobile) {
            @include columns(2);
            @include column-gap (0px);
            width: 100%;  
        }
        @include breakpoint (min-width $tablet-small) {
            @include columns(3);
        }
    }*/
  .views-row.post {
    //resetting styles from post and applying them to the inside wrapper
    background: transparent;
    //@include break-inside(avoid);
    margin: 0;
    padding: 0;
    border: none;
    @include box-shadow(none);
    .views-field {
        padding: 20px 21px;
        margin: 0 0 30px;
        background:$white;
        border:1px solid $gray;
        @include box-shadow(2px 2px 2px rgba(0,0,0,.25));
        
        .info {
            padding: 13px 0 0 0;
        }
    }
    @include breakpoint(min-width $large-mobile){
        width: span(6 of 12 no-gutter);
        
        &:nth-of-type(2n) .views-field {
            margin: 0 0 30px 15px;
        }
        &:nth-of-type(1n).views-field {
            margin: 0 15px 30px 0;
        }
    }
    @include breakpoint(min-width $tablet-small){
        //@include remove last;
        width: span(4 of 12 no-gutter);
         
        &:nth-of-type(2n) .views-field {
            margin: 0 15px 30px 15px;
        } 
        &:nth-of-type(3n) .views-field {
            margin: 0 0 30px 15px;
        }
        &:nth-of-type(1n) .views-field {
            margin: 0 15px 30px 0;
        }
    }
  }
    
    
    
    
	  //width;
      //	padding: 20px 21px;
		//	position: relative;
	//		margin: 0 0 30px;
	//		background:$white;
	//		border:1px solid $gray;
		//	@include box-shadow(2px 2px 2px rgba(0,0,0,.25));
	/*@include breakpoint(min-width $tablet-small){
	  //width;
      &:nth-of-type(1n) {
        .views-field {
            margin: 0 1% 30px 1%;
        }
      }
      &:nth-of-type(2n) {
        .views-field {
            margin: 0 2% 30px 0%;
        }
      }
      &:nth-of-type(3n) {
        .views-field {
            margin: 0 0 30px 2%;
        }
      }
	}*/
  .footer-text{
     font-size:12px;
  }  
  .btn{
	padding: 12px 19px;
  }
}

.home-stream {
   /*@include container;

  .post{
	width: span(4 of 12);//why were you using a 13 column grid?
    &:nth-of-type(3n) {@include last;}
	@include breakpoint($mobile){
	  @include span(12 of 12);
	}

	.footer-text{
  		font-size:12px;
	}

  }  */
    
  //refactor to remove this and make it a home-stream only modifier and then update views
  /*@include breakpoint (min-width $tablet-small) {
      .views-row:nth-child(1){
        background:none;
        padding:0;
        border:none;
        @include box-shadow(none);
        min-height: 359px;
      }
  }*/
  .btn{
	padding: 12px 19px;
  }
}


// understanding autism page Stream block WHHHHHY!?
/*
.understanding-autism{

  .post{

	@include span(4 of 13);

	@include breakpoint($mobile){
	  @include span(13 of 13);
	}

  }

  .btn{
	padding: 12px 19px;
  }

}
*/

// View footer text
.front .posts-columns .post .footer .num-holder a .text{
	font-size:14px;
}

// Sign up block
.signup-columns .signup-form .btn.btn-left{
	margin-right: 100px;
}
.desktop{
	@include breakpoint($mobile){
		display: none;
	}
}

// Orange bubble
.orange-bubble{
	.my-voice-post .content .num-holder a .num{
		border-color: $orange;
		color: $orange;
	}
	.my-voice-post .content .num-holder a .text{
		color: $orange;
	}
	.my-voice-post .content .num-holder a .num:after{
		background-position: -40px 0;
	}
}
