@import "base/base";

//=== Stream Section ===//

// Home page Stream block

.card-stream {
  @include container;
  /* .view-content {
       @include breakpoint (min-width $large-mobile) {
           @include columns(2);
           @include column-gap (0px);
           width: 100%;  
       }
       @include breakpoint (min-width $tablet-small) {
           @include columns(3);
       }
   }*/
  .views-row.post {
    //resetting styles from post and applying them to the inside wrapper
    background: transparent;
    //@include break-inside(avoid);
    margin: 0;
    padding: 0;
    border: none;
    @include box-shadow(none);
    .views-field {
      padding: 20px 21px;
      margin: 0 0 30px;
      background: $white;
      border: 1px solid $gray;
      @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
      .info {
        padding: 13px 0 0 0;
        //below breakpoints are temporary fix for the card alignments
        @include breakpoint(min-width $large-mobile) {
          min-height: 67px;
        }

        @include breakpoint($mobile) {
          min-height: 39px;
        }

        @include breakpoint(min-width $tablet-small) {
          min-height: 71px;
        }
      }
    }
    @include breakpoint(min-width $large-mobile) {
      width: span(6 of 12 no-gutter);
      &.feature-row {
        h2, p {
          margin: 0 15px 30px 15px;
        }
      }
      .views-field {
        margin: 0 15px 30px 15px;
      }
    }

    @include breakpoint($mobile) {
      width: 100%;
    }

    @include breakpoint(min-width $tablet-small) {
      //@include remove last;
      width: 33.33%;
    }
  }
  //width;
  //  padding: 20px 21px;
  //  position: relative;
  //    margin: 0 0 30px;
  //    background:$white;
  //    border:1px solid $gray;
  //  @include box-shadow(2px 2px 2px rgba(0,0,0,.25));
    /*@include breakpoint(min-width $tablet-small){
      //width;
        &:nth-of-type(1n) {
          .views-field {
              margin: 0 1% 30px 1%;
          }
        }
        &:nth-of-type(2n) {
          .views-field {
              margin: 0 2% 30px 0%;
          }
        }
        &:nth-of-type(3n) {
          .views-field {
              margin: 0 0 30px 2%;
          }
        }
    }*/
  .footer-text {
    font-size: 12px;
  }
  .btn {
    padding: 12px 19px;
  }
}

.home-stream {
  @include container;
  .post {
    width: span(4 of 12);
    &:nth-of-type(3n) {
      @include last;
    }
    @include breakpoint($mobile) {
      @include span(12 of 12);
    }

    .footer-text {
      font-size: 12px;
    }
  }
  //refactor to remove this and make it a home-stream only modifier and then update views
  @include breakpoint(min-width $tablet-small) {
    .views-row:nth-child(1) {
      background: none;
      padding: 0;
      border: none;
      @include box-shadow(none);
      // min-height: 333px;
   
    }
  }

  .btn {
    padding: 12px 19px;
  }
}

// View footer text
.front .posts-columns .post .footer .num-holder a .text {
  font-size: 14px;
}

// Sign up block
.signup-columns .signup-form .btn.btn-left {
  margin-right: 100px;
}

.desktop {
  @include breakpoint($mobile) {
    display: none;
  }
}

// Orange bubble
.orange-bubble {
  .my-voice-post .content .num-holder a .num {
    border-color: $orange;
    color: $orange;
  }
  .my-voice-post .content .num-holder a .text {
    color: $orange;
  }
  .my-voice-post .content .num-holder a .num:after {
    background-position: -40px 0;
  }
}

// start [CARD REFACTOR]

// Application -  requires that we add two divs with 
// card--width and card--gutter applied respectively 
// in order to fish get the responsive widths for the
// jquery masonry application.

// Sets masonry column size
.card-layout {
  @include container;
  // debug lines for the susy baseline grid.
  // @include show-grid(12);
}

.card--width {
  @include breakpoint(min-width $large-mobile) {
    width: span(6 of 12 no-gutters);
  }

  @include breakpoint(min-width $tablet-small) {
    width: span(4 of 12 no-gutters);
  }
}

// Sets masonry gutter size
.card--gutter {
  width: gutter();
}

// dummy item selector used for applying masonry.
.card--item {}

// card styling.
.card {
  // mobile first being used here.
  width:100%;
  margin-bottom: gutter();

  @include breakpoint(min-width $large-mobile) {
    // setting the size of the card layout with susy.
    // masonry will pick up this sizing to apply the 
    // positioning of the elements in the card layout.
    // the gallery mixin seemed to work well with this
    // unfortuntely since it generates some additional 
    // margins which throw layout off when the absolute 
    // positioning is applied from masonry.
    @include span(6 of 12 no-gutters);
  }

  @include breakpoint(min-width $tablet-small) {
    @include span(4 of 12 no-gutters);
  }

  background: $white;
  padding: 1em;
  // TODO:
  @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));

  // TODO: need to revisit this.
  .footer-text {
    font-size: 12px;
  }
  .info {
    padding: 24px 0 4px 11px;
  }
}

// understanding_autism_page & understanding_autism_page_age
// making card width 100% percent in small mobiles.
// .list-view {
//   .card {
//     @include breakpoint($small-mobile) {
//       width: 100%;
//     }
//   }
// }

// end [CARD REFACTOR]