@import "base/base";

//=== Stream Section ===//

// Home page Stream block
.home-stream {
   @include container;

  .post{
	width: span(4 of 12);//why were you using a 13 column grid?
    &:nth-of-type(3n) {@include last;}
	@include breakpoint($mobile){
	  @include span(12 of 12);
	}

	.footer-text{
  		font-size:12px;
	}

  }  
    //refactor to remove this and make it a home-stream only modifier and then update views
  .views-row:nth-child(1){
	background:none;
	padding:0;
	border:none;
	@include box-shadow(0px 0px 0px rgba(0,0,0,0));
  }
  .btn{
	padding: 12px 19px;
  }


}

.card-stream {
	 @include container;

  .post{
	@include span(4 of 13);

	@include breakpoint($mobile){
	  @include span(13 of 13);
	}

	.footer-text{
  		font-size:12px;
	}

  }  
  .btn{
	padding: 12px 19px;
  }
}

// understanding autism page Stream block
.understanding-autism{

  .post{

	@include span(4 of 13);

	@include breakpoint($mobile){
	  @include span(13 of 13);
	}

  }

  .btn{
	padding: 12px 19px;
  }

}
// View footer text
.front .posts-columns .post .footer .num-holder a .text{
	font-size:14px;
}

// Sign up block
.signup-columns .signup-form .btn.btn-left{
	margin-right: 100px;
}
.desktop{
	@include breakpoint($mobile){
		display: none;
	}
}

// Orange bubble
.orange-bubble{
	.my-voice-post .content .num-holder a .num{
		border-color: $orange;
		color: $orange;
	}
	.my-voice-post .content .num-holder a .text{
		color: $orange;
	}
	.my-voice-post .content .num-holder a .num:after{
		background-position: -40px 0;
	}
}
