@import "base/base";

// TODO: Re-evaluate use of max height here.
// * {max-height: 100000em;}

@include border-box-sizing;

body {
  margin: 0;
  color: $base-text-color;
  background: $base-background-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;

  //min-width: $base-min-width;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

img {
  border-style: none;
}

a {
  outline: none;

  // text-decoration: none;
  color: $orange-dark;

  // &:hover {
  //     text-decoration: underline;
  // }
  &:hover {
    color: $base-link-color;
  }
}

input,
textarea,
select {
  font: 100% $base-font-family;
  color: $base-form-text-color;
  vertical-align: middle;
}

form,
fieldset {
  margin: 0;

  //padding: 0;
  border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  border: 1px solid $base-input-border-color;

  &:focus {
    /*Border colour before*/
    //border-color: darken($base-input-border-color, 30%);        
    //outline: none;
 
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=text]
, input[type=search]
, input[type=password]
, input[type=tel]
, input[type=email]
, input[type=file]
, textarea {
  -webkit-appearance: none;
}

input[type=submit]
, input[type=text]
, input[type=search]
, input[type=tel]
, input[type=password]
, input[type=email]
, input[type=file]
, textarea {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.2em;

  //doubles up and over typography?
  margin: 0 0 1.2em;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// make the logo image responsive
.logo {
  img {
    max-width: 100%;
  }
}

// system Messages
.messages {
  position: inherit;

  .placeholder {
    text-decoration: underline;
  }
}

.status {
  @include span(12 of 12);

  z-index: 1000;
  background: $status-bg;
  color: $status-text;
  margin-bottom: 10px;

  p {
    color: $status-text;
    margin-bottom: 0;
    text-align: center;
  }
}

.warning {
  @include span(12 of 12);

  z-index: 1000;
  background: $warning-bg;
  color: $warning-text;
  margin-bottom: 10px;
}

.error {
  @include span(12 of 12);

  z-index: 1000;
  background: $error-bg;
  color: $error-text;
  margin-bottom: 10px;
}

.easy-breadcrumb {
  text-align: right;
  color: $white;

  // reseting the letter spacing.
  letter-spacing: 0px;

  a {
    //overiding the colour
    color: $white;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $base-link-color;
    }
  }

  @include breakpoint($mobile) {
    display: none;
  }
}

.main-layout {
  background-color: $white;
  padding: 1em;
  padding-bottom: 4em;
}

.field-name-field-salary
, .field-name-field-time-commitment
, .field-name-field-vacancy-location {
  font-weight: bold;
}

.field-name-field-standfirst
, .field-name-field-body {
  //font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}

.field-type-text {
  font-family: $base-font-family;
}

//basic page styles
.node-type-page {
  #content-area {
    @include breakpoint($all-desktop) {
      /******************************************* 
      If you enable below two lines
      that have commented it will change the 
      content-area widhth two 80% by adding margin
      left and right.
      *******************************************/
      //@include span(10 of 12);
      //@include post (2 of 12);
      padding-bottom: 5em;
    }
  }

  // TODO: Due to All the basic pages is being added the above width.
  &.page-node-223451 #content-area {
    @include breakpoint($all-desktop) {
      @include span(12 of 12);

      padding-bottom: 5em;
    }
  }
}

// Publication style - simple list from wysiwyg

.simple-list-item {
  border-bottom: 1px $gray solid;
  margin-bottom: 2.5em;

  .image {
    display: none;
  }

  @include breakpoint($all-desktop) {
    &.full-width {
      h5, p {
        width: 100%;
      }
    }

    h5, p {
      @include span(7 of 10);
    }

    .image {
      @include span(3 of 10 last);

      display: block;
    }

    .clear {
      clear: both;
      height: 0;
    }
  }
}

// Floating the system error messages to the bottom of the viewport.
.messages--error {
  position: fixed;
  bottom: 0px;

  // TODO: Ideally would have wanted this to be 100% but this is inside the 
  // main wrapper which is constrained. Needs to be looked into.
  width: 100%;
  margin: 0px;
  z-index: 9999;
  left: 0;
  font-size: 0.7em;
  padding: 1em;
  background: $error-red;
  color: $white;

  a {
    color: $white;
  }

  h2, ul, p {
    max-width: 1080px;
    margin: 0 auto;
  }
}

// Maintenance page
.maintenance-page #main #content-area {
  background: $white;
  padding: 30px;
}

.flag-bookmarks {
  font-weight: bold;
  font-style: normal;
}

.flag_node {
  .flag-bookmarks {
    font-weight: normal;
    font-style: normal;
  }
}

.article-info {
  .flag-bookmarks {
    float: left;
    padding: 0 2em;
  }

  .field-name-field-featured-author {
    float: left;
  }
}

//changing the padding for the node type basic page with hero and the basic page with hero large
.node-type-basic-page-with-hero {
  .easy-breadcrumb {
    padding-right: 8px;
  }
}

.node-type-topic {
  .easy-breadcrumb {
    padding-top: 45px;
  }
}

.node-type-basic-page-with-hero-large {
  .easy-breadcrumb {
    padding-right: 10px;
  }
}

.node-type-my-voice-blog {
  a {
    color: $pink;
  }

  .easy-breadcrumb {
    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }

      &:visited {
        color: $base-link-color;
      }
    }
  }
}

.node-type-my-voice-blog, .page-node-224746 {
  .nav-holder {
    a {
      color: $black;

      &:hover {
        color: $pink;
      }
    }

    p {
      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

//issue fixing for applying the image right in wysiwyg

.wysiwyg-right {
  display: inline;
  float: right;
}

//code to keep the wysiwig editer responsive
//#ckeditor_custom_id{
.ckeditor_custom_class {
  min-width: 0px;
  background: $white;
}

//styles used for the forum page grid and list view
.view-hidden {
  display: none;
}

.view-visible {
  display: block;
}

.field-name-field-author {
  width: 300px;
  float: left;
}

.node-type-article {
  .visual {
    .img-holder {
      img {
        width: 100%;
      }
    }
  }
}

#edit-field-event-date-value-1-wrapper {
  margin-left: 28px;
}

#edit-search-field {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #383c40;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
  max-width: 200px;
}

.search-text {
  &.job-category {
    background-image: none !important;
  }
}

#edit-search-job-vacancies {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #383c40;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
  max-width: 200px;
}

#search-form {
  #edit-basic {
    label {
      display: block !important;
    }

    .form-item {
      &:first-child {
        max-width: 300px;
        margin: 0px;

        @include breakpoint($mobile) {
          max-width: 100%;
        }


        input {
          width: 100%;
        }
      }
    }
  }

  .search-form.gss {
    .container-inline {
      label {
        display: block;
      }
    }
  }

  #edit-keys {
    border-radius: 5px;
    font-size: 18px;
    border-bottom: 2px solid;
    border-color: #e4e4e4;
    -webkit-box-shadow: inset 1px 1px 2px #707070;
    box-shadow: inset 1px 1px 2px #707070;
    padding: 12px 23px;
  }

  #edit-submit {
    margin-top: 32px;
    margin-bottom: 30px;
    clear: right;

    @include breakpoint($mobile) {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  .course-result {
    a {
      img {
        max-width: 100%;
      }
    }
  }
}

.page-search {
  #content-area {
    h2 {
      display: none;
    }
  }
}

.posts-columns {
  .post {
    float: left;
  }
}

.page-node-224851 {
  #views-exposed-form-stream-block-1 {
    .sort-block {
      /*padding-left: 139px;*/
    }
  }
}

// Quick fixes
.alert-messages {
  background: $magenta;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
  display: inline-block;
  width: 100%;
  margin-bottom: -47px;

  @include breakpoint($mobile) {
    margin-top: 35px;
    font-size: 13px;
  }


  .alert-holder {
    @include container;

    padding: 15px 0;
    position: relative;
  }

  p {
    color: $white;

    @include span(11 of 12);

    // @include breakpoint($mobile) {
    //   padding-right: 25px;
    // }
 
  }

  a {
    color: $white;
  }

  .close {
    @include span(1 of 12 last);

    position: absolute;
    right: 0;
  }
}

.group-hidden {
  display: none;
}

.front .caption-text-titles .caption-text-title.caption-text-title-2 {
  margin-left: 0px !important;
}

.front #block-block-26 {
  display: none;
}

.front {
  .visual {
    .img-holder {
      .caption-frame {
        background: $white;
        top: 28%;
        padding: 20px;

        .caption-text-title {
          margin-bottom: 0px;

          h1 {
            margin-bottom: 0.2em;
          }
        }

        .call-action-buttons {
          .view-content {
            @include breakpoint($not-all-mobile) {
              float: right;
              margin-top: -65px;
            }


            @include breakpoint($tablet-range) {
              float: right;
              margin-top: -65px;
            }
          }
        }
      }
    }
  }

  // .caption-frame {
  //   display: block;
  //   background-color: $white;
  //   width: 900px;
  //   height: 206px;
  //   position: relative;
  //   margin: 0 auto;

  //   @include breakpoint($mobile) {
  //     padding: 10px;
  //     width: 100%;
  //     height: 300px;
  //   }

  //   @include breakpoint($tablet-range) {
  //     width: 620px;
  //     height: 315px;
  //   }

  //   .caption-text-title span {
  //     padding: 0 0 0 56px;

  //     @include breakpoint($mobile) {
  //       padding: 0;
  //     }

  //     @include breakpoint($tablet-range) {
  //       padding: 0 0 0 0;
  //     }
  //   }

  //   .caption-text-title-1 span {
  //     padding-top: 20px;

  //     @include breakpoint($mobile) {
  //       padding-top: 0px;
  //       line-height: 38px;
  //     }
  //   }
  // }

  // .call-action-buttons {
  // top: 103px;
  // position: absolute;
  // right: 18%;

  // @include breakpoint($all-desktop) {
  //   top: 0px;
  //   right: 8%;
  //   margin-top: 167px;
  // }

  // @include breakpoint($tablet-range) {
  //   top: 218px;
  //   right: 31%;
  // }

  // }

  // .visual .img-holder .region-image-holder {
  //   height: 100%;
  // }

  // .visual .img-holder .caption-frame {
  //   top: 9%;

  //   @include breakpoint($mobile) {
  //     top: 14%;
  //   }

  //   @include breakpoint($tablet-range) {
  //     top: 3%;
  //   }
  // }

  // .visual .holder {
  //   @include breakpoint($mobile) {
  //     top: 0px;
  //   }
  // }
}

// inner pages caption text styles
.not-front {
  .caption-text {
    margin-top: 75px;

    .caption-text-titles {
      .caption-text-title {
        float: left;
        width: 100%;
        line-height: inherit !important;
        margin-bottom: 10px;

        span {
          float: left;
          letter-spacing: -1px;
          background: #ffffff;
          padding: 15px 25px 20px 25px;
        }
      }
    }
  }

  .visual .img-holder .caption-frame {
    max-width: 1080px;
  }
}