@import "base/base";

//=== Visual Section ===//
.visual{
	max-height: 770px;
	overflow: hidden;
	.img-holder{
		.caption-frame{
			z-index: 998;
			position: absolute;
			top: 0;
			.caption{ 
				padding: 70px 0 0;
				color: $heading-link;
				.title{
					position: relative;
					right: 10px;
				}				

			}
		}
	}
}  

//=== Slider Block Section ===//
.slider-block{
	z-index: 1100;
	position: relative;

	// TODO: [HEADER FORM]
	// top: 24px;
	.r-s-arrow{
		a{
			text-decoration: none;
		}
	}
	.l-s-arrow{
		a{
			text-decoration: none;
		}
	}
	a{
		&.btn-left{
			margin-right: 10px;	
		}
		&.btn{
			padding: 11px 16px;
		}
		&.btn-right{
			position: relative;
			right: 85px;
			@include breakpoint($mobile){
				right: 0;
			}
		}
				
	}
}

//=== Visual Section - not Front page ===//
.not-front{

	.visual .img-holder .caption-frame .caption{
		@include breakpoint($not-mobile){
			padding: 0;
			margin-top: -4em;
		}
	}

}

// Image Holder - Fixing for the mobile devices
.img-holder img{
	width: 100%;
	height: auto;
}



