@import "base/base";

// font
@font-face {
  // add path root - nanda globalsoftlab
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?y5zyxa');
  src:url('../../fonts/icomoon.eot?#iefixy5zyxa') format('embedded-opentype'),
    url('../../fonts/icomoon.woff?y5zyxa') format('woff'),
    url('../../fonts/icomoon.ttf?y5zyxa') format('truetype'),
    url('../../fonts/icomoon.svg?y5zyxa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  // add path root - nanda globalsoftlab
  font-family: 'icomoon-new';
  src:url('../../fonts/new-icomoon.eot?y5zyxa');
  src:url('../../fonts/new-icomoon.eot?#iefixy5zyxa') format('embedded-opentype'),
    url('../../fonts/new-icomoon.woff?y5zyxa') format('woff'),
    url('../../fonts/new-icomoon.ttf?y5zyxa') format('truetype'),
    url('../../fonts/new-icomoon.svg?y5zyxa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"HelveticaNeueW01-55Roma";
  src:url("../../fonts/HelveticaNeueW01-55Roma.eot?#iefix");
  src:url("../../fonts/HelveticaNeueW01-55Roma.eot?#iefix") format("eot"),url("../../fonts/HelveticaNeueW01-55Roma.woff2") format("woff2"),url("../../fonts/HelveticaNeueW01-55Roma.woff") format("woff"),url("../../fonts/HelveticaNeueW01-55Roma.ttf") format("truetype"),url("../../fonts/HelveticaNeueW01-55Roma.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-75Bold";
  src:url("../../fonts/HelveticaNeueW01-75Bold.eot?#iefix");
  src:url("../../fonts/HelveticaNeueW01-75Bold.eot?#iefix") format("eot"),url("../../fonts/HelveticaNeueW01-75Bold.woff2") format("woff2"),url("../../fonts/HelveticaNeueW01-75Bold.woff") format("woff"),url("../../fonts/HelveticaNeueW01-75Bold.ttf") format("truetype"),url("../../fonts/HelveticaNeueW01-75Bold.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

/* Card layout across site */

.card {}

// Change the below code to BEM
.topic-child-posts .feature-row .img-holder .feature-holder {
  margin-bottom: 5px;
  position: static;
  bottom: 0px;
  left: 0px;
  background: transparent;

  .text {
    background: $orange;
  }
}

.card-icon-holder {
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.card__category {
  overflow: hidden;
  float: left;

  &:hover .card__categorytext {
    margin-left: 0;
  }
}

.card__categorytext {
  float: left;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 5px;
  min-width: 109px;
  text-align: center;
  color: $white;
  margin-left: -134px;

  @include transition($type: all, $time: 0.4s, $ease: ease);
}

.card__categoryicon {
  position: relative;
  z-index: 1;
  background-size: contain !important;
  float: left;
  height: 45px;
  width: 45px;
}

.card__categoryicon--stories {
  background: image-url("aaa-story-icon.svg") $white center center no-repeat;
}

.card__categoryicon--information {
  background: image-url("aaa-information-icon.svg") $white center center no-repeat;
}

.card__category--blue {
  background: $blue-light;
}

.card__category--orange {
  background: $orange;
}