/* line 3, ../../sass/base/_markup-mixins.scss */
#main2:after, #main2 .article-tags:after, #main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right ul:after, #main2 .article-left .article-left-holder .article-info:after, #main2 .article-left .article-left-holder .article-info cite span:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../../sass/base/_markup-mixins.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing, #main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right ul, #main2 .article-left .article-left-holder .article-info .article-updated ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 3, ../../sass/layouts/article.scss */
#main2 {
  color: #081318;
  background: url('../../images/wid_bg.png?1424183361') repeat-y center #ffffff;
  width: 100%;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 7, ../../sass/layouts/article.scss */
#main2.page-main {
  background: #ffffff;
  padding-bottom: 3px;
}
@media (max-width: 1180px) {
  /* line 3, ../../sass/layouts/article.scss */
  #main2 {
    background-position: right;
    padding: 0 20px;
  }
}
@media (max-width: 990px) {
  /* line 3, ../../sass/layouts/article.scss */
  #main2 {
    background-position: right;
    padding: 0 10px;
  }
}
/* line 23, ../../sass/layouts/article.scss */
#main2 .article {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
/* line 27, ../../sass/layouts/article.scss */
#main2 .info.add {
  padding: 19px 0 13px 0;
}
/* line 31, ../../sass/layouts/article.scss */
#main2 h1 {
  margin: 44px  0 28px 0;
  color: #081318;
}
/* line 35, ../../sass/layouts/article.scss */
#main2 h3 {
  margin-top: 40px;
  margin-bottom: 13px;
}
@media (max-width: 990px) {
  /* line 35, ../../sass/layouts/article.scss */
  #main2 h3 {
    font-size: 30px;
    font-size: 1.875em;
  }
}
@media (max-width: 767px) {
  /* line 35, ../../sass/layouts/article.scss */
  #main2 h3 {
    font-size: 20px;
    font-size: 1.25em;
  }
}
/* line 48, ../../sass/layouts/article.scss */
#main2 .article-left {
  float: left;
  padding: 0 65px 48px 7px;
  background: #ffffff;
}
@media (max-width: 1180px) {
  /* line 48, ../../sass/layouts/article.scss */
  #main2 .article-left {
    padding: 0 20px 48px 20px;
  }
}
@media (max-width: 990px) {
  /* line 48, ../../sass/layouts/article.scss */
  #main2 .article-left {
    float: left;
    width: auto;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  /* line 48, ../../sass/layouts/article.scss */
  #main2 .article-left {
    padding: 0 20px;
    width: 100%;
  }
}
/* line 65, ../../sass/layouts/article.scss */
#main2 .article-left .visual {
  margin: 0 0 39px 0;
}
/* line 67, ../../sass/layouts/article.scss */
#main2 .article-left .visual .holder {
  padding: 11px 0 0 0;
}
/* line 69, ../../sass/layouts/article.scss */
#main2 .article-left .visual .holder .pic-caption {
  color: #636c73;
  float: left;
  font-size: 13px;
}
@media (max-width: 767px) {
  /* line 67, ../../sass/layouts/article.scss */
  #main2 .article-left .visual .holder {
    max-width: inherit;
  }
  /* line 76, ../../sass/layouts/article.scss */
  #main2 .article-left .visual .holder .pic-by {
    float: none;
    margin-bottom: 10px;
  }
  /* line 80, ../../sass/layouts/article.scss */
  #main2 .article-left .visual .holder .pic-caption {
    float: none;
    margin-bottom: 20px;
    display: block;
  }
}
/* line 88, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder {
  float: right;
}
@media (max-width: 767px) {
  /* line 88, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder {
    float: none;
    width: auto;
  }
}
/* line 95, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .img-holder img {
  width: 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  /* line 100, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .img-holder img {
    max-width: 100%;
    width: 100%;
  }
}
/* line 107, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-perv {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -41px 0 0;
  z-index: 99;
  background: #2a2e31;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  padding: 19px 18px;
  font-size: 30px;
}
/* line 120, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-perv [class*=" icon-"] {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 123, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-perv:hover {
  color: #ffffff;
  background: #f15500;
}
@media (max-width: 767px) {
  /* line 107, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .btn-gray-perv {
    background: none;
    padding: 0;
    margin: -16px 0 0 11px;
  }
  /* line 131, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .btn-gray-perv:hover {
    color: #f15500;
    background: none;
  }
}
/* line 137, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -41px 0 0;
  z-index: 99;
  background: #2a2e31;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding: 19px 18px;
  font-size: 30px;
}
/* line 150, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-next [class*=" icon-"] {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 153, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .btn-gray-next:hover {
  color: #ffffff;
  background: #f15500;
}
@media (max-width: 767px) {
  /* line 153, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .btn-gray-next:hover {
    background: none;
    color: #f15500;
  }
}
@media (max-width: 767px) {
  /* line 137, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .btn-gray-next {
    background: none;
    padding: 0;
    margin: -16px 11px 0 0;
  }
}
/* line 167, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder blockquote {
  border-left: 6px solid #5bc5ed;
  margin: 22px 88px 36px;
  padding: 0 0 0 33px;
  font-size: 24px;
  line-height: 1.5em;
  float: left;
}
@media (max-width: 767px) {
  /* line 167, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder blockquote {
    margin: 6px 20px 15px;
    line-height: 2em;
    font-size: 17px;
  }
}
/* line 179, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder blockquote p {
  display: inline;
}
/* line 183, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block {
  background: #eef2f3;
  padding: 35px 50px 37px 44px;
  margin: 70px 0 50px 0;
}
@media (max-width: 767px) {
  /* line 183, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-block {
    padding: 27px 15px;
  }
}
/* line 190, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block h4 {
  margin: 0 0 17px;
}
/* line 193, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments {
  font-size: 18px;
  color: #636c73;
}
/* line 196, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .required {
  color: #f15500;
}
/* line 199, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments label {
  float: left;
}
/* line 201, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments label.label-block {
  width: 100%;
}
/* line 205, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments fieldset {
  margin: 0 0 20px 0;
}
@media (max-width: 767px) {
  /* line 205, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-block .comments fieldset {
    margin: 0 0 10px 0;
  }
}
/* line 210, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments fieldset.submit-actions {
  margin: 0;
}
@media (max-width: 767px) {
  /* line 213, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-block .comments fieldset.submit-actions .btn.btn-left {
    margin-left: 6px;
    padding: 3px 15px;
  }
  /* line 216, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-block .comments fieldset.submit-actions .btn.btn-left:first-child {
    margin-left: 0;
  }
}
/* line 223, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments strong {
  color: #081318;
  margin-left: 10px;
}
@media (max-width: 990px) {
  /* line 223, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-block .comments strong {
    font-weight: normal;
  }
}
/* line 230, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .form-element {
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #636c73, #eef2f3);
  background-image: -moz-linear-gradient(top, #636c73, #eef2f3);
  background-image: -ms-linear-gradient(top, #636c73, #eef2f3);
  background-image: -o-linear-gradient(top, #636c73, #eef2f3);
  background-image: linear-gradient(to bottom, #636c73, #eef2f3);
  padding: 2px;
  float: left;
  margin: 6px 0 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
/* line 238, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .form-element input[type=text], #main2 .article-left .article-left-holder .comment-block .comments .form-element input[type=email], #main2 .article-left .article-left-holder .comment-block .comments .form-element textarea {
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: none;
}
/* line 244, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .form-element textarea {
  height: 183px;
}
/* line 251, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list h4 {
  font-size: 23px;
  font-size: 1.4375em;
}
/* line 253, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list h4 a {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 10px;
}
/* line 259, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing {
  position: relative;
}
/* line 262, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing.children {
  margin-left: 30px;
}
/* line 266, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
  font-size: 13px;
}
/* line 271, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 4px 0;
}
/* line 276, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left a {
  text-decoration: underline;
  font-weight: bold;
  color: #081318;
}
/* line 280, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left a:hover {
  text-decoration: none;
}
/* line 284, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left cite {
  margin: 0 0 7px 0;
  font-style: normal;
  display: block;
}
/* line 289, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-left time {
  margin: 0 0 17px 0;
}
/* line 293, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right {
  width: 74.35897%;
  float: right;
  margin-right: 0;
  border: 2px solid #d2d5d6;
  font-size: 16px;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  /* line 293, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right {
    padding: 15px;
  }
}
/* line 303, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right:before {
  content: "";
  position: absolute;
  left: 90px;
  background: url('../../images/sprite.png?1425448207') no-repeat -1px -162px;
  width: 24px;
  top: 15px;
  height: 32px;
}
/* line 312, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right .links {
  margin-bottom: 17px;
}
/* line 318, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right ul li {
  float: left;
  margin: 0 11px 0 0;
}
/* line 321, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right ul li a {
  text-decoration: underline;
  font-weight: bold;
}
/* line 324, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-list ul.comment-listing li .comment-right ul li a:hover {
  text-decoration: none;
}
/* line 335, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder {
  padding: 75px 0px 107px;
}
@media (max-width: 767px) {
  /* line 335, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .action-block .holder {
    padding: 75px 0px 50px;
  }
}
/* line 341, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}
@media (max-width: 767px) {
  /* line 341, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .action-block .holder > div a {
    margin: 0;
  }
}
/* line 348, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 353, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div.block-symptoms {
  padding: 43px 10px 37px 39px;
}
/* line 355, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div.block-symptoms .text {
  font-size: 31px;
}
@media (max-width: 990px) {
  /* line 355, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .action-block .holder > div.block-symptoms .text {
    font-size: 30px;
  }
}
/* line 361, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div.block-symptoms span.add {
  margin: 0 0 10px 30px;
}
@media (max-width: 767px) {
  /* line 361, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .action-block .holder > div.block-symptoms span.add {
    margin: 0 0 10px 20px;
  }
}
/* line 369, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .action-block .holder > div.block-blog .title {
  font-size: 36px;
  margin: 0 0 27px;
  line-height: 37px;
}
@media (max-width: 990px) {
  /* line 369, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .action-block .holder > div.block-blog .title {
    font-size: 25px;
    line-height: 33px;
  }
}
/* line 382, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info {
  border: 1px solid #d2d5d6;
  border-left: none;
  border-right: none;
  padding: 21px 0 21px 0;
  margin: 33px 0 45px 0;
}
@media (max-width: 990px) {
  /* line 382, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .article-info {
    margin: 0 0 38px 0;
  }
}
@media (max-width: 767px) {
  /* line 382, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .article-info {
    margin: 0 0 20px 0;
  }
  /* line 393, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .article-info .btn {
    float: left;
  }
}
/* line 398, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated {
  float: left;
  width: 70%;
  color: #636c73;
}
@media (max-width: 767px) {
  /* line 398, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .article-info .article-updated {
    width: 100%;
    margin-bottom: 13px;
  }
}
/* line 406, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated strong {
  font-weight: normal;
}
/* line 409, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated span {
  float: left;
}
/* line 414, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated ul li {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}
/* line 418, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated ul li a {
  text-decoration: underline;
}
/* line 420, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info .article-updated ul li a:hover {
  text-decoration: none;
}
/* line 427, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite {
  float: left;
  font-style: normal;
  font-size: 18px;
}
@media (max-width: 767px) {
  /* line 427, ../../sass/layouts/article.scss */
  #main2 .article-left .article-left-holder .article-info cite {
    width: 100%;
    padding-bottom: 15px;
  }
}
/* line 435, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite span {
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 439, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite span em {
  font-style: normal;
  font-weight: normal;
}
/* line 444, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite a {
  font-size: 16px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  color: #081318;
  position: relative;
  padding: 0 0 0 14px;
  font-weight: bold;
  text-decoration: underline;
}
/* line 77, ../../sass/base/_markup-mixins.scss */
#main2 .article-left .article-left-holder .article-info cite a:hover, #main2 .article-left .article-left-holder .article-info cite a:active, #main2 .article-left .article-left-holder .article-info cite a:focus {
  color: #285f78;
  text-decoration: none;
}
/* line 452, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite a:after {
  position: absolute;
  left: 0;
  top: 3px;
  content: "";
  width: 10px;
  height: 16px;
  background: url('../../images/sprite.png?1425448207') no-repeat -14px -62px;
}
/* line 461, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite a.first {
  padding: 0;
}
/* line 463, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite a.first:after {
  background: none;
}
/* line 467, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .article-info cite a:hover {
  text-decoration: underline;
}
/* line 475, ../../sass/layouts/article.scss */
#main2 .article-right {
  float: left;
  width: 29%;
  padding: 0 0 0 54px;
}
@media (max-width: 1180px) {
  /* line 475, ../../sass/layouts/article.scss */
  #main2 .article-right {
    padding: 0 20px;
  }
}
@media (max-width: 990px) {
  /* line 475, ../../sass/layouts/article.scss */
  #main2 .article-right {
    padding: 0 45px 100px 45px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 475, ../../sass/layouts/article.scss */
  #main2 .article-right {
    padding: 0 15px 100px 15px;
  }
}
@media (max-width: 990px) {
  /* line 489, ../../sass/layouts/article.scss */
  #main2 .article-right .posts-columns {
    width: 100%;
  }
}
/* line 495, ../../sass/layouts/article.scss */
#main2 .article-right .col {
  width: 242px;
  max-width: 100%;
}
@media (max-width: 990px) {
  /* line 495, ../../sass/layouts/article.scss */
  #main2 .article-right .col {
    width: auto;
  }
  /* line 500, ../../sass/layouts/article.scss */
  #main2 .article-right .col .post {
    width: 31%;
    float: left;
    margin-right: 2.3%;
  }
}
@media (max-width: 767px) {
  /* line 507, ../../sass/layouts/article.scss */
  #main2 .article-right .col .post {
    width: 100%;
  }
}
/* line 512, ../../sass/layouts/article.scss */
#main2 .article-right h2 {
  font-size: 38px;
  font-size: 2.375em;
  font-weight: normal;
  width: 242px;
  margin: 52px 0 6px 0;
}
@media (max-width: 990px) {
  /* line 512, ../../sass/layouts/article.scss */
  #main2 .article-right h2 {
    width: auto;
    margin: 52px 0 15px 0;
  }
}
@media (max-width: 767px) {
  /* line 512, ../../sass/layouts/article.scss */
  #main2 .article-right h2 {
    font-size: 25px;
    font-size: 1.78571em;
    margin: 30px 0 15px 0;
    width: 100%;
  }
}
/* line 527, ../../sass/layouts/article.scss */
#main2 .article-right h3 {
  font-size: 18px;
  margin: 0;
}
/* line 531, ../../sass/layouts/article.scss */
#main2 .article-right .cite {
  margin-top: 10px;
}

/* line 544, ../../sass/layouts/article.scss */
.node-type-article .comment-wrapper .topic-share,
.node-type-my-voice-blog .comment-wrapper .topic-share {
  display: none;
}
/* line 550, ../../sass/layouts/article.scss */
.node-type-article .field-label,
.node-type-my-voice-blog .field-label {
  float: left;
}
/* line 553, ../../sass/layouts/article.scss */
.node-type-article .field-item,
.node-type-my-voice-blog .field-item {
  float: left;
}
/* line 557, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb,
.node-type-my-voice-blog .easy-breadcrumb {
  color: black;
  padding: 5px 0;
}
/* line 560, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment,
.node-type-my-voice-blog .easy-breadcrumb .easy-breadcrumb_segment {
  letter-spacing: 0;
  padding: 0 8px;
}
/* line 565, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment-title,
.node-type-my-voice-blog .easy-breadcrumb .easy-breadcrumb_segment-title {
  padding-right: 0;
}
/* line 568, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb a,
.node-type-my-voice-blog .easy-breadcrumb a {
  color: black;
}
@media (max-width: 767px) {
  /* line 557, ../../sass/layouts/article.scss */
  .node-type-article .easy-breadcrumb,
  .node-type-my-voice-blog .easy-breadcrumb {
    display: block;
  }
}
/* line 577, ../../sass/layouts/article.scss */
.node-type-article section .comment-list,
.node-type-my-voice-blog section .comment-list {
  clear: both;
  content: "";
  display: table;
}
/* line 583, ../../sass/layouts/article.scss */
.node-type-article .visual .img-holder,
.node-type-my-voice-blog .visual .img-holder {
  min-height: 5em;
}
/* line 586, ../../sass/layouts/article.scss */
.node-type-article #wrapper,
.node-type-my-voice-blog #wrapper {
  background: #ffffff;
}
@media (min-width: 767px) {
  /* line 586, ../../sass/layouts/article.scss */
  .node-type-article #wrapper,
  .node-type-my-voice-blog #wrapper {
    background: url('../../images/wid_bg.png?1424183361') repeat-y center #ffffff;
    background-position: 42%;
  }
}
@media (max-width: 1030px) {
  /* line 586, ../../sass/layouts/article.scss */
  .node-type-article #wrapper,
  .node-type-my-voice-blog #wrapper {
    background-position: 43.3%;
  }
}
@media (max-width: 990px) {
  /* line 586, ../../sass/layouts/article.scss */
  .node-type-article #wrapper,
  .node-type-my-voice-blog #wrapper {
    background: #ffffff;
  }
}
/* line 600, ../../sass/layouts/article.scss */
.node-type-article #main2,
.node-type-my-voice-blog #main2 {
  background: transparent;
  margin: 0 auto;
  max-width: 1080px;
}
@media (max-width: 990px) {
  /* line 600, ../../sass/layouts/article.scss */
  .node-type-article #main2,
  .node-type-my-voice-blog #main2 {
    padding: 0;
  }
}
/* line 608, ../../sass/layouts/article.scss */
.node-type-article #main2 footer,
.node-type-my-voice-blog #main2 footer {
  clear: both;
}
@media (max-width: 990px) {
  /* line 611, ../../sass/layouts/article.scss */
  .node-type-article #main2 .article,
  .node-type-my-voice-blog #main2 .article {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 618, ../../sass/layouts/article.scss */
.node-type-article #main2 .article-left .visual .holder .pic-caption,
.node-type-my-voice-blog #main2 .article-left .visual .holder .pic-caption {
  line-height: 16px;
}
@media (min-width: 767px) {
  /* line 622, ../../sass/layouts/article.scss */
  .node-type-article #main2 .article-left,
  .node-type-my-voice-blog #main2 .article-left {
    padding: 0 15px;
  }
}
/* line 628, ../../sass/layouts/article.scss */
.node-type-article #content_bottom,
.node-type-my-voice-blog #content_bottom {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}
/* line 630, ../../sass/layouts/article.scss */
.node-type-article #content_bottom h3,
.node-type-my-voice-blog #content_bottom h3 {
  margin: 0;
}
@media (max-width: 990px) {
  /* line 628, ../../sass/layouts/article.scss */
  .node-type-article #content_bottom,
  .node-type-my-voice-blog #content_bottom {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: url('../../images/wid_bg.png?1424183361') repeat-y center #ffffff;
    background-position: 75%;
    padding: 0 10px;
  }
  /* line 640, ../../sass/layouts/article.scss */
  .node-type-article #content_bottom .views-row,
  .node-type-my-voice-blog #content_bottom .views-row {
    width: 29.6875%;
    float: left;
    margin-right: 1.5625%;
  }
}
@media (max-width: 990px) {
  /* line 646, ../../sass/layouts/article.scss */
  .node-type-article #content_bottom .views-row,
  .node-type-my-voice-blog #content_bottom .views-row {
    width: 29.6875%;
    float: left;
    margin-right: 1.5625%;
  }
}
/* line 652, ../../sass/layouts/article.scss */
.node-type-article #content_bottom .region-content-bottom,
.node-type-my-voice-blog #content_bottom .region-content-bottom {
  padding-top: 50px;
}
/* line 659, ../../sass/layouts/article.scss */
.node-type-article ul.tabs-primary,
.node-type-my-voice-blog ul.tabs-primary {
  margin: 0 auto;
  max-width: 1080px;
}

/* line 667, ../../sass/layouts/article.scss */
.comment-block .form-type-textarea {
  clear: both;
}
/* line 669, ../../sass/layouts/article.scss */
.comment-block .form-type-textarea .form-element {
  clear: both;
}
/* line 673, ../../sass/layouts/article.scss */
.comment-block .form-actions {
  clear: both;
}

/* line 677, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .form-type-item .form-element {
  width: auto;
  padding: 0;
  margin: 0;
  padding-left: 1em;
  background: none;
}

/* line 715, ../../sass/layouts/article.scss */
#main2 .article-left .article-left-holder .comment-block .comments .form-element textarea {
  font: 100% "HelveticaNeueW01-55Roma", Helvetica, sans-serif;
  color: #d2d5d6;
  vertical-align: middle;
}

/* line 720, ../../sass/layouts/article.scss */
#main2 .comment-title {
  display: none;
}

/* line 723, ../../sass/layouts/article.scss */
#main2 input[type=submit] {
  position: relative;
  background: #ffffff;
  padding: 5px 22px;
  color: #636c73;
  box-shadow: 0 6px #636c73;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 5px;
  margin: 0 20px 0 0;
  border: 1px solid #636c73;
}
/* line 737, ../../sass/layouts/article.scss */
#main2 input[type=submit]:hover {
  box-shadow: 0 4px #636c73;
  top: 2px;
}
/* line 741, ../../sass/layouts/article.scss */
#main2 input[type=submit]:active {
  box-shadow: 0 0 #636c73;
  top: 6px;
}
/* line 746, ../../sass/layouts/article.scss */
#main2 input[type=submit]:visited {
  text-decoration: none;
  color: #636c73;
}

/* line 753, ../../sass/layouts/article.scss */
#main2 .field-name-comment-body .field-item {
  padding: 0;
  margin-bottom: 15px;
}

/* line 761, ../../sass/layouts/article.scss */
.section-blog-article #content-header .title {
  display: block;
}
/* line 765, ../../sass/layouts/article.scss */
.section-blog-article .block-easy-breadcrumb {
  display: none;
}
