/* line 3, ../../sass/layouts/article.scss */
.node-type-article .field-name-field-tags {
  float: left;
  padding-right: 10px;
}
/* line 8, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb {
  color: black;
  padding: 5px 0;
}
/* line 11, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment {
  letter-spacing: 0;
  padding: 0 8px;
}
/* line 16, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment-title {
  padding-right: 0;
}
