/* line 3, ../../sass/layouts/article.scss */
.node-type-article .field-label {
  float: left;
}
/* line 6, ../../sass/layouts/article.scss */
.node-type-article .field-item {
  float: left;
  padding: 0 5px;
}
/* line 11, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb {
  color: black;
  padding: 5px 0;
}
/* line 14, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment {
  letter-spacing: 0;
  padding: 0 8px;
}
/* line 19, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb .easy-breadcrumb_segment-title {
  padding-right: 0;
}
/* line 22, ../../sass/layouts/article.scss */
.node-type-article .easy-breadcrumb a {
  color: black;
}
/* line 28, ../../sass/layouts/article.scss */
.node-type-article section .comment-list {
  clear: both;
  content: "";
  display: table;
}
