/* line 2, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article {
  margin: 0 auto;
  max-width: 1080px;
  padding: 50px 65px 48px 7px;
  background: #ffffff;
}
/* line 9, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-aboveContent img {
  height: auto !important;
}
@media (min-width: 1000px) {
  /* line 11, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-aboveContent {
    float: left;
    width: 48%;
  }
  /* line 17, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-oneCol form {
    width: 48%;
    float: right;
  }
}
/* line 20, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-belowContent {
  clear: both;
}
/* line 23, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article-wrapper {
  width: 100%;
  background: #ffffff;
  margin-top: -2em;
}
/* line 30, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .header-logo {
  float: left;
  margin-right: 1em;
}
/* line 36, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-tools #contribution td.contribbutton table td {
  text-align: left;
}
/* line 38, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools #wrapper-footer {
  width: 100%;
  display: table;
  height: auto;
  position: relative;
}
