/* line 2, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools #wrapper {
  height: auto;
}
/* line 5, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article {
  margin: 0 auto;
  max-width: 1080px;
  padding: 50px 65px 48px 7px;
  background: #ffffff;
}
/* line 12, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-aboveContent img {
  height: auto !important;
}
@media (min-width: 1000px) {
  /* line 14, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-aboveContent {
    float: left;
    width: 48%;
  }
  /* line 20, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-oneCol form {
    width: 48%;
    float: right;
  }
}
/* line 25, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form table tr td:hover {
  background: none;
}
/* line 29, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form tr:nth-child(odd) td, .bsd-tools form table tr.odd td {
  background: none;
}
/* line 33, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form .bsd-tools #contribution td.contribbutton {
  text-align: left;
  background: none;
}
/* line 40, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-belowContent {
  clear: both;
}
/* line 43, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article-wrapper {
  width: 100%;
  background: #ffffff;
  margin-top: -2em;
}
/* line 50, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .header-logo {
  float: left;
  margin-right: 1em;
}
/* line 57, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools #wrapper-footer {
  width: 100%;
  display: table;
  height: auto;
  position: relative;
}
