/* line 2, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools #wrapper {
  height: auto;
}
/* line 5, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article {
  margin: 0 auto;
  max-width: 1080px;
  padding: 50px 65px 48px 7px;
  background: #ffffff;
}
/* line 12, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-aboveContent img {
  height: auto !important;
  width: 100% !important;
}
@media (min-width: 1000px) {
  /* line 15, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-aboveContent {
    float: left;
    width: 48%;
  }
  /* line 21, ../../sass/layouts/bsd-wrapper.scss */
  .bsd-tools .bsd-contribForm-oneCol form {
    width: 48%;
    float: right;
  }
}
/* line 26, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form table tr td:hover {
  background: none;
}
/* line 30, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form tr:nth-child(odd) td, .bsd-tools form table tr.odd td {
  background: none;
}
/* line 33, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form td td td {
  padding: 0;
}
/* line 36, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form label, .bsd-tools form .fieldlabel {
  font-weight: normal;
}
/* line 39, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form input {
  width: 100%;
}
/* line 43, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form .bsd-tools #contribution td.contribbutton {
  text-align: left;
  background: none;
}
/* line 46, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools form .bsd-tools #contribution td.contribbutton table td {
  text-align: left;
}
/* line 53, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .bsd-contribForm-belowContent {
  clear: both;
}
/* line 56, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .article-wrapper {
  width: 100%;
  background: #ffffff;
  margin-top: -2em;
}
/* line 63, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools .header-logo {
  float: left;
  margin-right: 1em;
}
/* line 70, ../../sass/layouts/bsd-wrapper.scss */
.bsd-tools #wrapper-footer {
  width: 100%;
  display: table;
  height: auto;
  position: relative;
}
