/* line 3, ../../sass/base/_markup-mixins.scss */
.posts-columns.columns-full .row .forum-text:after, .posts-columns.columns-full .views-row .forum-text:after, .posts-columns.columns-full .row .footer:after, .posts-columns.columns-full .views-row .footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../../sass/base/_markup-mixins.scss */
.posts-columns.columns-full .row .footer .links.inline, .posts-columns.columns-full .views-row .footer .links.inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 3, ../../sass/base/_markup-mixins.scss */
.posts-columns.columns-full .row .forum-text:after, .posts-columns.columns-full .views-row .forum-text:after, .posts-columns.columns-full .row .footer:after, .posts-columns.columns-full .views-row .footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../../sass/base/_markup-mixins.scss */
.posts-columns.columns-full .row .footer .links.inline, .posts-columns.columns-full .views-row .footer .links.inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
@media (max-width: 767px) {
  /* line 6, ../../sass/layouts/forum.scss */
  .view-display-id-stream_forum_page .filterbutton {
    margin-left: 0;
  }
}

/* line 12, ../../sass/layouts/forum.scss */
.forum-icon {
  position: absolute;
  right: 18px;
  font-size: 40px;
  top: 27px;
  color: #f15500;
}
@media (max-width: 767px) {
  /* line 12, ../../sass/layouts/forum.scss */
  .forum-icon {
    background: #ffffff;
    top: 13px;
    right: 13px;
    padding: 10px;
  }
}
/* line 25, ../../sass/layouts/forum.scss */
.forum-icon.icon-Featured {
  color: #fbb900;
}

/* line 31, ../../sass/layouts/forum.scss */
.view-display-id-voices_from_the_spectrum_page .views-exposed-widget.views-submit-button {
  float: left;
}

/**** Understanding Autism Page ****/
/* line 42, ../../sass/layouts/forum.scss */
.node-type-basic-page-with-hero .list-view .card .img-holder .voice-holder {
  right: -6px;
  left: initial;
}

/* line 53, ../../sass/layouts/forum.scss */
.card-layout.view-display-id-understanding_autism_page_age .img-holder {
  min-height: 45px;
}
/* line 58, ../../sass/layouts/forum.scss */
.card-layout .card .img-holder {
  height: auto;
}
/* line 60, ../../sass/layouts/forum.scss */
.card-layout .card .img-holder .voice-holder {
  position: absolute;
  z-index: 2;
  background: #e30087;
  bottom: 6px;
  left: 11px;
}
/* line 67, ../../sass/layouts/forum.scss */
.card-layout .card .img-holder .voice-holder .text {
  float: left;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 5px;
  min-width: 109px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 67, ../../sass/layouts/forum.scss */
  .card-layout .card .img-holder .voice-holder .text {
    padding: 5px 6px;
    line-height: 24px;
    font-size: 16px;
    padding: 4px 5px;
    min-width: 97px;
  }
}

/* line 91, ../../sass/layouts/forum.scss */
.card .img-holder .voice-holder:hover .text {
  display: block;
}

/* line 100, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row, .posts-columns.columns-full .views-row {
  width: 100%;
}
/* line 102, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text, .posts-columns.columns-full .views-row .forum-text {
  padding-bottom: 15px;
}
/* line 105, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left, .posts-columns.columns-full .views-row .forum-text .forum-left {
  line-height: 15px;
}
/* line 107, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left a:hover, .posts-columns.columns-full .views-row .forum-text .forum-left a:hover {
  text-decoration: none;
}
@media (min-width: 767px) {
  /* line 105, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-left, .posts-columns.columns-full .views-row .forum-text .forum-left {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 114, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left .image-holder, .posts-columns.columns-full .views-row .forum-text .forum-left .image-holder {
  overflow: hidden;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  /* line 114, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-left .image-holder, .posts-columns.columns-full .views-row .forum-text .forum-left .image-holder {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 121, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left .image-holder img, .posts-columns.columns-full .views-row .forum-text .forum-left .image-holder img {
  width: 100%;
  max-width: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 127, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left cite, .posts-columns.columns-full .views-row .forum-text .forum-left cite {
  font-style: normal;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}
/* line 133, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left cite br, .posts-columns.columns-full .views-row .forum-text .forum-left cite br {
  display: none;
}
@media (max-width: 767px) {
  /* line 127, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-left cite, .posts-columns.columns-full .views-row .forum-text .forum-left cite {
    text-align: left;
  }
}
/* line 140, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-left time, .posts-columns.columns-full .views-row .forum-text .forum-left time {
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 144, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-left cite, .posts-columns.columns-full .row .forum-text .forum-left time, .posts-columns.columns-full .views-row .forum-text .forum-left cite, .posts-columns.columns-full .views-row .forum-text .forum-left time {
    width: 83.05085%;
    float: right;
    margin-right: 0;
    margin-top: 0;
    line-height: 1em;
  }
}
/* line 151, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right, .posts-columns.columns-full .views-row .forum-text .forum-right {
  padding-top: 9px;
}
@media (min-width: 767px) {
  /* line 151, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-right, .posts-columns.columns-full .views-row .forum-text .forum-right {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
/* line 157, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right h3, .posts-columns.columns-full .views-row .forum-text .forum-right h3 {
  margin-bottom: 0px;
  max-width: 82%;
}
@media (max-width: 767px) {
  /* line 157, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .forum-text .forum-right h3, .posts-columns.columns-full .views-row .forum-text .forum-right h3 {
    max-width: 100%;
  }
}
/* line 165, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right p, .posts-columns.columns-full .views-row .forum-text .forum-right p {
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 169, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .meta, .posts-columns.columns-full .views-row .forum-text .forum-right .meta {
  margin-left: 0;
  font-size: 0.7em;
  padding-top: 0.5em;
  border-bottom: 1px #d2d5d6 solid;
}
/* line 174, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .meta .created, .posts-columns.columns-full .views-row .forum-text .forum-right .meta .created {
  float: left;
  margin-right: 0.5em;
}
/* line 178, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .meta .topic_section, .posts-columns.columns-full .views-row .forum-text .forum-right .meta .topic_section {
  width: auto;
  margin-top: 0;
}
/* line 181, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .meta .topic_section .field-item,
.posts-columns.columns-full .row .forum-text .forum-right .meta .topic_section .field-content, .posts-columns.columns-full .views-row .forum-text .forum-right .meta .topic_section .field-item,
.posts-columns.columns-full .views-row .forum-text .forum-right .meta .topic_section .field-content {
  display: inline;
}
/* line 186, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .meta .clear, .posts-columns.columns-full .views-row .forum-text .forum-right .meta .clear {
  clear: both;
}
/* line 190, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .forum-text .forum-right .field-name-body, .posts-columns.columns-full .views-row .forum-text .forum-right .field-name-body {
  margin-top: 20px;
}
/* line 195, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer, .posts-columns.columns-full .views-row .footer {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 195, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer, .posts-columns.columns-full .views-row .footer {
    padding-left: 20px;
  }
}
@media (min-width: 1180px) {
  /* line 203, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .flag_node, .posts-columns.columns-full .views-row .footer .flag_node {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 208, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .num-holder, .posts-columns.columns-full .views-row .footer .num-holder {
  float: left;
  margin-top: 9px;
  height: 45px;
}
/* line 212, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .num-holder .text, .posts-columns.columns-full .views-row .footer .num-holder .text {
  font-size: 15px;
}
/* line 216, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .text, .posts-columns.columns-full .views-row .footer .text {
  display: inherit;
}
/* line 219, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .links.inline, .posts-columns.columns-full .views-row .footer .links.inline {
  float: right;
}
@media (max-width: 767px) {
  /* line 219, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .links.inline, .posts-columns.columns-full .views-row .footer .links.inline {
    float: none;
    padding-top: 20px;
  }
}
/* line 227, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .links.inline li, .posts-columns.columns-full .views-row .footer .links.inline li {
  color: #636c73;
}
/* line 229, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .links.inline li a, .posts-columns.columns-full .views-row .footer .links.inline li a {
  color: #f15500;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 229, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .links.inline li a, .posts-columns.columns-full .views-row .footer .links.inline li a {
    float: none;
    width: 100%;
  }
}
/* line 237, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .links.inline li a.btn, .posts-columns.columns-full .views-row .footer .links.inline li a.btn {
  color: #ffffff;
  text-decoration: none;
}
/* line 241, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .links.inline li a:hover, .posts-columns.columns-full .views-row .footer .links.inline li a:hover {
  text-decoration: none;
}
/* line 247, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .times, .posts-columns.columns-full .views-row .footer .times {
  font-size: 15px;
  margin-left: 40px;
  margin-top: 15px;
  float: left;
  color: #636c73;
}
/* line 253, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .times a, .posts-columns.columns-full .views-row .footer .times a {
  text-decoration: none;
}
@media (max-width: 990px) {
  /* line 247, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .times, .posts-columns.columns-full .views-row .footer .times {
    width: 52%;
  }
}
@media (max-width: 767px) {
  /* line 247, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .times, .posts-columns.columns-full .views-row .footer .times {
    margin-top: 30px;
    margin-left: 0;
    display: block;
    width: 100%;
  }
}
/* line 267, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .times em, .posts-columns.columns-full .views-row .footer .times em {
  font-size: 29px;
  margin-right: 10px;
  float: left;
}
/* line 272, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .times cite, .posts-columns.columns-full .views-row .footer .times cite {
  font-style: normal;
  font-weight: bold;
}
/* line 275, ../../sass/layouts/forum.scss */
.posts-columns.columns-full .row .footer .times cite span, .posts-columns.columns-full .row .footer .times cite a, .posts-columns.columns-full .row .footer .times cite a:hover, .posts-columns.columns-full .row .footer .times cite a:visited, .posts-columns.columns-full .views-row .footer .times cite span, .posts-columns.columns-full .views-row .footer .times cite a, .posts-columns.columns-full .views-row .footer .times cite a:hover, .posts-columns.columns-full .views-row .footer .times cite a:visited {
  color: #081318;
}
@media (max-width: 767px) {
  /* line 279, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .times .links.inline, .posts-columns.columns-full .views-row .footer .times .links.inline {
    float: none !important;
    margin-top: 26px;
  }
  /* line 284, ../../sass/layouts/forum.scss */
  .posts-columns.columns-full .row .footer .times .links.inline li a, .posts-columns.columns-full .views-row .footer .times .links.inline li a {
    float: none;
    width: 100%;
  }
}

/* line 299, ../../sass/layouts/forum.scss */
.forum-left cite {
  white-space: pre strong;
  white-space-line-height: normal;
  white-space-word-wrap: break-word;
}

/* line 310, ../../sass/layouts/forum.scss */
.section-community-champions-forum #comments, .section-forums #comments {
  boder: none;
  white-space: normal;
}
/* line 313, ../../sass/layouts/forum.scss */
.section-community-champions-forum #comments .comment.odd, .section-forums #comments .comment.odd {
  background-color: #d2d5d6;
}
/* line 316, ../../sass/layouts/forum.scss */
.section-community-champions-forum #comments .comment-img-holder, .section-forums #comments .comment-img-holder {
  width: 50px;
  float: left;
  margin-right: 10px;
}
/* line 320, ../../sass/layouts/forum.scss */
.section-community-champions-forum #comments .comment-img-holder img, .section-forums #comments .comment-img-holder img {
  width: 100%;
}
/* line 324, ../../sass/layouts/forum.scss */
.section-community-champions-forum #comments .comment-right, .section-forums #comments .comment-right {
  border: none;
}
@media (min-width: 990px) {
  /* line 328, ../../sass/layouts/forum.scss */
  .section-community-champions-forum #comments .comment-img-holder, .section-forums #comments .comment-img-holder {
    float: none;
  }
  /* line 331, ../../sass/layouts/forum.scss */
  .section-community-champions-forum #comments .comment-left, .section-forums #comments .comment-left {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 334, ../../sass/layouts/forum.scss */
  .section-community-champions-forum #comments .comment-right, .section-forums #comments .comment-right {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
/* line 339, ../../sass/layouts/forum.scss */
.section-community-champions-forum #forum td.created, .section-community-champions-forum #forum td.posts, .section-community-champions-forum #forum td.topics, .section-community-champions-forum #forum td.last-reply, .section-community-champions-forum #forum td.replies, .section-community-champions-forum #forum td.pager, .section-forums #forum td.created, .section-forums #forum td.posts, .section-forums #forum td.topics, .section-forums #forum td.last-reply, .section-forums #forum td.replies, .section-forums #forum td.pager {
  white-space: normal;
}

/* line 348, ../../sass/layouts/forum.scss */
.new-grid .forum-left {
  display: none;
}
/* line 352, ../../sass/layouts/forum.scss */
.new-grid .forum-body p:nth-child(-n+2) {
  margin-bottom: 20px;
  display: block;
  display: -webkit-box;
  min-height: 20px;
  font-size: 18px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  /* line 364, ../../sass/layouts/forum.scss */
  .new-grid .forum-body p {
    display: none !important;
  }
}
/* line 370, ../../sass/layouts/forum.scss */
.new-grid .forum-right {
  width: 100% !important;
}

/* line 377, ../../sass/layouts/forum.scss */
.new-grids .footer .num-holder, .new-grids .footer .times {
  display: none !important;
}
/* line 381, ../../sass/layouts/forum.scss */
.new-grids section.post {
  width: 100% !important;
  float: left;
  margin: 1% !important;
}
/* line 393, ../../sass/layouts/forum.scss */
.new-grids .forum-body {
  max-height: 115px;
  overflow: hidden;
}
/* line 398, ../../sass/layouts/forum.scss */
.new-grids .forum-right h3 {
  line-height: 34px;
}
@media (min-width: 767px) {
  /* line 398, ../../sass/layouts/forum.scss */
  .new-grids .forum-right h3 {
    width: 53%;
  }
}

/* line 408, ../../sass/layouts/forum.scss */
#grid-view-forum {
  display: none;
}

/* line 414, ../../sass/layouts/forum.scss */
.section-talk-to-others .card--item {
  width: 100%;
}
/* line 417, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-left {
  /*width: 15.25424%;
  float: left;
  margin-right: 1.69492%;*/
  line-height: 0.8;
}
@media (min-width: 767px) {
  /* line 417, ../../sass/layouts/forum.scss */
  .section-talk-to-others .forum-left {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 428, ../../sass/layouts/forum.scss */
.section-talk-to-others .image-holder {
  overflow: hidden;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  /* line 428, ../../sass/layouts/forum.scss */
  .section-talk-to-others .image-holder {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 436, ../../sass/layouts/forum.scss */
.section-talk-to-others .image-holder img {
  width: 100%;
  max-width: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 445, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right {
  clear: inherit;
  width: 100%;
  float: left;
  padding: 0 !important;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  /* line 445, ../../sass/layouts/forum.scss */
  .section-talk-to-others .forum-right {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
/* line 456, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right h3 {
  margin-bottom: 0px;
  max-width: 82%;
}
@media (max-width: 767px) {
  /* line 456, ../../sass/layouts/forum.scss */
  .section-talk-to-others .forum-right h3 {
    font-size: 25px;
    line-height: 28px;
  }
}
/* line 465, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right .meta {
  margin-left: 0;
  font-size: 0.7em;
  padding-top: 0.5em;
  border-bottom: 1px #d2d5d6 solid;
}
/* line 470, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right .meta .created {
  float: left;
  margin-right: 0.5em;
}
/* line 474, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right .meta .topic_section {
  width: auto;
  margin-top: 0;
}
/* line 477, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right .meta .topic_section .field-content {
  display: inline;
}
/* line 481, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-right .meta .clear {
  clear: both;
}
/* line 489, ../../sass/layouts/forum.scss */
.section-talk-to-others .forum-body p {
  font-size: 18px;
  margin: 0 0 10px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* line 498, ../../sass/layouts/forum.scss */
.section-talk-to-others .card-layout .js-switch-layout .row .forum-text:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 503, ../../sass/layouts/forum.scss */
.section-talk-to-others .card-layout .js-switch-layout .row .footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 510, ../../sass/layouts/forum.scss */
.section-talk-to-others .card-layout .js-switch-layout .views-row .forum-text:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 515, ../../sass/layouts/forum.scss */
.section-talk-to-others .card-layout .js-switch-layout .views-row .footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 523, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer {
  margin-bottom: 0;
  border-top: 2px solid #e0e3e4;
  float: right;
  width: 100%;
}
@media (min-width: 767px) {
  /* line 523, ../../sass/layouts/forum.scss */
  .section-talk-to-others .card.card--item .footer {
    padding-left: 184px;
  }
}
/* line 532, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .num-holder {
  float: left;
  margin-top: 9px;
  height: 45px;
  margin-right: 30px;
}
/* line 537, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .num-holder .num {
  min-width: 46px;
  height: 35px;
  border: 2px solid #f15500;
  border-radius: 9px;
  font-size: 16px;
  line-height: 24px;
  padding: 3px;
  position: relative;
  color: #f15500;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  margin: 0 15px 0 0;
}
/* line 552, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .num-holder .num:after {
  position: absolute;
  right: 8px;
  bottom: -13px;
  content: "";
  background: url(/sites/all/themes/ambitious/images/sprite.png) no-repeat -40px 0;
  width: 11px;
  height: 13px;
}
/* line 561, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .num-holder a.open {
  text-decoration: none;
}
/* line 565, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .times {
  font-size: 15px;
  margin-top: 15px;
  float: left;
  color: #636c73;
}
@media (min-width: 767px) {
  /* line 565, ../../sass/layouts/forum.scss */
  .section-talk-to-others .card.card--item .footer .times {
    width: 52%;
    margin-right: 20px;
  }
}
/* line 575, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .times .icon-Time {
  font-size: 29px;
  margin-right: 10px;
  float: left;
}
/* line 580, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .times cite a.username {
  text-decoration: none;
  font-style: initial;
  color: black;
  font-weight: bold;
}
/* line 587, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer .btn {
  padding: 4px 19px;
  margin-top: 10px;
}
/* line 591, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer ul.links.inline {
  display: inline-block;
  height: 48px;
  margin-top: 16px;
  float: right;
  padding-bottom: 40px;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 591, ../../sass/layouts/forum.scss */
  .section-talk-to-others .card.card--item .footer ul.links.inline {
    width: 100%;
  }
}
/* line 601, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer ul.links.inline li.comment-add.first.last {
  color: rgba(99, 108, 115, 0);
}
/* line 603, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .footer ul.links.inline li.comment-add.first.last a.btn.btn-right {
  color: #ffffff;
  text-decoration: none;
}
/* line 611, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .forum-left cite {
  font-style: normal;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}
/* line 617, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .forum-left cite br {
  display: none;
}
/* line 621, ../../sass/layouts/forum.scss */
.section-talk-to-others .card.card--item .forum-left time {
  font-size: 14px;
}

/* line 628, ../../sass/layouts/forum.scss */
.new-grids .forum-left {
  display: none;
}
@media (max-width: 767px) {
  /* line 631, ../../sass/layouts/forum.scss */
  .new-grids .card.card--item {
    width: 100% !important;
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) {
  /* line 631, ../../sass/layouts/forum.scss */
  .new-grids .card.card--item {
    width: 32.20339% !important;
    float: left;
  }
}
