/* line 3, ../../sass/base/_markup-mixins.scss */
.comment-list ul.comment-listing li .comment-right ul:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../../sass/base/_markup-mixins.scss */
.comment-list ul.comment-listing, .comment-list ul.comment-listing li .comment-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 5, ../../sass/layouts/global.scss */
body {
  margin-top: -24px;
}

/* line 8, ../../sass/layouts/global.scss */
.underline {
  text-decoration: underline;
}

/* line 12, ../../sass/layouts/global.scss */
.span-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

/* line 16, ../../sass/layouts/global.scss */
.region-action {
  width: 100%;
  height: 100%;
}

/* these apply to auto-completing form fields */
/* line 24, ../../sass/layouts/global.scss */
html.js input.form-autocomplete {
  background-image: url(../../images/ajax-loader.gif);
  background-position: 100% 0px;
  background-repeat: no-repeat;
}

/* line 29, ../../sass/layouts/global.scss */
html.js input.throbbing {
  background-position: 100% -16px;
}

/* these apply to all ajax progresses */
/* line 34, ../../sass/layouts/global.scss */
.ajax-progress {
  /* display: inline-block;
   *display: inline;
   *zoom: 1;
   position: relative;*/
}

/* line 41, ../../sass/layouts/global.scss */
.ajax-progress .throbber {
  background: transparent url(../../images/ajax-loader.gif) no-repeat 0px 0px;
  float: left;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 49%;
  right: 51%;
}

/* line 57, ../../sass/layouts/global.scss */
ul.tabs-primary {
  padding: 12px 6px;
}
/* line 59, ../../sass/layouts/global.scss */
ul.tabs-primary li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  background: #d2d5d6;
}
/* line 64, ../../sass/layouts/global.scss */
ul.tabs-primary li.is-active {
  background: #f15500;
}

/* line 73, ../../sass/layouts/global.scss */
div#admin-toolbar {
  z-index: 11000;
}

/* line 76, ../../sass/layouts/global.scss */
div#admin-toolbar.vertical div.admin-tab {
  width: auto;
  min-height: 25px;
}

/* line 80, ../../sass/layouts/global.scss */
#admin-toolbar ul.menu li a {
  height: auto;
}

/* line 85, ../../sass/layouts/global.scss */
#main {
  position: relative;
}
@media (max-width: 767px) {
  /* line 85, ../../sass/layouts/global.scss */
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

/* nanda globalsoftlab */
/* line 103, ../../sass/layouts/global.scss */
.comment-block {
  background: #ffffff;
  padding: 35px 50px 37px 44px;
  margin: 70px 0 50px 0;
}
@media (max-width: 767px) {
  /* line 103, ../../sass/layouts/global.scss */
  .comment-block {
    padding: 27px 15px;
  }
}
/* line 110, ../../sass/layouts/global.scss */
.comment-block h4 {
  margin: 0 0 17px;
}
/* line 113, ../../sass/layouts/global.scss */
.comment-block .comments {
  font-size: 18px;
  color: #636c73;
}
/* line 116, ../../sass/layouts/global.scss */
.comment-block .comments .required {
  color: #f15500;
}
/* line 119, ../../sass/layouts/global.scss */
.comment-block .comments label {
  float: left;
}
/* line 121, ../../sass/layouts/global.scss */
.comment-block .comments label.label-block {
  width: 100%;
}
/* line 125, ../../sass/layouts/global.scss */
.comment-block .comments fieldset {
  margin: 0 0 20px 0;
}
@media (max-width: 767px) {
  /* line 125, ../../sass/layouts/global.scss */
  .comment-block .comments fieldset {
    margin: 0 0 10px 0;
  }
}
/* line 130, ../../sass/layouts/global.scss */
.comment-block .comments fieldset.submit-actions {
  margin: 0;
}
@media (max-width: 767px) {
  /* line 133, ../../sass/layouts/global.scss */
  .comment-block .comments fieldset.submit-actions .btn.btn-left, .comment-block .comments fieldset.submit-actions .btn-left.form-submit {
    margin-left: 6px;
    padding: 3px 15px;
  }
  /* line 136, ../../sass/layouts/global.scss */
  .comment-block .comments fieldset.submit-actions .btn.btn-left:first-child, .comment-block .comments fieldset.submit-actions .btn-left.form-submit:first-child {
    margin-left: 0;
  }
}
/* line 143, ../../sass/layouts/global.scss */
.comment-block .comments strong {
  color: #081318;
  margin-left: 10px;
}
@media (max-width: 990px) {
  /* line 143, ../../sass/layouts/global.scss */
  .comment-block .comments strong {
    font-weight: normal;
  }
}
/* line 150, ../../sass/layouts/global.scss */
.comment-block .comments .form-element {
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #636c73, #eef2f3);
  background-image: -moz-linear-gradient(top, #636c73, #eef2f3);
  background-image: -ms-linear-gradient(top, #636c73, #eef2f3);
  background-image: -o-linear-gradient(top, #636c73, #eef2f3);
  background-image: linear-gradient(to bottom, #636c73, #eef2f3);
  padding: 2px;
  float: left;
  margin: 6px 0 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
/* line 158, ../../sass/layouts/global.scss */
.comment-block .comments .form-element input[type=text], .comment-block .comments .form-element input[type=email], .comment-block .comments .form-element textarea {
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: none;
}
/* line 164, ../../sass/layouts/global.scss */
.comment-block .comments .form-element textarea {
  height: 183px;
}

/* line 172, ../../sass/layouts/global.scss */
.comment-list h4 {
  font-size: 23px;
  font-size: 1.4375em;
}
/* line 174, ../../sass/layouts/global.scss */
.comment-list h4 a {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 0;
}
/* line 180, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing {
  position: relative;
}
/* line 183, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing.children {
  margin-left: 30px;
}
/* line 187, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
  font-size: 13px;
}
/* line 192, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 4px 0;
}
/* line 197, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left a {
  text-decoration: underline;
  font-weight: bold;
  color: #081318;
}
/* line 201, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left a:hover {
  text-decoration: none;
}
/* line 205, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left cite {
  margin: 0 0 7px 0;
  font-style: normal;
  display: block;
}
/* line 210, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-left time {
  margin: 0 0 17px 0;
}
/* line 214, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right {
  width: 74.35897%;
  float: right;
  margin-right: 0;
  border: 2px solid #d2d5d6;
  font-size: 16px;
  background: #ffffff;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  /* line 214, ../../sass/layouts/global.scss */
  .comment-list ul.comment-listing li .comment-right {
    padding: 15px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 226, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right:before {
  content: "";
  position: absolute;
  left: 90px;
  background: url(../images/sprite.png) no-repeat -1px -162px;
  width: 24px;
  top: 15px;
  height: 32px;
}
/* line 235, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right .links {
  margin-bottom: 17px;
}
/* line 241, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right ul li {
  float: left;
  margin: 0 11px 0 0;
}
/* line 244, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right ul li a {
  text-decoration: underline;
  font-weight: bold;
}
/* line 247, ../../sass/layouts/global.scss */
.comment-list ul.comment-listing li .comment-right ul li a:hover {
  text-decoration: none;
}

/* line 260, ../../sass/layouts/global.scss */
.filter-overlay {
  display: none;
}

/* line 264, ../../sass/layouts/global.scss */
.filter-active .filter-overlay {
  background: #000;
  display: inherit;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.6;
}

/* line 277, ../../sass/layouts/global.scss */
.item-list {
  clear: both;
}
/* line 279, ../../sass/layouts/global.scss */
.item-list .pager {
  text-align: center;
  padding: 30px 10px 60px 10px;
  display: block;
  width: 100%;
  clear: both;
}
/* line 285, ../../sass/layouts/global.scss */
.item-list .pager li {
  background: #ffffff;
  display: inline-flex;
  list-style: none;
  margin-right: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 291, ../../sass/layouts/global.scss */
.item-list .pager li:hover, .item-list .pager li.pager-current {
  color: #ffffff;
  background: #2a2e31;
}
/* line 294, ../../sass/layouts/global.scss */
.item-list .pager li:hover a, .item-list .pager li.pager-current a {
  color: #b6bcc1;
}
/* line 299, ../../sass/layouts/global.scss */
.item-list .pager li.pager-ellipsis, .item-list .pager li.pager-current {
  padding: 4px 12px;
}
/* line 302, ../../sass/layouts/global.scss */
.item-list .pager li a {
  text-decoration: none;
  line-height: 1.5em;
  padding: 4px 12px;
}

/* TABLE STYLE */
/* line 315, ../../sass/layouts/global.scss */
table {
  color: #333333;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding-top: 15px;
  margin-bottom: 15px;
}
/* line 322, ../../sass/layouts/global.scss */
table td, table th {
  border: 1px solid transparent;
  min-height: 30px;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: left;
}
/* line 328, ../../sass/layouts/global.scss */
table th {
  background: #636c73;
  font-weight: bold;
  color: #ffffff;
  padding: 9px;
}
/* line 333, ../../sass/layouts/global.scss */
table th a {
  color: #ffffff;
}
/* line 338, ../../sass/layouts/global.scss */
table tr td {
  background: #ffffff;
  text-align: left;
  padding: 10px;
}
/* line 342, ../../sass/layouts/global.scss */
table tr td:hover {
  background: #636c73;
  color: #ffffff;
}
/* line 348, ../../sass/layouts/global.scss */
table tr:nth-child(odd) td, table tr.odd td {
  background: #eef2f3;
  color: #636c73;
}
/* line 351, ../../sass/layouts/global.scss */
table tr:nth-child(odd) td a, table tr.odd td a {
  color: #636c73;
}

/* line 363, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs {
  background: #fff;
}
/* line 366, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li:last-child::before {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 99%;
  height: 6px;
  background: #f15500;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  z-index: 99;
}
@media (max-width: 767px) {
  /* line 366, ../../sass/layouts/global.scss */
  #quicktabs-user_profile_page ul.quicktabs-tabs li:last-child::before {
    display: none;
  }
}
/* line 382, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li:first-child.active ~ li:last-child::before {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}
/* line 386, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li:nth-child(2).active ~ li:last-child::before {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 390, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li:nth-child(3).active ~ li:last-child::before {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}
/* line 394, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li:nth-child(4).active ~ li:last-child::before {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 399, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li.active a {
  color: #f15500;
}

/* Nav */
/* line 408, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page {
  text-align: center;
}
/* line 410, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  /* line 410, ../../sass/layouts/global.scss */
  #quicktabs-user_profile_page ul.quicktabs-tabs {
    margin-bottom: 15px;
  }
}
/* line 435, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 767px) {
  /* line 435, ../../sass/layouts/global.scss */
  #quicktabs-user_profile_page ul.quicktabs-tabs li {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    float: left;
    width: 100%;
  }
}
/* line 453, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li a {
  padding-top: 22.4px;
  padding-bottom: 24px;
  -moz-transition: padding 0.3s ease;
  -webkit-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
/* line 459, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs li.active a {
  padding-top: 30.4px;
  padding-bottom: 14px;
}
/* line 466, ../../sass/layouts/global.scss */
#quicktabs-user_profile_page ul.quicktabs-tabs a:focus {
  outline: none;
}
