/* line 3, ../../sass/base/_markup-mixins.scss */
.top-bar .holder:after, #header .header-top .holder:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../../sass/base/_markup-mixins.scss */
.right-info, .school-slide .nav, nav > ul, nav .slide, .filter-slide .nav-filter, #header .links, #header .region-header .header-top-menu ul.menu, .region-header .header-top-menu #header ul.menu, .top-bar .links, .top-bar .region-header .header-top-menu ul.menu, .region-header .header-top-menu .top-bar ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 21, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 178, ../../sass/base/_base.scss */
* {
  max-height: 100000em;
}

/* line 179, ../../sass/base/_base.scss */
body {
  margin: 0;
  color: #2a2e31;
  background: #ffffff;
  font: 1.6em/1.562em "HelveticaNeueW01-55Roma", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  min-width: 320px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* line 190, ../../sass/base/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 205, ../../sass/base/_base.scss */
img {
  border-style: none;
}

/* line 207, ../../sass/base/_base.scss */
a {
  outline: none;
  text-decoration: none;
  color: #081318;
}
/* line 211, ../../sass/base/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 216, ../../sass/base/_base.scss */
input,
textarea,
select {
  font: 100% "HelveticaNeueW01-55Roma", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  color: #d2d5d6;
  vertical-align: middle;
}

/* line 224, ../../sass/base/_base.scss */
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 231, ../../sass/base/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 237, ../../sass/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 246, ../../sass/base/_base.scss */
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

/* line 251, ../../sass/base/_base.scss */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  border: 1px solid #d2d5d6;
}
/* line 261, ../../sass/base/_base.scss */
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #828a8d;
}

/* line 267, ../../sass/base/_base.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 273, ../../sass/base/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 279, ../../sass/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 286, ../../sass/base/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 291, ../../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.2em;
  margin: 0 0 1.2em;
  font-weight: bold;
}

/* line 298, ../../sass/base/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 306, ../../sass/base/_base.scss */
sup {
  top: -0.5em;
}

/* line 310, ../../sass/base/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 314, ../../sass/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* top bar style */
/* line 4, ../../sass/layouts/header.scss */
.top-bar {
  position: fixed;
  z-index: 999;
  background: #2a2e31;
  width: 100%;
  min-height: 50px;
  top: 0;
  /* login info styles */
}
/* line 11, ../../sass/layouts/header.scss */
.top-bar .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 10px 15px 12px;
}
@media (max-width: 767px) {
  /* line 11, ../../sass/layouts/header.scss */
  .top-bar .holder {
    padding: 6px 5px 7px;
  }
}
/* line 21, ../../sass/layouts/header.scss */
.top-bar .login-info {
  float: right;
  font-size: 14px;
  line-height: 19px;
}
@media (max-width: 767px) {
  /* line 21, ../../sass/layouts/header.scss */
  .top-bar .login-info {
    display: none;
  }
}
/* line 28, ../../sass/layouts/header.scss */
.top-bar .login-info .name {
  float: left;
  margin: 0 14px 0 0;
}
/* line 31, ../../sass/layouts/header.scss */
.top-bar .login-info .name span {
  padding: 4px 0 0 8px;
  text-transform: capitalize;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  color: #d2d5d6;
}
/* line 39, ../../sass/layouts/header.scss */
.top-bar .login-info .name img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}
/* line 44, ../../sass/layouts/header.scss */
.top-bar .login-info .name:hover span {
  text-decoration: underline;
}
/* line 48, ../../sass/layouts/header.scss */
.top-bar .login-info .logout {
  float: left;
  margin: 6px 0 0;
  color: #d2d5d6;
  text-decoration: underline;
}

/* header styles */
/* line 57, ../../sass/layouts/header.scss */
#header {
  width: 100%;
  z-index: 9999;
  position: relative;
  margin-bottom: 33px;
  /* page logo styles */
}
/* line 62, ../../sass/layouts/header.scss */
#header .header-top {
  width: 100%;
  z-index: 9999;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 50px;
  -webkit-box-shadow: 0 0 10px rgba(24, 24, 24, 0.25);
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.25);
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 71, ../../sass/layouts/header.scss */
#header .header-top .holder {
  margin: 0 auto;
  max-width: 1080px;
  padding: 26px 15px;
}
@media (max-width: 767px) {
  /* line 71, ../../sass/layouts/header.scss */
  #header .header-top .holder {
    padding: 22px 20px 0;
  }
}
/* line 81, ../../sass/layouts/header.scss */
#header .logo {
  float: left;
  width: 259px;
  height: 50px;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  /* line 81, ../../sass/layouts/header.scss */
  #header .logo {
    width: 202px;
    height: 39px;
    float: none;
    margin: 0 0 19px;
  }
}
/* line 92, ../../sass/layouts/header.scss */
#header .logo img {
  display: block;
  height: auto;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 98, ../../sass/layouts/header.scss */
#header.fixed-position {
  margin-bottom: 49px;
}
/* line 100, ../../sass/layouts/header.scss */
#header.fixed-position .header-top {
  top: 0;
}
/* line 103, ../../sass/layouts/header.scss */
#header.fixed-position .holder {
  padding: 11px 15px;
}
@media (max-width: 767px) {
  /* line 103, ../../sass/layouts/header.scss */
  #header.fixed-position .holder {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  /* line 109, ../../sass/layouts/header.scss */
  #header.fixed-position .right-info {
    overflow: hidden;
    border-top: 1px solid #d2d5d6;
  }
}
/* line 115, ../../sass/layouts/header.scss */
#header.fixed-position .logo {
  margin: 6px 0 0;
  width: 195px;
  height: 38px;
}
/* line 119, ../../sass/layouts/header.scss */
.page-school #header.fixed-position .logo {
  margin: 0;
}
/* line 121, ../../sass/layouts/header.scss */
.page-school #header.fixed-position .logo img {
  width: 137px;
}
/* line 125, ../../sass/layouts/header.scss */
#header.fixed-position .logo img {
  width: 186px;
}
@media (max-width: 767px) {
  /* line 115, ../../sass/layouts/header.scss */
  #header.fixed-position .logo {
    display: none;
  }
}
/* line 132, ../../sass/layouts/header.scss */
#header.fixed-position .school-slide {
  position: fixed;
  padding: 100px 0 0;
}
@media (max-width: 767px) {
  /* line 132, ../../sass/layouts/header.scss */
  #header.fixed-position .school-slide {
    padding: 53px 0 0;
  }
}
/* line 139, ../../sass/layouts/header.scss */
#header.fixed-position .nav-holder {
  position: fixed;
  padding: 100px 0 0;
}
@media (max-width: 767px) {
  /* line 139, ../../sass/layouts/header.scss */
  #header.fixed-position .nav-holder {
    padding: 53px 0 0;
  }
}
/* line 146, ../../sass/layouts/header.scss */
#header.fixed-position .filter-slide {
  position: fixed;
  padding: 100px 0 0;
}
@media (max-width: 767px) {
  /* line 146, ../../sass/layouts/header.scss */
  #header.fixed-position .filter-slide {
    padding: 53px 0 0;
  }
}

/* headre right info styles */
/* line 156, ../../sass/layouts/header.scss */
.right-info {
  padding: 4px 0 0;
  float: right;
}
@media (max-width: 767px) {
  /* line 156, ../../sass/layouts/header.scss */
  .right-info {
    float: none;
    margin: 0 -20px;
    padding: 0;
    border-top: 2px solid #d2d5d6;
  }
}
/* line 166, ../../sass/layouts/header.scss */
.right-info li {
  float: left;
  font-size: 18px;
  line-height: 26px;
  padding: 7px 30px;
  position: relative;
  color: #d2d5d6;
}
@media (max-width: 767px) {
  /* line 166, ../../sass/layouts/header.scss */
  .right-info li {
    border-left: 2px solid #d2d5d6;
    font-size: 16px;
    padding: 14px 0 10px;
    text-align: center;
    width: 22.3%;
  }
}
/* line 180, ../../sass/layouts/header.scss */
.right-info li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 1px;
  background: #d2d5d6;
  height: 40px;
}
@media (max-width: 767px) {
  /* line 180, ../../sass/layouts/header.scss */
  .right-info li:after {
    display: none;
  }
}
/* line 192, ../../sass/layouts/header.scss */
.right-info li:first-child {
  padding: 9px 24px;
}
@media (max-width: 767px) {
  /* line 192, ../../sass/layouts/header.scss */
  .right-info li:first-child {
    padding: 12px 1px 14px 20px;
    width: 55%;
    border: none;
    text-align: left;
  }
}
/* line 200, ../../sass/layouts/header.scss */
.right-info li:first-child:after {
  display: none;
}
/* line 204, ../../sass/layouts/header.scss */
.right-info li a {
  color: #081318;
}
/* line 77, ../../sass/base/_markup-mixins.scss */
.right-info li a:hover, .right-info li a:active, .right-info li a:focus {
  color: #285f78;
  text-decoration: none;
}
/* line 206, ../../sass/layouts/header.scss */
.right-info li a:hover {
  color: #f15500;
}
/* line 208, ../../sass/layouts/header.scss */
.page-school .right-info li a:hover {
  color: #00a837;
}
/* line 214, ../../sass/layouts/header.scss */
.right-info li.menu {
  padding: 9px 0 0 10px;
  min-width: 119px;
}
@media (max-width: 767px) {
  /* line 214, ../../sass/layouts/header.scss */
  .right-info li.menu {
    min-width: 10px;
    width: 22%;
    padding: 12px 0 14px;
    text-align: center;
  }
}
/* line 224, ../../sass/layouts/header.scss */
.right-info a.menu-opener {
  float: right;
  position: relative;
  padding: 0 0 0 44px;
}
@media (max-width: 767px) {
  /* line 224, ../../sass/layouts/header.scss */
  .right-info a.menu-opener {
    padding: 0;
    width: 31px;
    height: 23px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}
/* line 236, ../../sass/layouts/header.scss */
.right-info a.menu-opener:after {
  position: absolute;
  left: 0;
  top: 1px;
  content: "";
  width: 31px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat;
}
/* line 246, ../../sass/layouts/header.scss */
.right-info a.menu-opener:hover:after {
  background-position: 0 -29px;
}
/* line 248, ../../sass/layouts/header.scss */
.page-school .right-info a.menu-opener:hover:after {
  background-position: -50px -89px;
}
@media (max-width: 767px) {
  /* line 253, ../../sass/layouts/header.scss */
  .right-info a.menu-opener .menu-text {
    display: none;
  }
}
/* line 258, ../../sass/layouts/header.scss */
.right-info a.menu-opener .icon-Close {
  display: none;
}
/* line 259, ../../sass/layouts/header.scss */
.right-info a.menu-opener .close {
  display: none;
}
/* line 261, ../../sass/layouts/header.scss */
.right-info a.school-opener {
  position: relative;
  display: block;
}
@media (max-width: 767px) {
  /* line 261, ../../sass/layouts/header.scss */
  .right-info a.school-opener {
    display: inline-block;
    vertical-align: top;
  }
}
/* line 268, ../../sass/layouts/header.scss */
.right-info a.school-opener .close {
  display: none;
}
/* line 269, ../../sass/layouts/header.scss */
.right-info a.school-opener .icon-Close {
  display: none;
}
/* line 272, ../../sass/layouts/header.scss */
.right-info a.search-opener .icon-search {
  font-size: 25px;
  color: #636c73;
}
@media (max-width: 767px) {
  /* line 272, ../../sass/layouts/header.scss */
  .right-info a.search-opener .icon-search {
    font-size: 22px;
  }
}
/* line 278, ../../sass/layouts/header.scss */
.right-info a.search-opener .icon-search:hover {
  color: #f15500;
}
/* line 280, ../../sass/layouts/header.scss */
.page-school .right-info a.search-opener .icon-search:hover {
  color: #00a837;
}
/* line 285, ../../sass/layouts/header.scss */
.right-info a.search-opener em {
  display: none;
}

/* line 290, ../../sass/layouts/header.scss */
.search-active a.search-opener .icon-search {
  color: #f15500;
}
/* line 294, ../../sass/layouts/header.scss */
.search-active .search-slide {
  max-height: 138px;
}

/* search slide styles */
/* line 299, ../../sass/layouts/header.scss */
.search-slide {
  overflow: hidden;
  max-height: 0;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  max-width: 1080px;
}
/* line 304, ../../sass/layouts/header.scss */
.search-slide .search-form {
  padding: 20px 15px 41px;
}
@media (max-width: 767px) {
  /* line 304, ../../sass/layouts/header.scss */
  .search-slide .search-form {
    padding: 20px 20px 25px;
    border-top: 2px solid #d2d5d6;
  }
}
/* line 310, ../../sass/layouts/header.scss */
.search-slide .search-form label {
  display: none;
}
/* line 311, ../../sass/layouts/header.scss */
.search-slide .search-form input[type="submit"] {
  display: none;
}
/* line 312, ../../sass/layouts/header.scss */
.search-slide .search-form input[type="search"] {
  border: none;
  width: 100%;
  height: 76px;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 25px;
  background: #eef2f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 312, ../../sass/layouts/header.scss */
  .search-slide .search-form input[type="search"] {
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 15px;
  }
}

/* school slide styles */
/* line 331, ../../sass/layouts/header.scss */
.school-slide {
  width: 430px;
  height: 100vh;
  padding: 133px 0 0;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -550px;
  z-index: 99;
  -webkit-box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
  box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
}
@media (max-width: 767px) {
  /* line 331, ../../sass/layouts/header.scss */
  .school-slide {
    width: 285px;
    left: 0;
    margin-left: -300px;
  }
}
/* line 347, ../../sass/layouts/header.scss */
.school-slide .title {
  display: block;
  font-size: 27px;
  line-height: 35px;
  color: #081318;
  padding: 7px 31px 29px;
}
@media (max-width: 767px) {
  /* line 347, ../../sass/layouts/header.scss */
  .school-slide .title {
    font-size: 22px;
    line-height: 30px;
    padding: 24px 31px 19px;
  }
}
/* line 359, ../../sass/layouts/header.scss */
.school-slide .nav {
  border-top: 2px solid #d2d5d6;
}
/* line 362, ../../sass/layouts/header.scss */
.school-slide .nav li {
  font-size: 18px;
  line-height: 29px;
  padding: 9px 31px 11px;
  border-bottom: 2px solid #d2d5d6;
}
/* line 367, ../../sass/layouts/header.scss */
.school-slide .nav li a {
  color: #081318;
  text-decoration: none;
}
/* line 370, ../../sass/layouts/header.scss */
.school-slide .nav li a:hover {
  color: #f15500;
}
/* line 372, ../../sass/layouts/header.scss */
.page-school .school-slide .nav li a:hover {
  color: #00a837;
}

/* line 381, ../../sass/layouts/header.scss */
.school-active .visual {
  margin: 0 0 0 -430px;
}
@media (max-width: 767px) {
  /* line 381, ../../sass/layouts/header.scss */
  .school-active .visual {
    margin-left: 285px;
  }
}
/* line 387, ../../sass/layouts/header.scss */
.school-active #main, .school-active .action-block, .school-active .forum-block, .school-active #footer .holder, .school-active #main2, .school-active .top-header {
  margin-left: -430px;
}
@media (max-width: 767px) {
  /* line 387, ../../sass/layouts/header.scss */
  .school-active #main, .school-active .action-block, .school-active .forum-block, .school-active #footer .holder, .school-active #main2, .school-active .top-header {
    margin-left: 285px;
  }
}
/* line 393, ../../sass/layouts/header.scss */
.school-active #main, .school-active .action-block .holder, .school-active .forum-block .holder, .school-active #footer .holder, .school-active #main2 section.article, .school-active .top-header {
  width: 100%;
  max-width: none;
}
/* line 397, ../../sass/layouts/header.scss */
.school-active .visual .img-holder .caption-frame {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 0 20px;
}
/* line 405, ../../sass/layouts/header.scss */
.school-active li a.school-opener {
  padding: 0 0 0 39px;
}
/* line 407, ../../sass/layouts/header.scss */
.school-active li a.school-opener .icon-Close {
  display: block;
  position: absolute;
  font-size: 22px;
  left: 0;
  top: 1px;
  color: #f15500;
}
/* line 415, ../../sass/layouts/header.scss */
.school-active li a.school-opener .close {
  display: block;
}
@media (max-width: 767px) {
  /* line 415, ../../sass/layouts/header.scss */
  .school-active li a.school-opener .close {
    display: inline-block;
    vertical-align: top;
  }
}
/* line 422, ../../sass/layouts/header.scss */
.school-active li a.school-opener .menu-text {
  display: none;
}
/* line 425, ../../sass/layouts/header.scss */
.school-active .school-slide {
  margin-right: 0;
}
@media (max-width: 767px) {
  /* line 425, ../../sass/layouts/header.scss */
  .school-active .school-slide {
    margin-left: 0;
  }
}

/* main nav styles */
/* line 433, ../../sass/layouts/header.scss */
.nav-holder {
  width: 430px;
  height: 100vh;
  padding: 133px 0 50px;
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -460px;
  z-index: 99;
  -webkit-box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
  box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
  overflow-y: scroll;
}
@media (max-width: 767px) {
  /* line 433, ../../sass/layouts/header.scss */
  .nav-holder {
    margin-right: -310px;
    width: 285px;
  }
}
/* line 449, ../../sass/layouts/header.scss */
.nav-holder .btn {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 33px;
  display: block;
  padding: 10px 9px;
  font-size: 20px;
}
/* line 456, ../../sass/layouts/header.scss */
.nav-holder .btn em {
  right: -20px;
  top: 5px;
}
@media (max-width: 767px) {
  /* line 449, ../../sass/layouts/header.scss */
  .nav-holder .btn {
    margin: 0 0 -2px;
    position: relative;
    z-index: 2;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 14px 0;
    font-size: 18px;
    text-align: left;
  }
  /* line 469, ../../sass/layouts/header.scss */
  .nav-holder .btn:hover {
    opacity: .9;
  }
  /* line 472, ../../sass/layouts/header.scss */
  .nav-holder .btn span {
    padding: 0 0 0 25px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    word-spacing: 3px;
  }
  /* line 478, ../../sass/layouts/header.scss */
  .nav-holder .btn span .icon-Rightarrow {
    display: none;
  }
}

/* nav styles */
/* line 488, ../../sass/layouts/header.scss */
nav > ul {
  border-top: 2px solid #d2d5d6;
}
/* line 491, ../../sass/layouts/header.scss */
nav > ul > li {
  font-size: 18px;
  line-height: 29px;
}
/* line 494, ../../sass/layouts/header.scss */
nav > ul > li a {
  color: #081318;
  position: relative;
  text-decoration: none;
  display: block;
  font-weight: lighter;
  padding: 9px 31px 11px;
  border-bottom: 2px solid #d2d5d6;
}
@media (max-width: 767px) {
  /* line 494, ../../sass/layouts/header.scss */
  nav > ul > li a {
    padding: 9px 31px 11px 25px;
  }
}
/* line 505, ../../sass/layouts/header.scss */
nav > ul > li a .icon-Downarrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  font-size: 13px;
  padding: 18px 0 0;
  text-align: center;
  background: #eef2f3;
}
/* line 516, ../../sass/layouts/header.scss */
nav > ul > li a .icon-Uparrow {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  font-size: 13px;
  padding: 16px 0 0;
  text-align: center;
  background: #eef2f3;
}
/* line 531, ../../sass/layouts/header.scss */
nav > ul li.active .icon-Downarrow {
  display: none;
}
/* line 532, ../../sass/layouts/header.scss */
nav > ul li.active .icon-Uparrow {
  display: block;
}
/* line 537, ../../sass/layouts/header.scss */
nav .slide > li {
  font-size: 18px;
  line-height: 29px;
}
/* line 541, ../../sass/layouts/header.scss */
nav .slide > li a {
  display: block;
  padding: 9px 31px 11px 45px;
  background: #eef2f3;
  color: #081318;
  text-decoration: none;
}
/* line 551, ../../sass/layouts/header.scss */
nav ul li a:hover {
  color: #f15500;
}
/* line 553, ../../sass/layouts/header.scss */
.page-school nav ul li a:hover {
  color: #00a837;
}

/* school slide styles */
/* line 561, ../../sass/layouts/header.scss */
.filter-slide {
  width: 430px;
  height: 100vh;
  padding: 133px 0 0;
  background: #ffffff;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  margin-right: -550px;
  z-index: 99;
  -webkit-box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
  box-shadow: 0 2px 7px rgba(24, 24, 24, 0.5);
}
@media (max-width: 767px) {
  /* line 561, ../../sass/layouts/header.scss */
  .filter-slide {
    width: 285px;
    left: 0;
    margin-left: -300px;
  }
}
/* line 578, ../../sass/layouts/header.scss */
.filter-slide .filterbutton {
  float: right;
  cursor: pointer;
}
/* line 581, ../../sass/layouts/header.scss */
.filter-slide .filterbutton:hover {
  color: #f15500;
}
/* line 585, ../../sass/layouts/header.scss */
.filter-slide .button-holder {
  margin: 20px 32px 30px;
}
/* line 587, ../../sass/layouts/header.scss */
.filter-slide .button-holder a.btn {
  width: 100%;
}
/* line 591, ../../sass/layouts/header.scss */
.filter-slide .title {
  display: block;
  font-size: 27px;
  line-height: 35px;
  color: #081318;
  padding: 7px 31px 29px;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 591, ../../sass/layouts/header.scss */
  .filter-slide .title {
    font-size: 22px;
    line-height: 30px;
    padding: 24px 31px 19px;
  }
}
/* line 607, ../../sass/layouts/header.scss */
.filter-slide .nav-filter li {
  font-size: 18px;
  line-height: 29px;
  padding: 0 31px;
}
/* line 611, ../../sass/layouts/header.scss */
.filter-slide .nav-filter li a {
  color: #081318;
  text-decoration: none;
  background: #eef2f3;
  padding: 10px 15px;
  display: block;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 619, ../../sass/layouts/header.scss */
.filter-slide .nav-filter li a span {
  display: none;
  float: right;
  margin-top: 6px;
}
/* line 624, ../../sass/layouts/header.scss */
.filter-slide .nav-filter li a:hover, .filter-slide .nav-filter li a.active {
  color: #f15500;
}
/* line 628, ../../sass/layouts/header.scss */
.filter-slide .nav-filter li a.active span {
  display: inline-block;
}

/* line 637, ../../sass/layouts/header.scss */
.filter-active .visual {
  margin: 0 0 0 -430px;
}
@media (max-width: 767px) {
  /* line 637, ../../sass/layouts/header.scss */
  .filter-active .visual {
    margin-left: 285px;
  }
}
/* line 643, ../../sass/layouts/header.scss */
.filter-active #main, .filter-active .action-block, .filter-active .forum-block, .filter-active #footer .holder, .filter-active #main2, .filter-active .top-header {
  margin-left: -430px;
}
@media (max-width: 767px) {
  /* line 643, ../../sass/layouts/header.scss */
  .filter-active #main, .filter-active .action-block, .filter-active .forum-block, .filter-active #footer .holder, .filter-active #main2, .filter-active .top-header {
    margin-left: 285px;
  }
}
/* line 649, ../../sass/layouts/header.scss */
.filter-active #main, .filter-active .action-block .holder, .filter-active .forum-block .holder, .filter-active #footer .holder, .filter-active #main2 section.article, .filter-active .top-header {
  width: 100%;
  max-width: none;
}
/* line 653, ../../sass/layouts/header.scss */
.filter-active .visual .img-holder .caption-frame {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 0 20px;
}
/* line 659, ../../sass/layouts/header.scss */
.filter-active .filter-slide {
  margin-right: 0;
}
@media (max-width: 767px) {
  /* line 659, ../../sass/layouts/header.scss */
  .filter-active .filter-slide {
    margin-left: 0;
  }
}

/* nav active styles */
/* line 669, ../../sass/layouts/header.scss */
.nav-active .visual {
  margin: 0 0 0 -430px;
}
@media (max-width: 767px) {
  /* line 669, ../../sass/layouts/header.scss */
  .nav-active .visual {
    margin-left: -285px;
  }
}
/* line 675, ../../sass/layouts/header.scss */
.nav-active #main, .nav-active .action-block, .nav-active .forum-block, .nav-active #footer .holder, .nav-active #main2, .nav-active .top-header {
  margin-left: -430px;
}
@media (max-width: 767px) {
  /* line 675, ../../sass/layouts/header.scss */
  .nav-active #main, .nav-active .action-block, .nav-active .forum-block, .nav-active #footer .holder, .nav-active #main2, .nav-active .top-header {
    margin-left: -285px;
  }
}
/* line 680, ../../sass/layouts/header.scss */
.nav-active #main #main2 .action-block, .nav-active .action-block #main2 .action-block, .nav-active .forum-block #main2 .action-block, .nav-active #footer .holder #main2 .action-block, .nav-active #main2 #main2 .action-block, .nav-active .top-header #main2 .action-block {
  margin-left: 0;
}
/* line 684, ../../sass/layouts/header.scss */
.nav-active #main, .nav-active .action-block .holder, .nav-active .forum-block .holder, .nav-active #footer .holder, .nav-active #main2 section.article, .nav-active .top-header {
  width: 100%;
  max-width: none;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 689, ../../sass/layouts/header.scss */
.nav-active .visual .img-holder .caption-frame {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 0 20px;
}
/* line 695, ../../sass/layouts/header.scss */
.nav-active .nav-holder {
  margin-right: 0;
}
/* line 698, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener {
  color: #081318;
}
/* line 700, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener .icon-Close {
  display: block;
  position: absolute;
  font-size: 22px;
  left: 4px;
  top: 1px;
  color: #f15500;
}
/* line 708, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener:after {
  display: none;
}
/* line 709, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener .close {
  display: block;
}
/* line 711, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener .close:hover {
  color: #f15500;
}
@media (max-width: 767px) {
  /* line 709, ../../sass/layouts/header.scss */
  .nav-active li a.menu-opener .close {
    display: none;
  }
}
/* line 718, ../../sass/layouts/header.scss */
.nav-active li a.menu-opener .menu-text {
  display: none;
}

/* main information part styles */
/* line 722, ../../sass/layouts/header.scss */
.text-section {
  margin-bottom: 59px;
  margin-top: 28px;
}
/* line 725, ../../sass/layouts/header.scss */
.text-section .text-right-section {
  float: right;
  margin-top: 40px;
}
/* line 731, ../../sass/layouts/header.scss */
.text-section .text-right-section a {
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-decoration: underline;
  text-align: right;
  margin-bottom: 5px;
}
/* line 738, ../../sass/layouts/header.scss */
.text-section .text-right-section a:hover {
  text-decoration: none;
}
/* line 743, ../../sass/layouts/header.scss */
.text-section h2 {
  max-width: 666px;
  margin-bottom: 23px;
}
@media (max-width: 990px) {
  /* line 743, ../../sass/layouts/header.scss */
  .text-section h2 {
    max-width: inherit;
  }
}
/* line 750, ../../sass/layouts/header.scss */
.text-section p {
  max-width: 666px;
}
@media (max-width: 990px) {
  /* line 750, ../../sass/layouts/header.scss */
  .text-section p {
    max-width: inherit;
  }
}

/* filter search block styles */
/* line 758, ../../sass/layouts/header.scss */
.sort-by {
  float: left;
}
/* line 760, ../../sass/layouts/header.scss */
.sort-by input[type="submit"] {
  display: none;
}
/* line 761, ../../sass/layouts/header.scss */
.sort-by label {
  display: none;
}
/* line 762, ../../sass/layouts/header.scss */
.sort-by select {
  width: 250px;
}
/* line 765, ../../sass/layouts/header.scss */
.sort-by .search-text {
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #636c73, #eef2f3);
  background-image: -moz-linear-gradient(top, #636c73, #eef2f3);
  background-image: -ms-linear-gradient(top, #636c73, #eef2f3);
  background-image: -o-linear-gradient(top, #636c73, #eef2f3);
  background-image: linear-gradient(to bottom, #636c73, #eef2f3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding: 2px;
  min-width: 250px;
  height: 49px;
}
/* line 772, ../../sass/layouts/header.scss */
.sort-by .search-text input[type="text"] {
  width: 100%;
  padding: 12px 21px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #2a2e31;
}

/* line 785, ../../sass/layouts/header.scss */
#header .links, #header .region-header .header-top-menu ul.menu, .region-header .header-top-menu #header ul.menu, .top-bar .links, .top-bar .region-header .header-top-menu ul.menu, .region-header .header-top-menu .top-bar ul.menu {
  float: left;
  max-width: 67%;
  padding: 5px 0 0;
}
/* line 790, ../../sass/layouts/header.scss */
#header .links.float-right, #header .region-header .header-top-menu ul.float-right.menu, .region-header .header-top-menu #header ul.float-right.menu, .top-bar .links.float-right, .top-bar .region-header .header-top-menu ul.float-right.menu, .region-header .header-top-menu .top-bar ul.float-right.menu {
  float: right;
}
@media (max-width: 767px) {
  /* line 790, ../../sass/layouts/header.scss */
  #header .links.float-right, #header .region-header .header-top-menu ul.float-right.menu, .region-header .header-top-menu #header ul.float-right.menu, .top-bar .links.float-right, .top-bar .region-header .header-top-menu ul.float-right.menu, .region-header .header-top-menu .top-bar ul.float-right.menu {
    float: none;
  }
}
/* line 795, ../../sass/layouts/header.scss */
#header .links.float-right .last-child, #header .region-header .header-top-menu ul.float-right.menu .last-child, .region-header .header-top-menu #header ul.float-right.menu .last-child, .top-bar .links.float-right .last-child, .top-bar .region-header .header-top-menu ul.float-right.menu .last-child, .region-header .header-top-menu .top-bar ul.float-right.menu .last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  /* line 785, ../../sass/layouts/header.scss */
  #header .links, #header .region-header .header-top-menu ul.menu, .region-header .header-top-menu #header ul.menu, .top-bar .links, .top-bar .region-header .header-top-menu ul.menu, .region-header .header-top-menu .top-bar ul.menu {
    max-width: 100%;
    float: none;
    text-align: center;
  }
}
/* line 804, ../../sass/layouts/header.scss */
#header .links li, #header .region-header .header-top-menu ul.menu li, .region-header .header-top-menu #header ul.menu li, .top-bar .links li, .top-bar .region-header .header-top-menu ul.menu li, .region-header .header-top-menu .top-bar ul.menu li {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  float: left;
  padding: 0 24px 0 19px;
}
@media (max-width: 990px) {
  /* line 804, ../../sass/layouts/header.scss */
  #header .links li, #header .region-header .header-top-menu ul.menu li, .region-header .header-top-menu #header ul.menu li, .top-bar .links li, .top-bar .region-header .header-top-menu ul.menu li, .region-header .header-top-menu .top-bar ul.menu li {
    padding: 0 11px;
  }
}
@media (max-width: 767px) {
  /* line 804, ../../sass/layouts/header.scss */
  #header .links li, #header .region-header .header-top-menu ul.menu li, .region-header .header-top-menu #header ul.menu li, .top-bar .links li, .top-bar .region-header .header-top-menu ul.menu li, .region-header .header-top-menu .top-bar ul.menu li {
    float: none;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
  }
}
/* line 819, ../../sass/layouts/header.scss */
#header .links li:after, #header .region-header .header-top-menu ul.menu li:after, .region-header .header-top-menu #header ul.menu li:after, .top-bar .links li:after, .top-bar .region-header .header-top-menu ul.menu li:after, .region-header .header-top-menu .top-bar ul.menu li:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 17px;
  left: 0;
  top: 2px;
  background: #636c73;
}
@media (max-width: 767px) {
  /* line 819, ../../sass/layouts/header.scss */
  #header .links li:after, #header .region-header .header-top-menu ul.menu li:after, .region-header .header-top-menu #header ul.menu li:after, .top-bar .links li:after, .top-bar .region-header .header-top-menu ul.menu li:after, .region-header .header-top-menu .top-bar ul.menu li:after {
    left: -4px;
  }
}
/* line 831, ../../sass/layouts/header.scss */
#header .links li:first-child, #header .region-header .header-top-menu ul.menu li:first-child, .region-header .header-top-menu #header ul.menu li:first-child, .top-bar .links li:first-child, .top-bar .region-header .header-top-menu ul.menu li:first-child, .region-header .header-top-menu .top-bar ul.menu li:first-child {
  padding-left: 0;
}
/* line 833, ../../sass/layouts/header.scss */
#header .links li:first-child:after, #header .region-header .header-top-menu ul.menu li:first-child:after, .region-header .header-top-menu #header ul.menu li:first-child:after, .top-bar .links li:first-child:after, .top-bar .region-header .header-top-menu ul.menu li:first-child:after, .region-header .header-top-menu .top-bar ul.menu li:first-child:after {
  display: none;
}
/* line 837, ../../sass/layouts/header.scss */
#header .links li a, #header .region-header .header-top-menu ul.menu li a, .region-header .header-top-menu #header ul.menu li a, .top-bar .links li a, .top-bar .region-header .header-top-menu ul.menu li a, .region-header .header-top-menu .top-bar ul.menu li a {
  color: #d2d5d6;
}
/* line 77, ../../sass/base/_markup-mixins.scss */
#header .links li a:hover, #header .region-header .header-top-menu ul.menu li a:hover, .region-header .header-top-menu #header ul.menu li a:hover, #header .links li a:active, #header .region-header .header-top-menu ul.menu li a:active, .region-header .header-top-menu #header ul.menu li a:active, #header .links li a:focus, #header .region-header .header-top-menu ul.menu li a:focus, .region-header .header-top-menu #header ul.menu li a:focus, .top-bar .links li a:hover, .top-bar .region-header .header-top-menu ul.menu li a:hover, .region-header .header-top-menu .top-bar ul.menu li a:hover, .top-bar .links li a:active, .top-bar .region-header .header-top-menu ul.menu li a:active, .region-header .header-top-menu .top-bar ul.menu li a:active, .top-bar .links li a:focus, .top-bar .region-header .header-top-menu ul.menu li a:focus, .region-header .header-top-menu .top-bar ul.menu li a:focus {
  color: white;
  text-decoration: none;
}
/* line 840, ../../sass/layouts/header.scss */
#header .links li.mob, #header .region-header .header-top-menu ul.menu li.mob, .region-header .header-top-menu #header ul.menu li.mob, .top-bar .links li.mob, .top-bar .region-header .header-top-menu ul.menu li.mob, .region-header .header-top-menu .top-bar ul.menu li.mob {
  display: none;
}
@media (max-width: 767px) {
  /* line 840, ../../sass/layouts/header.scss */
  #header .links li.mob, #header .region-header .header-top-menu ul.menu li.mob, .region-header .header-top-menu #header ul.menu li.mob, .top-bar .links li.mob, .top-bar .region-header .header-top-menu ul.menu li.mob, .region-header .header-top-menu .top-bar ul.menu li.mob {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  /* line 846, ../../sass/layouts/header.scss */
  #header .links li.desktop, #header .region-header .header-top-menu ul.menu li.desktop, .region-header .header-top-menu #header ul.menu li.desktop, .top-bar .links li.desktop, .top-bar .region-header .header-top-menu ul.menu li.desktop, .region-header .header-top-menu .top-bar ul.menu li.desktop {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 852, ../../sass/layouts/header.scss */
  #header .links li.get-up:after, #header .region-header .header-top-menu ul.menu li.get-up:after, .region-header .header-top-menu #header ul.menu li.get-up:after, .top-bar .links li.get-up:after, .top-bar .region-header .header-top-menu ul.menu li.get-up:after, .region-header .header-top-menu .top-bar ul.menu li.get-up:after {
    display: none;
  }
}

/* line 863, ../../sass/layouts/header.scss */
.top-bar {
  z-index: 9998;
}
/* line 865, ../../sass/layouts/header.scss */
.top-bar .holder {
  padding: 16px 15px 12px;
}

/* line 879, ../../sass/layouts/header.scss */
.region-header .header-user-menu ul {
  margin: 0;
}
/* line 881, ../../sass/layouts/header.scss */
.region-header .header-user-menu ul li {
  list-style: none;
  padding: 0 6px;
  display: inline;
}
/* line 885, ../../sass/layouts/header.scss */
.region-header .header-user-menu ul li a {
  margin: 0;
  color: #d2d5d6;
  text-transform: capitalize;
  vertical-align: middle;
}
/* line 890, ../../sass/layouts/header.scss */
.region-header .header-user-menu ul li a:hover {
  text-decoration: underline;
}
/* line 893, ../../sass/layouts/header.scss */
.region-header .header-user-menu ul li a img {
  vertical-align: middle;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 908, ../../sass/layouts/header.scss */
#header.fixed-position {
  margin-bottom: -4px;
}

/* line 913, ../../sass/layouts/header.scss */
#block-system-user-menu li.last {
  padding-right: 0;
}

/* nanda - globalsoftlab */
/* line 922, ../../sass/layouts/header.scss */
.header_fixed .header_banner {
  margin-top: 0;
}

/* line 926, ../../sass/layouts/header.scss */
.header_banner {
  margin-top: 103px;
  -webkit-transition: margin 0.5s, -webkit-transform 2s;
  /* For Safari 3.1 to 6.0 */
  transition: margin 0.5s, transform 2s;
  position: relative;
}
/* line 931, ../../sass/layouts/header.scss */
.header_banner .header_image img {
  width: 100%;
}
/* line 934, ../../sass/layouts/header.scss */
.header_banner .header_image {
  max-height: 407px;
  overflow: hidden;
}
/* line 938, ../../sass/layouts/header.scss */
.header_banner .banner_desktop {
  display: inherit;
}
@media (max-width: 767px) {
  /* line 938, ../../sass/layouts/header.scss */
  .header_banner .banner_desktop {
    display: none;
  }
}
/* line 944, ../../sass/layouts/header.scss */
.header_banner .banner_mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 944, ../../sass/layouts/header.scss */
  .header_banner .banner_mobile {
    display: inherit;
  }
}
/* line 950, ../../sass/layouts/header.scss */
.header_banner .banner_text {
  font-size: 5vw;
  line-height: 75px;
  padding: 18px 25px;
  margin: 0 0 12px 16px;
  font-weight: normal;
  background: #ffffff;
  display: inline-block;
  color: #081318;
  line-height: 100%;
  clear: both;
}
@media (max-width: 990px) {
  /* line 950, ../../sass/layouts/header.scss */
  .header_banner .banner_text {
    margin: 0 90px 12px;
  }
}
@media (max-width: 767px) {
  /* line 950, ../../sass/layouts/header.scss */
  .header_banner .banner_text {
    margin: 5% 23% 0 23%;
    padding: 18px 13px;
    text-align: center;
    line-height: normal;
  }
}
/* line 972, ../../sass/layouts/header.scss */
.header_banner .banner_text:after {
  clear: both;
}
/* line 975, ../../sass/layouts/header.scss */
.header_banner .banner_sub_text {
  vertical-align: top;
  background: #ffffff;
  font-size: 2vw;
  display: inline-block;
  margin: 0 0 0 159px;
  padding: 19px 24px;
  font-weight: normal;
  line-height: 100%;
  font-family: "HelveticaNeueW01-55Roma", Helvetica, sans-serif;
}
@media (max-width: 990px) {
  /* line 975, ../../sass/layouts/header.scss */
  .header_banner .banner_sub_text {
    margin: 0 0 0 100px;
  }
}
@media (max-width: 767px) {
  /* line 975, ../../sass/layouts/header.scss */
  .header_banner .banner_sub_text {
    display: none;
  }
}
/* line 992, ../../sass/layouts/header.scss */
.header_banner .banner_text_main {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 24%;
  height: 76%;
}
/* line 999, ../../sass/layouts/header.scss */
.header_banner .banner_text_inner {
  max-width: 1080px;
  margin: 0 auto;
}
/* line 1003, ../../sass/layouts/header.scss */
.header_banner .pic-by {
  display: block;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  color: #636c73;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  /* line 1003, ../../sass/layouts/header.scss */
  .header_banner .pic-by {
    text-align: left;
    padding: 10px 20px;
  }
}
/* line 1017, ../../sass/layouts/header.scss */
.header_banner .pic-by a {
  color: #081318;
  font-weight: bold;
  text-decoration: underline;
}
/* line 1023, ../../sass/layouts/header.scss */
.header_banner .btn-prev {
  background: #f15500;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 1028, ../../sass/layouts/header.scss */
.header_banner .btn-prev .icon-Leftarrow {
  font-size: 27px;
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 1034, ../../sass/layouts/header.scss */
  .header_banner.banner-nav .banner_text {
    margin: 5% 10% 0;
    padding: 18px 13px;
    text-align: center;
    line-height: normal;
    width: 80%;
  }
}
/* line 1044, ../../sass/layouts/header.scss */
.header_banner .easy-breadcrumb {
  position: absolute;
  top: -71px;
  right: 13px;
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 1044, ../../sass/layouts/header.scss */
  .header_banner .easy-breadcrumb {
    top: -31px;
  }
}
/* line 1052, ../../sass/layouts/header.scss */
.header_banner .easy-breadcrumb a {
  color: #ffffff;
  text-decoration: underline;
}

/* line 1060, ../../sass/layouts/header.scss */
.node-type-topic .visual {
  overflow: visible;
}

/* line 1063, ../../sass/layouts/header.scss */
.visual .btn-perv .text-area .topic {
  font-size: 22px;
  line-height: 22px;
  display: block;
  width: 130px;
  overflow: hidden;
  white-space: pre;
}

/* line 1071, ../../sass/layouts/header.scss */
.node-type-topic .header_banner.banner-nav {
  display: none;
}

/* line 1078, ../../sass/layouts/header.scss */
.node-type-topic #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb {
  position: absolute;
  top: -71px;
  right: 13px;
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 1078, ../../sass/layouts/header.scss */
  .node-type-topic #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb {
    top: -31px;
  }
}
/* line 1086, ../../sass/layouts/header.scss */
.node-type-topic #block-easy-breadcrumb-easy-breadcrumb--2 .easy-breadcrumb a {
  color: #ffffff;
  text-decoration: underline;
}

/* line 1094, ../../sass/layouts/header.scss */
#block-system-user-menu a:hover {
  text-decoration: none;
  color: #ffffff;
}
