/*
Error: Invalid CSS after "$captions-credit ": expected selector or at-rule, was ":$menu-grey;"
        on line 50 of D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_colours.scss
        from line 107 of D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_base.scss
        from line 1 of D:/smallaxe/src/dd/ambitiousaboutautism-dev/docroot/sites/all/themes/ambitious/sass/layouts/header.scss

45: 
46: $visited-link:#660099; 
47: $heading-link:#081318; 
48:   
49: $menu-grey:#636c73
50: $captions-credit :$menu-grey;
51: $footer-copyright :#96a0a7;
52: $action-nav-footer:#d2d5d6;
53: $page-background : #eef2f3;
54: 
55: 

Backtrace:
D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_colours.scss:50
D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_base.scss:107
D:/smallaxe/src/dd/ambitiousaboutautism-dev/docroot/sites/all/themes/ambitious/sass/layouts/header.scss:1
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/scss/parser.rb:1165:in `expected'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/scss/parser.rb:1099:in `expected'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/scss/parser.rb:43:in `parse'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/engine.rb:393:in `_to_tree'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/engine.rb:299:in `to_tree'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:306:in `block in visit_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:88:in `block in with_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:88:in `with_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `map'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:88:in `block in with_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:88:in `with_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/tree/root_node.rb:20:in `render'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/engine.rb:268:in `render'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:486:in `update_stylesheet'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `each'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:464:in `on_file_changed'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:324:in `block in watch'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Compilers/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.0/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$captions-credit \": expected selector or at-rule, was \":$menu-grey;\"\A         on line 50 of D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_colours.scss\A         from line 107 of D:\smallaxe\src\dd\ambitiousaboutautism-dev\docroot\sites\all\themes\ambitious\sass\base\_base.scss\A         from line 1 of D:/smallaxe/src/dd/ambitiousaboutautism-dev/docroot/sites/all/themes/ambitious/sass/layouts/header.scss\A \A 45: \A 46: $visited-link:#660099; \A 47: $heading-link:#081318; \A 48:   \A 49: $menu-grey:#636c73\A 50: $captions-credit :$menu-grey;\A 51: $footer-copyright :#96a0a7;\A 52: $action-nav-footer:#d2d5d6;\A 53: $page-background : #eef2f3;\A 54: \A 55: "; }
