/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 4, ../../sass/layouts/pages.scss */
.node-type-simple-page #wrapper {
  background: #ffffff;
}
/* line 9, ../../sass/layouts/pages.scss */
.node-type-simple-page #content-header .title {
  display: block;
}
/* line 16, ../../sass/layouts/pages.scss */
.node-type-simple-page #content-area header .submitted {
  display: none;
}
/* line 21, ../../sass/layouts/pages.scss */
.node-type-simple-page #content-area .field-items {
  padding-bottom: 20px;
}

/* line 28, ../../sass/layouts/pages.scss */
.node-type-forum #main {
  background: #ffffff;
}

/* line 43, ../../sass/layouts/pages.scss */
.node-type-basic-page-with-hero
h1.title, .node-type-basic-page-with-hero-large h1.title {
  display: none;
}

/* line 49, ../../sass/layouts/pages.scss */
.node-type-basic-page-with-hero .field-name-body {
  background: white;
  padding: 1.5em;
  margin-bottom: 3em;
  border: 1px solid #d2d5d6;
  clear: both;
}

/* line 57, ../../sass/layouts/pages.scss */
.section-my-voice .field-name-body {
  background: transparent;
  border: none;
  padding: 0;
  margin-bottom: 1em;
  clear: both;
}

/* line 66, ../../sass/layouts/pages.scss */
.center {
  text-align: center;
}

/* line 73, ../../sass/layouts/pages.scss */
#block-user-online .item-list ul {
  list-style: none;
  padding-left: 0px;
}

/* line 85, ../../sass/layouts/pages.scss */
.page-node-221566 .views-exposed-widget, .page-node-221566 .views-widget {
  float: left;
  display: inline-block;
}
/* line 91, ../../sass/layouts/pages.scss */
.page-node-221566 .views-exposed-widget input {
  border-radius: 5px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-color: #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 2px #707070;
  box-shadow: inset 1px 1px 2px #707070;
  padding: 12px 23px;
}
/* line 101, ../../sass/layouts/pages.scss */
.page-node-221566 .views-exposed-widget .description {
  display: none;
}
/* line 106, ../../sass/layouts/pages.scss */
.page-node-221566 .views-exposed-widget .container-inline-date fieldset {
  margin-right: 10px;
}
/* line 112, ../../sass/layouts/pages.scss */
.page-node-221566 .date-padding {
  padding: 0px;
}

/* line 122, ../../sass/layouts/pages.scss */
.node-type-events #wrapper, .node-type-courses #wrapper, .node-type-volunteer #wrapper, .node-type-newsletter #wrapper, .node-type-webform #wrapper {
  background: #ffffff;
}

/* line 127, ../../sass/layouts/pages.scss */
.node-events, .node-courses, .node-type-volunteer, .node-type-newsletter, .node-type-campaigns,
.node-type-webform, .webform-share-your-story, .page-signup-form, .node-donations {
  background: #ffffff;
}
/* line 132, ../../sass/layouts/pages.scss */
.node-events form label[for="edit-submitted-country"], .node-courses form label[for="edit-submitted-country"], .node-type-volunteer form label[for="edit-submitted-country"], .node-type-newsletter form label[for="edit-submitted-country"], .node-type-campaigns form label[for="edit-submitted-country"],
.node-type-webform form label[for="edit-submitted-country"], .webform-share-your-story form label[for="edit-submitted-country"], .page-signup-form form label[for="edit-submitted-country"], .node-donations form label[for="edit-submitted-country"] {
  display: block;
}
/* line 140, ../../sass/layouts/pages.scss */
.node-events form .form-item input, .node-courses form .form-item input, .node-type-volunteer form .form-item input, .node-type-newsletter form .form-item input, .node-type-campaigns form .form-item input,
.node-type-webform form .form-item input, .webform-share-your-story form .form-item input, .page-signup-form form .form-item input, .node-donations form .form-item input {
  float: none;
  display: block;
}
/* line 145, ../../sass/layouts/pages.scss */
.node-events form .form-item input[type="radio"], .node-events form .form-item input[type="checkbox"], .node-courses form .form-item input[type="radio"], .node-courses form .form-item input[type="checkbox"], .node-type-volunteer form .form-item input[type="radio"], .node-type-volunteer form .form-item input[type="checkbox"], .node-type-newsletter form .form-item input[type="radio"], .node-type-newsletter form .form-item input[type="checkbox"], .node-type-campaigns form .form-item input[type="radio"], .node-type-campaigns form .form-item input[type="checkbox"],
.node-type-webform form .form-item input[type="radio"],
.node-type-webform form .form-item input[type="checkbox"], .webform-share-your-story form .form-item input[type="radio"], .webform-share-your-story form .form-item input[type="checkbox"], .page-signup-form form .form-item input[type="radio"], .page-signup-form form .form-item input[type="checkbox"], .node-donations form .form-item input[type="radio"], .node-donations form .form-item input[type="checkbox"] {
  display: inline;
}
/* line 149, ../../sass/layouts/pages.scss */
.node-events form .form-item fieldset, .node-courses form .form-item fieldset, .node-type-volunteer form .form-item fieldset, .node-type-newsletter form .form-item fieldset, .node-type-campaigns form .form-item fieldset,
.node-type-webform form .form-item fieldset, .webform-share-your-story form .form-item fieldset, .page-signup-form form .form-item fieldset, .node-donations form .form-item fieldset {
  float: none;
}
/* line 154, ../../sass/layouts/pages.scss */
.node-events form .webform-date, .node-courses form .webform-date, .node-type-volunteer form .webform-date, .node-type-newsletter form .webform-date, .node-type-campaigns form .webform-date,
.node-type-webform form .webform-date, .webform-share-your-story form .webform-date, .page-signup-form form .webform-date, .node-donations form .webform-date {
  width: 100%;
  float: left;
}
/* line 158, ../../sass/layouts/pages.scss */
.node-events form .webform-date fieldset, .node-courses form .webform-date fieldset, .node-type-volunteer form .webform-date fieldset, .node-type-newsletter form .webform-date fieldset, .node-type-campaigns form .webform-date fieldset,
.node-type-webform form .webform-date fieldset, .webform-share-your-story form .webform-date fieldset, .page-signup-form form .webform-date fieldset, .node-donations form .webform-date fieldset {
  float: left;
  padding-left: 0;
}

/* line 168, ../../sass/layouts/pages.scss */
.page-signup-form #main {
  background: white;
}
/* line 171, ../../sass/layouts/pages.scss */
.page-signup-form #main .view-display-id-signup_form {
  background: none;
}

/* line 191, ../../sass/layouts/pages.scss */
.node-type-donations.nav-active .nav-holder {
  margin-top: 10px;
}

/* line 196, ../../sass/layouts/pages.scss */
.node-type-donations {
  overflow-x: hidden;
}
/* line 199, ../../sass/layouts/pages.scss */
.node-type-donations #main {
  padding-bottom: 45px;
}
@media (min-width: 767px) {
  /* line 199, ../../sass/layouts/pages.scss */
  .node-type-donations #main {
    padding-top: 40px;
  }
}
/* line 207, ../../sass/layouts/pages.scss */
.node-type-donations #main #content-header {
  position: relative;
  z-index: 5;
}
/* line 213, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 213, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper {
    background-image: none !important;
  }
}
/* line 226, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .title {
  display: none;
}
/* line 230, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .field-name-field-donation-background-image {
  z-index: 0;
  top: -30px;
  width: 100vw;
  position: relative;
}
@media (max-width: 767px) {
  /* line 236, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .field-name-field-donation-background-image .field-item {
    position: relative;
    display: inline-block;
  }
  /* line 241, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .field-name-field-donation-background-image .field-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
}
/* line 259, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .field-name-field-donation-background-image .field-item img {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 259, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .field-name-field-donation-background-image .field-item img {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  /* line 230, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .field-name-field-donation-background-image {
    display: none;
  }
}
/* line 275, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations {
  background: none;
}
/* line 278, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations .field-name-body {
  background: white;
  padding: 20px;
  width: 100%;
  margin: 90px 0 35px 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 767px) {
  /* line 278, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations .field-name-body {
    width: 55%;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  /* line 278, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations .field-name-body {
    width: 70%;
    margin: auto;
    margin-top: 90px;
  }
}
@media (min-width: 1080px) {
  /* line 278, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations .field-name-body {
    width: 45%;
  }
}
/* line 303, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations .field-name-body p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 767px) {
  /* line 303, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations .field-name-body p {
    font-size: 20px;
    font-weight: normal;
  }
}
/* line 315, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form {
  background: white;
  width: 100%;
  padding: 10px;
  position: relative;
  z-index: 1;
}
@media (min-width: 767px) {
  /* line 315, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form {
    padding: 35px;
    width: 55%;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  /* line 315, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1080px) {
  /* line 315, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form {
    width: 45%;
  }
}
/* line 339, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component-textfield, .node-type-donations #wrapper .node-donations form .webform-component-email, .node-type-donations #wrapper .node-donations form .webform-component-select, .node-type-donations #wrapper .node-donations form .webform-component-optionsmarkup, .node-type-donations #wrapper .node-donations form .webform-component-date {
  padding: 0 10px;
}
/* line 343, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--first-text-area {
  padding: 0 10px;
}
/* line 346, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--first-text-area h4 {
  margin: 0;
  font-size: 25px;
  /* font-weight: bold; */
  color: #2A2E31;
}
/* line 354, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--first-text-area a {
  text-decoration: none !important;
}
/* line 361, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--first-text-area p {
  font-weight: 400;
  margin: 0;
  color: #636C73;
  font-size: 20px;
}
/* line 369, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-progressbar {
  display: none;
}
/* line 373, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper {
  background: none;
  border: none;
  left: 10px;
  position: relative;
  border: 2px solid #E2E2E2;
  width: 25%;
  height: 3px;
  margin: 20px 0;
  background-color: white;
}
@media (min-width: 480px) {
  /* line 373, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-steps-wrapper {
    width: 20%;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  /* line 373, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-steps-wrapper {
    width: 40%;
  }
}
@media (min-width: 767px) {
  /* line 373, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-steps-wrapper {
    width: 20%;
  }
}
/* line 399, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.disabled {
  padding-left: 0px;
}
/* line 402, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.disabled span {
  background: #E2E2E2;
}
/* line 407, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.webform-step {
  background: none;
  border: none;
  padding-left: 0px;
}
/* line 412, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.webform-step:nth-child(1) {
  left: -3px;
}
/* line 416, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.webform-step:nth-child(2) {
  left: 50%;
}
/* line 420, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span.webform-step:nth-child(3) {
  left: 100%;
}
/* line 425, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-steps-wrapper span {
  background: #FBBA00;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  line-height: 0.5;
  margin: 0;
  color: white;
  pointer-events: none;
  cursor: default;
  top: -5px;
  padding-left: 6px;
  position: absolute;
}
/* line 449, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--donation-type--Recurring label.option p {
  padding-left: 20px;
  line-height: 20px;
  height: 20px;
}
/* line 458, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component-optionsmarkup label p {
  margin: 0;
}
/* line 465, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component-optionsmarkup label p, .node-type-donations #wrapper .node-donations form .webform-component-optionsmarkup label.option p {
  font-size: 13px;
  font-weight: bold;
  /* text-align: justify; */
  color: #636C73;
  padding-left: 20px;
  line-height: 20px;
}
/* line 477, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--gift-aid-condition-text p, .node-type-donations #wrapper .node-donations form .webform-component--other-statement p {
  font-size: 11px;
  font-weight: bold;
  color: #636C73;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 489, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount {
  padding: 0 10px;
}
/* line 492, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount input {
  width: 100%;
  font-size: 16px;
  padding: 12px 15px 12px 33px;
  background-image: url("/sites/all/themes/ambitious/images/pound-icon.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 6%;
}
/* line 503, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount input::-webkit-input-placeholder {
  color: #636C73;
}
/* line 507, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount input:-moz-placeholder {
  /* Firefox 18- */
  color: #636C73;
}
/* line 512, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount input::-moz-placeholder {
  /* Firefox 19+ */
  color: #636C73;
}
/* line 517, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--other-amount input:-ms-input-placeholder {
  color: #636C73;
}
/* line 523, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--donation-type {
  padding: 5px 10px;
  height: 45px;
}
/* line 531, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--donation-type input[type="checkbox"] {
  background: none;
  border: 2px solid black;
}
/* line 549, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--select-an-amount fieldset {
  width: 100%;
  float: left;
}
@media (min-width: 1080px) {
  /* line 549, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--select-an-amount fieldset {
    width: 33%;
  }
}
/* line 558, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--select-an-amount input[type=radio] {
  display: none !important;
}
/* line 565, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--select-an-amount input[type=radio] + label {
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: medium none;
  padding: 25px 80px;
  position: relative;
  line-height: 29px;
  background: #fbba00;
  box-shadow: 0px 6px #f07d2c;
  -webkit-box-shadow: 0px 6px #f07d2c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-right: 15px;
  float: left;
  font-size: 2em;
  font-weight: bold;
}
@media (min-width: 1080px) {
  /* line 594, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--select-an-amount input[type=radio] + label:hover:after {
    content: '';
    position: absolute;
    left: 30%;
    top: 132%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FBBA00;
    clear: both;
  }
}
/* line 609, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--select-an-amount input[type=radio]:checked + label {
  top: 2px;
  background: #F15500;
  -webkit-box-shadow: 0px 4px #C63502;
  box-shadow: 0px 4px #C63502;
}
@media (min-width: 1080px) {
  /* line 616, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--select-an-amount input[type=radio]:checked + label:after {
    content: '';
    position: absolute;
    left: 30%;
    top: 127%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F15500;
    clear: both;
  }
}
/* line 632, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .js-active {
  display: block !important;
}
/* line 636, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .js-deactive {
  display: none !important;
}
/* line 640, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form div[class*="webform-component--value-of-"] {
  background: #F15500;
  float: left;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 20px 10px;
  text-align: center;
  display: none;
}
@media (min-width: 767px) {
  /* line 640, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form div[class*="webform-component--value-of-"] {
    padding: 10px 50px;
  }
}
/* line 654, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form div[class*="webform-component--value-of-"] p {
  color: white;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
/* line 663, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--donation-checkbox-1 label.option p, .node-type-donations #wrapper .node-donations form .webform-component--agree-condition--1 label.option p {
  height: 40px;
}
/* line 669, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box label.option p, .node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box--1 label.option p {
  height: 75px;
}
@media (min-width: 481px) and (max-width: 769px) {
  /* line 669, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box label.option p, .node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box--1 label.option p {
    height: 70px;
  }
}
@media (min-width: 767px) {
  /* line 669, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box label.option p, .node-type-donations #wrapper .node-donations form .webform-component--gift-aid-check-box--1 label.option p {
    height: 50px;
  }
}
/* line 684, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-item label.element-invisible {
  display: none;
}
/* line 689, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--cv-number {
  clear: both;
}
@media (min-width: 767px) {
  /* line 695, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number input#edit-submitted-card-number, .node-type-donations #wrapper .node-donations form .webform-component--card-number input#edit-submitted-cv-number, .node-type-donations #wrapper .node-donations form .webform-component--cv-number input#edit-submitted-card-number, .node-type-donations #wrapper .node-donations form .webform-component--cv-number input#edit-submitted-cv-number {
    background-image: url("/sites/all/themes/ambitious/images/info-icon.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 6%;
  }
  /* line 705, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover {
    margin-bottom: 7px;
  }
  /* line 708, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover + .webform-component--card-number-tooltip, .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover + .webform-component--cvv-tooltip, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover + .webform-component--card-number-tooltip, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover + .webform-component--cvv-tooltip {
    display: block;
  }
  /* line 712, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover input#edit-submitted-card-number, .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover input#edit-submitted-cv-number, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover input#edit-submitted-card-number, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover input#edit-submitted-cv-number {
    margin-bottom: -15px;
  }
  /* line 716, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number:hover:after, .node-type-donations #wrapper .node-donations form .webform-component--cv-number:hover:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FBBA00;
    clear: both;
    border-top: solid 15px transparent;
    top: 0;
    margin-left: 43%;
    position: relative;
  }
}
/* line 758, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--card-number-tooltip, .node-type-donations #wrapper .node-donations form .webform-component--cvv-tooltip {
  display: none;
  background: #FBBA00;
  padding: 10px;
  width: 70%;
  text-align: center;
  position: absolute;
  right: 0;
  border-radius: 10px;
  margin: 25px 10px;
  margin-top: 10px;
  z-index: 1;
}
/* line 775, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--card-number-tooltip p, .node-type-donations #wrapper .node-donations form .webform-component--cvv-tooltip p {
  margin: 0;
  color: white;
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 758, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .webform-component--card-number-tooltip, .node-type-donations #wrapper .node-donations form .webform-component--cvv-tooltip {
    margin: 20px 10px;
    margin-top: 10px;
  }
}
/* line 812, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-one {
  background: #FBBA00;
}
/* line 816, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-two {
  background: #F15500;
}
/* line 823, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-one, .node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-two {
  float: left;
  margin: 20px 10px;
  border-radius: 15px;
  text-align: center;
}
/* line 829, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-one p, .node-type-donations #wrapper .node-donations form .webform-component--hover-and-selection-text-two p {
  font-size: 14px;
  padding: 20px 50px;
  color: white;
  margin: 0;
  line-height: 17px;
}
/* line 838, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions {
  padding: 0 10px;
}
/* line 841, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input {
  font-size: 17px;
}
@media (max-width: 767px) {
  /* line 841, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .form-actions input {
    padding: 5px 10px;
    font-size: 14px;
  }
}
/* line 850, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input.webform-next, .node-type-donations #wrapper .node-donations form .form-actions input.webform-submit {
  width: 100%;
  margin-right: 0;
}
/* line 862, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input.webform-previous + input.webform-next, .node-type-donations #wrapper .node-donations form .form-actions input.webform-previous + input.webform-submit,
.node-type-donations #wrapper .node-donations form .form-actions div.ajax-progress.ajax-progress-throbber + input.webform-next, .node-type-donations #wrapper .node-donations form .form-actions div.ajax-progress.ajax-progress-throbber + input.webform-submit {
  width: 100% !important;
}
@media (min-width: 767px) {
  /* line 862, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .form-actions input.webform-previous + input.webform-next, .node-type-donations #wrapper .node-donations form .form-actions input.webform-previous + input.webform-submit,
  .node-type-donations #wrapper .node-donations form .form-actions div.ajax-progress.ajax-progress-throbber + input.webform-next, .node-type-donations #wrapper .node-donations form .form-actions div.ajax-progress.ajax-progress-throbber + input.webform-submit {
    width: 61% !important;
  }
}
/* line 875, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input.webform-previous {
  width: 100%;
  background: #fbba00;
  border-bottom: 5px solid #f07d2c;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  /* line 875, ../../sass/layouts/pages.scss */
  .node-type-donations #wrapper .node-donations form .form-actions input.webform-previous {
    width: 35%;
    margin-bottom: 0px;
  }
}
/* line 890, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input.webform-previous:hover {
  border-bottom-width: 3px;
}
/* line 895, ../../sass/layouts/pages.scss */
.node-type-donations #wrapper .node-donations form .form-actions input#edit-webform-ajax-next-677871 {
  width: 100%;
}

/* line 909, ../../sass/layouts/pages.scss */
.page-node-done #wrapper,
.node-type-thank-you-page #wrapper {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* line 916, ../../sass/layouts/pages.scss */
.page-node-done #wrapper #main,
.node-type-thank-you-page #wrapper #main {
  padding: 150px 0;
}
/* line 921, ../../sass/layouts/pages.scss */
.page-node-done #wrapper div#content-header h1.title,
.node-type-thank-you-page #wrapper div#content-header h1.title {
  display: none;
}
/* line 930, ../../sass/layouts/pages.scss */
.page-node-done #wrapper section#content-area,
.node-type-thank-you-page #wrapper section#content-area {
  text-align: center;
}
/* line 934, ../../sass/layouts/pages.scss */
.page-node-done #wrapper .webform-confirmation, .page-node-done #wrapper .field-name-body,
.node-type-thank-you-page #wrapper .webform-confirmation,
.node-type-thank-you-page #wrapper .field-name-body {
  background: white;
  width: 100%;
  padding: 70px 35px;
}
@media (min-width: 767px) {
  /* line 934, ../../sass/layouts/pages.scss */
  .page-node-done #wrapper .webform-confirmation, .page-node-done #wrapper .field-name-body,
  .node-type-thank-you-page #wrapper .webform-confirmation,
  .node-type-thank-you-page #wrapper .field-name-body {
    width: 45%;
  }
}
/* line 944, ../../sass/layouts/pages.scss */
.page-node-done #wrapper .sharethis-buttons,
.node-type-thank-you-page #wrapper .sharethis-buttons {
  float: left;
  margin-top: 20px;
  width: 45%;
  background: #ffffff;
  border: 1px solid #d2d5d6;
  padding: 7px 18px 0 18px;
}
/* line 954, ../../sass/layouts/pages.scss */
.page-node-done #wrapper .sharethis-buttons p.text-center,
.node-type-thank-you-page #wrapper .sharethis-buttons p.text-center {
  text-align: right;
  margin: 0;
}

/* line 1050, ../../sass/layouts/pages.scss */
.pgae-download-donations #main {
  padding-bottom: 50px;
}
