/* line 3, ../../sass/base/_markup-mixins.scss */
.page-node-74596 .sort-block:after, .section-my-voice .sort-block:after, .my-voice-home .sort-block:after, .my-voice-intro:after, .my-voice-main .sort-block:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 3, ../../sass/base/_markup-mixins.scss */
.page-node-74596 .sort-block:after, .section-my-voice .sort-block:after, .my-voice-home .sort-block:after, .my-voice-intro:after, .my-voice-main .sort-block:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 2, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 17, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 30, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 36, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 50, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 59, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 68, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 83, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 87, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 97, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 102, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 107, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 116, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 126, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 139, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 145, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 149, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 153, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 164, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 169, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 175, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 183, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 188, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 192, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/* line 199, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 225px;
  height: 49px;
  margin-top: 5px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}
/* line 213, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .form-element input#edit-field-event-date-value-1-value-datepicker-popup-0 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 17px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
  margin: 0;
}
/* line 228, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-textfield.form-item-field-event-date-value-1-value-date .description {
  display: none;
}
/* line 233, ../../sass/base/_jcf.scss */
.section-events-page fieldset.form-item.form-type-select.form-item-sort-by label {
  position: relative;
  top: -5px;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 5, ../../sass/_extends.scss */
.page-node-74596 .sort-block, .section-my-voice .sort-block, .my-voice-home .sort-block {
  margin: 0;
  padding: 14px 20px 16px;
  margin-bottom: 20px;
  display: block;
}

/* line 18, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption, .section-my-voice .visual .img-holder .caption-frame .caption, .my-voice-home .visual .img-holder .caption-frame .caption {
  padding: 55px 0 0;
}
/* line 21, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption .title span.pink, .section-my-voice .visual .img-holder .caption-frame .caption .title span.pink, .my-voice-home .visual .img-holder .caption-frame .caption .title span.pink {
  color: #e30087;
  padding: 0;
}
/* line 25, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption .title span.black, .section-my-voice .visual .img-holder .caption-frame .caption .title span.black, .my-voice-home .visual .img-holder .caption-frame .caption .title span.black {
  color: #000000;
  padding: 0;
}

/*
* Jana adding homepage styles - class set from context.
*/
/* line 9, ../../sass/layouts/voice-page.scss */
.my-voice-home .banner_text {
  background-image: url('../../images/my-voice-large-logo.png?1440403412');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  text-indent: 0;
  overflow: hidden;
  color: rgba(154, 205, 50, 0);
}

/* line 25, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top, .section-my-voice #content_top, .my-voice-home #content_top {
  z-index: 99;
  margin-top: -12.5%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 25, ../../sass/layouts/voice-page.scss */
  .page-node-74596 #content_top, .section-my-voice #content_top, .my-voice-home #content_top {
    margin-top: -15.5%;
  }
}
/* line 34, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .col, .section-my-voice #content_top .my-voice-columns .col, .my-voice-home #content_top .my-voice-columns .col {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  /* line 34, ../../sass/layouts/voice-page.scss */
  .page-node-74596 #content_top .my-voice-columns .col, .section-my-voice #content_top .my-voice-columns .col, .my-voice-home #content_top .my-voice-columns .col {
    padding: 10px 30px;
  }
}
/* line 41, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .form-item, .section-my-voice #content_top .my-voice-columns .form-item, .my-voice-home #content_top .my-voice-columns .form-item {
  float: left;
  width: 96%;
  margin-bottom: 9px;
}
/* line 45, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .form-item label, .section-my-voice #content_top .my-voice-columns .form-item label, .my-voice-home #content_top .my-voice-columns .form-item label {
  left: 24px;
  top: 12px;
}
/* line 50, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns a.tooltips span.tooltip-content, .section-my-voice #content_top .my-voice-columns a.tooltips span.tooltip-content, .my-voice-home #content_top .my-voice-columns a.tooltips span.tooltip-content {
  left: -45px;
  bottom: 30px;
}
/* line 54, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .description, .section-my-voice #content_top .my-voice-columns .description, .my-voice-home #content_top .my-voice-columns .description {
  margin-top: 5px;
}
/* line 59, ../../sass/layouts/voice-page.scss */
.page-node-74596 .visual.my-voice-visual, .section-my-voice .visual.my-voice-visual, .my-voice-home .visual.my-voice-visual {
  z-index: 0;
}
@media (max-width: 767px) {
  /* line 62, ../../sass/layouts/voice-page.scss */
  .page-node-74596 fieldset, .section-my-voice fieldset, .my-voice-home fieldset {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 67, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .btn.btn-left.filteroption, .section-my-voice .btn.btn-left.filteroption, .my-voice-home .btn.btn-left.filteroption {
    width: 49%;
    padding-top: 9px;
    /* &:hover{
      border-bottom-width: 3px;
    } */
  }
}
@media (max-width: 767px) {
  /* line 76, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .sort-block .stButton, .section-my-voice .sort-block .stButton, .my-voice-home .sort-block .stButton {
    width: 49%;
  }
}
/* line 82, ../../sass/layouts/voice-page.scss */
.page-node-74596 .top-bar .logo, .section-my-voice .top-bar .logo, .my-voice-home .top-bar .logo {
  display: inline;
  float: left;
}
@media (max-width: 767px) {
  /* line 82, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .top-bar .logo, .section-my-voice .top-bar .logo, .my-voice-home .top-bar .logo {
    display: none;
  }
}
/* line 92, ../../sass/layouts/voice-page.scss */
.page-node-74596 .header__region.region.header div, .section-my-voice .header__region.region.header div, .my-voice-home .header__region.region.header div {
  display: inline;
}
/* line 98, ../../sass/layouts/voice-page.scss */
.page-node-74596 .item-list
.pager li, .section-my-voice .item-list
.pager li, .my-voice-home .item-list
.pager li {
  background: inherit;
}
/* line 100, ../../sass/layouts/voice-page.scss */
.page-node-74596 .item-list
.pager li a, .section-my-voice .item-list
.pager li a, .my-voice-home .item-list
.pager li a {
  background: inherit;
}
/* line 106, ../../sass/layouts/voice-page.scss */
.page-node-74596 .easy-breadcrumb a, .section-my-voice .easy-breadcrumb a, .my-voice-home .easy-breadcrumb a {
  color: #ffffff;
}
/* line 114, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field h1 a, .page-node-74596 .node .field h2 a, .page-node-74596 .node .field h3 a, .page-node-74596 .node .field h4 a, .page-node-74596 .node .field h5 a, .page-node-74596 .node .field h6 a,
.page-node-74596 .acknowledge-block h1 a,
.page-node-74596 .acknowledge-block h2 a,
.page-node-74596 .acknowledge-block h3 a,
.page-node-74596 .acknowledge-block h4 a,
.page-node-74596 .acknowledge-block h5 a,
.page-node-74596 .acknowledge-block h6 a, .section-my-voice .node .field h1 a, .section-my-voice .node .field h2 a, .section-my-voice .node .field h3 a, .section-my-voice .node .field h4 a, .section-my-voice .node .field h5 a, .section-my-voice .node .field h6 a,
.section-my-voice .acknowledge-block h1 a,
.section-my-voice .acknowledge-block h2 a,
.section-my-voice .acknowledge-block h3 a,
.section-my-voice .acknowledge-block h4 a,
.section-my-voice .acknowledge-block h5 a,
.section-my-voice .acknowledge-block h6 a, .my-voice-home .node .field h1 a, .my-voice-home .node .field h2 a, .my-voice-home .node .field h3 a, .my-voice-home .node .field h4 a, .my-voice-home .node .field h5 a, .my-voice-home .node .field h6 a,
.my-voice-home .acknowledge-block h1 a,
.my-voice-home .acknowledge-block h2 a,
.my-voice-home .acknowledge-block h3 a,
.my-voice-home .acknowledge-block h4 a,
.my-voice-home .acknowledge-block h5 a,
.my-voice-home .acknowledge-block h6 a {
  text-decoration: underline;
  color: #e30087;
}
/* line 117, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field h1 a:hover, .page-node-74596 .node .field h2 a:hover, .page-node-74596 .node .field h3 a:hover, .page-node-74596 .node .field h4 a:hover, .page-node-74596 .node .field h5 a:hover, .page-node-74596 .node .field h6 a:hover,
.page-node-74596 .acknowledge-block h1 a:hover,
.page-node-74596 .acknowledge-block h2 a:hover,
.page-node-74596 .acknowledge-block h3 a:hover,
.page-node-74596 .acknowledge-block h4 a:hover,
.page-node-74596 .acknowledge-block h5 a:hover,
.page-node-74596 .acknowledge-block h6 a:hover, .section-my-voice .node .field h1 a:hover, .section-my-voice .node .field h2 a:hover, .section-my-voice .node .field h3 a:hover, .section-my-voice .node .field h4 a:hover, .section-my-voice .node .field h5 a:hover, .section-my-voice .node .field h6 a:hover,
.section-my-voice .acknowledge-block h1 a:hover,
.section-my-voice .acknowledge-block h2 a:hover,
.section-my-voice .acknowledge-block h3 a:hover,
.section-my-voice .acknowledge-block h4 a:hover,
.section-my-voice .acknowledge-block h5 a:hover,
.section-my-voice .acknowledge-block h6 a:hover, .my-voice-home .node .field h1 a:hover, .my-voice-home .node .field h2 a:hover, .my-voice-home .node .field h3 a:hover, .my-voice-home .node .field h4 a:hover, .my-voice-home .node .field h5 a:hover, .my-voice-home .node .field h6 a:hover,
.my-voice-home .acknowledge-block h1 a:hover,
.my-voice-home .acknowledge-block h2 a:hover,
.my-voice-home .acknowledge-block h3 a:hover,
.my-voice-home .acknowledge-block h4 a:hover,
.my-voice-home .acknowledge-block h5 a:hover,
.my-voice-home .acknowledge-block h6 a:hover {
  color: #2a2e31;
}
/* line 122, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.btn.btn-pink,
.page-node-74596 .acknowledge-block a.btn.btn-pink, .section-my-voice .node .field a.btn.btn-pink,
.section-my-voice .acknowledge-block a.btn.btn-pink, .my-voice-home .node .field a.btn.btn-pink,
.my-voice-home .acknowledge-block a.btn.btn-pink {
  color: #ffffff;
}
/* line 126, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.pink,
.page-node-74596 .acknowledge-block a.pink, .section-my-voice .node .field a.pink,
.section-my-voice .acknowledge-block a.pink, .my-voice-home .node .field a.pink,
.my-voice-home .acknowledge-block a.pink {
  color: #e30087;
}
/* line 128, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.pink:hover,
.page-node-74596 .acknowledge-block a.pink:hover, .section-my-voice .node .field a.pink:hover,
.section-my-voice .acknowledge-block a.pink:hover, .my-voice-home .node .field a.pink:hover,
.my-voice-home .acknowledge-block a.pink:hover {
  color: #2a2e31;
}
/* line 134, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field .text-right-section a .btn,
.page-node-74596 .acknowledge-block .text-right-section a .btn, .section-my-voice .node .field .text-right-section a .btn,
.section-my-voice .acknowledge-block .text-right-section a .btn, .my-voice-home .node .field .text-right-section a .btn,
.my-voice-home .acknowledge-block .text-right-section a .btn {
  margin-top: -30px;
  margin-bottom: 45px;
}
/* line 143, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block .block-close a, .section-my-voice .my-voice-block .block-close a, .my-voice-home .my-voice-block .block-close a {
  color: #e30087;
}
/* line 145, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block .block-close a:hover, .section-my-voice .my-voice-block .block-close a:hover, .my-voice-home .my-voice-block .block-close a:hover {
  color: #e30087;
}
/* line 150, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block a.tooltips, .section-my-voice .my-voice-block a.tooltips, .my-voice-home .my-voice-block a.tooltips {
  color: #e30087;
}

/* line 157, ../../sass/layouts/voice-page.scss */
.menu-main-menu-features-item-1 {
  list-style: none;
  padding: 0;
}

/* line 167, ../../sass/layouts/voice-page.scss */
nav .main-menu-1 .course a .icon-Downarrow {
  display: none;
}
/* line 170, ../../sass/layouts/voice-page.scss */
nav .main-menu-1 .course a .icon-Uparrow {
  display: none;
}

/* line 179, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 {
  padding: 0;
}
/* line 180, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li {
  list-style: none;
}
/* line 181, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a {
  padding: 9px 31px 11px 45px;
}
/* line 183, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a .icon-Downarrow {
  display: none;
}
/* line 186, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a .icon-Uparrow {
  display: none;
}

/* new styling to get the menu down by 20px */
/* line 200, ../../sass/layouts/voice-page.scss */
.school-slide {
  top: 20px;
}

/* line 204, ../../sass/layouts/voice-page.scss */
.my-voice-block .block {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 209, ../../sass/layouts/voice-page.scss */
.my-voice-columns {
  padding-top: 45px;
  padding-bottom: 49px;
}
@media (max-width: 767px) {
  /* line 209, ../../sass/layouts/voice-page.scss */
  .my-voice-columns {
    padding-top: 0;
  }
}

/* line 218, ../../sass/layouts/voice-page.scss */
.page-node-74596 #wrapper {
  background-image: url('../../images/wid_bg.jpg?1440403412');
}
/* line 221, ../../sass/layouts/voice-page.scss */
.page-node-74596 .form-text {
  color: #000000;
}
/* line 226, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content-header h1:nth-child(1) {
  display: none;
}

/* line 233, ../../sass/layouts/voice-page.scss */
.my-voice-intro-menu {
  padding-top: 20px;
}

/* line 239, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum input[type=submit] {
  border-color: #b3066b;
  background: #e30087;
}
/* line 243, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum .filter-slide .nav-filter .form-type-bef-checkbox.checked,
.section-voices-spectrum .filter-slide .nav-filter .form-type-bef-checkbox:hover {
  color: #e30087;
}
/* line 247, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum input[type=submit]:focus {
  color: #ffffff;
}

/* line 255, ../../sass/layouts/voice-page.scss */
.section-myvoice .top-bar .logo, .node-type-my-voice-blog .top-bar .logo {
  display: inline;
  float: left;
}
@media (max-width: 767px) {
  /* line 255, ../../sass/layouts/voice-page.scss */
  .section-myvoice .top-bar .logo, .node-type-my-voice-blog .top-bar .logo {
    display: none;
  }
}

/* line 267, ../../sass/layouts/voice-page.scss */
.form-text, .form-textarea {
  color: #2a2e31;
}

/* line 273, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block {
  background-image: url('../../images/aged-16-25.jpg?1440403411');
  background-size: cover;
}
/* line 276, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent #db0076;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* line 289, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block:hover:before {
  border-color: transparent transparent transparent #C80042;
}
/* line 293, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block .wrapper {
  background: #e30087;
  opacity: 0.5;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline;
  margin-top: -1em;
  margin-left: -1em;
}
/* line 305, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block .wrapper:hover {
  background: #CF005B;
}
/* line 309, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block p a {
  color: #ffffff;
  font-size: 37px;
  line-height: normal;
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 50%;
  margin-left: 15%;
}
@media (max-width: 767px) {
  /* line 309, ../../sass/layouts/voice-page.scss */
  .view-content .navigation-block p a {
    font-size: 30px;
  }
}
/* line 325, ../../sass/layouts/voice-page.scss */
.view-content .age-post {
  background-image: url('../../images/my-voice.jpg?1440403412');
}
/* line 328, ../../sass/layouts/voice-page.scss */
.view-content .card-transparent {
  background: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  /* line 328, ../../sass/layouts/voice-page.scss */
  .view-content .card-transparent {
    background: #ffffff;
  }
}

/* line 340, ../../sass/layouts/voice-page.scss */
.page-node-224746 .form-item-field-my-voice-topic-nid .form-type-bef-checkbox.checked {
  color: #e30087;
}
/* line 345, ../../sass/layouts/voice-page.scss */
.page-node-224746 .views-submit-button input {
  background: #e30087;
  border-bottom-color: #b3066b;
}

/* line 354, ../../sass/layouts/voice-page.scss */
.page-node-74621 #wrapper {
  background: #ffffff;
  background-image: none;
}
/* line 358, ../../sass/layouts/voice-page.scss */
.page-node-74621 .align-center {
  text-align: center;
}
/* line 360, ../../sass/layouts/voice-page.scss */
.page-node-74621 .align-center p {
  font-size: 32px;
}
@media (max-width: 767px) {
  /* line 360, ../../sass/layouts/voice-page.scss */
  .page-node-74621 .align-center p {
    font-size: 22px;
  }
}

/* line 371, ../../sass/layouts/voice-page.scss */
.node-type-my-voice-topic .visual .btn-next, .node-type-my-voice-topic .visual .btn-perv {
  background: #e30087;
  margin-top: 30px;
}
@media (max-width: 767px) {
  /* line 371, ../../sass/layouts/voice-page.scss */
  .node-type-my-voice-topic .visual .btn-next, .node-type-my-voice-topic .visual .btn-perv {
    background: none;
  }
}

/* line 380, ../../sass/layouts/voice-page.scss */
.view-display-id-voices_from_the_spectrum_page .sort-block .myvoice-list {
  display: block;
  clear: both;
}
/* line 383, ../../sass/layouts/voice-page.scss */
.view-display-id-voices_from_the_spectrum_page .sort-block .myvoice-list span.voice-list {
  background: #eef2f3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 7px 13px;
  cursor: pointer;
  border: 1px solid #C1C7C8;
  margin-right: 9px;
  margin-top: 10px;
  display: none;
}
/* line 395, ../../sass/layouts/voice-page.scss */
.view-display-id-voices_from_the_spectrum_page .sort-block .myvoice-list span.voice-list.selected {
  display: block;
}
/* line 398, ../../sass/layouts/voice-page.scss */
.view-display-id-voices_from_the_spectrum_page .sort-block .myvoice-list span.voice-list .icon-Close {
  margin-left: 9px;
  float: right;
  margin-top: 5px;
}

/* line 410, ../../sass/layouts/voice-page.scss */
.my-voice-visual .img-holder .caption-frame .caption {
  padding: 5px 0 0;
}
/* line 413, ../../sass/layouts/voice-page.scss */
.my-voice-visual .img-holder .caption-frame .caption .title span.pink {
  color: #e30087;
  padding: 0;
}

/* line 424, ../../sass/layouts/voice-page.scss */
.my-voice-block {
  position: relative;
  z-index: 3;
  margin-top: -234px;
}
@media (max-width: 767px) {
  /* line 424, ../../sass/layouts/voice-page.scss */
  .my-voice-block {
    margin-top: 0;
  }
}

/* line 433, ../../sass/layouts/voice-page.scss */
.my-voice-intro {
  display: inline-block;
}
/* line 434, ../../sass/layouts/voice-page.scss */
.my-voice-intro.no-overlay {
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 433, ../../sass/layouts/voice-page.scss */
  .my-voice-intro {
    margin-top: 20px;
    margin-left: 15px;
  }
}
/* line 445, ../../sass/layouts/voice-page.scss */
.my-voice-intro h3 {
  margin: 0 0 0.5em;
  float: left;
  clear: both;
}
/* line 451, ../../sass/layouts/voice-page.scss */
.my-voice-intro .holder p {
  width: 64%;
  margin-bottom: 50px;
  float: left;
}
@media (max-width: 767px) {
  /* line 451, ../../sass/layouts/voice-page.scss */
  .my-voice-intro .holder p {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  /* line 464, ../../sass/layouts/voice-page.scss */
  .advanced-sort-block {
    display: inline-block;
    margin-top: 10px;
  }
  /* line 468, ../../sass/layouts/voice-page.scss */
  .advanced-sort-block input, .advanced-sort-block select, .advanced-sort-block .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 474, ../../sass/layouts/voice-page.scss */
.advanced-sort-block .selected-filters {
  float: left;
  clear: both;
  list-style-type: none;
  padding: 0;
  display: none;
}
/* line 481, ../../sass/layouts/voice-page.scss */
.advanced-sort-block .selected-filters .this-filter {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background: #eef2f3;
}
@media (max-width: 767px) {
  /* line 481, ../../sass/layouts/voice-page.scss */
  .advanced-sort-block .selected-filters .this-filter {
    width: 100%;
  }
}
/* line 492, ../../sass/layouts/voice-page.scss */
.advanced-sort-block .selected-filters .this-filter .icon-Close {
  margin-left: 10px;
  font-size: 14px;
  font-size: 0.875em;
}
@media (max-width: 767px) {
  /* line 492, ../../sass/layouts/voice-page.scss */
  .advanced-sort-block .selected-filters .this-filter .icon-Close {
    float: right;
    padding-top: 3px;
  }
}

/* line 505, ../../sass/layouts/voice-page.scss */
.my-voice-intro-menu {
  list-style-type: none;
  margin: 10px 0 0 0;
  font-size: 10px;
  font-size: 0.625em;
  text-decoration: underline;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 505, ../../sass/layouts/voice-page.scss */
  .my-voice-intro-menu {
    display: none;
  }
}
/* line 515, ../../sass/layouts/voice-page.scss */
.my-voice-intro-menu h4 {
  margin: 0 0 8px;
}

/* line 520, ../../sass/layouts/voice-page.scss */
.my-voice-mobile-menu {
  display: none;
  list-style-type: none;
  font-size: 12px;
  font-size: 0.75em;
  float: left;
  text-align: center;
  -webkit-padding-start: 0;
}
@media (max-width: 767px) {
  /* line 520, ../../sass/layouts/voice-page.scss */
  .my-voice-mobile-menu {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
  }
}
/* line 534, ../../sass/layouts/voice-page.scss */
.my-voice-mobile-menu li {
  float: left;
  padding-left: 20px;
}
/* line 537, ../../sass/layouts/voice-page.scss */
.my-voice-mobile-menu li:first-child {
  padding-left: 0;
}
/* line 540, ../../sass/layouts/voice-page.scss */
.my-voice-mobile-menu li a {
  text-decoration: underline;
}

/* line 549, ../../sass/layouts/voice-page.scss */
.my-voice-main .action-block {
  float: left;
  margin-bottom: 30px;
  background: transparent;
}
/* line 553, ../../sass/layouts/voice-page.scss */
.my-voice-main .action-block .block-symptoms, .my-voice-main .action-block .block-share, .my-voice-main .action-block .block-spectrum {
  color: #ffffff;
  width: 48.5%;
  padding: 50px 10px 37px 39px;
  background-size: cover;
  float: left;
}
@media (max-width: 767px) {
  /* line 553, ../../sass/layouts/voice-page.scss */
  .my-voice-main .action-block .block-symptoms, .my-voice-main .action-block .block-share, .my-voice-main .action-block .block-spectrum {
    width: 100%;
    float: none;
    padding: 26px 10px 17px 20px;
    margin: 0 0 34px;
    background-position: right center;
  }
}
/* line 567, ../../sass/layouts/voice-page.scss */
.my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
  display: block;
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 13px;
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 990px) {
  /* line 567, ../../sass/layouts/voice-page.scss */
  .my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 567, ../../sass/layouts/voice-page.scss */
  .my-voice-main .action-block .block-symptoms .title, .my-voice-main .action-block .block-share .title, .my-voice-main .action-block .block-spectrum .title {
    margin: 0 0 19px;
    font-size: 24px;
    line-height: 30px;
  }
}
/* line 585, ../../sass/layouts/voice-page.scss */
.my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
  font-size: 18px;
  font-size: 1.125em;
  margin: 0 0 32px;
}
@media (max-width: 990px) {
  /* line 585, ../../sass/layouts/voice-page.scss */
  .my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
    font-size: 14px;
    font-size: 0.875em;
    line-height: 33px;
  }
}
@media (max-width: 767px) {
  /* line 585, ../../sass/layouts/voice-page.scss */
  .my-voice-main .action-block .block-symptoms .title.smaller, .my-voice-main .action-block .block-share .title.smaller, .my-voice-main .action-block .block-spectrum .title.smaller {
    font-size: 12px;
    font-size: 0.75em;
    line-height: 25px;
    margin: 0 0 16px;
  }
}
/* line 601, ../../sass/layouts/voice-page.scss */
.my-voice-main .action-block .block-symptoms .block-spectrum, .my-voice-main .action-block .block-share .block-spectrum, .my-voice-main .action-block .block-spectrum .block-spectrum {
  float: left;
}
/* line 609, ../../sass/layouts/voice-page.scss */
.my-voice-main .block-report {
  float: right;
}
/* line 612, ../../sass/layouts/voice-page.scss */
.my-voice-main .sort-block {
  margin: 0;
  padding: 14px 20px 16px;
  margin-bottom: 20px;
  display: block;
}

/* line 622, ../../sass/layouts/voice-page.scss */
.my-voice-post {
  padding: 20px 18px;
  float: left;
  position: relative;
  margin: 0 0 30px;
  background: #ffffff;
  border: 1px solid #d2d5d6;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  /* line 622, ../../sass/layouts/voice-page.scss */
  .my-voice-post {
    padding: 14px 15px;
    font-size: 18px;
    line-height: 27px;
  }
}
/* line 638, ../../sass/layouts/voice-page.scss */
.my-voice-post img {
  float: left;
}
@media (max-width: 480px) {
  /* line 638, ../../sass/layouts/voice-page.scss */
  .my-voice-post img {
    width: 100%;
  }
}
/* line 645, ../../sass/layouts/voice-page.scss */
.my-voice-post .content {
  float: left;
  width: 56%;
  padding-left: 50px;
}
@media (max-width: 990px) {
  /* line 645, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content {
    width: 45%;
  }
}
@media (max-width: 767px) {
  /* line 645, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content {
    width: 100%;
    padding: 0;
  }
}
/* line 658, ../../sass/layouts/voice-page.scss */
.my-voice-post .content p {
  font-size: 16px;
  font-size: 1em;
}
/* line 661, ../../sass/layouts/voice-page.scss */
.my-voice-post .content h3 {
  font-weight: bold;
  font-size: 22px;
  font-size: 1.375em;
  line-height: 32px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 661, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content h3 {
    font-size: 20px;
    font-size: 1.25em;
    margin: 10px 0;
    line-height: 28px;
  }
}
/* line 672, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder {
  display: inline-block;
  vertical-align: top;
}
/* line 677, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder.gray-num a .num {
  color: #d2d5d6;
  border: 3px solid #d2d5d6;
}
/* line 680, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder.gray-num a .num:after {
  background-position: -80px 0;
}
/* line 684, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder.gray-num a .text {
  color: #d2d5d6;
}
/* line 689, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder a {
  text-decoration: none;
}
/* line 691, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder a .num {
  min-width: 46px;
  height: 35px;
  border: 2px solid #e30087;
  border-radius: 9px;
  font-size: 16px;
  line-height: 24px;
  padding: 3px;
  position: relative;
  color: #e30087;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  margin: 0 15px 0 0;
}
@media (max-width: 990px) {
  /* line 691, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .num-holder a .num {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 691, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .num-holder a .num {
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
    min-width: 39px;
    height: 28px;
  }
}
/* line 719, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder a .num:after {
  position: absolute;
  right: 8px;
  bottom: -13px;
  content: "";
  background: url('../../images/sprite.png?1440403412') no-repeat -128px 0;
  width: 12px;
  height: 13px;
}
@media (max-width: 767px) {
  /* line 719, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .num-holder a .num:after {
    right: 6px;
  }
}
/* line 732, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .num-holder a .text {
  display: none;
  margin: 2px 0 0 -5px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #e30087;
}
@media (max-width: 767px) {
  /* line 732, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .num-holder a .text {
    margin: -2px 0 0;
  }
}
/* line 749, ../../sass/layouts/voice-page.scss */
.my-voice-post .content:hover a.hover .text {
  display: inline-block;
}
/* line 755, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .comment-count {
  background: no-repeat url('../../images/comment-sprite.png?1440403411');
  padding: 7px 0px 17px 0;
  width: 46px;
  text-align: center;
  color: #e30087;
}
@media (max-width: 767px) {
  /* line 755, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .comment-count {
    float: left;
  }
}
/* line 765, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .comment-count .count {
  font-size: 20px;
  font-size: 1.25em;
}
/* line 768, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .comment-count.zero {
  background: no-repeat url('../../images/comment-sprite.png?1440403411') 0 -52px;
}
/* line 770, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .comment-count.zero .count {
  color: #d2d5d6;
}
/* line 775, ../../sass/layouts/voice-page.scss */
.my-voice-post .content .talkers {
  display: none;
  font-size: 15px;
  font-size: 0.9375em;
  float: left;
  padding-left: 10px;
  color: #e30087;
}
@media (max-width: 767px) {
  /* line 775, ../../sass/layouts/voice-page.scss */
  .my-voice-post .content .talkers {
    display: block;
  }
}
/* line 786, ../../sass/layouts/voice-page.scss */
.my-voice-post .date {
  list-style-type: none;
  float: right;
  margin: 0;
  background: #ffffff;
}
@media (max-width: 767px) {
  /* line 786, ../../sass/layouts/voice-page.scss */
  .my-voice-post .date {
    padding: 5px 5px 5px 9px;
    position: absolute;
    right: 14px;
    top: 14px;
  }
}
/* line 798, ../../sass/layouts/voice-page.scss */
.my-voice-post .date .day {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5em;
  line-height: 24px;
}
@media (max-width: 767px) {
  /* line 798, ../../sass/layouts/voice-page.scss */
  .my-voice-post .date .day {
    font-size: 22px;
    font-size: 1.375em;
    line-height: 24px;
  }
}
/* line 808, ../../sass/layouts/voice-page.scss */
.my-voice-post .date .month {
  font-weight: bold;
  font-size: 16px;
  font-size: 1em;
  line-height: 25px;
}
@media (max-width: 767px) {
  /* line 808, ../../sass/layouts/voice-page.scss */
  .my-voice-post .date .month {
    font-size: 18px;
    font-size: 1.125em;
    line-height: 24px;
  }
}
/* line 817, ../../sass/layouts/voice-page.scss */
.my-voice-post .date .year {
  font-size: 12px;
  font-size: 0.75em;
  line-height: 12px;
}
@media (max-width: 767px) {
  /* line 817, ../../sass/layouts/voice-page.scss */
  .my-voice-post .date .year {
    display: none;
  }
}
/* line 825, ../../sass/layouts/voice-page.scss */
.my-voice-post .close-date {
  float: right;
  font-weight: bold;
}
/* line 829, ../../sass/layouts/voice-page.scss */
.my-voice-post .standfirst {
  float: left;
  clear: both;
}

/* line 836, ../../sass/layouts/voice-page.scss */
.acknowledge-block {
  background: #ffffff;
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
}
/* line 843, ../../sass/layouts/voice-page.scss */
.acknowledge-block a {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
  color: #000000;
}

/* line 850, ../../sass/layouts/voice-page.scss */
.my-voice-columns .col {
  margin: 0;
}
/* line 852, ../../sass/layouts/voice-page.scss */
.my-voice-columns .col:first-child {
  padding: 0 60px;
}
/* line 855, ../../sass/layouts/voice-page.scss */
.my-voice-columns .col p {
  font-size: 1.11em;
}
/* line 858, ../../sass/layouts/voice-page.scss */
.my-voice-columns .col .larger {
  font-size: 1.475em;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}
