/* line 3, ../../sass/base/_markup-mixins.scss */
.page-node-74596 .sort-block:after, .section-my-voice .sort-block:after, .my-voice-home .sort-block:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 3, ../../sass/base/_markup-mixins.scss */
.page-node-74596 .sort-block:after, .section-my-voice .sort-block:after, .my-voice-home .sort-block:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   5. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/*embedded fonts styles*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y5zyxa");
  src: url("../fonts/icomoon.eot?#iefixy5zyxa") format("embedded-opentype"), url("../fonts/icomoon.woff?y5zyxa") format("woff"), url("../fonts/icomoon.ttf?y5zyxa") format("truetype"), url("../fonts/icomoon.svg?y5zyxa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../sass/base/_font-icons.scss */
[class^="icon-"], .jcf-select .jcf-select-opener:after, .jcf-select.jcf-drop-active .jcf-select-opener:after, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../../sass/base/_font-icons.scss */
.icon-connection:before {
  content: "\e615";
}

/* line 39, ../../sass/base/_font-icons.scss */
.icon-Calendar:before {
  content: "\e601";
}

/* line 43, ../../sass/base/_font-icons.scss */
.icon-Close:before {
  content: "\e602";
}

/* line 47, ../../sass/base/_font-icons.scss */
.icon-Downarrow:before {
  content: "\e603";
}

/* line 51, ../../sass/base/_font-icons.scss */
.icon-Facebook:before {
  content: "\e604";
}

/* line 55, ../../sass/base/_font-icons.scss */
.icon-Featured:before {
  content: "\e605";
}

/* line 59, ../../sass/base/_font-icons.scss */
.icon-google:before {
  content: "\e606";
}

/* line 63, ../../sass/base/_font-icons.scss */
.icon-Hottopic:before {
  content: "\e607";
}

/* line 67, ../../sass/base/_font-icons.scss */
.icon-Leftarrow:before {
  content: "\e608";
}

/* line 71, ../../sass/base/_font-icons.scss */
.icon-Playbutton:before {
  content: "\e609";
}

/* line 75, ../../sass/base/_font-icons.scss */
.icon-Plus:before {
  content: "\e60a";
}

/* line 79, ../../sass/base/_font-icons.scss */
.icon-Rightarrow:before {
  content: "\e60b";
}

/* line 83, ../../sass/base/_font-icons.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 87, ../../sass/base/_font-icons.scss */
.icon-Share:before {
  content: "\e60d";
}

/* line 91, ../../sass/base/_font-icons.scss */
.icon-Speech1:before {
  content: "\e60e";
}

/* line 95, ../../sass/base/_font-icons.scss */
.icon-Speech-outline:before {
  content: "\e60f";
}

/* line 99, ../../sass/base/_font-icons.scss */
.icon-Time:before {
  content: "\e610";
}

/* line 103, ../../sass/base/_font-icons.scss */
.icon-Twitter:before {
  content: "\e611";
}

/* line 107, ../../sass/base/_font-icons.scss */
.icon-Uparrow:before {
  content: "\e612";
}

/* line 111, ../../sass/base/_font-icons.scss */
.icon-Voice:before {
  content: "\e613";
}

/* line 115, ../../sass/base/_font-icons.scss */
.icon-YouTube:before {
  content: "\e614";
}

/* line 119, ../../sass/base/_font-icons.scss */
.icon-Tick:before {
  content: "\e600";
}

/* custom select styles */
/* line 4, ../../sass/base/_jcf.scss */
.jcf-select {
  float: left;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  min-width: 250px;
  height: 49px;
  background-color: #eef2f3;
  background-image: -webkit-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -moz-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -ms-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: -o-linear-gradient(top, #AEAEAE, #eef2f3);
  background-image: linear-gradient(to bottom, #aeaeae, #eef2f3);
}

/* line 18, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  background: #CACACA;
}

/* line 24, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-text {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 29, ../../sass/base/_jcf.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 34, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 19px;
  color: #2a2e31;
  line-height: 41px;
  padding: 2px 44px 2px 24px;
  border-radius: 5px;
  background: #fff;
}

/* line 47, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 55, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e603";
  font-size: 23px;
}

/* line 63, ../../sass/base/_jcf.scss */
.jcf-select.jcf-drop-active .jcf-select-opener:after {
  position: absolute;
  left: 2px;
  top: 13px;
  content: "\e612";
  font-size: 23px;
}

/* line 72, ../../sass/base/_jcf.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: -2px 0 0;
  z-index: 9999;
}

/* line 77, ../../sass/base/_jcf.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 80, ../../sass/base/_jcf.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
  font-size: 14px;
}

/* line 89, ../../sass/base/_jcf.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 93, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 2px solid #CACACA;
}

/* multiple select styles */
/* line 97, ../../sass/base/_jcf.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
/* line 105, ../../sass/base/_jcf.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 22px;
  font-size: 15px;
  width: 100%;
}

/* line 114, ../../sass/base/_jcf.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

/* line 120, ../../sass/base/_jcf.scss */
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/base/_jcf.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
  border-top: 2px solid #E0E0E0;
}

/* line 130, ../../sass/base/_jcf.scss */
.jcf-list ul li:first-child {
  border-top: 0;
}

/* line 133, ../../sass/base/_jcf.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}

/* line 136, ../../sass/base/_jcf.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 11px 23px;
  color: #1D2328;
  height: 1%;
  font-size: 1.25em;
}

/* line 146, ../../sass/base/_jcf.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

/* line 150, ../../sass/base/_jcf.scss */
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 155, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

/* line 162, ../../sass/base/_jcf.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
/* line 166, ../../sass/base/_jcf.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 167, ../../sass/base/_jcf.scss */
.jcf-focus, .jcf-focus * {
  border-color: #fbb900 !important;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
/* line 5, ../../sass/_extends.scss */
.page-node-74596 .sort-block, .section-my-voice .sort-block, .my-voice-home .sort-block {
  margin: 0;
  padding: 14px 20px 16px;
  margin-bottom: 20px;
  display: block;
}

/* line 18, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption, .section-my-voice .visual .img-holder .caption-frame .caption, .my-voice-home .visual .img-holder .caption-frame .caption {
  padding: 55px 0 0;
}
/* line 21, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption .title span.pink, .section-my-voice .visual .img-holder .caption-frame .caption .title span.pink, .my-voice-home .visual .img-holder .caption-frame .caption .title span.pink {
  color: #e30087;
  padding: 0;
}
/* line 25, ../../sass/_extends.scss */
.page-node-74596 .visual .img-holder .caption-frame .caption .title span.black, .section-my-voice .visual .img-holder .caption-frame .caption .title span.black, .my-voice-home .visual .img-holder .caption-frame .caption .title span.black {
  color: #000000;
  padding: 0;
}

/*
* Jana adding homepage styles - class set from context.
*/
/* line 9, ../../sass/layouts/voice-page.scss */
.my-voice-home .banner_text {
  background-image: url('../../images/my-voice-large-logo.png?1427797419');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  text-indent: 0;
  overflow: hidden;
  color: rgba(154, 205, 50, 0);
}

/* line 25, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top, .section-my-voice #content_top, .my-voice-home #content_top {
  z-index: 99;
  margin-top: -12.5%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 25, ../../sass/layouts/voice-page.scss */
  .page-node-74596 #content_top, .section-my-voice #content_top, .my-voice-home #content_top {
    margin-top: -5%;
  }
}
/* line 34, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .col, .section-my-voice #content_top .my-voice-columns .col, .my-voice-home #content_top .my-voice-columns .col {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  /* line 34, ../../sass/layouts/voice-page.scss */
  .page-node-74596 #content_top .my-voice-columns .col, .section-my-voice #content_top .my-voice-columns .col, .my-voice-home #content_top .my-voice-columns .col {
    padding: 10px 30px;
  }
}
/* line 41, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .form-item, .section-my-voice #content_top .my-voice-columns .form-item, .my-voice-home #content_top .my-voice-columns .form-item {
  float: left;
  width: 96%;
  margin-bottom: 9px;
}
/* line 45, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .form-item label, .section-my-voice #content_top .my-voice-columns .form-item label, .my-voice-home #content_top .my-voice-columns .form-item label {
  left: 24px;
  top: 12px;
}
/* line 50, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns a.tooltips span.tooltip-content, .section-my-voice #content_top .my-voice-columns a.tooltips span.tooltip-content, .my-voice-home #content_top .my-voice-columns a.tooltips span.tooltip-content {
  left: -45px;
  bottom: 30px;
}
/* line 54, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content_top .my-voice-columns .description, .section-my-voice #content_top .my-voice-columns .description, .my-voice-home #content_top .my-voice-columns .description {
  margin-top: 11px;
}
/* line 59, ../../sass/layouts/voice-page.scss */
.page-node-74596 .visual.my-voice-visual, .section-my-voice .visual.my-voice-visual, .my-voice-home .visual.my-voice-visual {
  z-index: 0;
}
@media (max-width: 767px) {
  /* line 62, ../../sass/layouts/voice-page.scss */
  .page-node-74596 fieldset, .section-my-voice fieldset, .my-voice-home fieldset {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 67, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .btn.btn-left.filteroption, .section-my-voice .btn.btn-left.filteroption, .my-voice-home .btn.btn-left.filteroption {
    width: 49%;
    padding-top: 9px;
    /* &:hover{
    	border-bottom-width: 3px;
    } */
  }
}
@media (max-width: 767px) {
  /* line 76, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .sort-block .stButton, .section-my-voice .sort-block .stButton, .my-voice-home .sort-block .stButton {
    width: 49%;
  }
}
/* line 82, ../../sass/layouts/voice-page.scss */
.page-node-74596 .top-bar .logo, .section-my-voice .top-bar .logo, .my-voice-home .top-bar .logo {
  display: inline;
  float: left;
}
@media (max-width: 767px) {
  /* line 82, ../../sass/layouts/voice-page.scss */
  .page-node-74596 .top-bar .logo, .section-my-voice .top-bar .logo, .my-voice-home .top-bar .logo {
    display: none;
  }
}
/* line 92, ../../sass/layouts/voice-page.scss */
.page-node-74596 .header__region.region.header div, .section-my-voice .header__region.region.header div, .my-voice-home .header__region.region.header div {
  display: inline;
}
/* line 98, ../../sass/layouts/voice-page.scss */
.page-node-74596 .item-list
.pager li, .section-my-voice .item-list
.pager li, .my-voice-home .item-list
.pager li {
  background: inherit;
}
/* line 100, ../../sass/layouts/voice-page.scss */
.page-node-74596 .item-list
.pager li a, .section-my-voice .item-list
.pager li a, .my-voice-home .item-list
.pager li a {
  background: inherit;
}
/* line 106, ../../sass/layouts/voice-page.scss */
.page-node-74596 .easy-breadcrumb a, .section-my-voice .easy-breadcrumb a, .my-voice-home .easy-breadcrumb a {
  color: #ffffff;
}
/* line 114, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field h1 a, .page-node-74596 .node .field h2 a, .page-node-74596 .node .field h3 a, .page-node-74596 .node .field h4 a, .page-node-74596 .node .field h5 a, .page-node-74596 .node .field h6 a,
.page-node-74596 .acknowledge-block h1 a,
.page-node-74596 .acknowledge-block h2 a,
.page-node-74596 .acknowledge-block h3 a,
.page-node-74596 .acknowledge-block h4 a,
.page-node-74596 .acknowledge-block h5 a,
.page-node-74596 .acknowledge-block h6 a, .section-my-voice .node .field h1 a, .section-my-voice .node .field h2 a, .section-my-voice .node .field h3 a, .section-my-voice .node .field h4 a, .section-my-voice .node .field h5 a, .section-my-voice .node .field h6 a,
.section-my-voice .acknowledge-block h1 a,
.section-my-voice .acknowledge-block h2 a,
.section-my-voice .acknowledge-block h3 a,
.section-my-voice .acknowledge-block h4 a,
.section-my-voice .acknowledge-block h5 a,
.section-my-voice .acknowledge-block h6 a, .my-voice-home .node .field h1 a, .my-voice-home .node .field h2 a, .my-voice-home .node .field h3 a, .my-voice-home .node .field h4 a, .my-voice-home .node .field h5 a, .my-voice-home .node .field h6 a,
.my-voice-home .acknowledge-block h1 a,
.my-voice-home .acknowledge-block h2 a,
.my-voice-home .acknowledge-block h3 a,
.my-voice-home .acknowledge-block h4 a,
.my-voice-home .acknowledge-block h5 a,
.my-voice-home .acknowledge-block h6 a {
  text-decoration: underline;
  color: #e30087;
}
/* line 117, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field h1 a:hover, .page-node-74596 .node .field h2 a:hover, .page-node-74596 .node .field h3 a:hover, .page-node-74596 .node .field h4 a:hover, .page-node-74596 .node .field h5 a:hover, .page-node-74596 .node .field h6 a:hover,
.page-node-74596 .acknowledge-block h1 a:hover,
.page-node-74596 .acknowledge-block h2 a:hover,
.page-node-74596 .acknowledge-block h3 a:hover,
.page-node-74596 .acknowledge-block h4 a:hover,
.page-node-74596 .acknowledge-block h5 a:hover,
.page-node-74596 .acknowledge-block h6 a:hover, .section-my-voice .node .field h1 a:hover, .section-my-voice .node .field h2 a:hover, .section-my-voice .node .field h3 a:hover, .section-my-voice .node .field h4 a:hover, .section-my-voice .node .field h5 a:hover, .section-my-voice .node .field h6 a:hover,
.section-my-voice .acknowledge-block h1 a:hover,
.section-my-voice .acknowledge-block h2 a:hover,
.section-my-voice .acknowledge-block h3 a:hover,
.section-my-voice .acknowledge-block h4 a:hover,
.section-my-voice .acknowledge-block h5 a:hover,
.section-my-voice .acknowledge-block h6 a:hover, .my-voice-home .node .field h1 a:hover, .my-voice-home .node .field h2 a:hover, .my-voice-home .node .field h3 a:hover, .my-voice-home .node .field h4 a:hover, .my-voice-home .node .field h5 a:hover, .my-voice-home .node .field h6 a:hover,
.my-voice-home .acknowledge-block h1 a:hover,
.my-voice-home .acknowledge-block h2 a:hover,
.my-voice-home .acknowledge-block h3 a:hover,
.my-voice-home .acknowledge-block h4 a:hover,
.my-voice-home .acknowledge-block h5 a:hover,
.my-voice-home .acknowledge-block h6 a:hover {
  color: #2a2e31;
}
/* line 122, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.btn.btn-pink,
.page-node-74596 .acknowledge-block a.btn.btn-pink, .section-my-voice .node .field a.btn.btn-pink,
.section-my-voice .acknowledge-block a.btn.btn-pink, .my-voice-home .node .field a.btn.btn-pink,
.my-voice-home .acknowledge-block a.btn.btn-pink {
  color: #ffffff;
}
/* line 126, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.pink,
.page-node-74596 .acknowledge-block a.pink, .section-my-voice .node .field a.pink,
.section-my-voice .acknowledge-block a.pink, .my-voice-home .node .field a.pink,
.my-voice-home .acknowledge-block a.pink {
  color: #e30087;
}
/* line 128, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field a.pink:hover,
.page-node-74596 .acknowledge-block a.pink:hover, .section-my-voice .node .field a.pink:hover,
.section-my-voice .acknowledge-block a.pink:hover, .my-voice-home .node .field a.pink:hover,
.my-voice-home .acknowledge-block a.pink:hover {
  color: #2a2e31;
}
/* line 134, ../../sass/layouts/voice-page.scss */
.page-node-74596 .node .field .text-right-section a .btn,
.page-node-74596 .acknowledge-block .text-right-section a .btn, .section-my-voice .node .field .text-right-section a .btn,
.section-my-voice .acknowledge-block .text-right-section a .btn, .my-voice-home .node .field .text-right-section a .btn,
.my-voice-home .acknowledge-block .text-right-section a .btn {
  margin-top: -30px;
  margin-bottom: 45px;
}
/* line 143, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block .block-close a, .section-my-voice .my-voice-block .block-close a, .my-voice-home .my-voice-block .block-close a {
  color: #e30087;
}
/* line 145, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block .block-close a:hover, .section-my-voice .my-voice-block .block-close a:hover, .my-voice-home .my-voice-block .block-close a:hover {
  color: #e30087;
}
/* line 150, ../../sass/layouts/voice-page.scss */
.page-node-74596 .my-voice-block a.tooltips, .section-my-voice .my-voice-block a.tooltips, .my-voice-home .my-voice-block a.tooltips {
  color: #e30087;
}

/* line 157, ../../sass/layouts/voice-page.scss */
.menu-main-menu-features-item-1 {
  list-style: none;
  padding: 0;
}

/* line 167, ../../sass/layouts/voice-page.scss */
nav .main-menu-1 .course a .icon-Downarrow {
  display: none;
}
/* line 170, ../../sass/layouts/voice-page.scss */
nav .main-menu-1 .course a .icon-Uparrow {
  display: none;
}

/* line 179, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 {
  padding: 0;
}
/* line 180, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li {
  list-style: none;
}
/* line 181, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a {
  padding: 9px 31px 11px 45px;
}
/* line 183, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a .icon-Downarrow {
  display: none;
}
/* line 186, ../../sass/layouts/voice-page.scss */
nav .main-menu-2 li a .icon-Uparrow {
  display: none;
}

/* new styling to get the menu down by 20px */
/* line 200, ../../sass/layouts/voice-page.scss */
.school-slide {
  top: 20px;
}

/* line 204, ../../sass/layouts/voice-page.scss */
.my-voice-block .block {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 209, ../../sass/layouts/voice-page.scss */
.my-voice-columns {
  padding-top: 45px;
  padding-bottom: 49px;
}

/* line 215, ../../sass/layouts/voice-page.scss */
.page-node-74596 #wrapper {
  background-image: url('../../images/wid_bg.jpg?1423459680');
}
/* line 218, ../../sass/layouts/voice-page.scss */
.page-node-74596 .form-text {
  color: #000000;
}
/* line 223, ../../sass/layouts/voice-page.scss */
.page-node-74596 #content-header h1:nth-child(1) {
  display: none;
}

/* line 230, ../../sass/layouts/voice-page.scss */
.my-voice-intro-menu {
  padding-top: 20px;
}

/* line 236, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum input[type=submit] {
  border-color: #b3066b;
  background: #e30087;
}
/* line 240, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum .filter-slide .nav-filter .form-type-bef-checkbox.checked,
.section-voices-spectrum .filter-slide .nav-filter .form-type-bef-checkbox:hover {
  color: #e30087;
}
/* line 244, ../../sass/layouts/voice-page.scss */
.section-voices-spectrum input[type=submit]:focus {
  color: #ffffff;
}

/* line 252, ../../sass/layouts/voice-page.scss */
.section-myvoice .top-bar .logo, .node-type-my-voice-blog .top-bar .logo {
  display: inline;
  float: left;
}
@media (max-width: 767px) {
  /* line 252, ../../sass/layouts/voice-page.scss */
  .section-myvoice .top-bar .logo, .node-type-my-voice-blog .top-bar .logo {
    display: none;
  }
}

/* line 264, ../../sass/layouts/voice-page.scss */
.form-text, .form-textarea {
  color: #2a2e31;
}

/* line 270, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block {
  background-image: url('../../images/aged-16-25.jpg?1427777559');
  background-size: cover;
}
/* line 273, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent #db0076;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* line 286, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block:hover:before {
  border-color: transparent transparent transparent #C80042;
}
/* line 290, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block .wrapper {
  background: #e30087;
  opacity: 0.5;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline;
  margin-top: -1em;
  margin-left: -1em;
}
/* line 302, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block .wrapper:hover {
  background: #CF005B;
}
/* line 306, ../../sass/layouts/voice-page.scss */
.view-content .navigation-block p a {
  color: #ffffff;
  font-size: 37px;
  line-height: normal;
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 50%;
  margin-left: 15%;
}
@media (max-width: 767px) {
  /* line 306, ../../sass/layouts/voice-page.scss */
  .view-content .navigation-block p a {
    font-size: 30px;
  }
}
/* line 322, ../../sass/layouts/voice-page.scss */
.view-content .age-post {
  background-image: url('../../images/my-voice.jpg?1432794262');
}
/* line 325, ../../sass/layouts/voice-page.scss */
.view-content .card-transparent {
  background: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  /* line 325, ../../sass/layouts/voice-page.scss */
  .view-content .card-transparent {
    background: #ffffff;
  }
}
