


/*Message*/
div.messages.status{
   .krumo-root{
       color:$heading-link;
       a{
         color:$heading-link;
       }
   }
}

/*SHARE BUTTON*/
.topic-share{ 
  .st_sharethis_button{
    @extend .btn;  
    @extend .btn-green;
    @extend .btn-right; 
     cursor: pointer; 
    span span{
      background:none!important;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
     
      -moz-osx-font-smoothing: grayscale; 
       &:after{
        font-size: 18px;
        font-family: "HelveticaNeueW01-55Roma", Helvetica, sans-serif;
        content :"Share";
        color:$white;
      }
      @extend .icon-Share;    
      &:before{
         float: right;
         font-size: 20px;
         color:$white;
      }     
    }
  }    
}
.video-icon{
  display:none;
}
.video-1{
  .video-icon{
    position: absolute;
    display:inherit;
    z-index: 999;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 50%;
    font-size: 80px;
    margin-top:-45px;
  }
}
/* POST RESPONSIVE */
.posts-columns .post{ 
  @include breakpoint($mobile) {
    width:100%; 
  }
}

/* BREDGREM HIDE */
body.node-type-topic{
  .easy-breadcrumb{
    display:none;
   }
}


/* */

.view-display-id-stream_topic_page{
  &.posts-columns{
    max-width: 1080px;
    width: 100%;
  }
  .text-block.post{
    padding: 0;
    background: none;
    border: none;
    box-shadow: inherit;
    margin: 0 0 31px 1.9%;
  }
  .feature-holder{
    display:none; 
  }
  .featured-button{
     .feature-holder{
       display:inherit;     
     }  
  }
  .sort-block{
    label{
      display:none;
    }
  }
  .pager-load-more{
   @extend %listreset;
   padding: 29px 0 61px;
   li{
     text-align:center;
     a{
        font-size: 0;
        color:$gray;
        &:before{
           font-size: 101px; 
           @extend [class*=" icon-"];
           @extend .icon-Downarrow;          
        }
        &:hover {
	     color:$heading-link;
	     text-decoration: none;  
	  }
     }
   }
  }
}

/* TITLE HIDE*/ 
.node-type-topic{
  h1.title, h1.breadcrumb{
    display:none;
  }
}

.action-block{
  .region-action{
     .holder {
       & > div{
         float:left;
         & > div:first-child{
           float: left;
         }
       } 
     }
  }
}
 
