//=== Footer Section ===//
#footer{
	height: auto!important;
}

.region-footer-copyright{
	// Social menu
	.social-holder{
		h2{
			@extend .title;
		}
		ul{
			@extend .social-networks;
		}
	}
}

.region-footer-right{
	ul{
		list-style: outside none none;
    	margin: 0;
    	padding: 0;

		li {
			font-size:16px;
			line-height:20px;
			margin:0 0 16px;
			a {
				color:$gray;
				text-decoration:underline;
				&:hover { text-decoration:none; }
			}
		}
	}
}



