// Custom Variables for AAA
$facebook-bg: #4b69aa;
$facebook-border: #1a427e;
$twitter-bg: #2289ff;
$twitter-border: #0275d1;
$wrapper-bg:#eef2f3;

// Global HTML
body{
	margin-top: -20px;
}
.underline{
	text-decoration: underline;
}
// Span class
.span-4{
	@include span(4 of 12);
}
