
// @imports
@import "compass/support"; // Add Compass' IE and vendor prefix support variables.
@import "susy";
@import "bourbon/bourbon";
@import "source/jcf"; // From the source folder
@import "source/all"; // From the source folder
@import "source/content"; // From the source folder
@import "source/profile"; // From the source folder
@import "ambitious/admin_menu"; // Admin menu

//=== Stream Section ===//

// Home page Stream block
.front .posts-columns{

	.post{

		@include span(4 of 13);
		 
		@include breakpoint($mobile){
			@include span(13 of 13);
		}

	}
	.views-row:nth-child(1){
		background:none;
	    padding:0;
	    border:none;
	    @include box-shadow(0px 0px 0px rgba(0,0,0,0));
	}

}