//=== Stream Section ===//

// Home page Stream block
.home-stream{

  .post{

	@include span(4 of 13);

	@include breakpoint($mobile){
	  @include span(13 of 13);
	}

  }
  .views-row:nth-child(1){
	background:none;
	padding:0;
	border:none;
	@include box-shadow(0px 0px 0px rgba(0,0,0,0));
  }
  .btn{
	padding: 12px 19px;
  }

}


// understanding autism page Stream block
.understanding-autism{

  .post{

	@include span(4 of 13);

	@include breakpoint($mobile){
	  @include span(13 of 13);
	}

  }

  .btn{
	padding: 12px 19px;
  }

}

.footer-text{
  font-size:0.75em;
}
