// Understanding autism page
.page-node-74591{
  h1.title{
    display: none;
  }
  .easy-breadcrumb{
    display: none;
  }

    // View Stream
  .understanding-autism{
    .post-actions{
      overflow: hidden;
      .action{
        display: initial;
        text-decoration: none;
        position: relative;
        top: -20px;
      }      
    }

    .form-item-sort-by label{
        display: none;
    }
  }


  // Load more
  .pager-load-more{
     @extend %listreset;
     padding: 29px 0 61px;
     li{
       text-align:center;
       a{
          font-size: 0;
          color:$gray;
          &:before{
             font-size: 101px; 
             @extend [class*=" icon-"];
             @extend .icon-Downarrow;          
          }
          &:hover {
         color:$heading-link;
         text-decoration: none;  
      }
       }
    }
  }

  // Action box
  .action-block .holder .region .block:nth-child(1){
    @include span(6 of 12);
  }

  .action-block .holder .region .block:nth-child(2){
    @include span(6 of 12 last);
  }

}



