// Understanding autism page (Node 74591) and Understanding autism age -16-25 (Node 74611)
.page-node-74591,
.page-node-74611{
  h1.title{
    display: none;
  }
  .region-image-holder .easy-breadcrumb{
    display: none;
  }

    // View Stream
  .understanding-autism{
    .post-actions{
      overflow: hidden;
      .action{
        display: initial;
        text-decoration: none;
        position: relative;
        top: -20px;
      }      
    }

    .form-item-sort-by label{
        display: none;
    }
  }
  // Text block
  .text-block{
    h1{
      font-size: 2.3em;
    }
    p{
      font-size: 0.9em;
    }
  }
  // Voice block
  .voice-block{
    display: none;
  }
  // Load more
  .pager-load-more{
     @extend %listreset;
     padding: 29px 0 61px;
     li{
       text-align:center;
       a{
          font-size: 0;
          color:$gray;
          &:before{
             font-size: 101px; 
             @extend [class*=" icon-"];
             @extend .icon-Downarrow;          
          }
          &:hover {
         color:$heading-link;
         text-decoration: none;  
      }
       }
    }
  }

  // Action box
  .action-block .holder .region .block:nth-child(1){
    @include span(6 of 12);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

  .action-block .holder .region .block:nth-child(2){
    @include span(6 of 12 last);

    @include breakpoint($mobile){
      @include span(12 of 12);
    }
  }

   // Post
  .post{
    min-height: 315px;
  }

  // Views exposed forms on toggle class
  fieldset{
    float: left;
    margin-right: 20px;
  }

  .list-view{
    .img-holder{
      display: none;
    }
    .post{
      min-height: 1px;
      padding: 20px 21px;
    }
    .post-actions{
      display: none;
    }
  }

}
