// Understanding autism page
.page-node-74591{
  h1.title{
    display: none;
  }
  .easy-breadcrumb{
    display: none;
  }
}

// View Stream
.understanding-autism{
  .post-actions{
    overflow: hidden;
    .action{
      display: initial;
      text-decoration: none;
      position: relative;
      top: -20px;
    }
  }
}