//=== Visual Section ===//
.visual{
	max-height: 770px;
	overflow: hidden;
	.img-holder{
		.caption-frame{
			z-index: 1000;
			position: absolute;
			top: 0;
		}
	}
}  

//=== Slider Block Section ===//
.slider-block{
	z-index: 1100;
	position: relative;
	top: 30px;
	a{
		&.btn-left{
			margin-right: 10px;	
		}
		&.btn{
			padding: 11px 16px;
		}
				
	}
	@include breakpoint(1040px){
		display: none;
	}
	@include breakpoint($mobile){
		display: block;
	}
}

// Image Holder - Fixing for the mobile devices
.img-holder img{
	width: 100%;
	height: auto;
}