/*breadcrump for all the pages*/
.img-holder{
	.block-easy-breadcrumb{
	margin: 0 auto;
	max-width: 1080px;
	padding: 10px 20px 10px 20px;
	.easy-breadcrumb{
		letter-spacing:-4px;
		text-align:right;
		padding:20px 0px 0 0;
		color:black;
		@include breakpoint($mobile) {
					display:none;
				}
		.easy-breadcrumb_segment {
		display:inline-block;
		vertical-align:top;
		letter-spacing:normal;
		font-size:16px;
		line-height:20px;
		position:relative;
		padding:0 3px 0 13px;
		
		color:black;
			text-decoration:underline;
			&:hover { text-decoration:none; }
			
		}
				
		a {
			color:black;
			text-decoration:underline;
			&:hover { text-decoration:none; }
		}
	}
	}
}

/*end of breadcrumb codes*/

.page-node-74596{
	@extend .my-voice-main;
	.visual{
		@extend .my-voice-visual;
	}
	.action-block{
		
	}
	
	.easy-breadcrumb{
		letter-spacing:-4px;
		text-align:right;
		padding:30px 12px 0 0;
		color:white;
		@include breakpoint($mobile) {
					display:none;
				}
		.easy-breadcrumb_segment {
		display:inline-block;
		vertical-align:top;
		letter-spacing:normal;
		font-size:16px;
		line-height:20px;
		position:relative;
		text-shadow: 0 0 3px rgba(0,0,0,.5);
		padding:0 3px 0 13px;
		
		color:white;
			text-decoration:underline;
			&:hover { text-decoration:none; }
			
		}
				
		a {
			color:white;
			text-decoration:underline;
			&:hover { text-decoration:none; }
		}
	}
	
	.region-image-holder
	{
		.easy-breadcrumb{
			display:none;
		}
	}
	
	//.title
	//{	display:none;
	//}

}


/*new codes for menu stlying*/

//.nav-holder 
	.menu-main-menu-features-item-1{
		list-style:none;
		padding:0;
	}
//}

#nav {
	.main-menu-1 {
		.course{
			a {
				.icon-Downarrow{
				display:none;
				}
			.icon-Uparrow{
					display:none;
				}
			}
		}
	}
}

#nav {
	.main-menu-2 {
		li {	
			a {
				padding: 9px 31px 11px 45px;
				.icon-Downarrow{
						display:none;
					}
					.icon-Uparrow{
						display:none;
					}
			}
			list-style:none;
		}
		padding:0;
	}
}

/* end of menu styling */
