// @imports
@import "compass/support"; // Add Compass' IE and vendor prefix support variables.
@import "susy";
@import "bourbon/bourbon";
@import "source/jcf"; // From the source folder
@import "source/all"; // From the source folder
@import "source/content"; // From the source folder
@import "source/profile"; // From the source folder
@import "ambitious/admin_menu"; // Admin menu
//@import "misc"; // SMACSS Modules

// CUSTOM SCSS STYLES FOR THE AAA


// Global HTML
body{
	margin-top: -20px;
}
.underline{
	text-decoration: underline;
}
// Span class
.span-4{
	@include span(4 of 12);
}

//=== Header Section ===//

.region-header{
	// Header Top Menu
	.header-top-menu{
		ul.menu{
			@extend .links;
		}
	}
	// User menu
	.header-user-menu{
		ul{
		margin:0;
		li{
			list-style: none;
			padding: 0 6px;
			display: inline;
			a{
				margin:0;
				color: $gray;
				text-transform: capitalize;
				vertical-align: middle;
				&:hover{
					text-decoration: underline;
				}
				img{
					vertical-align: middle;
					margin-right: 10px;
					@include border-radius(5px);
				}


			}

		}
	}
}
}
//=== Visual Section ===//
.visual{
	.img-holder{
		.caption-frame{
			z-index: 1000;
			position: absolute;
			top: 0;
		}
	}
}  
//=== Stream Section ===//

// Home page Stream block
.front .posts-columns{

	.post{

		@include span(4 of 13);
		 
		@include breakpoint($mobile){
			@include span(13 of 13);
		}

	}
	.views-row:nth-child(1){
		background:none;
	    padding:0;
	    border:none;
	    @include box-shadow(0px 0px 0px rgba(0,0,0,0));
	}

}

//=== Buttons ===//

// Views - footer button
.footer-button{
	margin-bottom: 130px;
	@include breakpoint($mobile){
		margin-bottom: 30px;
	}
	.view-footer{
		text-align: center;

		a.btn{
			font-family: $base-font-family;
			@include breakpoint($mobile){
			width: 100%;
			}
		}
	}
}


//=== Footer Section ===//
#footer{
	height: auto;
}

.region-footer-copyright{
	// Social menu
	.social-holder{
		h2{
			@extend .title;
		}
		ul{
			@extend .social-networks;
		}
	}
}

.region-footer-right{
	ul{
		list-style: outside none none;
    	margin: 0;
    	padding: 0;

		li {
			font-size:16px;
			line-height:20px;
			margin:0 0 16px;
			a {
				color:$gray;
				text-decoration:underline;
				&:hover { text-decoration:none; }
			}
		}
	}
}

//=== Slider Block Section ===//
.slider-block{
	z-index: 1100;
	position: relative;
	top: 30px;
	a{
		&.btn-left{
			margin-right: 10px;	
		}
		&.btn{
			padding: 11px 16px;
		}
				
	}
	@include breakpoint(1040px){
		display: none;
	}
	@include breakpoint($mobile){
		display: block;
	}
}

// Image Holder - Fixing for the mobile devices
.img-holder img{
	width: 100%;
	height: auto;
}


//=== Social Section ===//
.social-block{
	h1{
		@include breakpoint($mobile){
			margin-left: 18px;
		}
	}

	.block-facebook{
		@include breakpoint($mobile){
			display: none;
		}
	}
	.block-twitter{
		@include breakpoint($mobile){
			display: none;
		}
	}

}
