// @imports
@import "compass/support"; // Add Compass' IE and vendor prefix support variables.
@import "susy";
@import "source/*jcf"; // From the source folder
@import "source/*all"; // From the source folder
@import "source/*content"; // From the source folder
@import "ambitious/admin_menu"; // Admin menu
//@import "misc"; // SMACSS Modules

// CUSTOM SCSS STYLES FOR THE AAA

// Global HTML
body{
	margin-top: -20px;
}

//=== Header Section ===//

.region-header{
	// Header Top Menu
	#block-menu-menu-header-top-menu{
		ul.menu{
			@extend .links;
		}
	}
}

//=== Footer Section ===//

.region-footer-copyright{
	// Social menu
	.social-holder{
		h2{
			@extend .title;
		}
		ul{
			@extend .social-networks;
		}
	}
}

.region-footer-right{
	ul{
		list-style: outside none none;
    	margin: 0;
    	padding: 0;

		li {
			font-size:16px;
			line-height:20px;
			margin:0 0 16px;
			a {
				color:$gray;
				text-decoration:underline;
				&:hover { text-decoration:none; }
			}
		}
	}
}

