/* custom select styles */
.jcf-select {
	float:left;
	position: relative;
	padding:2px;
	border-radius:5px;
	min-width: 250px;
	height: 49px; 
background-color: #eef2f3;
background-image: -webkit-linear-gradient(top, #636c73, #eef2f3);
background-image: -moz-linear-gradient(top, #636c73, #eef2f3);
background-image: -ms-linear-gradient(top, #636c73, #eef2f3);
background-image: -o-linear-gradient(top, #636c73, #eef2f3);
background-image: linear-gradient(top, #636c73, #eef2f3); 
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 18px;
	color:#2a2e31;
	line-height: 41px;
	padding: 2px 44px 2px 24px;
	border-radius:5px;
	background: #fff;
}
.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	width: 40px;
	bottom: 0;
	right: 0;
	top: 0;
}
.jcf-select .jcf-select-opener:after {
	position:absolute;
	left:2px;
	top:14px;
	content: "\e602";
	font-size:24px;
}
body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
	font-size:14px;
}
.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #dddddf;
}
/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 22px;
	font-size: 15px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}
/* common custom form elements styles */
.jcf-disabled {background: #ddd !important;}
.jcf-focus, .jcf-focus * {border-color: #fbb900 !important;}
