#forum-stats-settings-form .fieldset-wrapper .form-type-textfield{
  float: left;
  margin-right: 10px;
}
#forum-stats-settings-form .fieldset-wrapper{
  width: 230px;
  float: left;
  margin: 0 19px;
}
#forum-stats-settings-form #ui-datepicker-div{
  left:-100%;
  position: relative;
}
