#forum-stats-settings-form fieldset .form-type-textfield{
  float: left;
  margin-right: 10px;
}
#forum-stats-settings-form fieldset{
    width: 15.6%;
  float: left;
  margin: 0 5px 30px;
  height: 340px; 
} 
#forum-stats-settings-form input.form-text{
  max-width:100%;
  width: 100%;
} 
#forum-stats-settings-form #ui-datepicker-div{
  left:-100%;
  position: relative;
}
