// ---------------------------------------------------------------------------
// Imports
@import "includes/base";
// ---------------------------------------------------------------------------

.standard-node-list{
  .views-row{
    @include span(full);
    margin-bottom: gutter();
    min-height: 360px;
  /*DONT: desktop first designs; causes too much complexity.*/
    /*@include breakpoint($desktop) {
      @include span(6);
    }*/
    
  /*DO: For border use pixels; since its quite small.*/
    border: 1px solid $border-gray;
    
    .field-content {
      display: block;
      padding: 20px;
    }
    
    h3 {
      padding: 20px;
      a {
        color: $default-font-color;
      }
    }
    
    p {
      padding: 10px 20px 20px 20px;
      font-size: 1em;
      line-height: 1.6em;
    }
    .views-field-title { 
      a {
        color:$default-font-color;     
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    
    //For supporters page
    .views-field-field-supporter-bio {
      .field-content {
        color: $gray;
        padding: 10px 20px 20px 20px;
      }
    }
    .views-field-field-supporter-profile-photo {
      .field-content {
        padding: 0px;
      }
    }
    //End
    
    /*At what point does it break to tablet.*/
    
    @include breakpoint($desktop) {
      @include span(4 of 8);
      &.views-row-even {
        @include omega;
      }
    }    
  }  
}

.section-supporters,
.section-the-coalition,
.section-countries
 {
  .content {
    .block-title {
      display: none;
    }
  }
  .view-list {
    .supporter-wrap {
      @include span(12);
      margin-bottom: gutter();
      min-height: 370px;
      @include breakpoint($desktop) {
        @include span(6);
      }
      border: 1px solid $border-gray;
      .img {
        text-align: center;
      }
      h3 {
        padding: 20px;
        a {
          color: $default-font-color;
        }
      }
      p {
        padding: 10px 20px 20px 20px;
        font-size: 1em;
        line-height: 1.6em;
      }
    }
    .views-row-even {
      .supporter-wrap {
        @include breakpoint($desktop) {
          @include span(6 last);
        }
      }
    }
  }
}

.section-the-coalition {
  .supporter-wrap {
    min-height: 420px !important; 
  }
}

ul.pager {
  @include span(12 break);
  display: inline-block;
  margin-top: 40px;
  li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    float: left;
    a {
      color: $default-font-color;
    }
    &.pager-current a {
      color: $link-green;
    }
  }
}

.section-what-it-could-do {
  .content {
    .block-title {
      display: none;
    }
  }
  .supporter-wrap {
    @include span(12);
    margin-bottom: gutter();
    min-height: 280px;
    @include breakpoint($desktop) {
      @include span(4);
    }
    border: none;
    .supporter-content {
      margin-top: 30px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .img {
      text-align: center;
    }
    h3 {
      background-color: $common-green;
      position: relative;
      a {
        display: block;
        padding: 20px;
        color: $white;
        text-shadow: 0 0 2px black;
        text-transform: uppercase;
        &:hover {
          color: $sidebar-title-bg;
        }
      }
      &:before {
        @include triangle(
          $direction : bottom,
          $position  : top 100% left 1em,
          $color     : $common-green
        ); 
      }
    }
    p {
      padding: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      min-height: 85px;
      font-size: 1em;
      line-height: 1.6em;
    }
    .read_more {
      padding-left: 20px;
      a {
        color: $link-green;
        position: relative;
        &:before {
          position: absolute;
          border-color: transparent transparent transparent $link-green;
          border-style: solid;
          border-width: 5px 7px;
          content: " ";
          left: 81px;
          top: 6px;
        }
        &:after {
          position: absolute;
          border-color: transparent transparent transparent $link-green;
          border-style: solid;
          border-width: 5px 7px;
          content: " ";
          left: 75px;
          top: 6px;
        }
      }
    }
  }
  .views-row:nth-child(3n) {
    .supporter-wrap {
      @include breakpoint($desktop) {
        @include omega;
      }
    }
  }
}

.section-faq {
  .content {
    .block-title {
      display: none;
    }
  }
  .view-list {
    .ui-accordion-content {
      padding: 20px;
      @include border-radius(10px);
      background: $faq-background;
      color: $default-font-color;
      border: none !important;
    }
    .views-accordion-header {
      background: none;
      color: $default-font-color;
      border: none !important;
      height: auto !important;
    }
    p {
      font-size: 1em;
      line-height: 1.6em;
      font-family : $default-font-style;
    }
    h3 {
      a {
        color: $default-font-color;
        font-family : $default-font-style;
      }
    }
  }
}

#block-menu-menu-sidebar-menu {
  background-color: none;
  border: none;
  .block-title {
    display: none;
  }
  li {
    @include border-radius(5px);
    display: block;
    padding: 15px;
    margin-bottom: 20px !important;
    background-color: $sidebar-title-bg;
    background-position : center center;
    background-size : cover;
    background-repeat: no-repeat;
    text-align: center;
    a {
      color: white;
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.related-blogs {
  margin-top: 20px;
  .views-row{
    @include span(full);
    margin-bottom: gutter();
    @include breakpoint($desktop) {
      @include span(6);
      &.views-row-even {
        @include omega;
      }
    } 
    .views-field-view-node {
      margin-top: 10px;
      a {
        color: $link-green;
      }
    }
  }
}

.three-column-list {
  margin-bottom: 20px;
  .block-title {
    display: none;
  }
  .view-content {
    background-color: $common-green;
    color: $white;
    padding: 20px;
    ul {
      text-align: center;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      column-count: 3;
      column-gap: 20px;
      li {
        list-style: none;
        font-size: 1.1em;
      }
    } 
  }
}

.section-faq, .section-policy-library,
.section-what-it-could-do, .section-the-coalition,
.section-countries, .section-how-it-works,
.section-supporters, .node-type-issues, .section-who-we-are, .node-type-around-the-world{
  .page_help {
    .container {
      padding: 20px 15px 0px 15px;
      .block-title {
        display: none;
      }
      ul.menu {
        li {
          list-style: none;
          float: left;
          a {
            text-transform: uppercase;
            color: $default-font-color;
            font-weight: bold;
            padding-left: 70px;
            position: relative;
            &:before {
              content: " ";
              font-weight: normal;
              background-image: url('../images/back_arrow.png');
              background-repeat: no-repeat;
              background-size: 80% auto;
              content: "";
              height: 25px;
              left: 0;
              position: absolute;
              top: -1px;
              width: 75px;
            }
          }
        }
      }
    }
  }
}

.supporter-wrap { 
  h3 {
    a {
      text-transform: uppercase;
    }
  }
}

//Sidebar address block in media page
#block-block-61 {
  .address{
    padding: 20px;
    color: $default-font-color;
    a {
      color: $link-green;
    }
    h3 {
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid $border-gray;
    }
  }
}

//Facebook sidebar widget
.block-fb-likebox iframe {
  height: 300px !important;
  border: 1px solid $border-gray !important;  
}

.section-policy-library {
  #block-views-list-policy-items {
    .policy_wrap {
      @include span(12);
      .policy_contnet, .policy_icon {
        @include span(12);
      }
      @include breakpoint($desktop) {
       .policy_contnet {
          @include span(10);
        }
        .policy_icon {
          @include span(2 last);
        }
      }
    }
  }
}

.policy_icon {
  text-align: left;
  @include breakpoint($desktop) {
    text-align: center;
  }
}

.block-twitter-block {
  margin-top: 20px;
  display: none;
  #twitter-widget-1 {
    background: $sidebar-title-bg;
  }
  @include breakpoint($desktop) {
    display: block;
  }
}

.views-exposed-form {
  input[type=submit] {
    border: none;
    @include robin-button;
    width: 100px;
    padding: 13px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 25px !important;
  }
}

#block-views-blog-view-latest-policy {
  margin-top: 0px !important;
}

.owl-buttons {
  .owl-prev, .owl-next {
    margin-top: -50px !important;
    position: absolute;
    top: 50%;
    background: none !important;
    &:before {
      font-size: 4.28em;
      font-family: "icomoon";
      color: $common-green !important;
    }
  }
  .owl-prev {
    left: -30px;
    &:before {
      content: "\e609";
    }
  }
  .owl-next {
    right: -30px;
    &:before {
      content: "\e60e";
    }
  }
}

.owl-pagination {
  .owl-page {
    span {
      background-color: $sidebar-title-bg !important;
    }
  }
}

/*.views-field-view-node {
  a {
    &:after {
      content: "\ea20";
      font-family: "icomoon";
    }
  }
}*/

.hero_image {
  position: relative;
  .caption {
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: $default-font-color;
    bottom: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    max-width: 65%;
    text-align: left;
  }
}

#block-views-blog-view-videos {
  .block-title {
    display: block;
    color: $default-font-color;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .owl-buttons {
    display: none;
  }
  .video_wrap {
    @include span(12);
    padding: 30px 0px 30px 0px;
    .video {
      @include span(12);
      @include breakpoint($desktop) {
        @include span(8);
      }
    } 
    .descrption {
      @include span(12);
      @include breakpoint($desktop) {
        @include span(4 last);
        padding-left: 20px
      }
      h3 {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.48em;
        color: $default-font-color;
        text-transform: uppercase;
      }
      .date {
        color: $link-green;
        margin-bottom: 10px;
      }
      .teaser {
        font-size: 1.1em;
        margin: 10px 0px 0px 0px;  
        line-height: 1.6em;
      }
    }
  }
  @include breakpoint($desktop) { 
    .owl-buttons {
      display: block;
    }
  }
}

.rob-player {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#block-views-why-we-need-it-master-facts {
  @include span(12);
  margin-top: 35px;
  @include breakpoint($desktop) {
    text-align: left;
    @include span(4 last);
  }
  .block-title {
    display: block;
    font-size: 1.2em;
    background-color: $common-green;
    position: relative;
    margin-bottom: 30px;
    background-image: url("../images/sidebar/dart_icon.png");
    background-position: 320px center;
    background-repeat: no-repeat;
    background-size: 10% auto;
    display: block;
    padding: 15px;
    color: $white;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
    &:before {
      @include triangle(
        $direction : bottom,
        $position  : top 100% left 1em,
        $color     : $common-green
      ); 
    }
  }
  .why-item {
    @include span(12);
    padding-top: 0px;
    border-bottom: none;
  }
  .twitter-share-button {
    margin-left: 15px;
    margin-bottom: -5px;
  }
}

.snapshot_wrap {
  @include span(12);
  padding: 30px 0px 30px 0px;
  @include breakpoint($desktop) {
    padding: 30px 80px 30px 80px;
  }
  .image {
    @include span(12);
    @include breakpoint($desktop) {
      @include span(6);
    }
  } 
  .descrption {
    @include span(12);
    @include breakpoint($desktop) {
      @include span(6 last);
      padding-left: 20px
    }
    h3 {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 1.48em;
      color: $default-font-color;
    }
    .date {
      color: $link-green;
      margin-bottom: 10px;
    }
    .teaser {
      font-size: 1.1em;
      margin: 10px 0px 0px 0px;  
      line-height: 1.6em;
    }
  }
}
