// ---------------------------------------------------------------------------
// Imports
@import "includes/base";
// ---------------------------------------------------------------------------

.content-left, article.node-4376, article.node-3765{  
    margin-bottom:20px;
	padding-top:20px;
    @include span(12);
    @include breakpoint($desktop) {
      @include span(8);
    } 
    div{
	  line-height:1.5em;
	  color: $gray;  
	}
	a{
	   color:$link-green;
	   font-size: 1.1em;
	   font-weight: bold;
	   &:hover{
	     color:$robin-green; 
	   }
	}
	.more-site{
	  margin-top:20px;
	}
	.field-type-getlocations-fields, .view-getlocations-map-allnodes{
	  border:1px solid $border-gray;
	  padding: 7px;  
      padding-top: 0;
      margin-bottom: 20px;  
	}
	.view-getlocations-map-allnodes{
	  padding-top:7px; 
	}
 } 
body .sidebars-right{  
  padding-top:20px; 
  margin-bottom:20px;
  @include span(12);
    @include breakpoint($desktop) { 
       @include span(last 4);  
    }  
    h2.block-title {
        position: relative;
        text-shadow: 0 0 2px black;
        text-transform: uppercase;
        background-color: $sidebar-title-bg;
        margin-bottom: 25px;
        padding: 15px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1em;
        text-align: left;
        background-repeat: no-repeat;
        background-position: 320px center;
        background-size: 10% auto;
        &:before {
          @include triangle(
            $direction : bottom,
            $position  : top 100% left 1em,
            $color     : $sidebar-title-bg
          );
       }
       @include breakpoint($tablet) {
          background-image: url(../images/sidebar/dart_icon.png);
       }
    }
 
  ul{
    li{
	  padding: 15px 20px;
          background-color: $sidebar-li-bg;
          margin-bottom: 10px;
          list-style: none;
      a{
	    color: $sidebar-selected-border;

      }
      &.active-trail {
         background-color: $white !important;
         border: 1px solid $sidebar-selected-border;
         a {
            color: $default-font-color !important;    
          }
     }
    }
  }
}
 
