// ---------------------------------------------------------------------------
// Imports
// ---------------------------------------------------------------------------

@import "includes/base";
@import "includes/reset";

html, body {
  font-family: $default-font-style;
  font-size: 1em;
	min-height: 100%;
	background: $white;
}

img {
  max-width: 100%;
  height: auto;
}

.separator {
  border-color: #dbdbdb;
  margin-top: gutter(5);
  margin-bottom: gutter(5);
  border-style: solid none none;
  border-width: 1px 0 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.9em;
  @include breakpoint($desktop) {
    font-size: 3.28em;
  }
}

p {
  margin: 0px 0px 10px;
}

a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
	color: $link-hover;
}

article {
  a {
    color: $link-green;
  }
}
